In [1]:
pip install transformers accelerate bitsandbytes sentencepiece pandas datasets huggingface_hub tqdm

Requirement already satisfied: transformers in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (4.52.4)
Requirement already satisfied: accelerate in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.46.0)
Requirement already satisfied: sentencepiece in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.2.0)
Requirement already satisfied: pandas in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: datasets in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (3.6.0)
Requirement already satisfied: huggingface_hub in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.32.3)
Requirement already satisfied: tqdm in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (4.67.1)
Requirement already satisfied: filelock in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (3.17.0)
Requirement already satisfied: numpy>=1.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2.0.1)
Requirement already satisfied: packaging>=20.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (0.5.3)
Requirement already satisfied: fsspec>=2023.5.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (2025.3.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (4.12.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (1.1.2)
Requirement already satisfied: psutil in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from accelerate) (5.9.0)
Requirement already satisfied: torch>=2.0.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from accelerate) (2.2.0)
Requirement already satisfied: sympy in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (1.13.3)
Requirement already satisfied: networkx in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (3.4.2)
Requirement already satisfied: jinja2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (3.1.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: pyarrow>=15.0.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (20.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (0.3.8)
Requirement already satisfied: xxhash in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (0.70.16)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.6)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.3.2)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (5.0.1)
Requirement already satisfied: attrs>=17.3.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.4.4)
Requirement already satisfied: propcache>=0.2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.0)
Requirement already satisfied: idna>=2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.7)
Requirement already satisfied: six>=1.5 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (2025.4.26)
Requirement already satisfied: MarkupSafe>=2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from jinja2->torch>=2.0.0->accelerate) (3.0.2)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from sympy->torch>=2.0.0->accelerate) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
  import ipywidgets
  print(f"ipywidgets version: {ipywidgets.__version__}")
  print(f"ipywidgets location: {ipywidgets.__file__}")

  import tqdm
  print(f"tqdm version: {tqdm.__version__}")
  print(f"tqdm location: {tqdm.__file__}")

ipywidgets version: 8.1.5
ipywidgets location: /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages/ipywidgets/__init__.py
tqdm version: 4.67.1
tqdm location: /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages/tqdm/__init__.py

In [3]:
from tqdm.auto import tqdm
import time

print("tqdm imported successfully from .auto")
my_list = list(range(3))
for i in tqdm(my_list, desc="Minimal Auto Test"):
    time.sleep(0.2)
print("Simple tqdm .auto loop completed")

tqdm imported successfully from .auto

Minimal Auto Test:   0%|          | 0/3 [00:00<?, ?it/s]

Simple tqdm .auto loop completed

In [3]:
# --- Standard Library Imports ---
# --- Third-party Library Imports ---
# --- Third-party Library Imports ---
import torch

from tqdm.auto import tqdm
import time
from huggingface_hub import login
import transformers # <--- ADD THIS LINE
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm # For progress bars
from huggingface_hub import login # For Hugging Face Hub authentication
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

print("--- Cell 1: Imports and Initial Configuration Complete ---")
print(f"PyTorch Version: {torch.__version__}")
print(f"Transformers Version: {transformers.__version__}")

--- Cell 1: Imports and Initial Configuration Complete ---
PyTorch Version: 2.2.0
Transformers Version: 4.52.4

In [4]:
import torch
print(f"PyTorch version: {torch.__version__}")
print(f"CUDA available: {torch.cuda.is_available()}")
if torch.cuda.is_available():
    print(f"CUDA version PyTorch compiled with: {torch.version.cuda}")
    print(f"Number of GPUs available to PyTorch: {torch.cuda.device_count()}")
    for i in range(torch.cuda.device_count()):
        print(f"  GPU {i}: {torch.cuda.get_device_name(i)}")
else:
    print("ERROR: PyTorch cannot see the GPUs! Check installation and CUDA compatibility.")

PyTorch version: 2.2.0
CUDA available: True
CUDA version PyTorch compiled with: 11.8
Number of GPUs available to PyTorch: 8
  GPU 0: NVIDIA A100-SXM4-80GB
  GPU 1: NVIDIA A100-SXM4-80GB
  GPU 2: NVIDIA A100-SXM4-80GB
  GPU 3: NVIDIA A100-SXM4-80GB
  GPU 4: NVIDIA A100-SXM4-80GB
  GPU 5: NVIDIA A100-SXM4-80GB
  GPU 6: NVIDIA A100-SXM4-80GB
  GPU 7: NVIDIA A100-SXM4-80GB

In [5]:
# --- Standard Library Imports ---
# --- Third-party Library Imports ---
# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm
import time
from huggingface_hub import login
import transformers # <--- ADD THIS LINE
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm # For progress bars
from huggingface_hub import login # For Hugging Face Hub authentication
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

print("--- Cell 1: Imports and Initial Configuration Complete ---")
print(f"PyTorch Version: {torch.__version__}")
print(f"Transformers Version: {transformers.__version__}")

--- Cell 1: Imports and Initial Configuration Complete ---
PyTorch Version: 2.2.0
Transformers Version: 4.52.4

In [8]:
try:
    login() # Will use cached token or prompt if needed
    print("Hugging Face login successful or already authenticated.")
except Exception as e:
    print(f"Hugging Face login failed: {e}. Ensure you are authenticated to download Llama 2.")

print("\n--- Cell 2: Hugging Face Login Attempt Complete ---")

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.sv…

Hugging Face login successful or already authenticated.

--- Cell 2: Hugging Face Login Attempt Complete ---

In [6]:
# --- Model and Tokenizer Configuration ---
import os

# 3.1. Specify the Llama 2 70B Chat Model
MODEL_NAME = "meta-llama/Llama-3.1-8B-Instruct"
print(f"Target Model: {MODEL_NAME}")

# 3.2. Configure 4-bit Quantization (essential for 70B, even on A100s for single/few GPU use)
# A100s support bfloat16, which is excellent for mixed-precision.
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_quant_type="nf4",        # nf4 is a good default
    bnb_4bit_compute_dtype=torch.bfloat16, # Use bfloat16 for computation on A100s
    bnb_4bit_use_double_quant=True,   # Can save a bit more memory
)
print(f"BitsAndBytesConfig: load_in_4bit={bnb_config.load_in_4bit}, compute_dtype={bnb_config.bnb_4bit_compute_dtype}")

# 3.4. Define Cache Directory for Hugging Face downloads (optional, but good for managing large models)
# Create it within your project directory on the A100 server.
HF_MODEL_CACHE_DIR = os.path.join(os.getcwd(), ".hf_model_cache_70b") # Assumes current dir is project root
os.makedirs(HF_MODEL_CACHE_DIR, exist_ok=True)
print(f"Hugging Face model cache directory set to: {HF_MODEL_CACHE_DIR}")

print("\n--- Cell 3: Model and Prompt Configuration Complete ---")

Target Model: meta-llama/Llama-3.1-8B-Instruct
BitsAndBytesConfig: load_in_4bit=True, compute_dtype=torch.bfloat16
Hugging Face model cache directory set to: /raid/infolab/gaurav/Llama_Spider_A100_Project/experiments_70b_llama/.hf_model_cache_70b

--- Cell 3: Model and Prompt Configuration Complete ---

In [9]:
print({MODEL_NAME})

{'meta-llama/Llama-3.1-8B-Instruct'}

In [7]:
# --- Load the Tokenizer ---
# The tokenizer converts text into numerical IDs that the model understands, and vice-versa.
# It's crucial that the tokenizer matches the model it was trained with.
print(f"Loading tokenizer for {MODEL_NAME}...")
tokenizer = AutoTokenizer.from_pretrained(
    MODEL_NAME,
    # token=HF_TOKEN # For recent versions of transformers, login() handles global auth.
                     # You might need this for older versions or specific configurations.
    trust_remote_code=True # Some models require this if they have custom code. Llama 2 generally doesn't, but good to be aware of.
)

# Llama models often don't have a pad token defined by default.
# We set it to the EOS (End Of Sentence) token if it's not present.
# This is important for batching inputs of different lengths, though for our P(Yes)
# extraction (one prompt at a time), it's less critical but good practice.
if tokenizer.pad_token is None:
    tokenizer.pad_token = tokenizer.eos_token
    print(f"Tokenizer pad_token was None, set to eos_token: {tokenizer.eos_token} (ID: {tokenizer.eos_token_id})")

print("Tokenizer loaded successfully.")
print(f"Tokenizer pad token ID: {tokenizer.pad_token_id}")
print(f"Tokenizer EOS token ID: {tokenizer.eos_token_id}")
print(f"Tokenizer BOS token ID: {tokenizer.bos_token_id}")

Loading tokenizer for meta-llama/Llama-3.1-8B-Instruct...
Tokenizer pad_token was None, set to eos_token: <|eot_id|> (ID: 128009)
Tokenizer loaded successfully.
Tokenizer pad token ID: 128009
Tokenizer EOS token ID: 128009
Tokenizer BOS token ID: 128000

In [8]:
import gc
import time
from transformers import AutoModelForCausalLM

print(f"Loading model: {MODEL_NAME} with 4-bit quantization... This will take significant time and memory...")
model_load_start_time = time.time()

try:
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_NAME,
        quantization_config=bnb_config,       # Apply 4-bit quantization
        torch_dtype=torch.bfloat16,           # Use bfloat16 on A100s
        device_map={"": 6},                   # 🔧 Manually assign everything to GPU 1
        trust_remote_code=True,               # Required for some models
        cache_dir=HF_MODEL_CACHE_DIR
    )
    model_load_end_time = time.time()
    # print("\nModel loaded successfully on GPU 1!")
    print(f"Time taken: {model_load_end_time - model_load_start_time:.2f} seconds.")
    print(f"Model device map: {model.hf_device_map}")  # Should show everything on device 1

    # Optional: Clean up memory
    torch.cuda.empty_cache()
    gc.collect()
    print("Performed memory cleanup (torch.cuda.empty_cache(), gc.collect())")

except Exception as e:
    import traceback
    traceback.print_exc()
    raise RuntimeError(f"Failed to load model {MODEL_NAME} on GPU 2: {e}. Check VRAM, CUDA setup, and Hugging Face authentication.")

print("\n--- Cell 5: Llama 3.1 8B Instruct Model Loading Complete ---")

print("Model max_position_embeddings:", model.config.max_position_embeddings)
print("Tokenizer model_max_length:", tokenizer.model_max_length)

Loading model: meta-llama/Llama-3.1-8B-Instruct with 4-bit quantization... This will take significant time and memory...

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

Time taken: 11.70 seconds.
Model device map: {'': 6}
Performed memory cleanup (torch.cuda.empty_cache(), gc.collect())

--- Cell 5: Llama 3.1 8B Instruct Model Loading Complete ---
Model max_position_embeddings: 131072
Tokenizer model_max_length: 131072

In [9]:
import zipfile
import os

SERVER_ZIP_FILE_PATH = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip'
EXTRACTION_DESTINATION_DIR_ON_SERVER = '/raid/infolab/gaurav/Llama_Spider_A100_Project/'

DEV_JSON_PATH = None
TABLES_JSON_PATH = None

def unzip_data(zip_filepath, dest_dir):
    """
    Unzips a zip file to a specified destination directory.
    """
    print(f"Attempting to unzip {zip_filepath} to {dest_dir}...")
    try:
        
        with zipfile.ZipFile(zip_filepath, 'r') as zip_ref:
            zip_ref.extractall(dest_dir)
        print(f"Successfully unzipped files to {dest_dir}")

        print(f"Contents of {dest_dir}:")
        for item in os.listdir(dest_dir):
            print(f"  - {item}")
        return True
    except zipfile.BadZipFile:
        print(f"Error: {zip_filepath} is not a valid zip file or is corrupted.")
        return False
    except FileNotFoundError:
        print(f"Error: Zip file not found at {zip_filepath}. Please ensure the path is correct.")
        return False
    except PermissionError:
        print(f"Error: Permission denied to write to {dest_dir} or read {zip_filepath}.")
        return False
    except Exception as e:
        print(f"An unexpected error occurred during unzipping: {e}")
        return False

print(f"Script started. Looking for zip file at: {SERVER_ZIP_FILE_PATH}")

if os.path.exists(SERVER_ZIP_FILE_PATH):
    print(f"Zip file found at {SERVER_ZIP_FILE_PATH}.")
    if unzip_data(SERVER_ZIP_FILE_PATH, EXTRACTION_DESTINATION_DIR_ON_SERVER):
        
        EXPECTED_EXTRACTED_FOLDER_NAME = 'spider_subset_data' # This is the folder INSIDE the zip

        DEV_JSON_PATH = os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME, 'dev.json')
        TABLES_JSON_PATH = os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME, 'tables.json')

        print("\nVerifying extracted file paths...")
        if os.path.exists(DEV_JSON_PATH):
            print(f"SUCCESS: dev.json path is valid: {DEV_JSON_PATH}")
        else:
            print(f"ERROR: dev.json NOT FOUND at expected path: {DEV_JSON_PATH}")
            print(f"Please check the contents of {os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME)}")


        if os.path.exists(TABLES_JSON_PATH):
            print(f"SUCCESS: tables.json path is valid: {TABLES_JSON_PATH}")
        else:
            print(f"ERROR: tables.json NOT FOUND at expected path: {TABLES_JSON_PATH}")
            print(f"Please check the contents of {os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME)}")

    else:
        print("Unzipping failed on the server. Cannot define data paths.")
else:
    print(f"ERROR: Zip file NOT FOUND at {SERVER_ZIP_FILE_PATH} on the server.")
    print("Please ensure the 'scp' command was successful and the path is correct.")


if DEV_JSON_PATH and TABLES_JSON_PATH and os.path.exists(DEV_JSON_PATH) and os.path.exists(TABLES_JSON_PATH):
    print("\n--- Ready to load data ---")
    print(f"Path to dev.json: {DEV_JSON_PATH}")
    print(f"Path to tables.json: {TABLES_JSON_PATH}")
    
else:
    print("\n--- Data paths are not correctly set up. Cannot proceed with data loading. ---")

Script started. Looking for zip file at: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip
Zip file found at /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip.
Attempting to unzip /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip to /raid/infolab/gaurav/Llama_Spider_A100_Project/...
Successfully unzipped files to /raid/infolab/gaurav/Llama_Spider_A100_Project/
Contents of /raid/infolab/gaurav/Llama_Spider_A100_Project/:
  - experiments_70b_llama
  - .gitignore
  - backup_to_github.sh
  - Miniconda3-latest-Linux-x86_64.sh
  - spider_subset_data.zip
  - llm_generated_schema_examples.json
  - randomQ_allDBs_run1
  - .ipynb_checkpoints
  - all_queries.txt
  - .git
  - miniconda3
  - 100_queries.txt
  - spider_subset_data
  - __MACOSX

Verifying extracted file paths...
SUCCESS: dev.json path is valid: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/dev.json
SUCCESS: tables.json path is valid: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json

--- Ready to load data ---
Path to dev.json: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/dev.json
Path to tables.json: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json

In [10]:
import json

def load_json_data(file_path):
    if os.path.exists(file_path):
        with open(file_path, 'r') as f:
            return json.load(f)
    else:
        print(f"ERROR: File not found at {file_path}")
        return None

dev_data = load_json_data(DEV_JSON_PATH)
tables_data = load_json_data(TABLES_JSON_PATH)

if dev_data and tables_data:
    print(f"Loaded {len(dev_data)} queries from dev.json")
    print(f"Loaded {len(tables_data)} database schemas from tables.json")
else:
    print("Failed to load Spider data. Please check paths and upload.")

Loaded 1034 queries from dev.json
Loaded 166 database schemas from tables.json

In [23]:
import json
import os

# --- Helper Functions (No changes here) ---
def load_schemas(tables_json_path):
    with open(tables_json_path, 'r') as f:
        schemas_list = json.load(f)
    return {db_info['db_id']: db_info for db_info in schemas_list}

def map_spider_type_to_sql_type(spider_type, is_pk_or_fk=False):
    spider_type = spider_type.lower()
    if spider_type == "text": return "TEXT"
    if spider_type == "number": return "INTEGER" if is_pk_or_fk else "REAL"
    if spider_type == "time": return "DATETIME"
    if spider_type == "boolean": return "BOOLEAN"
    return "TEXT"

def escape_sql_identifier(name):
    if " " in name or name.lower() in {"select", "from", "where", "table", "primary", "key", "foreign", "index", "order", "group"}:
        return f'"{name}"'
    return name

def generate_create_table_sql_for_db(db_id, all_schemas_data):
    # This function is the same as your original, with corrected formatting
    if db_id not in all_schemas_data: return f"-- Database ID '{db_id}' not found in schemas."
    db_schema = all_schemas_data[db_id]
    sql_statements = []
    column_info_by_index = {i: {"original_name": c_name, "table_index": t_idx, "original_table_name": db_schema['table_names_original'][t_idx], "type": db_schema['column_types'][i]} for i, (t_idx, c_name) in enumerate(db_schema['column_names_original']) if c_name != "*"}
    for table_idx, table_name_original in enumerate(db_schema['table_names_original']):
        escaped_table_name = escape_sql_identifier(table_name_original)
        column_definitions, table_constraints = [], []
        current_table_columns = [{"global_idx": c_idx, "name": c_name, "type": db_schema['column_types'][c_idx]} for c_idx, (t_idx_for_col, c_name) in enumerate(db_schema['column_names_original']) if c_name != "*" and t_idx_for_col == table_idx]
        pk_column_indices = [pk_idx for pk_idx in db_schema['primary_keys'] if column_info_by_index.get(pk_idx) and column_info_by_index[pk_idx]['table_index'] == table_idx]
        pk_column_names = [column_info_by_index[idx]['original_name'] for idx in pk_column_indices]
        for col_data in current_table_columns:
            is_pk, is_fk = col_data['global_idx'] in pk_column_indices, any(fk[0] == col_data['global_idx'] for fk in db_schema['foreign_keys'])
            sql_type = map_spider_type_to_sql_type(col_data['type'], is_pk_or_fk=(is_pk or is_fk))
            col_def_str = f"{escape_sql_identifier(col_data['name'])} {sql_type}"
            if is_pk and len(pk_column_names) == 1: col_def_str += " PRIMARY KEY"
            column_definitions.append(col_def_str)
        if len(pk_column_names) > 1: table_constraints.append(f"PRIMARY KEY ({', '.join([escape_sql_identifier(n) for n in pk_column_names])})")
        for fk_col_idx, ref_col_idx in db_schema['foreign_keys']:
            if column_info_by_index.get(fk_col_idx) and column_info_by_index[fk_col_idx]['table_index'] == table_idx:
                fk_col_name, ref_table_name, ref_col_name = column_info_by_index[fk_col_idx]['original_name'], column_info_by_index[ref_col_idx]['original_table_name'], column_info_by_index[ref_col_idx]['original_name']
                table_constraints.append(f"FOREIGN KEY ({escape_sql_identifier(fk_col_name)}) REFERENCES {escape_sql_identifier(ref_table_name)} ({escape_sql_identifier(ref_col_name)})")
        create_table_statement = f"CREATE TABLE {escaped_table_name} (\n  " + ",\n  ".join(column_definitions + table_constraints) + "\n);"
        sql_statements.append(create_table_statement)
    return "\n\n".join(sql_statements)

# --- Main Execution for this Cell ---
print("--- Preparing Schemas from tables.json ---")

# Define paths for Colab
SPIDER_DATA_DIR = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data'
# Path to your base schemas
spider_tables_json_path = os.path.join(SPIDER_DATA_DIR, 'tables.json')

# This is the final dictionary your experiment will use
all_db_schemas_sql_strings = {}

try:
    # 1. Load the base schema structures from tables.json
    all_db_schemas_data_loaded = load_schemas(spider_tables_json_path)
    print(f"Loaded base schema data for {len(all_db_schemas_data_loaded)} databases.")

    # 2. Iterate through each schema and generate its SQL
    if all_db_schemas_data_loaded:
        for db_id in all_db_schemas_data_loaded:
            # Generate the CREATE TABLE statements
            sql_string = generate_create_table_sql_for_db(db_id, all_db_schemas_data_loaded)
            all_db_schemas_sql_strings[db_id] = sql_string

        print(f"\nSuccessfully populated `all_db_schemas_sql_strings` with {len(all_db_schemas_sql_strings)} schema entries.")
    else:
        print("No schema data loaded from tables.json, so `all_db_schemas_sql_strings` is empty.")

except FileNotFoundError:
    print(f"FATAL ERROR: The schema file was not found at '{spider_tables_json_path}'.")
    all_db_schemas_sql_strings = {}
except Exception as e:
    import traceback
    print(f"FATAL ERROR during schema preparation: {e}")
    traceback.print_exc()
    all_db_schemas_sql_strings = {}

# --- Verification ---
print(f"\n--- Verification of Schemas ---")
# Check a database to verify its schema was generated correctly.
db_to_verify = 'cre_Doc_Template_Mgt'
if db_to_verify in all_db_schemas_sql_strings:
    print(f"Schema for '{db_to_verify}':")
    print(all_db_schemas_sql_strings[db_to_verify])
else:
    print(f"Could not find schema for '{db_to_verify}' to verify.")

--- Preparing Schemas from tables.json ---
Loaded base schema data for 166 databases.

Successfully populated `all_db_schemas_sql_strings` with 166 schema entries.

--- Verification of Schemas ---
Schema for 'cre_Doc_Template_Mgt':
CREATE TABLE Ref_Template_Types (
  Template_Type_Code TEXT PRIMARY KEY,
  Template_Type_Description TEXT
);

CREATE TABLE Templates (
  Template_ID INTEGER PRIMARY KEY,
  Version_Number REAL,
  Template_Type_Code TEXT,
  Date_Effective_From DATETIME,
  Date_Effective_To DATETIME,
  Template_Details TEXT,
  FOREIGN KEY (Template_Type_Code) REFERENCES Ref_Template_Types (Template_Type_Code)
);

CREATE TABLE Documents (
  Document_ID INTEGER PRIMARY KEY,
  Template_ID INTEGER,
  Document_Name TEXT,
  Document_Description TEXT,
  Other_Details TEXT,
  FOREIGN KEY (Template_ID) REFERENCES Templates (Template_ID)
);

CREATE TABLE Paragraphs (
  Paragraph_ID INTEGER PRIMARY KEY,
  Document_ID INTEGER,
  Paragraph_Text TEXT,
  Other_Details TEXT,
  FOREIGN KEY (Document_ID) REFERENCES Documents (Document_ID)
);

In [24]:
import os
import json

# --- This cell checks for overlapping db_ids between train and dev sets ---

# Define the base directory for Spider data
SPIDER_DATA_DIR = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/'

# Define full paths to the relevant files
dev_file = os.path.join(SPIDER_DATA_DIR, 'dev.json')
train_spider_file = os.path.join(SPIDER_DATA_DIR, 'train_spider.json')
train_others_file = os.path.join(SPIDER_DATA_DIR, 'train_others.json')

def get_db_ids_from_file(filepath):
    """A helper function to load a JSON file and return a set of its db_ids."""
    if not os.path.exists(filepath):
        print(f"INFO: File not found at '{filepath}', skipping.")
        return set()
    try:
        with open(filepath, 'r') as f:
            data = json.load(f)
        db_ids = {item['db_id'] for item in data}
        print(f"SUCCESS: Loaded {len(db_ids)} unique db_ids from '{os.path.basename(filepath)}'.")
        return db_ids
    except Exception as e:
        print(f"ERROR: Failed to read or parse '{filepath}'. Reason: {e}")
        return set()

print("--- Verifying for Overlap Between Dev and Train Datasets ---")

# 1. Load the dev set IDs
dev_db_ids = get_db_ids_from_file(dev_file)

# 2. Load the training set IDs (from both files)
train_spider_ids = get_db_ids_from_file(train_spider_file)
train_others_ids = get_db_ids_from_file(train_others_file)

# Combine the training IDs into a single set
all_train_db_ids = train_spider_ids.union(train_others_ids)
print(f"Total unique db_ids in training sources: {len(all_train_db_ids)}")

print("\n--- Analysis Report ---")

# 3. Find and report the intersection
if not dev_db_ids:
    print("CRITICAL: dev.json could not be loaded. Cannot perform the overlap check.")
elif not all_train_db_ids:
    print("WARNING: No training files could be loaded. Overlap check is incomplete.")
else:
    # Calculate the intersection of the two sets
    overlapping_ids = dev_db_ids.intersection(all_train_db_ids)

    if not overlapping_ids:
        print("SUCCESS: No overlapping database IDs were found between the development and training sets.")
        print("This is the expected and correct behavior for a standard Spider dataset.")
    else:
        print(f"WARNING: Found {len(overlapping_ids)} overlapping database(s)!")
        print("This is not standard and can lead to data leakage in evaluation.")
        print("The following database IDs are present in BOTH your dev and training files:")
        # Sort for consistent, readable output
        for db_id in sorted(list(overlapping_ids)):
            print(f"  - {db_id}")

print("-" * 25)

--- Verifying for Overlap Between Dev and Train Datasets ---
SUCCESS: Loaded 20 unique db_ids from 'dev.json'.
SUCCESS: Loaded 140 unique db_ids from 'train_spider.json'.
SUCCESS: Loaded 6 unique db_ids from 'train_others.json'.
Total unique db_ids in training sources: 146

--- Analysis Report ---
SUCCESS: No overlapping database IDs were found between the development and training sets.
This is the expected and correct behavior for a standard Spider dataset.
-------------------------

In [26]:
import re
import os

TEXT_QUERIES_FILE = "/raid/infolab/gaurav/Llama_Spider_A100_Project/all_queries.txt"

if not os.path.exists(TEXT_QUERIES_FILE):
    raise FileNotFoundError(f"Cannot find '{TEXT_QUERIES_FILE}' – make sure it’s in your working directory or update the path.")

selected_nl_queries = []
pattern = re.compile(r"Test Query\s+\d+:\s+'(.+)'\s+\(True DB:\s*([^)]+)\)")

with open(TEXT_QUERIES_FILE, "r") as f_in:
    for line in f_in:
        line = line.strip()
        if not line.startswith("Test Query"):
            continue

        m = pattern.match(line)
        if not m:
            print(f"Warning: could not parse line:\n  {line}")
            continue

        question_text = m.group(1)
        true_db_id    = m.group(2)

        selected_nl_queries.append({
            "question": question_text,
            "db_id":    true_db_id
        })

if len(selected_nl_queries) == 0:
    raise ValueError(f"No queries were parsed from '{TEXT_QUERIES_FILE}'. Check your file’s format.")

print(f"Loaded {len(selected_nl_queries)} queries from '{TEXT_QUERIES_FILE}':")
for i, q in enumerate(selected_nl_queries, 1):
    print(f"  Query {i}: '{q['question']}' (True DB: {q['db_id']})")


candidate_schemas_for_evaluation = all_db_schemas_sql_strings
print(f"\nEach of the {len(selected_nl_queries)} selected queries will be evaluated against all {len(candidate_schemas_for_evaluation)} available Spider database schemas.")

if not candidate_schemas_for_evaluation:
    raise ValueError("No candidate schemas available for evaluation. This indicates an issue with schema loading or conversion in Cell 1.")

Loaded 1034 queries from '/raid/infolab/gaurav/Llama_Spider_A100_Project/all_queries.txt':
  Query 1: 'Show the property type descriptions of properties belonging to that code.' (True DB: real_estate_properties)
  Query 2: 'What are the name of the countries where there is not a single car maker?' (True DB: car_1)
  Query 3: 'What are the date and the operating professional's first name of each treatment?' (True DB: dog_kennels)
  Query 4: 'List each owner's first name, last name, and the size of his for her dog.' (True DB: dog_kennels)
  Query 5: 'Find the first name and age of students who have a dog but do not have a cat as a pet.' (True DB: pets_1)
  Query 6: 'What is the number of cars with a greater accelerate than the one with the most horsepower?' (True DB: car_1)
  Query 7: 'What are the names of the teachers who are aged either 32 or 33?' (True DB: course_teach)
  Query 8: 'Return the maximum final tables made across all poker players who have earnings below 200000.' (True DB: poker_player)
  Query 9: 'Show template ids, version numbers, and template type codes for all templates.' (True DB: cre_Doc_Template_Mgt)
  Query 10: 'What is the most common nationality of people?' (True DB: poker_player)
  Query 11: 'find the pixel aspect ratio and nation of the tv channels that do not use English.' (True DB: tvshow)
  Query 12: 'What is the template type code of the template used by document with the name "Data base"?' (True DB: cre_Doc_Template_Mgt)
  Query 13: 'What is the maker of the carr produced in the earliest year and what year was it?' (True DB: car_1)
  Query 14: 'Count the number of high schoolers.' (True DB: network_1)
  Query 15: 'Find the average life expectancy and total population for each continent where the average life expectancy is shorter than 72?' (True DB: world_1)
  Query 16: 'List the date of each treatment, together with the first name of the professional who operated it.' (True DB: dog_kennels)
  Query 17: 'Show all template ids and number of documents using each template.' (True DB: cre_Doc_Template_Mgt)
  Query 18: 'Who is the first student to register? List the first name, middle name and last name.' (True DB: student_transcripts_tracking)
  Query 19: 'Show the name of the teacher for the math course.' (True DB: course_teach)
  Query 20: 'Find the id and name of the museum that has the most staff members?' (True DB: museum_visit)
  Query 21: 'What are flight numbers of flights departing from Airport "APG"?' (True DB: flight_2)
  Query 22: 'What are the names of poker players in descending order of earnings?' (True DB: poker_player)
  Query 23: 'What is the average earnings of poker players?' (True DB: poker_player)
  Query 24: 'Which year had the most matches?' (True DB: wta_1)
  Query 25: 'Find the names of stores whose number products is more than the average number of products.' (True DB: employee_hire_evaluation)
  Query 26: 'What is the money rank of the tallest poker player?' (True DB: poker_player)
  Query 27: 'What is the document id with least number of paragraphs?' (True DB: cre_Doc_Template_Mgt)
  Query 28: 'How many cars have a larger accelerate than the car with the largest horsepower?' (True DB: car_1)
  Query 29: 'What is the program id and the summary of the degree that has the most students enrolled?' (True DB: student_transcripts_tracking)
  Query 30: 'What is the number of nations that use English and Dutch?' (True DB: world_1)
  Query 31: 'What is the document id, template id and description for document named "Robbin CV"?' (True DB: cre_Doc_Template_Mgt)
  Query 32: 'What are the codes of countries where Spanish is spoken by the largest percentage of people?' (True DB: world_1)
  Query 33: 'What is the last name of the student who has a cat that is 3 years old?' (True DB: pets_1)
  Query 34: 'What are the first name and last name of the professionals who have done treatment with cost below average?' (True DB: dog_kennels)
  Query 35: 'What is average life expectancy in the countries where English is not the official language?' (True DB: world_1)
  Query 36: 'What is the average weight of cars each year?' (True DB: car_1)
  Query 37: 'Find the first name and age of students who have a pet.' (True DB: pets_1)
  Query 38: 'List all singer names in concerts in year 2014.' (True DB: concert_singer)
  Query 39: 'Return the names of cities that have a population between 160000 and 900000 .' (True DB: world_1)
  Query 40: 'Which city and country is the Alton airport at?' (True DB: flight_2)
  Query 41: 'find the names of museums which have more staff than the minimum staff number of all museums opened after 2010.' (True DB: museum_visit)
  Query 42: 'Tell me the age of the oldest dog.' (True DB: dog_kennels)
  Query 43: 'How many orchestras does each record company manage?' (True DB: orchestra)
  Query 44: 'Which distinctive models are produced by maker with the full name General Motors or weighing more than 3500?' (True DB: car_1)
  Query 45: 'What are the names of players who won in both 2013 and 2016?' (True DB: wta_1)
  Query 46: 'Give the flight numbers of flights leaving from APG.' (True DB: flight_2)
  Query 47: 'What is the average edispl for all volvos?' (True DB: car_1)
  Query 48: 'Show the names of conductors and the orchestras they have conducted.' (True DB: orchestra)
  Query 49: 'What is the average and maximum age for each pet type?' (True DB: pets_1)
  Query 50: 'What are the death and injury situations caused by the ship with tonnage 't'?' (True DB: battle_death)
  Query 51: 'List the arrival date and the departure date for all the dogs.' (True DB: dog_kennels)
  Query 52: 'What is the average age of all the dogs?' (True DB: dog_kennels)
  Query 53: 'What are years of founding for orchestras that have had more than a single performance?' (True DB: orchestra)
  Query 54: 'Find the number of pets whose weight is heavier than 10.' (True DB: pets_1)
  Query 55: 'List the email, cell phone and home phone of all the professionals.' (True DB: dog_kennels)
  Query 56: 'What are all different template ids used for documents, and how many times were each of them used?' (True DB: cre_Doc_Template_Mgt)
  Query 57: 'What are the regions that use English or Dutch?' (True DB: world_1)
  Query 58: 'Return the different descriptions for templates that have been used in a document.' (True DB: cre_Doc_Template_Mgt)
  Query 59: 'List pairs of the owner's first name and the dogs's name.' (True DB: dog_kennels)
  Query 60: 'What is the number of cartoones written by Joseph Kuhr?' (True DB: tvshow)
  Query 61: 'List the names of conductors in ascending order of age.' (True DB: orchestra)
  Query 62: 'Find the first name and gender of student who have more than one pet.' (True DB: pets_1)
  Query 63: 'Show the names of students who have a grade higher than 5 and have at least 2 friends.' (True DB: network_1)
  Query 64: 'Count the number of distinct store locations.' (True DB: employee_hire_evaluation)
  Query 65: 'What is the code of airport that has the highest number of flights?' (True DB: flight_2)
  Query 66: 'What is the name of the series that has the episode "A Love of a Lifetime"?' (True DB: tvshow)
  Query 67: 'Show the names of singers and the total sales of their songs.' (True DB: singer)
  Query 68: 'Find the number of orchestras whose record format is "CD" or "DVD".' (True DB: orchestra)
  Query 69: 'How many poker players are there?' (True DB: poker_player)
  Query 70: 'How many matches were played in each year?' (True DB: wta_1)
  Query 71: 'Find the first names of owners living in Virginia and the names of dogs they own.' (True DB: dog_kennels)
  Query 72: 'Show paragraph details for paragraph with text 'Korea ' .' (True DB: cre_Doc_Template_Mgt)
  Query 73: 'Count the number of friends Kyle has.' (True DB: network_1)
  Query 74: 'What are the ids and names of all countries that either have more than 3 car makers or produce fiat model ?' (True DB: car_1)
  Query 75: 'Return the names of the 3 countries with the fewest people.' (True DB: world_1)
  Query 76: 'What are the name, population, and life expectancy of the largest Asian country by land?' (True DB: world_1)
  Query 77: 'Which country has the most of TV Channels? List the country and number of TV Channels it has.' (True DB: tvshow)
  Query 78: 'Find the type and weight of the youngest pet.' (True DB: pets_1)
  Query 79: 'What are the country codes for countries that do not speak English?' (True DB: world_1)
  Query 80: 'What are the airline names and abbreviations for airlines in the USA?' (True DB: flight_2)
  Query 81: 'Which are the car makers which produce at least 2 models and more than 3 car makers ? List the id and the maker .' (True DB: car_1)
  Query 82: 'How many matches were played in 2013 or 2016?' (True DB: wta_1)
  Query 83: 'Show all template type codes and the number of documents using each type.' (True DB: cre_Doc_Template_Mgt)
  Query 84: 'Find the make and production time of the cars that were produced in the earliest year?' (True DB: car_1)
  Query 85: 'How many cartoons were written by "Joseph Kuhr"?' (True DB: tvshow)
  Query 86: 'What are the names of countries that speak more than 2 languages, as well as how many languages they speak?' (True DB: world_1)
  Query 87: 'Give me all the information about hiring.' (True DB: employee_hire_evaluation)
  Query 88: 'Find the average age of students who do not have any pet .' (True DB: pets_1)
  Query 89: 'What are the names of conductors who have conducted orchestras founded after the year 2008?' (True DB: orchestra)
  Query 90: 'How many car models are produced by each maker ? Only list the count and the maker full name .' (True DB: car_1)
  Query 91: 'Find the year that has the most number of matches.' (True DB: wta_1)
  Query 92: 'What are the different models created by either the car maker General Motors or weighed more than 3500?' (True DB: car_1)
  Query 93: 'What are the names and release years for all the songs of the youngest singer?' (True DB: concert_singer)
  Query 94: 'Find the id of students who do not have a cat pet.' (True DB: pets_1)
  Query 95: 'List the title of all  Cartoons showed on TV Channel with series name "Sky Radio".' (True DB: tvshow)
  Query 96: 'Return the id and type code of the template that is used for the greatest number of documents.' (True DB: cre_Doc_Template_Mgt)
  Query 97: 'Return the different names of cities that are in Asia and for which Chinese is the official language.' (True DB: world_1)
  Query 98: 'List all document ids with at least two paragraphs.' (True DB: cre_Doc_Template_Mgt)
  Query 99: 'Which address holds the most number of students currently? List the address id and all lines.' (True DB: student_transcripts_tracking)
  Query 100: 'Show ids for all templates not used by any document.' (True DB: cre_Doc_Template_Mgt)
  Query 101: 'List the vote ids, phone numbers and states of all votes.' (True DB: voter_1)
  Query 102: 'Show the stadium names without any concert.' (True DB: concert_singer)
  Query 103: 'find the id, name and age for visitors who visited some museums more than once.' (True DB: museum_visit)
  Query 104: 'Show the document id with paragraph text 'Brazil' and 'Ireland'.' (True DB: cre_Doc_Template_Mgt)
  Query 105: 'Which shops' number products is above the average? Give me the shop names.' (True DB: employee_hire_evaluation)
  Query 106: 'What is the zip code of the address in the city Port Chelsea?' (True DB: student_transcripts_tracking)
  Query 107: 'List the title of all cartoon directed by "Ben Jones" or "Brandon Vietti".' (True DB: tvshow)
  Query 108: 'What are the template ids of any templates used in more than a single document?' (True DB: cre_Doc_Template_Mgt)
  Query 109: 'What are the names and ranks of the three youngest winners across all matches?' (True DB: wta_1)
  Query 110: 'Give the nationality that is most common across all people.' (True DB: poker_player)
  Query 111: 'What is the name and capacity for the stadium with the highest average attendance?' (True DB: concert_singer)
  Query 112: 'What is the total surface area of the continents Asia and Europe?' (True DB: world_1)
  Query 113: 'What are the first names and country codes for players who won both the WTA Championships and the Australian Open?' (True DB: wta_1)
  Query 114: 'Give me the id, role and email of the professionals who did not perform any treatment on dogs.' (True DB: dog_kennels)
  Query 115: 'What is the average life expectancy in African countries that are republics?' (True DB: world_1)
  Query 116: 'What is the name of country that has the shortest life expectancy in Asia?' (True DB: world_1)
  Query 117: 'What are the ids of the students who do not own cats as pets?' (True DB: pets_1)
  Query 118: 'What is the semester which most student registered in? Show both the name and the id.' (True DB: student_transcripts_tracking)
  Query 119: 'What is the name of the conductor who has worked the greatest number of years?' (True DB: orchestra)
  Query 120: 'List each language and the number of TV Channels using it.' (True DB: tvshow)
  Query 121: 'Return the type code of the template type with the description "Book".' (True DB: cre_Doc_Template_Mgt)
  Query 122: 'How many singers are from each country?' (True DB: concert_singer)
  Query 123: 'What are the birth years and citizenships of the singers?' (True DB: singer)
  Query 124: 'List the Episode of all  TV series showed on TV Channel with series name "Sky Radio".' (True DB: tvshow)
  Query 125: 'What is the code of the country with the most players?' (True DB: wta_1)
  Query 126: 'Which year has most number of concerts?' (True DB: concert_singer)
  Query 127: 'Return the lowest version number, along with its corresponding template type code.' (True DB: cre_Doc_Template_Mgt)
  Query 128: 'What is the number of continents?' (True DB: car_1)
  Query 129: 'What is the charge amount of the most expensive charge type?' (True DB: dog_kennels)
  Query 130: 'What are the different models for the cards produced after 1980?' (True DB: car_1)
  Query 131: 'List top 3 highest Rating  TV series. List the TV series's Episode and Rating.' (True DB: tvshow)
  Query 132: 'What are the names and areas of countries with the top 5 largest area?' (True DB: world_1)
  Query 133: 'How many owners temporarily do not have any dogs?' (True DB: dog_kennels)
  Query 134: 'Compute the average age of all the dogs.' (True DB: dog_kennels)
  Query 135: 'Show names for all stadiums except for stadiums having a concert in year 2014.' (True DB: concert_singer)
  Query 136: 'What is the TV Channel of TV series with Episode "A Love of a Lifetime"? List the TV Channel's series name.' (True DB: tvshow)
  Query 137: 'What are the minimum and maximum number of products across all the shops?' (True DB: employee_hire_evaluation)
  Query 138: 'what are all the addresses including line 1 and line 2?' (True DB: student_transcripts_tracking)
  Query 139: 'What are the names and ids of all countries with at least one car maker?' (True DB: car_1)
  Query 140: 'Find the average and maximum age for each type of pet.' (True DB: pets_1)
  Query 141: 'What is the sname of every sing that does not have any song?' (True DB: singer)
  Query 142: 'What are the names of all courses that have some students enrolled?' (True DB: student_transcripts_tracking)
  Query 143: 'Please show the most common citizenship of singers.' (True DB: singer)
  Query 144: 'List the name of teachers whose hometown is not `` Little Lever Urban District '' .' (True DB: course_teach)
  Query 145: 'How many courses in total are listed?' (True DB: student_transcripts_tracking)
  Query 146: 'Find the production code and channel of the most recently aired cartoon .' (True DB: tvshow)
  Query 147: 'Which country does Airline "JetBlue Airways" belong to?' (True DB: flight_2)
  Query 148: 'What is the number of the cars with horsepower more than 150?' (True DB: car_1)
  Query 149: 'Show all distinct template type codes for all templates.' (True DB: cre_Doc_Template_Mgt)
  Query 150: 'List the number of different series names and contents in the TV Channel table.' (True DB: tvshow)
  Query 151: 'How many museums were opened after 2013 or before 2008?' (True DB: museum_visit)
  Query 152: 'Return the template type description of the template type with the code AD.' (True DB: cre_Doc_Template_Mgt)
  Query 153: 'On average, when were the transcripts printed?' (True DB: student_transcripts_tracking)
  Query 154: 'List the record company shared by the most number of orchestras.' (True DB: orchestra)
  Query 155: 'List the names of employees and sort in ascending order of age.' (True DB: employee_hire_evaluation)
  Query 156: 'How many dog pets are raised by female students?' (True DB: pets_1)
  Query 157: 'What is the number of car models created by the car maker American Motor Company?' (True DB: car_1)
  Query 158: 'Return the names and template ids for documents that contain the letter w in their description.' (True DB: cre_Doc_Template_Mgt)
  Query 159: 'Which template type code is used by most number of documents?' (True DB: cre_Doc_Template_Mgt)
  Query 160: 'For model volvo, how many cylinders does the car with the least accelerate have?' (True DB: car_1)
  Query 161: 'For students who have pets , how many pets does each student have ? list their ids instead of names .' (True DB: pets_1)
  Query 162: 'Which student has enrolled for the most times in any program? List the id, first name, middle name, last name, the number of enrollments and student id.' (True DB: student_transcripts_tracking)
  Query 163: 'List the area codes in which voters voted both for the contestant 'Tabatha Gehling' and the contestant 'Kelly Clauss'.' (True DB: voter_1)
  Query 164: 'Give the airline with abbreviation 'UAL'.' (True DB: flight_2)
  Query 165: 'Describe the section h.' (True DB: student_transcripts_tracking)
  Query 166: 'Find the number of professionals who have ever treated dogs.' (True DB: dog_kennels)
  Query 167: 'How many available features are there in total?' (True DB: real_estate_properties)
  Query 168: 'What is the number of carsw ith over 6 cylinders?' (True DB: car_1)
  Query 169: 'List the name and tonnage ordered by in descending alphaetical order for the names.' (True DB: battle_death)
  Query 170: 'List the names of the dogs of the rarest breed and the treatment dates of them.' (True DB: dog_kennels)
  Query 171: 'How many high schoolers are there?' (True DB: network_1)
  Query 172: 'What is the average grade of students who have friends?' (True DB: network_1)
  Query 173: 'How much does each charge type costs? List both charge type and amount.' (True DB: dog_kennels)
  Query 174: 'What is the average age for all students who do not own any pets ?' (True DB: pets_1)
  Query 175: 'How many conductors are there?' (True DB: orchestra)
  Query 176: 'Find the highest rank of losers in all matches.' (True DB: wta_1)
  Query 177: 'Show the student IDs and numbers of friends corresponding to each.' (True DB: network_1)
  Query 178: 'What is the model of the car with the smallest amount of horsepower?' (True DB: car_1)
  Query 179: 'Which regions speak Dutch or English?' (True DB: world_1)
  Query 180: 'What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?' (True DB: singer)
  Query 181: 'Return the number of flights departing from Aberdeen.' (True DB: flight_2)
  Query 182: 'How many concerts are there in year 2014 or 2015?' (True DB: concert_singer)
  Query 183: 'Return the number of flights.' (True DB: flight_2)
  Query 184: 'What are each owner's first name, last name, and the size of their dog?' (True DB: dog_kennels)
  Query 185: 'What is the id and weight of every pet who is older than 1?' (True DB: pets_1)
  Query 186: 'Show the names of high school students and their corresponding number of friends.' (True DB: network_1)

In [43]:
import os
import json 
LOCAL_EXPERIMENT_BASE_DIR = "/raid/infolab/gaurav/Llama_Spider_A100_Project/"

EXPERIMENT_RUN_NAME = "randomQ_allDBs_run1" 
EXPERIMENT_PROJECT_DIR = os.path.join(LOCAL_EXPERIMENT_BASE_DIR, EXPERIMENT_RUN_NAME)

try:
    os.makedirs(EXPERIMENT_PROJECT_DIR, exist_ok=True)
    print(f"Ensured experiment project directory exists: '{EXPERIMENT_PROJECT_DIR}'")
except OSError as e:
    print(f"Error creating directory {EXPERIMENT_PROJECT_DIR}: {e}")
    EXPERIMENT_PROJECT_DIR = "." 


RESULTS_FILENAME = "spider_queries_llama3.1_8B-instruct_CREATE_prompt_no_examples.json"
EXPERIMENT_RESULTS_FILE = os.path.join(EXPERIMENT_PROJECT_DIR, RESULTS_FILENAME)

print(f"Experiment results will be saved to: {EXPERIMENT_RESULTS_FILE}")

Ensured experiment project directory exists: '/raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1'
Experiment results will be saved to: /raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1/spider_queries_llama3.1_8B-instruct_CREATE_prompt_no_examples.json

In [28]:
# Cell defining get_one_zero_token_ids

def get_one_zero_token_ids(tokenizer_arg):
    """
    Determines the single token IDs for the characters '1' and '0'.
    It's crucial these are single tokens for the logit logic to work.
    """
    # Llama 3 tokenizer handles single digits with leading spaces well.
    one_token_id = tokenizer_arg.encode(" 1", add_special_tokens=False)
    zero_token_id = tokenizer_arg.encode(" 0", add_special_tokens=False)

    if len(one_token_id) == 1 and len(zero_token_id) == 1:
        print("Using ' 1' and ' 0' (with leading space) for token IDs.")
        return one_token_id[0], zero_token_id[0]
    
    # Fallback in case the model prefers no space (less common for instruction models)
    one_token_id_no_space = tokenizer_arg.encode("1", add_special_tokens=False)
    zero_token_id_no_space = tokenizer_arg.encode("0", add_special_tokens=False)

    if len(one_token_id_no_space) == 1 and len(zero_token_id_no_space) == 1:
        print("Using '1' and '0' (no leading space) for token IDs.")
        return one_token_id_no_space[0], zero_token_id_no_space[0]
        
    else:
        # If neither works, there's a problem with the tokenizer for this task.
        print(f"ERROR: Could not determine reliable single token IDs for '1' or '0'.")
        print(f"Tokenization of ' 1': {one_token_id}")
        print(f"Tokenization of ' 0': {zero_token_id}")
        print(f"Tokenization of '1': {one_token_id_no_space}")
        print(f"Tokenization of '0': {zero_token_id_no_space}")
        raise ValueError("Unstable tokenization for '1'/'0'. Cannot proceed.")

print("Helper function 'get_one_zero_token_ids' defined.")

Helper function 'get_one_zero_token_ids' defined.

In [29]:
# This cell defines the global token IDs for '1' and '0'
if 'tokenizer' in globals() and tokenizer is not None:
    try:
        ONE_TOKEN_ID, ZERO_TOKEN_ID = get_one_zero_token_ids(tokenizer)
        print(f"ONE_TOKEN_ID: {ONE_TOKEN_ID} ('{tokenizer.decode([ONE_TOKEN_ID])}')")
        print(f"ZERO_TOKEN_ID: {ZERO_TOKEN_ID} ('{tokenizer.decode([ZERO_TOKEN_ID])}')")
    except ValueError as e:
        print(f"Error defining 1/0 token IDs: {e}")
else:
    print("ERROR: 'tokenizer' is not defined. Cannot define token IDs.")

Using '1' and '0' (no leading space) for token IDs.
ONE_TOKEN_ID: 16 ('1')
ZERO_TOKEN_ID: 15 ('0')

In [50]:
import torch # Ensure torch is imported
import os

# --- Core function to get P(1) and the binary decision ---
def get_schema_match_prediction(model_arg, tokenizer_arg, system_prompt_arg, user_prompt_content_arg, one_token_id_arg, zero_token_id_arg, query_id_for_log, db_id_for_log, max_length=model.config.max_position_embeddings):
    """
    Gets the model's prediction (1 or 0) and the probability score for that decision.
    Saves the prompt to a unique file for inspection.
    
    Args:
        ... (other args) ...
        query_id_for_log (str): A unique identifier for the user query (e.g., 'query_001').
        db_id_for_log (str): The database ID being checked against the query.

    Returns:
        tuple: (binary_decision, probability_of_one)
    """
    messages = [
        {"role": "system", "content": system_prompt_arg},
        {"role": "user", "content": user_prompt_content_arg}
    ]

    prompt_for_model = tokenizer_arg.apply_chat_template(messages, tokenize=False, add_generation_prompt=True)
    
    # --- Save the full prompt for inspection ---
    # This approach saves each prompt to a separate file, which is useful for debugging individual cases.
    PROMPT_LOG_DIR = "prompt_logs_CREATE_prompt_no_examples"
    os.makedirs(PROMPT_LOG_DIR, exist_ok=True)
    # Create a unique filename for this specific query-schema pair
    filename = f"prompt_query_{query_id_for_log}_vs_db_{db_id_for_log}.txt"
    filepath = os.path.join(PROMPT_LOG_DIR, filename)
    try:
        with open(filepath, 'w', encoding='utf-8') as f:
            f.write(prompt_for_model)
    except Exception as e:
        print(f"  WARNING: Could not write prompt to file {filepath}. Error: {e}")

    inputs = tokenizer_arg(
        prompt_for_model,
        return_tensors="pt",
        truncation=True,
        max_length=max_length - 10
    )
    inputs = {k: v.to(model_arg.device) for k, v in inputs.items()}

    if inputs['input_ids'].shape[1] >= max_length - 10:
         print(f"Warning: Prompt for query {query_id_for_log} vs db {db_id_for_log} was truncated. Length: {inputs['input_ids'].shape[1]}")

    with torch.no_grad():
        outputs = model_arg(**inputs)
        logits = outputs.logits
        # Get the logits for the very next token to be generated
        next_token_logits = logits[:, -1, :]
        
        # Get the specific logits for the '1' and '0' tokens
        logit_one = next_token_logits[:, one_token_id_arg].item()
        logit_zero = next_token_logits[:, zero_token_id_arg].item()

    # --- Make the decision based on which logit is higher ---
    binary_decision = 1 if logit_one > logit_zero else 0

    # --- Calculate the probability using the softmax function on the two logits ---
    # This correctly converts the logits into a probability score for '1'
    max_logit = max(logit_one, logit_zero)
    exp_one = torch.exp(torch.tensor(logit_one - max_logit))
    exp_zero = torch.exp(torch.tensor(logit_zero - max_logit))
    
    prob_one = exp_one / (exp_one + exp_zero)
    
    return (binary_decision, prob_one.item())

print("Core function 'get_schema_match_prediction' defined with per-prompt file logging.")

Core function 'get_schema_match_prediction' defined with per-prompt file logging.

In [31]:
# --- Prompt Configuration for Binary (1/0) Output ---

SYSTEM_PROMPT = """
You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.
"""

USER_PROMPT_TEMPLATE = """
# Task: Can the question be answered using the schema? Respond with 1 (Yes) or 0 (No).

# Few-Shot Examples:

[Schema:
CREATE TABLE student (student_id INT, student_name TEXT);
CREATE TABLE course (course_id INT, course_name TEXT);
CREATE TABLE enrollment (student_id INT, course_id INT);
]
Q: List the names of all students enrolled in the 'Math' course.
A: 1

[Schema:
CREATE TABLE orders (order_id INT, customer_id INT, amount REAL);
CREATE TABLE customer (customer_id INT, customer_name TEXT);
]
Q: Find the total number of orders placed in 2019.
A: 0

# Now, evaluate the following:

[Schema:
{schema_string}
]
Q: {nl_query}
A:
"""

print("SYSTEM_PROMPT and USER_PROMPT_TEMPLATE updated for '1' or '0' output.")

SYSTEM_PROMPT and USER_PROMPT_TEMPLATE updated for '1' or '0' output.

In [51]:
experiment_all_query_results = []

# This allows you to resume an interrupted run.
if os.path.exists(EXPERIMENT_RESULTS_FILE):
    print(f"INFO: Found existing results file. Loading progress from '{EXPERIMENT_RESULTS_FILE}'")
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'r') as f:
            experiment_all_query_results = json.load(f)
        print(f"Loaded results for {len(experiment_all_query_results)} queries. Resuming...")
    except json.JSONDecodeError:
        print(f"WARNING: Results file is corrupted. Starting from scratch.")
        experiment_all_query_results = []

# Create a set of already completed query IDs for quick checking
completed_query_ids = {res['experiment_query_id'] for res in experiment_all_query_results}


# --- 2. Start the Loop ---
print(f"\n--- Starting Experiment: {len(selected_nl_queries)} Queries vs. {len(candidate_schemas_for_evaluation)} Schemas ---")

# Outer loop: Iterate through each NL query
for query_idx, nl_query_info in enumerate(tqdm(selected_nl_queries, desc="Processing NL Queries")):
    current_nl_query_text = nl_query_info['question']
    true_db_id_for_query = nl_query_info['db_id']
    # Create a unique ID for this query instance
    experiment_query_id = f"spider_dev_q{query_idx}_{nl_query_info.get('query_id', 'idx'+str(query_idx))}"

    # Skip if this query has already been processed in a previous run
    if experiment_query_id in completed_query_ids:
        continue

    print(f"\nProcessing Query {query_idx + 1}/{len(selected_nl_queries)} (ID: {experiment_query_id}): '{current_nl_query_text}' (True DB: {true_db_id_for_query})")

    # This list will store the results for the current query
    predictions_for_current_query = []

    # Inner loop: Iterate through each candidate database schema
    for candidate_db_id, candidate_schema_sql in tqdm(candidate_schemas_for_evaluation.items(), desc=f"  DBs for Q:{experiment_query_id[:20]}", leave=False):
        user_prompt_content = USER_PROMPT_TEMPLATE.format(
            schema_string=candidate_schema_sql,
            nl_query=current_nl_query_text
        )
        
        # Default values in case of an error
        binary_decision = -1 
        p_one_score = -1.0

        try:
            # *** THIS IS THE KEY CHANGE: Pass the logging IDs to the function ***
            binary_decision, p_one_score = get_schema_match_prediction(
                model_arg=model,
                tokenizer_arg=tokenizer,
                system_prompt_arg=SYSTEM_PROMPT,
                user_prompt_content_arg=user_prompt_content,
                one_token_id_arg=ONE_TOKEN_ID,
                zero_token_id_arg=ZERO_TOKEN_ID,
                query_id_for_log=experiment_query_id,  # Pass the unique query ID for logging
                db_id_for_log=candidate_db_id          # Pass the candidate DB ID for logging
            )
        except Exception as e:
            import traceback
            print(f"    ERROR: Exception in get_schema_match_prediction for Query ID '{experiment_query_id}' with DB '{candidate_db_id}'.")
            print(f"    Exception type: {type(e).__name__}, Message: {e}")

        # Store the results for this query-schema pair
        predictions_for_current_query.append({
            'candidate_db_id': candidate_db_id,
            'decision': binary_decision,
            'p_one_score': p_one_score
        })

    # After scoring all candidates, sort them by the probability of being answerable (p_one_score)
    ranked_databases_for_query = sorted(predictions_for_current_query, key=lambda x: x['p_one_score'], reverse=True)

    # Store the comprehensive result for this NL query
    experiment_all_query_results.append({
        'experiment_query_id': experiment_query_id,
        'nl_query_text': current_nl_query_text,
        'true_db_id': true_db_id_for_query,
        # The key name is updated for clarity
        'ranked_databases_with_predictions': ranked_databases_for_query 
    })

    # --- 3. Periodic Saving of Results ---
    # Save intermediate results to avoid data loss on long runs
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'w') as f_out:
            json.dump(experiment_all_query_results, f_out, indent=2)
        # Optional: uncomment the line below for more verbose saving confirmation
        # print(f"  Successfully saved intermediate results for {len(experiment_all_query_results)} queries.")
    except Exception as e:
        print(f"  ERROR: Could not save intermediate results: {e}")

# --- 4. Experiment Loop Completion ---
print("\n--- Experiment Loop Finished ---")
if experiment_all_query_results:
    print(f"Processed {len(experiment_all_query_results)} queries in total.")
    # Final save to ensure the very last entry is written
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'w') as f_out:
            json.dump(experiment_all_query_results, f_out, indent=2)
        print(f"Final results comprehensively saved to {EXPERIMENT_RESULTS_FILE}")
    except Exception as e:
        print(f"ERROR: Could not save final results: {e}")
else:
    print("No results were generated. Check logs for errors.")

--- Starting Experiment: 1034 Queries vs. 166 Schemas ---

Processing NL Queries:   0%|          | 0/1034 [00:00<?, ?it/s]

Processing Query 1/1034 (ID: spider_dev_q0_idx0): 'Show the property type descriptions of properties belonging to that code.' (True DB: real_estate_properties)

  DBs for Q:spider_dev_q0_idx0:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 2/1034 (ID: spider_dev_q1_idx1): 'What are the name of the countries where there is not a single car maker?' (True DB: car_1)

  DBs for Q:spider_dev_q1_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 3/1034 (ID: spider_dev_q2_idx2): 'What are the date and the operating professional's first name of each treatment?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q2_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 4/1034 (ID: spider_dev_q3_idx3): 'List each owner's first name, last name, and the size of his for her dog.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q3_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 5/1034 (ID: spider_dev_q4_idx4): 'Find the first name and age of students who have a dog but do not have a cat as a pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q4_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 6/1034 (ID: spider_dev_q5_idx5): 'What is the number of cars with a greater accelerate than the one with the most horsepower?' (True DB: car_1)

  DBs for Q:spider_dev_q5_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 7/1034 (ID: spider_dev_q6_idx6): 'What are the names of the teachers who are aged either 32 or 33?' (True DB: course_teach)

  DBs for Q:spider_dev_q6_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 8/1034 (ID: spider_dev_q7_idx7): 'Return the maximum final tables made across all poker players who have earnings below 200000.' (True DB: poker_player)

  DBs for Q:spider_dev_q7_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 9/1034 (ID: spider_dev_q8_idx8): 'Show template ids, version numbers, and template type codes for all templates.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q8_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 10/1034 (ID: spider_dev_q9_idx9): 'What is the most common nationality of people?' (True DB: poker_player)

  DBs for Q:spider_dev_q9_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 11/1034 (ID: spider_dev_q10_idx10): 'find the pixel aspect ratio and nation of the tv channels that do not use English.' (True DB: tvshow)

  DBs for Q:spider_dev_q10_idx10:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 12/1034 (ID: spider_dev_q11_idx11): 'What is the template type code of the template used by document with the name "Data base"?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q11_idx11:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 13/1034 (ID: spider_dev_q12_idx12): 'What is the maker of the carr produced in the earliest year and what year was it?' (True DB: car_1)

  DBs for Q:spider_dev_q12_idx12:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 14/1034 (ID: spider_dev_q13_idx13): 'Count the number of high schoolers.' (True DB: network_1)

  DBs for Q:spider_dev_q13_idx13:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 15/1034 (ID: spider_dev_q14_idx14): 'Find the average life expectancy and total population for each continent where the average life expectancy is shorter than 72?' (True DB: world_1)

  DBs for Q:spider_dev_q14_idx14:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 16/1034 (ID: spider_dev_q15_idx15): 'List the date of each treatment, together with the first name of the professional who operated it.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q15_idx15:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 17/1034 (ID: spider_dev_q16_idx16): 'Show all template ids and number of documents using each template.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q16_idx16:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 18/1034 (ID: spider_dev_q17_idx17): 'Who is the first student to register? List the first name, middle name and last name.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q17_idx17:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 19/1034 (ID: spider_dev_q18_idx18): 'Show the name of the teacher for the math course.' (True DB: course_teach)

  DBs for Q:spider_dev_q18_idx18:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 20/1034 (ID: spider_dev_q19_idx19): 'Find the id and name of the museum that has the most staff members?' (True DB: museum_visit)

  DBs for Q:spider_dev_q19_idx19:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 21/1034 (ID: spider_dev_q20_idx20): 'What are flight numbers of flights departing from Airport "APG"?' (True DB: flight_2)

  DBs for Q:spider_dev_q20_idx20:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 22/1034 (ID: spider_dev_q21_idx21): 'What are the names of poker players in descending order of earnings?' (True DB: poker_player)

  DBs for Q:spider_dev_q21_idx21:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 23/1034 (ID: spider_dev_q22_idx22): 'What is the average earnings of poker players?' (True DB: poker_player)

  DBs for Q:spider_dev_q22_idx22:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 24/1034 (ID: spider_dev_q23_idx23): 'Which year had the most matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q23_idx23:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 25/1034 (ID: spider_dev_q24_idx24): 'Find the names of stores whose number products is more than the average number of products.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q24_idx24:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 26/1034 (ID: spider_dev_q25_idx25): 'What is the money rank of the tallest poker player?' (True DB: poker_player)

  DBs for Q:spider_dev_q25_idx25:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 27/1034 (ID: spider_dev_q26_idx26): 'What is the document id with least number of paragraphs?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q26_idx26:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 28/1034 (ID: spider_dev_q27_idx27): 'How many cars have a larger accelerate than the car with the largest horsepower?' (True DB: car_1)

  DBs for Q:spider_dev_q27_idx27:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 29/1034 (ID: spider_dev_q28_idx28): 'What is the program id and the summary of the degree that has the most students enrolled?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q28_idx28:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 30/1034 (ID: spider_dev_q29_idx29): 'What is the number of nations that use English and Dutch?' (True DB: world_1)

  DBs for Q:spider_dev_q29_idx29:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 31/1034 (ID: spider_dev_q30_idx30): 'What is the document id, template id and description for document named "Robbin CV"?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q30_idx30:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 32/1034 (ID: spider_dev_q31_idx31): 'What are the codes of countries where Spanish is spoken by the largest percentage of people?' (True DB: world_1)

  DBs for Q:spider_dev_q31_idx31:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 33/1034 (ID: spider_dev_q32_idx32): 'What is the last name of the student who has a cat that is 3 years old?' (True DB: pets_1)

  DBs for Q:spider_dev_q32_idx32:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 34/1034 (ID: spider_dev_q33_idx33): 'What are the first name and last name of the professionals who have done treatment with cost below average?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q33_idx33:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 35/1034 (ID: spider_dev_q34_idx34): 'What is average life expectancy in the countries where English is not the official language?' (True DB: world_1)

  DBs for Q:spider_dev_q34_idx34:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 36/1034 (ID: spider_dev_q35_idx35): 'What is the average weight of cars each year?' (True DB: car_1)

  DBs for Q:spider_dev_q35_idx35:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 37/1034 (ID: spider_dev_q36_idx36): 'Find the first name and age of students who have a pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q36_idx36:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 38/1034 (ID: spider_dev_q37_idx37): 'List all singer names in concerts in year 2014.' (True DB: concert_singer)

  DBs for Q:spider_dev_q37_idx37:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 39/1034 (ID: spider_dev_q38_idx38): 'Return the names of cities that have a population between 160000 and 900000 .' (True DB: world_1)

  DBs for Q:spider_dev_q38_idx38:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 40/1034 (ID: spider_dev_q39_idx39): 'Which city and country is the Alton airport at?' (True DB: flight_2)

  DBs for Q:spider_dev_q39_idx39:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 41/1034 (ID: spider_dev_q40_idx40): 'find the names of museums which have more staff than the minimum staff number of all museums opened after 2010.' (True DB: museum_visit)

  DBs for Q:spider_dev_q40_idx40:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 42/1034 (ID: spider_dev_q41_idx41): 'Tell me the age of the oldest dog.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q41_idx41:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 43/1034 (ID: spider_dev_q42_idx42): 'How many orchestras does each record company manage?' (True DB: orchestra)

  DBs for Q:spider_dev_q42_idx42:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 44/1034 (ID: spider_dev_q43_idx43): 'Which distinctive models are produced by maker with the full name General Motors or weighing more than 3500?' (True DB: car_1)

  DBs for Q:spider_dev_q43_idx43:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 45/1034 (ID: spider_dev_q44_idx44): 'What are the names of players who won in both 2013 and 2016?' (True DB: wta_1)

  DBs for Q:spider_dev_q44_idx44:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 46/1034 (ID: spider_dev_q45_idx45): 'Give the flight numbers of flights leaving from APG.' (True DB: flight_2)

  DBs for Q:spider_dev_q45_idx45:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 47/1034 (ID: spider_dev_q46_idx46): 'What is the average edispl for all volvos?' (True DB: car_1)

  DBs for Q:spider_dev_q46_idx46:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 48/1034 (ID: spider_dev_q47_idx47): 'Show the names of conductors and the orchestras they have conducted.' (True DB: orchestra)

  DBs for Q:spider_dev_q47_idx47:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 49/1034 (ID: spider_dev_q48_idx48): 'What is the average and maximum age for each pet type?' (True DB: pets_1)

  DBs for Q:spider_dev_q48_idx48:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 50/1034 (ID: spider_dev_q49_idx49): 'What are the death and injury situations caused by the ship with tonnage 't'?' (True DB: battle_death)

  DBs for Q:spider_dev_q49_idx49:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 51/1034 (ID: spider_dev_q50_idx50): 'List the arrival date and the departure date for all the dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q50_idx50:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 52/1034 (ID: spider_dev_q51_idx51): 'What is the average age of all the dogs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q51_idx51:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 53/1034 (ID: spider_dev_q52_idx52): 'What are years of founding for orchestras that have had more than a single performance?' (True DB: orchestra)

  DBs for Q:spider_dev_q52_idx52:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 54/1034 (ID: spider_dev_q53_idx53): 'Find the number of pets whose weight is heavier than 10.' (True DB: pets_1)

  DBs for Q:spider_dev_q53_idx53:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 55/1034 (ID: spider_dev_q54_idx54): 'List the email, cell phone and home phone of all the professionals.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q54_idx54:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 56/1034 (ID: spider_dev_q55_idx55): 'What are all different template ids used for documents, and how many times were each of them used?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q55_idx55:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 57/1034 (ID: spider_dev_q56_idx56): 'What are the regions that use English or Dutch?' (True DB: world_1)

  DBs for Q:spider_dev_q56_idx56:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 58/1034 (ID: spider_dev_q57_idx57): 'Return the different descriptions for templates that have been used in a document.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q57_idx57:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 59/1034 (ID: spider_dev_q58_idx58): 'List pairs of the owner's first name and the dogs's name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q58_idx58:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 60/1034 (ID: spider_dev_q59_idx59): 'What is the number of cartoones written by Joseph Kuhr?' (True DB: tvshow)

  DBs for Q:spider_dev_q59_idx59:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 61/1034 (ID: spider_dev_q60_idx60): 'List the names of conductors in ascending order of age.' (True DB: orchestra)

  DBs for Q:spider_dev_q60_idx60:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 62/1034 (ID: spider_dev_q61_idx61): 'Find the first name and gender of student who have more than one pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q61_idx61:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 63/1034 (ID: spider_dev_q62_idx62): 'Show the names of students who have a grade higher than 5 and have at least 2 friends.' (True DB: network_1)

  DBs for Q:spider_dev_q62_idx62:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 64/1034 (ID: spider_dev_q63_idx63): 'Count the number of distinct store locations.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q63_idx63:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 65/1034 (ID: spider_dev_q64_idx64): 'What is the code of airport that has the highest number of flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q64_idx64:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 66/1034 (ID: spider_dev_q65_idx65): 'What is the name of the series that has the episode "A Love of a Lifetime"?' (True DB: tvshow)

  DBs for Q:spider_dev_q65_idx65:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 67/1034 (ID: spider_dev_q66_idx66): 'Show the names of singers and the total sales of their songs.' (True DB: singer)

  DBs for Q:spider_dev_q66_idx66:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 68/1034 (ID: spider_dev_q67_idx67): 'Find the number of orchestras whose record format is "CD" or "DVD".' (True DB: orchestra)

  DBs for Q:spider_dev_q67_idx67:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 69/1034 (ID: spider_dev_q68_idx68): 'How many poker players are there?' (True DB: poker_player)

  DBs for Q:spider_dev_q68_idx68:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 70/1034 (ID: spider_dev_q69_idx69): 'How many matches were played in each year?' (True DB: wta_1)

  DBs for Q:spider_dev_q69_idx69:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 71/1034 (ID: spider_dev_q70_idx70): 'Find the first names of owners living in Virginia and the names of dogs they own.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q70_idx70:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 72/1034 (ID: spider_dev_q71_idx71): 'Show paragraph details for paragraph with text 'Korea ' .' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q71_idx71:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 73/1034 (ID: spider_dev_q72_idx72): 'Count the number of friends Kyle has.' (True DB: network_1)

  DBs for Q:spider_dev_q72_idx72:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 74/1034 (ID: spider_dev_q73_idx73): 'What are the ids and names of all countries that either have more than 3 car makers or produce fiat model ?' (True DB: car_1)

  DBs for Q:spider_dev_q73_idx73:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 75/1034 (ID: spider_dev_q74_idx74): 'Return the names of the 3 countries with the fewest people.' (True DB: world_1)

  DBs for Q:spider_dev_q74_idx74:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 76/1034 (ID: spider_dev_q75_idx75): 'What are the name, population, and life expectancy of the largest Asian country by land?' (True DB: world_1)

  DBs for Q:spider_dev_q75_idx75:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 77/1034 (ID: spider_dev_q76_idx76): 'Which country has the most of TV Channels? List the country and number of TV Channels it has.' (True DB: tvshow)

  DBs for Q:spider_dev_q76_idx76:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 78/1034 (ID: spider_dev_q77_idx77): 'Find the type and weight of the youngest pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q77_idx77:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 79/1034 (ID: spider_dev_q78_idx78): 'What are the country codes for countries that do not speak English?' (True DB: world_1)

  DBs for Q:spider_dev_q78_idx78:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 80/1034 (ID: spider_dev_q79_idx79): 'What are the airline names and abbreviations for airlines in the USA?' (True DB: flight_2)

  DBs for Q:spider_dev_q79_idx79:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 81/1034 (ID: spider_dev_q80_idx80): 'Which are the car makers which produce at least 2 models and more than 3 car makers ? List the id and the maker .' (True DB: car_1)

  DBs for Q:spider_dev_q80_idx80:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 82/1034 (ID: spider_dev_q81_idx81): 'How many matches were played in 2013 or 2016?' (True DB: wta_1)

  DBs for Q:spider_dev_q81_idx81:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 83/1034 (ID: spider_dev_q82_idx82): 'Show all template type codes and the number of documents using each type.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q82_idx82:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 84/1034 (ID: spider_dev_q83_idx83): 'Find the make and production time of the cars that were produced in the earliest year?' (True DB: car_1)

  DBs for Q:spider_dev_q83_idx83:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 85/1034 (ID: spider_dev_q84_idx84): 'How many cartoons were written by "Joseph Kuhr"?' (True DB: tvshow)

  DBs for Q:spider_dev_q84_idx84:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 86/1034 (ID: spider_dev_q85_idx85): 'What are the names of countries that speak more than 2 languages, as well as how many languages they speak?' (True DB: world_1)

  DBs for Q:spider_dev_q85_idx85:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 87/1034 (ID: spider_dev_q86_idx86): 'Give me all the information about hiring.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q86_idx86:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 88/1034 (ID: spider_dev_q87_idx87): 'Find the average age of students who do not have any pet .' (True DB: pets_1)

  DBs for Q:spider_dev_q87_idx87:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 89/1034 (ID: spider_dev_q88_idx88): 'What are the names of conductors who have conducted orchestras founded after the year 2008?' (True DB: orchestra)

  DBs for Q:spider_dev_q88_idx88:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 90/1034 (ID: spider_dev_q89_idx89): 'How many car models are produced by each maker ? Only list the count and the maker full name .' (True DB: car_1)

  DBs for Q:spider_dev_q89_idx89:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 91/1034 (ID: spider_dev_q90_idx90): 'Find the year that has the most number of matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q90_idx90:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 92/1034 (ID: spider_dev_q91_idx91): 'What are the different models created by either the car maker General Motors or weighed more than 3500?' (True DB: car_1)

  DBs for Q:spider_dev_q91_idx91:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 93/1034 (ID: spider_dev_q92_idx92): 'What are the names and release years for all the songs of the youngest singer?' (True DB: concert_singer)

  DBs for Q:spider_dev_q92_idx92:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 94/1034 (ID: spider_dev_q93_idx93): 'Find the id of students who do not have a cat pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q93_idx93:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 95/1034 (ID: spider_dev_q94_idx94): 'List the title of all  Cartoons showed on TV Channel with series name "Sky Radio".' (True DB: tvshow)

  DBs for Q:spider_dev_q94_idx94:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 96/1034 (ID: spider_dev_q95_idx95): 'Return the id and type code of the template that is used for the greatest number of documents.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q95_idx95:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 97/1034 (ID: spider_dev_q96_idx96): 'Return the different names of cities that are in Asia and for which Chinese is the official language.' (True DB: world_1)

  DBs for Q:spider_dev_q96_idx96:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 98/1034 (ID: spider_dev_q97_idx97): 'List all document ids with at least two paragraphs.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q97_idx97:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 99/1034 (ID: spider_dev_q98_idx98): 'Which address holds the most number of students currently? List the address id and all lines.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q98_idx98:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 100/1034 (ID: spider_dev_q99_idx99): 'Show ids for all templates not used by any document.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q99_idx99:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 101/1034 (ID: spider_dev_q100_idx100): 'List the vote ids, phone numbers and states of all votes.' (True DB: voter_1)

  DBs for Q:spider_dev_q100_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 102/1034 (ID: spider_dev_q101_idx101): 'Show the stadium names without any concert.' (True DB: concert_singer)

  DBs for Q:spider_dev_q101_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 103/1034 (ID: spider_dev_q102_idx102): 'find the id, name and age for visitors who visited some museums more than once.' (True DB: museum_visit)

  DBs for Q:spider_dev_q102_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 104/1034 (ID: spider_dev_q103_idx103): 'Show the document id with paragraph text 'Brazil' and 'Ireland'.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q103_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 105/1034 (ID: spider_dev_q104_idx104): 'Which shops' number products is above the average? Give me the shop names.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q104_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 106/1034 (ID: spider_dev_q105_idx105): 'What is the zip code of the address in the city Port Chelsea?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q105_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 107/1034 (ID: spider_dev_q106_idx106): 'List the title of all cartoon directed by "Ben Jones" or "Brandon Vietti".' (True DB: tvshow)

  DBs for Q:spider_dev_q106_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 108/1034 (ID: spider_dev_q107_idx107): 'What are the template ids of any templates used in more than a single document?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q107_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 109/1034 (ID: spider_dev_q108_idx108): 'What are the names and ranks of the three youngest winners across all matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q108_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 110/1034 (ID: spider_dev_q109_idx109): 'Give the nationality that is most common across all people.' (True DB: poker_player)

  DBs for Q:spider_dev_q109_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 111/1034 (ID: spider_dev_q110_idx110): 'What is the name and capacity for the stadium with the highest average attendance?' (True DB: concert_singer)

  DBs for Q:spider_dev_q110_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 112/1034 (ID: spider_dev_q111_idx111): 'What is the total surface area of the continents Asia and Europe?' (True DB: world_1)

  DBs for Q:spider_dev_q111_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 113/1034 (ID: spider_dev_q112_idx112): 'What are the first names and country codes for players who won both the WTA Championships and the Australian Open?' (True DB: wta_1)

  DBs for Q:spider_dev_q112_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 114/1034 (ID: spider_dev_q113_idx113): 'Give me the id, role and email of the professionals who did not perform any treatment on dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q113_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 115/1034 (ID: spider_dev_q114_idx114): 'What is the average life expectancy in African countries that are republics?' (True DB: world_1)

  DBs for Q:spider_dev_q114_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 116/1034 (ID: spider_dev_q115_idx115): 'What is the name of country that has the shortest life expectancy in Asia?' (True DB: world_1)

  DBs for Q:spider_dev_q115_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 117/1034 (ID: spider_dev_q116_idx116): 'What are the ids of the students who do not own cats as pets?' (True DB: pets_1)

  DBs for Q:spider_dev_q116_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 118/1034 (ID: spider_dev_q117_idx117): 'What is the semester which most student registered in? Show both the name and the id.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q117_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 119/1034 (ID: spider_dev_q118_idx118): 'What is the name of the conductor who has worked the greatest number of years?' (True DB: orchestra)

  DBs for Q:spider_dev_q118_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 120/1034 (ID: spider_dev_q119_idx119): 'List each language and the number of TV Channels using it.' (True DB: tvshow)

  DBs for Q:spider_dev_q119_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 121/1034 (ID: spider_dev_q120_idx120): 'Return the type code of the template type with the description "Book".' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q120_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 122/1034 (ID: spider_dev_q121_idx121): 'How many singers are from each country?' (True DB: concert_singer)

  DBs for Q:spider_dev_q121_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 123/1034 (ID: spider_dev_q122_idx122): 'What are the birth years and citizenships of the singers?' (True DB: singer)

  DBs for Q:spider_dev_q122_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 124/1034 (ID: spider_dev_q123_idx123): 'List the Episode of all  TV series showed on TV Channel with series name "Sky Radio".' (True DB: tvshow)

  DBs for Q:spider_dev_q123_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 125/1034 (ID: spider_dev_q124_idx124): 'What is the code of the country with the most players?' (True DB: wta_1)

  DBs for Q:spider_dev_q124_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 126/1034 (ID: spider_dev_q125_idx125): 'Which year has most number of concerts?' (True DB: concert_singer)

  DBs for Q:spider_dev_q125_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 127/1034 (ID: spider_dev_q126_idx126): 'Return the lowest version number, along with its corresponding template type code.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q126_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 128/1034 (ID: spider_dev_q127_idx127): 'What is the number of continents?' (True DB: car_1)

  DBs for Q:spider_dev_q127_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 129/1034 (ID: spider_dev_q128_idx128): 'What is the charge amount of the most expensive charge type?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q128_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 130/1034 (ID: spider_dev_q129_idx129): 'What are the different models for the cards produced after 1980?' (True DB: car_1)

  DBs for Q:spider_dev_q129_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 131/1034 (ID: spider_dev_q130_idx130): 'List top 3 highest Rating  TV series. List the TV series's Episode and Rating.' (True DB: tvshow)

  DBs for Q:spider_dev_q130_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 132/1034 (ID: spider_dev_q131_idx131): 'What are the names and areas of countries with the top 5 largest area?' (True DB: world_1)

  DBs for Q:spider_dev_q131_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 133/1034 (ID: spider_dev_q132_idx132): 'How many owners temporarily do not have any dogs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q132_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 134/1034 (ID: spider_dev_q133_idx133): 'Compute the average age of all the dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q133_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 135/1034 (ID: spider_dev_q134_idx134): 'Show names for all stadiums except for stadiums having a concert in year 2014.' (True DB: concert_singer)

  DBs for Q:spider_dev_q134_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 136/1034 (ID: spider_dev_q135_idx135): 'What is the TV Channel of TV series with Episode "A Love of a Lifetime"? List the TV Channel's series name.' (True DB: tvshow)

  DBs for Q:spider_dev_q135_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 137/1034 (ID: spider_dev_q136_idx136): 'What are the minimum and maximum number of products across all the shops?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q136_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 138/1034 (ID: spider_dev_q137_idx137): 'what are all the addresses including line 1 and line 2?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q137_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 139/1034 (ID: spider_dev_q138_idx138): 'What are the names and ids of all countries with at least one car maker?' (True DB: car_1)

  DBs for Q:spider_dev_q138_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 140/1034 (ID: spider_dev_q139_idx139): 'Find the average and maximum age for each type of pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q139_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 141/1034 (ID: spider_dev_q140_idx140): 'What is the sname of every sing that does not have any song?' (True DB: singer)

  DBs for Q:spider_dev_q140_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 142/1034 (ID: spider_dev_q141_idx141): 'What are the names of all courses that have some students enrolled?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q141_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 143/1034 (ID: spider_dev_q142_idx142): 'Please show the most common citizenship of singers.' (True DB: singer)

  DBs for Q:spider_dev_q142_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 144/1034 (ID: spider_dev_q143_idx143): 'List the name of teachers whose hometown is not `` Little Lever Urban District '' .' (True DB: course_teach)

  DBs for Q:spider_dev_q143_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 145/1034 (ID: spider_dev_q144_idx144): 'How many courses in total are listed?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q144_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 146/1034 (ID: spider_dev_q145_idx145): 'Find the production code and channel of the most recently aired cartoon .' (True DB: tvshow)

  DBs for Q:spider_dev_q145_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 147/1034 (ID: spider_dev_q146_idx146): 'Which country does Airline "JetBlue Airways" belong to?' (True DB: flight_2)

  DBs for Q:spider_dev_q146_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 148/1034 (ID: spider_dev_q147_idx147): 'What is the number of the cars with horsepower more than 150?' (True DB: car_1)

  DBs for Q:spider_dev_q147_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 149/1034 (ID: spider_dev_q148_idx148): 'Show all distinct template type codes for all templates.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q148_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 150/1034 (ID: spider_dev_q149_idx149): 'List the number of different series names and contents in the TV Channel table.' (True DB: tvshow)

  DBs for Q:spider_dev_q149_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 151/1034 (ID: spider_dev_q150_idx150): 'How many museums were opened after 2013 or before 2008?' (True DB: museum_visit)

  DBs for Q:spider_dev_q150_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 152/1034 (ID: spider_dev_q151_idx151): 'Return the template type description of the template type with the code AD.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q151_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 153/1034 (ID: spider_dev_q152_idx152): 'On average, when were the transcripts printed?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q152_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 154/1034 (ID: spider_dev_q153_idx153): 'List the record company shared by the most number of orchestras.' (True DB: orchestra)

  DBs for Q:spider_dev_q153_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 155/1034 (ID: spider_dev_q154_idx154): 'List the names of employees and sort in ascending order of age.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q154_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 156/1034 (ID: spider_dev_q155_idx155): 'How many dog pets are raised by female students?' (True DB: pets_1)

  DBs for Q:spider_dev_q155_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 157/1034 (ID: spider_dev_q156_idx156): 'What is the number of car models created by the car maker American Motor Company?' (True DB: car_1)

  DBs for Q:spider_dev_q156_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 158/1034 (ID: spider_dev_q157_idx157): 'Return the names and template ids for documents that contain the letter w in their description.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q157_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 159/1034 (ID: spider_dev_q158_idx158): 'Which template type code is used by most number of documents?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q158_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 160/1034 (ID: spider_dev_q159_idx159): 'For model volvo, how many cylinders does the car with the least accelerate have?' (True DB: car_1)

  DBs for Q:spider_dev_q159_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 161/1034 (ID: spider_dev_q160_idx160): 'For students who have pets , how many pets does each student have ? list their ids instead of names .' (True DB: pets_1)

  DBs for Q:spider_dev_q160_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 162/1034 (ID: spider_dev_q161_idx161): 'Which student has enrolled for the most times in any program? List the id, first name, middle name, last name, the number of enrollments and student id.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q161_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 163/1034 (ID: spider_dev_q162_idx162): 'List the area codes in which voters voted both for the contestant 'Tabatha Gehling' and the contestant 'Kelly Clauss'.' (True DB: voter_1)

  DBs for Q:spider_dev_q162_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 164/1034 (ID: spider_dev_q163_idx163): 'Give the airline with abbreviation 'UAL'.' (True DB: flight_2)

  DBs for Q:spider_dev_q163_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 165/1034 (ID: spider_dev_q164_idx164): 'Describe the section h.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q164_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 166/1034 (ID: spider_dev_q165_idx165): 'Find the number of professionals who have ever treated dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q165_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 167/1034 (ID: spider_dev_q166_idx166): 'How many available features are there in total?' (True DB: real_estate_properties)

  DBs for Q:spider_dev_q166_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 168/1034 (ID: spider_dev_q167_idx167): 'What is the number of carsw ith over 6 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q167_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 169/1034 (ID: spider_dev_q168_idx168): 'List the name and tonnage ordered by in descending alphaetical order for the names.' (True DB: battle_death)

  DBs for Q:spider_dev_q168_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 170/1034 (ID: spider_dev_q169_idx169): 'List the names of the dogs of the rarest breed and the treatment dates of them.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q169_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 171/1034 (ID: spider_dev_q170_idx170): 'How many high schoolers are there?' (True DB: network_1)

  DBs for Q:spider_dev_q170_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 172/1034 (ID: spider_dev_q171_idx171): 'What is the average grade of students who have friends?' (True DB: network_1)

  DBs for Q:spider_dev_q171_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 173/1034 (ID: spider_dev_q172_idx172): 'How much does each charge type costs? List both charge type and amount.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q172_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 174/1034 (ID: spider_dev_q173_idx173): 'What is the average age for all students who do not own any pets ?' (True DB: pets_1)

  DBs for Q:spider_dev_q173_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 175/1034 (ID: spider_dev_q174_idx174): 'How many conductors are there?' (True DB: orchestra)

  DBs for Q:spider_dev_q174_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 176/1034 (ID: spider_dev_q175_idx175): 'Find the highest rank of losers in all matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q175_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 177/1034 (ID: spider_dev_q176_idx176): 'Show the student IDs and numbers of friends corresponding to each.' (True DB: network_1)

  DBs for Q:spider_dev_q176_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 178/1034 (ID: spider_dev_q177_idx177): 'What is the model of the car with the smallest amount of horsepower?' (True DB: car_1)

  DBs for Q:spider_dev_q177_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 179/1034 (ID: spider_dev_q178_idx178): 'Which regions speak Dutch or English?' (True DB: world_1)

  DBs for Q:spider_dev_q178_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 180/1034 (ID: spider_dev_q179_idx179): 'What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?' (True DB: singer)

  DBs for Q:spider_dev_q179_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 181/1034 (ID: spider_dev_q180_idx180): 'Return the number of flights departing from Aberdeen.' (True DB: flight_2)

  DBs for Q:spider_dev_q180_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 182/1034 (ID: spider_dev_q181_idx181): 'How many concerts are there in year 2014 or 2015?' (True DB: concert_singer)

  DBs for Q:spider_dev_q181_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 183/1034 (ID: spider_dev_q182_idx182): 'Return the number of flights.' (True DB: flight_2)

  DBs for Q:spider_dev_q182_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 184/1034 (ID: spider_dev_q183_idx183): 'What are each owner's first name, last name, and the size of their dog?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q183_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 185/1034 (ID: spider_dev_q184_idx184): 'What is the id and weight of every pet who is older than 1?' (True DB: pets_1)

  DBs for Q:spider_dev_q184_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 186/1034 (ID: spider_dev_q185_idx185): 'Show the names of high school students and their corresponding number of friends.' (True DB: network_1)

  DBs for Q:spider_dev_q185_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 187/1034 (ID: spider_dev_q186_idx186): 'What are the names of all cartoons directed by Ben Jones?' (True DB: tvshow)

  DBs for Q:spider_dev_q186_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 188/1034 (ID: spider_dev_q187_idx187): 'find the names of loser and winner who played in the match with greatest number of minutes.' (True DB: wta_1)

  DBs for Q:spider_dev_q187_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 189/1034 (ID: spider_dev_q188_idx188): 'What are the names and ids of every course with less than 2 sections?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q188_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 190/1034 (ID: spider_dev_q189_idx189): 'Find the average age of losers and winners of all matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q189_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 191/1034 (ID: spider_dev_q190_idx190): 'Show the names of singers that have more than one song.' (True DB: singer)

  DBs for Q:spider_dev_q190_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 192/1034 (ID: spider_dev_q191_idx191): 'Which semesters do not have any student enrolled? List the semester name.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q191_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 193/1034 (ID: spider_dev_q192_idx192): 'What are the names of documents that use templates with the code BK?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q192_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 194/1034 (ID: spider_dev_q193_idx193): 'Show the name of teachers aged either 32 or 33?' (True DB: course_teach)

  DBs for Q:spider_dev_q193_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 195/1034 (ID: spider_dev_q194_idx194): 'List the number of all matches who played in years of 2013 or 2016.' (True DB: wta_1)

  DBs for Q:spider_dev_q194_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 196/1034 (ID: spider_dev_q195_idx195): 'Find the first name of students who have cat or dog pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q195_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 197/1034 (ID: spider_dev_q196_idx196): 'Show all template type codes and number of templates for each.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q196_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 198/1034 (ID: spider_dev_q197_idx197): 'What are the titles of the cartoons sorted alphabetically?' (True DB: tvshow)

  DBs for Q:spider_dev_q197_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 199/1034 (ID: spider_dev_q198_idx198): 'What is the name of the conductor who has conducted the most orchestras?' (True DB: orchestra)

  DBs for Q:spider_dev_q198_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 200/1034 (ID: spider_dev_q199_idx199): 'What is the name of the shop that is hiring the largest number of employees?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q199_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 201/1034 (ID: spider_dev_q200_idx200): 'Show all the grades of the high schoolers.' (True DB: network_1)

  DBs for Q:spider_dev_q200_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 202/1034 (ID: spider_dev_q201_idx201): 'What is the number of distinct continents where Chinese is spoken?' (True DB: world_1)

  DBs for Q:spider_dev_q201_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 203/1034 (ID: spider_dev_q202_idx202): 'What is Weekly Rank of TV series with Episode "A Love of a Lifetime"?' (True DB: tvshow)

  DBs for Q:spider_dev_q202_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 204/1034 (ID: spider_dev_q203_idx203): 'Find the name of the makers that produced some cars in the year of 1970?' (True DB: car_1)

  DBs for Q:spider_dev_q203_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 205/1034 (ID: spider_dev_q204_idx204): 'What are the contestant numbers and names of the contestants who had at least two votes?' (True DB: voter_1)

  DBs for Q:spider_dev_q204_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 206/1034 (ID: spider_dev_q205_idx205): 'For each shop, return the number of employees working there and the name of the shop.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q205_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 207/1034 (ID: spider_dev_q206_idx206): 'What are the ids, names, and descriptions for all documents?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q206_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 208/1034 (ID: spider_dev_q207_idx207): 'What is the most common singer citizenship ?' (True DB: singer)

  DBs for Q:spider_dev_q207_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 209/1034 (ID: spider_dev_q208_idx208): 'List the names and birth dates of people in ascending alphabetical order of name.' (True DB: poker_player)

  DBs for Q:spider_dev_q208_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 210/1034 (ID: spider_dev_q209_idx209): 'Find the id, last name and cell phone of the professionals who live in the state of Indiana or have performed more than two treatments.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q209_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 211/1034 (ID: spider_dev_q210_idx210): 'Return the money rank of the player with the greatest earnings.' (True DB: poker_player)

  DBs for Q:spider_dev_q210_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 212/1034 (ID: spider_dev_q211_idx211): 'Which makers designed more than 3 car models? List full name and the id.' (True DB: car_1)

  DBs for Q:spider_dev_q211_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 213/1034 (ID: spider_dev_q212_idx212): 'Which continent speaks the most languages?' (True DB: world_1)

  DBs for Q:spider_dev_q212_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 214/1034 (ID: spider_dev_q213_idx213): 'What is the average number of injuries caused each time?' (True DB: battle_death)

  DBs for Q:spider_dev_q213_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 215/1034 (ID: spider_dev_q214_idx214): 'What are the different template type codes?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q214_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 216/1034 (ID: spider_dev_q215_idx215): 'Find the name of the employee who got the highest one time bonus.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q215_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 217/1034 (ID: spider_dev_q216_idx216): 'What is the id and type code for the template used by the most documents?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q216_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 218/1034 (ID: spider_dev_q217_idx217): 'Find the major and age of students who do not have a cat pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q217_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 219/1034 (ID: spider_dev_q218_idx218): 'Find the name of airports which do not have any flight in and out.' (True DB: flight_2)

  DBs for Q:spider_dev_q218_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 220/1034 (ID: spider_dev_q219_idx219): 'Count the number of dogs that went through a treatment.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q219_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 221/1034 (ID: spider_dev_q220_idx220): 'How many airlines do we have?' (True DB: flight_2)

  DBs for Q:spider_dev_q220_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 222/1034 (ID: spider_dev_q221_idx221): 'What is the continent name which Anguilla belongs to?' (True DB: world_1)

  DBs for Q:spider_dev_q221_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 223/1034 (ID: spider_dev_q222_idx222): 'What is the number of car models that are produced by each maker and what is the id and full name of each maker?' (True DB: car_1)

  DBs for Q:spider_dev_q222_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 224/1034 (ID: spider_dev_q223_idx223): 'Show me the cost of the most recently performed treatment.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q223_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 225/1034 (ID: spider_dev_q224_idx224): 'How many TV Channel using language English?' (True DB: tvshow)

  DBs for Q:spider_dev_q224_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 226/1034 (ID: spider_dev_q225_idx225): 'Show the citizenship shared by singers with birth year before 1945 and after 1955.' (True DB: singer)

  DBs for Q:spider_dev_q225_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 227/1034 (ID: spider_dev_q226_idx226): 'What are the names and id of courses having at most 2 sections?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q226_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 228/1034 (ID: spider_dev_q227_idx227): 'What are names of countries with the top 3 largest population?' (True DB: world_1)

  DBs for Q:spider_dev_q227_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 229/1034 (ID: spider_dev_q228_idx228): 'List the first name and birth date of all players from the country with code USA.' (True DB: wta_1)

  DBs for Q:spider_dev_q228_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 230/1034 (ID: spider_dev_q229_idx229): 'What are the names of the singers and number of concerts for each person?' (True DB: concert_singer)

  DBs for Q:spider_dev_q229_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 231/1034 (ID: spider_dev_q230_idx230): 'Find the states where both owners and professionals live.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q230_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 232/1034 (ID: spider_dev_q231_idx231): 'What is the name of the visitor who visited both a museum opened before 2009 and a museum opened after 2011?' (True DB: museum_visit)

  DBs for Q:spider_dev_q231_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 233/1034 (ID: spider_dev_q232_idx232): 'What are airport names at City 'Aberdeen'?' (True DB: flight_2)

  DBs for Q:spider_dev_q232_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 234/1034 (ID: spider_dev_q233_idx233): 'What are all the makers and models?' (True DB: car_1)

  DBs for Q:spider_dev_q233_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 235/1034 (ID: spider_dev_q234_idx234): 'What is the maximum number of times that a course shows up in different transcripts and what is that course's enrollment id?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q234_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 236/1034 (ID: spider_dev_q235_idx235): 'List document IDs, document names, and document descriptions for all documents.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q235_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 237/1034 (ID: spider_dev_q236_idx236): 'What are the names of high schoolers who have a grade of over 5 and have 2 or more friends?' (True DB: network_1)

  DBs for Q:spider_dev_q236_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 238/1034 (ID: spider_dev_q237_idx237): 'What is the number of employees from each city?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q237_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 239/1034 (ID: spider_dev_q238_idx238): 'List names of conductors in descending order of years of work.' (True DB: orchestra)

  DBs for Q:spider_dev_q238_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 240/1034 (ID: spider_dev_q239_idx239): 'How many 'United Airlines' flights depart from Airport 'AHD'?' (True DB: flight_2)

  DBs for Q:spider_dev_q239_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 241/1034 (ID: spider_dev_q240_idx240): 'Which airlines have departing flights from both APG and CVO airports?' (True DB: flight_2)

  DBs for Q:spider_dev_q240_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 242/1034 (ID: spider_dev_q241_idx241): 'How many shops are there in each location?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q241_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 243/1034 (ID: spider_dev_q242_idx242): 'What are the names , themes , and number of singers for every concert ?' (True DB: concert_singer)

  DBs for Q:spider_dev_q242_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 244/1034 (ID: spider_dev_q243_idx243): 'Of all the contestants who got voted, what is the contestant number and name of the contestant who got least votes?' (True DB: voter_1)

  DBs for Q:spider_dev_q243_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 245/1034 (ID: spider_dev_q244_idx244): 'What is the date and id of the transcript with at least 2 courses listed?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q244_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 246/1034 (ID: spider_dev_q245_idx245): 'Give the names of nations that speak both English and French.' (True DB: world_1)

  DBs for Q:spider_dev_q245_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 247/1034 (ID: spider_dev_q246_idx246): 'Count the number of countries in Asia.' (True DB: world_1)

  DBs for Q:spider_dev_q246_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 248/1034 (ID: spider_dev_q247_idx247): 'Find all airlines that have flights from both airports 'APG' and 'CVO'.' (True DB: flight_2)

  DBs for Q:spider_dev_q247_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 249/1034 (ID: spider_dev_q248_idx248): 'Find the abbreviation and country of the airline that has fewest number of flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q248_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 250/1034 (ID: spider_dev_q249_idx249): 'Show the hometowns shared by at least two teachers.' (True DB: course_teach)

  DBs for Q:spider_dev_q249_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 251/1034 (ID: spider_dev_q250_idx250): 'What are the details for the paragraph that includes the text 'Korea ' ?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q250_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 252/1034 (ID: spider_dev_q251_idx251): 'Count the number of likes for each student id.' (True DB: network_1)

  DBs for Q:spider_dev_q251_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 253/1034 (ID: spider_dev_q252_idx252): 'What are the African countries that have a  population less than any country in Asia?' (True DB: world_1)

  DBs for Q:spider_dev_q252_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 254/1034 (ID: spider_dev_q253_idx253): 'Tell me the number of dogs that have not received any treatment .' (True DB: dog_kennels)

  DBs for Q:spider_dev_q253_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 255/1034 (ID: spider_dev_q254_idx254): 'Count the number of countries for which Spanish is the predominantly spoken language.' (True DB: world_1)

  DBs for Q:spider_dev_q254_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 256/1034 (ID: spider_dev_q255_idx255): 'Which professionals have done at least two types of treatments? List the professional id and cell phone.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q255_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 257/1034 (ID: spider_dev_q256_idx256): 'Which grade has the most high schoolers?' (True DB: network_1)

  DBs for Q:spider_dev_q256_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 258/1034 (ID: spider_dev_q257_idx257): 'What are the Package Options of the TV Channels whose series names are Sky Radio?' (True DB: tvshow)

  DBs for Q:spider_dev_q257_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 259/1034 (ID: spider_dev_q258_idx258): 'What is the name of each teacher and what course they teach?' (True DB: course_teach)

  DBs for Q:spider_dev_q258_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 260/1034 (ID: spider_dev_q259_idx259): 'What is the language spoken by the largest percentage of people in each country?' (True DB: world_1)

  DBs for Q:spider_dev_q259_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 261/1034 (ID: spider_dev_q260_idx260): 'What are the names of the winner and loser who played in the longest match?' (True DB: wta_1)

  DBs for Q:spider_dev_q260_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 262/1034 (ID: spider_dev_q261_idx261): 'Count the number of different nationalities.' (True DB: poker_player)

  DBs for Q:spider_dev_q261_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 263/1034 (ID: spider_dev_q262_idx262): 'Show the name of the conductor that has conducted the most number of orchestras.' (True DB: orchestra)

  DBs for Q:spider_dev_q262_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 264/1034 (ID: spider_dev_q263_idx263): 'How many documents do we have?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q263_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 265/1034 (ID: spider_dev_q264_idx264): 'Show the names of conductors that have conducted more than one orchestras.' (True DB: orchestra)

  DBs for Q:spider_dev_q264_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 266/1034 (ID: spider_dev_q265_idx265): 'Count the number of employees for each city.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q265_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 267/1034 (ID: spider_dev_q266_idx266): 'What are the names of the teachers who teach at least two courses?' (True DB: course_teach)

  DBs for Q:spider_dev_q266_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 268/1034 (ID: spider_dev_q267_idx267): 'How many different templates do all document use?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q267_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 269/1034 (ID: spider_dev_q268_idx268): 'How many total tours were there for each ranking date?' (True DB: wta_1)

  DBs for Q:spider_dev_q268_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 270/1034 (ID: spider_dev_q269_idx269): 'How is the math course described?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q269_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 271/1034 (ID: spider_dev_q270_idx270): 'What is the record company used by the greatest number of orchestras?' (True DB: orchestra)

  DBs for Q:spider_dev_q270_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 272/1034 (ID: spider_dev_q271_idx271): 'Show ids of all students who do not have any friends.' (True DB: network_1)

  DBs for Q:spider_dev_q271_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 273/1034 (ID: spider_dev_q272_idx272): 'For each semester, what is the name and id of the one with the most students registered?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q272_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 274/1034 (ID: spider_dev_q273_idx273): 'What is the name and id of the department with the most number of degrees ?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q273_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 275/1034 (ID: spider_dev_q274_idx274): 'which countries' tv channels are not playing any cartoon written by Todd Casey?' (True DB: tvshow)

  DBs for Q:spider_dev_q274_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 276/1034 (ID: spider_dev_q275_idx275): 'What is the document id and name with greatest number of paragraphs?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q275_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 277/1034 (ID: spider_dev_q276_idx276): 'What are the names of poker players, ordered ascending by the number of final tables they have made?' (True DB: poker_player)

  DBs for Q:spider_dev_q276_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 278/1034 (ID: spider_dev_q277_idx277): 'List the section_name in reversed lexicographical order.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q277_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 279/1034 (ID: spider_dev_q278_idx278): 'What is the accelerate of the car make amc hornet sportabout (sw)?' (True DB: car_1)

  DBs for Q:spider_dev_q278_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 280/1034 (ID: spider_dev_q279_idx279): 'What is the first, middle, and last name of the first student to register?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q279_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 281/1034 (ID: spider_dev_q280_idx280): 'How many cartoons did each director create?' (True DB: tvshow)

  DBs for Q:spider_dev_q280_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 282/1034 (ID: spider_dev_q281_idx281): 'What is the average rank for winners in all matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q281_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 283/1034 (ID: spider_dev_q282_idx282): 'Show all document ids and the number of paragraphs in each document. Order by document id.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q282_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 284/1034 (ID: spider_dev_q283_idx283): 'Find the manager name and district of the shop whose number of products is the largest.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q283_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 285/1034 (ID: spider_dev_q284_idx284): 'Show names of teachers and the number of courses they teach.' (True DB: course_teach)

  DBs for Q:spider_dev_q284_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 286/1034 (ID: spider_dev_q285_idx285): 'List the emails of the professionals who live in the state of Hawaii or the state of Wisconsin.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q285_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 287/1034 (ID: spider_dev_q286_idx286): 'what are the different names of the singers that have sales more than 300000?' (True DB: singer)

  DBs for Q:spider_dev_q286_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 288/1034 (ID: spider_dev_q287_idx287): 'What are the descriptions for all the math courses?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q287_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 289/1034 (ID: spider_dev_q288_idx288): 'What are the ids of documents that have 2 or more paragraphs?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q288_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 290/1034 (ID: spider_dev_q289_idx289): 'What major is every student who does not own a cat as a pet, and also how old are they?' (True DB: pets_1)

  DBs for Q:spider_dev_q289_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 291/1034 (ID: spider_dev_q290_idx290): 'What is the average attendance of shows?' (True DB: orchestra)

  DBs for Q:spider_dev_q290_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 292/1034 (ID: spider_dev_q291_idx291): 'Show all document names using templates with template type code BK.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q291_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 293/1034 (ID: spider_dev_q292_idx292): 'find the number of distinct country codes of all players.' (True DB: wta_1)

  DBs for Q:spider_dev_q292_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 294/1034 (ID: spider_dev_q293_idx293): 'How many friends does each student have?' (True DB: network_1)

  DBs for Q:spider_dev_q293_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 295/1034 (ID: spider_dev_q294_idx294): 'Which distinct car models are the produced after 1980?' (True DB: car_1)

  DBs for Q:spider_dev_q294_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 296/1034 (ID: spider_dev_q295_idx295): 'What are the population and life expectancies in Brazil?' (True DB: world_1)

  DBs for Q:spider_dev_q295_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 297/1034 (ID: spider_dev_q296_idx296): 'What is the first name and country code of the oldest player?' (True DB: wta_1)

  DBs for Q:spider_dev_q296_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 298/1034 (ID: spider_dev_q297_idx297): 'Please show the name of the conductor that has conducted orchestras founded after 2008.' (True DB: orchestra)

  DBs for Q:spider_dev_q297_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 299/1034 (ID: spider_dev_q298_idx298): 'What are flight numbers of flights departing from City "Aberdeen "?' (True DB: flight_2)

  DBs for Q:spider_dev_q298_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 300/1034 (ID: spider_dev_q299_idx299): 'What are the distinct states and create time of all votes?' (True DB: voter_1)

  DBs for Q:spider_dev_q299_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 301/1034 (ID: spider_dev_q300_idx300): 'Which continent has the most diverse languages?' (True DB: world_1)

  DBs for Q:spider_dev_q300_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 302/1034 (ID: spider_dev_q301_idx301): 'How many unique languages are spoken in the world?' (True DB: world_1)

  DBs for Q:spider_dev_q301_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 303/1034 (ID: spider_dev_q302_idx302): 'What is the description of the department whose name has the substring the computer?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q302_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 304/1034 (ID: spider_dev_q303_idx303): 'How many car makers are there in france?' (True DB: car_1)

  DBs for Q:spider_dev_q303_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 305/1034 (ID: spider_dev_q304_idx304): 'Find the package choice and series name of the TV channel that has high definition TV.' (True DB: tvshow)

  DBs for Q:spider_dev_q304_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 306/1034 (ID: spider_dev_q305_idx305): 'which countries' tv channels are playing some cartoon written by Todd Casey?' (True DB: tvshow)

  DBs for Q:spider_dev_q305_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 307/1034 (ID: spider_dev_q306_idx306): 'Find the kind of program which most number of students are enrolled in?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q306_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 308/1034 (ID: spider_dev_q307_idx307): 'What are the country codes of countries where people use languages other than English?' (True DB: world_1)

  DBs for Q:spider_dev_q307_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 309/1034 (ID: spider_dev_q308_idx308): 'What are the first, middle, and last names for everybody enrolled in a Bachelors program?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q308_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 310/1034 (ID: spider_dev_q309_idx309): 'For a volvo model, how many cylinders does the version with least accelerate have?' (True DB: car_1)

  DBs for Q:spider_dev_q309_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 311/1034 (ID: spider_dev_q310_idx310): 'What is the phone number of the man with the first name Timmothy and the last name Ward?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q310_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 312/1034 (ID: spider_dev_q311_idx311): 'When did the episode "A Love of a Lifetime" air?' (True DB: tvshow)

  DBs for Q:spider_dev_q311_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 313/1034 (ID: spider_dev_q312_idx312): 'What are different nationalities of people and the corresponding number of people from each nation?' (True DB: poker_player)

  DBs for Q:spider_dev_q312_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 314/1034 (ID: spider_dev_q313_idx313): 'How much surface area do the countires in the Carribean cover together?' (True DB: world_1)

  DBs for Q:spider_dev_q313_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 315/1034 (ID: spider_dev_q314_idx314): 'List the Episode of all TV series sorted by rating.' (True DB: tvshow)

  DBs for Q:spider_dev_q314_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 316/1034 (ID: spider_dev_q315_idx315): 'For the countries founded before 1930, what is the total number of distinct official languages?' (True DB: world_1)

  DBs for Q:spider_dev_q315_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 317/1034 (ID: spider_dev_q316_idx316): 'What are the names and birth dates of people, ordered by their names in alphabetical order?' (True DB: poker_player)

  DBs for Q:spider_dev_q316_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 318/1034 (ID: spider_dev_q317_idx317): 'What is the total number of languages used in Aruba?' (True DB: world_1)

  DBs for Q:spider_dev_q317_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 319/1034 (ID: spider_dev_q318_idx318): 'What is the hometown of the youngest teacher?' (True DB: course_teach)

  DBs for Q:spider_dev_q318_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 320/1034 (ID: spider_dev_q319_idx319): 'Return the names of the contestants whose names contain the substring 'Al' .' (True DB: voter_1)

  DBs for Q:spider_dev_q319_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 321/1034 (ID: spider_dev_q320_idx320): 'Return the number of flights arriving in Aberdeen.' (True DB: flight_2)

  DBs for Q:spider_dev_q320_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 322/1034 (ID: spider_dev_q321_idx321): 'What is the most commmon hometowns for teachers?' (True DB: course_teach)

  DBs for Q:spider_dev_q321_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 323/1034 (ID: spider_dev_q322_idx322): 'Find the program which most number of students are enrolled in. List both the id and the summary.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q322_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 324/1034 (ID: spider_dev_q323_idx323): 'What are the first names of all players, and their total ranking points?' (True DB: wta_1)

  DBs for Q:spider_dev_q323_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 325/1034 (ID: spider_dev_q324_idx324): 'How many different loser names are there?' (True DB: wta_1)

  DBs for Q:spider_dev_q324_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 326/1034 (ID: spider_dev_q325_idx325): 'For each hometown, how many teachers are there?' (True DB: course_teach)

  DBs for Q:spider_dev_q325_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 327/1034 (ID: spider_dev_q326_idx326): 'What model has the most different versions?' (True DB: car_1)

  DBs for Q:spider_dev_q326_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 328/1034 (ID: spider_dev_q327_idx327): 'How many United Airlines flights go to City 'Aberdeen'?' (True DB: flight_2)

  DBs for Q:spider_dev_q327_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 329/1034 (ID: spider_dev_q328_idx328): 'find the code of the country where has the greatest number of players.' (True DB: wta_1)

  DBs for Q:spider_dev_q328_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 330/1034 (ID: spider_dev_q329_idx329): 'What's the name of the course with most number of enrollments?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q329_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 331/1034 (ID: spider_dev_q330_idx330): 'What are each professional's first name and description of the treatment they have performed?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q330_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 332/1034 (ID: spider_dev_q331_idx331): 'How many continents are there?' (True DB: car_1)

  DBs for Q:spider_dev_q331_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 333/1034 (ID: spider_dev_q332_idx332): 'Find the number of players for each hand type.' (True DB: wta_1)

  DBs for Q:spider_dev_q332_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 334/1034 (ID: spider_dev_q333_idx333): 'What are the names of airports in Aberdeen?' (True DB: flight_2)

  DBs for Q:spider_dev_q333_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 335/1034 (ID: spider_dev_q334_idx334): 'How many people live in countries that do not speak English?' (True DB: world_1)

  DBs for Q:spider_dev_q334_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 336/1034 (ID: spider_dev_q335_idx335): 'What is the series name of the TV Channel that shows the cartoon "The Rise of the Blue Beetle"?' (True DB: tvshow)

  DBs for Q:spider_dev_q335_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 337/1034 (ID: spider_dev_q336_idx336): 'List the names of poker players ordered by the final tables made in ascending order.' (True DB: poker_player)

  DBs for Q:spider_dev_q336_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 338/1034 (ID: spider_dev_q337_idx337): 'How many official languages are spoken in Afghanistan?' (True DB: world_1)

  DBs for Q:spider_dev_q337_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 339/1034 (ID: spider_dev_q338_idx338): 'What are the names of the sections in reverse alphabetical order?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q338_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 340/1034 (ID: spider_dev_q339_idx339): 'Return the average earnings across all poker players.' (True DB: poker_player)

  DBs for Q:spider_dev_q339_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 341/1034 (ID: spider_dev_q340_idx340): 'What are the names, countries, and ages for every singer in descending order of age?' (True DB: concert_singer)

  DBs for Q:spider_dev_q340_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 342/1034 (ID: spider_dev_q341_idx341): 'What is the id of the pet owned by the student whose last name is 'Smith'?' (True DB: pets_1)

  DBs for Q:spider_dev_q341_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 343/1034 (ID: spider_dev_q342_idx342): 'Count the number of flights departing from 'APG'.' (True DB: flight_2)

  DBs for Q:spider_dev_q342_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 344/1034 (ID: spider_dev_q343_idx343): 'What are the names of the high schoolers and how many friends does each have?' (True DB: network_1)

  DBs for Q:spider_dev_q343_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 345/1034 (ID: spider_dev_q344_idx344): 'What is the minimum weight of the car with 8 cylinders produced in 1974 ?' (True DB: car_1)

  DBs for Q:spider_dev_q344_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 346/1034 (ID: spider_dev_q345_idx345): 'Return the first name, last name and email of the owners living in a state whose name contains the substring 'North'.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q345_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 347/1034 (ID: spider_dev_q346_idx346): 'How many continents speak Chinese?' (True DB: world_1)

  DBs for Q:spider_dev_q346_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 348/1034 (ID: spider_dev_q347_idx347): 'What are 3 most highly rated episodes in the TV series table and what were those ratings?' (True DB: tvshow)

  DBs for Q:spider_dev_q347_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 349/1034 (ID: spider_dev_q348_idx348): 'Show ids for all templates that are used by more than one document.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q348_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 350/1034 (ID: spider_dev_q349_idx349): 'How many transcripts are released?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q349_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 351/1034 (ID: spider_dev_q350_idx350): 'Which model of the car has the minimum horsepower?' (True DB: car_1)

  DBs for Q:spider_dev_q350_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 352/1034 (ID: spider_dev_q351_idx351): 'What are the arriving date and the departing date of the dogs who have gone through a treatment?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q351_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 353/1034 (ID: spider_dev_q352_idx352): 'What is total bonus given in all evaluations?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q352_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 354/1034 (ID: spider_dev_q353_idx353): 'What is the average, minimum, and maximum age of all singers from France?' (True DB: concert_singer)

  DBs for Q:spider_dev_q353_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 355/1034 (ID: spider_dev_q354_idx354): 'Which shop has the most employees? Give me the shop name.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q354_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 356/1034 (ID: spider_dev_q355_idx355): 'What are the names of conductors who have conducted at more than one orchestra?' (True DB: orchestra)

  DBs for Q:spider_dev_q355_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 357/1034 (ID: spider_dev_q356_idx356): 'Which professionals live in a city containing the substring 'West'? List his or her role, street, city and state.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q356_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 358/1034 (ID: spider_dev_q357_idx357): 'What is the horsepower of the car with the largest accelerate?' (True DB: car_1)

  DBs for Q:spider_dev_q357_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 359/1034 (ID: spider_dev_q358_idx358): 'What is the TV Channel that shows the cartoon "The Rise of the Blue Beetle!"? List the TV Channel's series name.' (True DB: tvshow)

  DBs for Q:spider_dev_q358_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 360/1034 (ID: spider_dev_q359_idx359): 'Find the average weight for each pet type.' (True DB: pets_1)

  DBs for Q:spider_dev_q359_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 361/1034 (ID: spider_dev_q360_idx360): 'What is the official language spoken in the country whose head of state is Beatrix?' (True DB: world_1)

  DBs for Q:spider_dev_q360_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 362/1034 (ID: spider_dev_q361_idx361): 'What is the total number of airlines?' (True DB: flight_2)

  DBs for Q:spider_dev_q361_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 363/1034 (ID: spider_dev_q362_idx362): 'List the contestant numbers and names, ordered by contestant name descending.' (True DB: voter_1)

  DBs for Q:spider_dev_q362_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 364/1034 (ID: spider_dev_q363_idx363): 'What is the name of the country with the most car makers?' (True DB: car_1)

  DBs for Q:spider_dev_q363_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 365/1034 (ID: spider_dev_q364_idx364): 'What is the maximum accelerate for all the different cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q364_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 366/1034 (ID: spider_dev_q365_idx365): 'What is the air date of TV series with Episode "A Love of a Lifetime"?' (True DB: tvshow)

  DBs for Q:spider_dev_q365_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 367/1034 (ID: spider_dev_q366_idx366): 'Give the name, population, and head of state for the country that has the largest area.' (True DB: world_1)

  DBs for Q:spider_dev_q366_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 368/1034 (ID: spider_dev_q367_idx367): 'find the id of tv channels that do not play any cartoon directed by Ben Jones.' (True DB: tvshow)

  DBs for Q:spider_dev_q367_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 369/1034 (ID: spider_dev_q368_idx368): 'What is the total population of Gelderland district?' (True DB: world_1)

  DBs for Q:spider_dev_q368_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 370/1034 (ID: spider_dev_q369_idx369): 'What are flight numbers of flights arriving at Airport "APG"?' (True DB: flight_2)

  DBs for Q:spider_dev_q369_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 371/1034 (ID: spider_dev_q370_idx370): 'Return the names of conductors that do not have the nationality "USA".' (True DB: orchestra)

  DBs for Q:spider_dev_q370_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 372/1034 (ID: spider_dev_q371_idx371): 'What are the names of nations speak both English and French?' (True DB: world_1)

  DBs for Q:spider_dev_q371_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 373/1034 (ID: spider_dev_q372_idx372): 'Give the name of the student with the most likes.' (True DB: network_1)

  DBs for Q:spider_dev_q372_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 374/1034 (ID: spider_dev_q373_idx373): 'Which languages are spoken by only one country in republic governments?' (True DB: world_1)

  DBs for Q:spider_dev_q373_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 375/1034 (ID: spider_dev_q374_idx374): 'How many states are there?' (True DB: voter_1)

  DBs for Q:spider_dev_q374_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 376/1034 (ID: spider_dev_q375_idx375): 'Which city has most number of departing flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q375_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 377/1034 (ID: spider_dev_q376_idx376): 'What are the first names of every student who has a cat or dog as a pet?' (True DB: pets_1)

  DBs for Q:spider_dev_q376_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 378/1034 (ID: spider_dev_q377_idx377): 'List the names of teachers in ascending order of age.' (True DB: course_teach)

  DBs for Q:spider_dev_q377_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 379/1034 (ID: spider_dev_q378_idx378): 'How many degrees does the engineering department offer?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q378_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 380/1034 (ID: spider_dev_q379_idx379): 'Return the owner id, first name and last name of the owner who has the most dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q379_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 381/1034 (ID: spider_dev_q380_idx380): 'Find the minimum grade of students who have no friends.' (True DB: network_1)

  DBs for Q:spider_dev_q380_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 382/1034 (ID: spider_dev_q381_idx381): 'How many flights does airline 'JetBlue Airways' have?' (True DB: flight_2)

  DBs for Q:spider_dev_q381_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 383/1034 (ID: spider_dev_q382_idx382): 'How many courses are there?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q382_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 384/1034 (ID: spider_dev_q383_idx383): 'Give the language that is spoken in the most countries.' (True DB: world_1)

  DBs for Q:spider_dev_q383_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 385/1034 (ID: spider_dev_q384_idx384): 'Find the number of owners who do not own any dogs at this moment.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q384_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 386/1034 (ID: spider_dev_q385_idx385): 'What is the birth date of the poker player with the lowest earnings?' (True DB: poker_player)

  DBs for Q:spider_dev_q385_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 387/1034 (ID: spider_dev_q386_idx386): 'Show different citizenship of singers and the number of singers of each citizenship.' (True DB: singer)

  DBs for Q:spider_dev_q386_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 388/1034 (ID: spider_dev_q387_idx387): 'Which cities are in European countries where English is not the official language?' (True DB: world_1)

  DBs for Q:spider_dev_q387_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 389/1034 (ID: spider_dev_q388_idx388): 'What is the smallest weight of the car produced with 8 cylinders on 1974 ?' (True DB: car_1)

  DBs for Q:spider_dev_q388_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 390/1034 (ID: spider_dev_q389_idx389): 'Which professionals live in the state of Indiana or have done treatment on more than 2 treatments? List his or her id, last name and cell phone.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q389_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 391/1034 (ID: spider_dev_q390_idx390): 'How many airlines are from USA?' (True DB: flight_2)

  DBs for Q:spider_dev_q390_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 392/1034 (ID: spider_dev_q391_idx391): 'Find the name and rank of the 3 youngest winners across all matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q391_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 393/1034 (ID: spider_dev_q392_idx392): 'What are the different government forms and what is the total population of each for government forms that have an average life expectancy greater than 72?' (True DB: world_1)

  DBs for Q:spider_dev_q392_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 394/1034 (ID: spider_dev_q393_idx393): 'What are the countries that are not playing cartoons written by Todd Casey?' (True DB: tvshow)

  DBs for Q:spider_dev_q393_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 395/1034 (ID: spider_dev_q394_idx394): 'Which professional did not operate any treatment on dogs? List the professional's id, role and email.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q394_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 396/1034 (ID: spider_dev_q395_idx395): 'Which grades have 4 or more high schoolers?' (True DB: network_1)

  DBs for Q:spider_dev_q395_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 397/1034 (ID: spider_dev_q396_idx396): 'List the final tables made and the best finishes of poker players.' (True DB: poker_player)

  DBs for Q:spider_dev_q396_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 398/1034 (ID: spider_dev_q397_idx397): 'What are the names of poker players?' (True DB: poker_player)

  DBs for Q:spider_dev_q397_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 399/1034 (ID: spider_dev_q398_idx398): 'Find the first name and country code of the oldest player.' (True DB: wta_1)

  DBs for Q:spider_dev_q398_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 400/1034 (ID: spider_dev_q399_idx399): 'What is the first, middle, and last name of the earliest school graduate?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q399_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 401/1034 (ID: spider_dev_q400_idx400): 'Return the ids of templates that have the code PP or PPT.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q400_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 402/1034 (ID: spider_dev_q401_idx401): 'List the name of singers whose citizenship is not "France".' (True DB: singer)

  DBs for Q:spider_dev_q401_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 403/1034 (ID: spider_dev_q402_idx402): 'Give average earnings of poker players who are taller than 200.' (True DB: poker_player)

  DBs for Q:spider_dev_q402_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 404/1034 (ID: spider_dev_q403_idx403): 'What are the first names of all players, and their average rankings?' (True DB: wta_1)

  DBs for Q:spider_dev_q403_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 405/1034 (ID: spider_dev_q404_idx404): 'How many players are from each country?' (True DB: wta_1)

  DBs for Q:spider_dev_q404_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 406/1034 (ID: spider_dev_q405_idx405): 'Find the names of the visitors whose membership level is higher than 4, and order the results by the level from high to low.' (True DB: museum_visit)

  DBs for Q:spider_dev_q405_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 407/1034 (ID: spider_dev_q406_idx406): 'Find the name and membership level of the visitors whose membership level is higher than 4, and sort by their age from old to young.' (True DB: museum_visit)

  DBs for Q:spider_dev_q406_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 408/1034 (ID: spider_dev_q407_idx407): 'Find the number of pets for each student who has any pet and student id.' (True DB: pets_1)

  DBs for Q:spider_dev_q407_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 409/1034 (ID: spider_dev_q408_idx408): 'What is the count of singers?' (True DB: singer)

  DBs for Q:spider_dev_q408_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 410/1034 (ID: spider_dev_q409_idx409): 'What are the create dates, states, and phone numbers of the votes that were for the contestant named 'Tabatha Gehling'?' (True DB: voter_1)

  DBs for Q:spider_dev_q409_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 411/1034 (ID: spider_dev_q410_idx410): 'How many different departments offer degrees?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q410_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 412/1034 (ID: spider_dev_q411_idx411): 'Give the airport code and airport name corresonding to the city Anthony.' (True DB: flight_2)

  DBs for Q:spider_dev_q411_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 413/1034 (ID: spider_dev_q412_idx412): 'What are the countries that have greater surface area than any country in Europe?' (True DB: world_1)

  DBs for Q:spider_dev_q412_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 414/1034 (ID: spider_dev_q413_idx413): 'What is the earliest date of a transcript release, and what details can you tell me?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q413_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 415/1034 (ID: spider_dev_q414_idx414): 'List the last name of the owner owning the youngest dog.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q414_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 416/1034 (ID: spider_dev_q415_idx415): 'Show the number of high schoolers for each grade.' (True DB: network_1)

  DBs for Q:spider_dev_q415_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 417/1034 (ID: spider_dev_q416_idx416): 'What are the names of high schoolers who have 3 or more friends?' (True DB: network_1)

  DBs for Q:spider_dev_q416_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 418/1034 (ID: spider_dev_q417_idx417): 'What is the full name of each car maker, along with its id and how many models it produces?' (True DB: car_1)

  DBs for Q:spider_dev_q417_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 419/1034 (ID: spider_dev_q418_idx418): 'What are the ids and names of each document, as well as the number of paragraphs in each?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q418_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 420/1034 (ID: spider_dev_q419_idx419): 'What is the department description for the one whose name has the word computer?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q419_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 421/1034 (ID: spider_dev_q420_idx420): 'How many ships ended up being 'Captured'?' (True DB: battle_death)

  DBs for Q:spider_dev_q420_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 422/1034 (ID: spider_dev_q421_idx421): 'How many different series and contents are listed in the TV Channel table?' (True DB: tvshow)

  DBs for Q:spider_dev_q421_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 423/1034 (ID: spider_dev_q422_idx422): 'Find the average number of staff working for the museums that were open before 2009.' (True DB: museum_visit)

  DBs for Q:spider_dev_q422_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 424/1034 (ID: spider_dev_q423_idx423): 'What is the abbreviation of the airilne has the fewest flights and what country is it in?' (True DB: flight_2)

  DBs for Q:spider_dev_q423_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 425/1034 (ID: spider_dev_q424_idx424): 'What is the name and directors of all the cartoons that are ordered by air date?' (True DB: tvshow)

  DBs for Q:spider_dev_q424_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 426/1034 (ID: spider_dev_q425_idx425): 'Give the flight numbers of flights arriving in Aberdeen.' (True DB: flight_2)

  DBs for Q:spider_dev_q425_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 427/1034 (ID: spider_dev_q426_idx426): 'What is the maximum mpg of the cars that had 8 cylinders or that were produced before 1980 ?' (True DB: car_1)

  DBs for Q:spider_dev_q426_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 428/1034 (ID: spider_dev_q427_idx427): 'Show the stadium name and the number of concerts in each stadium.' (True DB: concert_singer)

  DBs for Q:spider_dev_q427_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 429/1034 (ID: spider_dev_q428_idx428): 'Show all countries and the number of singers in each country.' (True DB: concert_singer)

  DBs for Q:spider_dev_q428_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 430/1034 (ID: spider_dev_q429_idx429): 'Which abbreviation corresponds to Jetblue Airways?' (True DB: flight_2)

  DBs for Q:spider_dev_q429_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 431/1034 (ID: spider_dev_q430_idx430): 'Give the mean life expectancy of countries in which English is not the official language.' (True DB: world_1)

  DBs for Q:spider_dev_q430_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 432/1034 (ID: spider_dev_q431_idx431): 'What is the document id with 1 to 2 paragraphs?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q431_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 433/1034 (ID: spider_dev_q432_idx432): 'How many departments offer any degree?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q432_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 434/1034 (ID: spider_dev_q433_idx433): 'What are the codes of the countries that do not speak English and whose government forms are not Republic?' (True DB: world_1)

  DBs for Q:spider_dev_q433_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 435/1034 (ID: spider_dev_q434_idx434): 'What language is predominantly spoken in Aruba?' (True DB: world_1)

  DBs for Q:spider_dev_q434_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 436/1034 (ID: spider_dev_q435_idx435): 'how many cars were produced in 1980?' (True DB: car_1)

  DBs for Q:spider_dev_q435_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 437/1034 (ID: spider_dev_q436_idx436): 'Show the years in which orchestras that have given more than one performance are founded.' (True DB: orchestra)

  DBs for Q:spider_dev_q436_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 438/1034 (ID: spider_dev_q437_idx437): 'Give the ids of documents that have between one and two paragraphs.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q437_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 439/1034 (ID: spider_dev_q438_idx438): 'How many employees are there?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q438_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 440/1034 (ID: spider_dev_q439_idx439): 'In which years cars were produced weighing no less than 3000 and no more than 4000 ?' (True DB: car_1)

  DBs for Q:spider_dev_q439_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 441/1034 (ID: spider_dev_q440_idx440): 'What is name of the country that speaks the largest number of languages?' (True DB: world_1)

  DBs for Q:spider_dev_q440_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 442/1034 (ID: spider_dev_q441_idx441): 'Show all template type codes and descriptions.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q441_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 443/1034 (ID: spider_dev_q442_idx442): 'Count the number of conductors.' (True DB: orchestra)

  DBs for Q:spider_dev_q442_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 444/1034 (ID: spider_dev_q443_idx443): 'What is the name of the semester with no students enrolled?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q443_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 445/1034 (ID: spider_dev_q444_idx444): 'What are the names and descriptions for all the sections?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q444_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 446/1034 (ID: spider_dev_q445_idx445): 'What are the names of the singers whose birth years are either 1948 or 1949?' (True DB: singer)

  DBs for Q:spider_dev_q445_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 447/1034 (ID: spider_dev_q446_idx446): 'How many dogs have an age below the average?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q446_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 448/1034 (ID: spider_dev_q447_idx447): 'How many different store locations are there?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q447_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 449/1034 (ID: spider_dev_q448_idx448): 'Find the number of visitors who did not visit any museum opened after 2010.' (True DB: museum_visit)

  DBs for Q:spider_dev_q448_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 450/1034 (ID: spider_dev_q449_idx449): 'List the name, date and result of each battle.' (True DB: battle_death)

  DBs for Q:spider_dev_q449_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 451/1034 (ID: spider_dev_q450_idx450): 'How much does the most expensive charge type costs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q450_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 452/1034 (ID: spider_dev_q451_idx451): 'List all song names by singers above the average age.' (True DB: concert_singer)

  DBs for Q:spider_dev_q451_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 453/1034 (ID: spider_dev_q452_idx452): 'Count the number of poker players.' (True DB: poker_player)

  DBs for Q:spider_dev_q452_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 454/1034 (ID: spider_dev_q453_idx453): 'For each singer name, what is the total sales for their songs?' (True DB: singer)

  DBs for Q:spider_dev_q453_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 455/1034 (ID: spider_dev_q454_idx454): 'When is the first transcript released? List the date and details.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q454_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 456/1034 (ID: spider_dev_q455_idx455): 'How many dogs have not gone through any treatment?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q455_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 457/1034 (ID: spider_dev_q456_idx456): 'For the cars with 4 cylinders, which model has the largest horsepower?' (True DB: car_1)

  DBs for Q:spider_dev_q456_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 458/1034 (ID: spider_dev_q457_idx457): 'What are the names of poker players whose earnings is higher than 300000?' (True DB: poker_player)

  DBs for Q:spider_dev_q457_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 459/1034 (ID: spider_dev_q458_idx458): 'How many distinct nationalities are there?' (True DB: poker_player)

  DBs for Q:spider_dev_q458_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 460/1034 (ID: spider_dev_q459_idx459): 'How many dogs went through any treatments?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q459_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 461/1034 (ID: spider_dev_q460_idx460): 'What is the first name of the student whose permanent address is different from his or her current one?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q460_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 462/1034 (ID: spider_dev_q461_idx461): 'find id of the tv channels that from the countries where have more than two tv channels.' (True DB: tvshow)

  DBs for Q:spider_dev_q461_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 463/1034 (ID: spider_dev_q462_idx462): 'How many distinct countries do players come from?' (True DB: wta_1)

  DBs for Q:spider_dev_q462_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 464/1034 (ID: spider_dev_q463_idx463): 'Give the flight numbers of flights landing at APG.' (True DB: flight_2)

  DBs for Q:spider_dev_q463_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 465/1034 (ID: spider_dev_q464_idx464): 'Count the number of templates.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q464_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 466/1034 (ID: spider_dev_q465_idx465): 'What is the code of airport that has fewest number of flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q465_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 467/1034 (ID: spider_dev_q466_idx466): 'List the first name of all the professionals along with the description of the treatment they have done.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q466_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 468/1034 (ID: spider_dev_q467_idx467): 'How many countries speak both English and Dutch?' (True DB: world_1)

  DBs for Q:spider_dev_q467_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 469/1034 (ID: spider_dev_q468_idx468): 'How many models does each car maker produce? List maker full name, id and the number.' (True DB: car_1)

  DBs for Q:spider_dev_q468_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 470/1034 (ID: spider_dev_q469_idx469): 'What are the first names of the students who live in Haiti permanently or have the cell phone number 09700166582 ?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q469_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 471/1034 (ID: spider_dev_q470_idx470): 'Count the number of paragraphs.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q470_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 472/1034 (ID: spider_dev_q471_idx471): 'What is the average horsepower for all cars produced before 1980 ?' (True DB: car_1)

  DBs for Q:spider_dev_q471_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 473/1034 (ID: spider_dev_q472_idx472): 'How many languages are spoken in Aruba?' (True DB: world_1)

  DBs for Q:spider_dev_q472_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 474/1034 (ID: spider_dev_q473_idx473): 'Find the name and age of the visitor who bought the most tickets at once.' (True DB: museum_visit)

  DBs for Q:spider_dev_q473_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 475/1034 (ID: spider_dev_q474_idx474): 'What are the name, independence year, and surface area of the country with the smallest population?' (True DB: world_1)

  DBs for Q:spider_dev_q474_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 476/1034 (ID: spider_dev_q475_idx475): 'Give the names of countries with English and French as official languages.' (True DB: world_1)

  DBs for Q:spider_dev_q475_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 477/1034 (ID: spider_dev_q476_idx476): 'Show all template type codes with less than three templates.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q476_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 478/1034 (ID: spider_dev_q477_idx477): 'What are the opening year and staff number of the museum named Plaza Museum?' (True DB: museum_visit)

  DBs for Q:spider_dev_q477_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 479/1034 (ID: spider_dev_q478_idx478): 'What is the first name, country code, and birth date of the player with the most winner rank points across all matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q478_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 480/1034 (ID: spider_dev_q479_idx479): 'Return the grade for the high schooler named Kyle.' (True DB: network_1)

  DBs for Q:spider_dev_q479_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 481/1034 (ID: spider_dev_q480_idx480): 'What are the names and descriptions of all the sections?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q480_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 482/1034 (ID: spider_dev_q481_idx481): 'What are the first names and birth dates of players from the USA?' (True DB: wta_1)

  DBs for Q:spider_dev_q481_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 483/1034 (ID: spider_dev_q482_idx482): 'Which model has the most version(make) of cars?' (True DB: car_1)

  DBs for Q:spider_dev_q482_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 484/1034 (ID: spider_dev_q483_idx483): 'Find the id and cell phone of the professionals who operate two or more types of treatments.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q483_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 485/1034 (ID: spider_dev_q484_idx484): 'Which airlines have at least 10 flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q484_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 486/1034 (ID: spider_dev_q485_idx485): 'What are the emails of the professionals living in either the state of Hawaii or the state of Wisconsin?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q485_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 487/1034 (ID: spider_dev_q486_idx486): 'What is the content of TV Channel with serial name "Sky Radio"?' (True DB: tvshow)

  DBs for Q:spider_dev_q486_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 488/1034 (ID: spider_dev_q487_idx487): 'Count the number of matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q487_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 489/1034 (ID: spider_dev_q488_idx488): 'What is the name of the different car makers who produced a car in 1970?' (True DB: car_1)

  DBs for Q:spider_dev_q488_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 490/1034 (ID: spider_dev_q489_idx489): 'What is the last transcript release date?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q489_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 491/1034 (ID: spider_dev_q490_idx490): 'What are the names of all European countries with at least 3 manufacturers?' (True DB: car_1)

  DBs for Q:spider_dev_q490_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 492/1034 (ID: spider_dev_q491_idx491): 'Find the number of flights landing in the city of Aberdeen or Abilene.' (True DB: flight_2)

  DBs for Q:spider_dev_q491_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 493/1034 (ID: spider_dev_q492_idx492): 'What are the average ages of losers and winners across matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q492_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 494/1034 (ID: spider_dev_q493_idx493): 'Find the city with the largest population that uses English.' (True DB: world_1)

  DBs for Q:spider_dev_q493_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 495/1034 (ID: spider_dev_q494_idx494): 'For each citizenship, how many singers are from that country?' (True DB: singer)

  DBs for Q:spider_dev_q494_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 496/1034 (ID: spider_dev_q495_idx495): 'What is the ship id and name that caused most total injuries?' (True DB: battle_death)

  DBs for Q:spider_dev_q495_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 497/1034 (ID: spider_dev_q496_idx496): 'What is the name of the winner with the most rank points who participated in the Australian Open tournament?' (True DB: wta_1)

  DBs for Q:spider_dev_q496_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 498/1034 (ID: spider_dev_q497_idx497): 'Give the names of poker players who have earnings above 300000.' (True DB: poker_player)

  DBs for Q:spider_dev_q497_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 499/1034 (ID: spider_dev_q498_idx498): 'List singer names and number of concerts for each singer.' (True DB: concert_singer)

  DBs for Q:spider_dev_q498_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 500/1034 (ID: spider_dev_q499_idx499): 'How many paragraphs for the document with name 'Summer Show'?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q499_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 501/1034 (ID: spider_dev_q500_idx500): 'Show the names of all high schoolers in grade 10.' (True DB: network_1)

  DBs for Q:spider_dev_q500_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 502/1034 (ID: spider_dev_q501_idx501): 'Which dogs are owned by someone who lives in Virginia? List the owner's first name and the dog's name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q501_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 503/1034 (ID: spider_dev_q502_idx502): 'Count the number of orchestras that have CD or DVD as their record format.' (True DB: orchestra)

  DBs for Q:spider_dev_q502_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 504/1034 (ID: spider_dev_q503_idx503): 'What are the names of the teachers and the courses they teach in ascending alphabetical order by the name of the teacher?' (True DB: course_teach)

  DBs for Q:spider_dev_q503_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 505/1034 (ID: spider_dev_q504_idx504): 'What is the total population and average area of countries in the continent of North America whose area is bigger than 3000 ?' (True DB: world_1)

  DBs for Q:spider_dev_q504_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 506/1034 (ID: spider_dev_q505_idx505): 'What are the name and results of the battles when the bulgarian commander is not 'Boril'' (True DB: battle_death)

  DBs for Q:spider_dev_q505_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 507/1034 (ID: spider_dev_q506_idx506): 'What are the ids of high school students who do not have friends?' (True DB: network_1)

  DBs for Q:spider_dev_q506_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 508/1034 (ID: spider_dev_q507_idx507): 'How many countries exist?' (True DB: car_1)

  DBs for Q:spider_dev_q507_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 509/1034 (ID: spider_dev_q508_idx508): 'List the name of singers in ascending order of net worth.' (True DB: singer)

  DBs for Q:spider_dev_q508_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 510/1034 (ID: spider_dev_q509_idx509): 'What are the names of conductors, ordered by age?' (True DB: orchestra)

  DBs for Q:spider_dev_q509_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 511/1034 (ID: spider_dev_q510_idx510): 'Which template type code has most number of templates?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q510_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 512/1034 (ID: spider_dev_q511_idx511): 'What is the episode for the TV series named "Sky Radio"?' (True DB: tvshow)

  DBs for Q:spider_dev_q511_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 513/1034 (ID: spider_dev_q512_idx512): 'Tell me the owner id and last name of the owner who spent the most on treatments of his or her dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q512_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 514/1034 (ID: spider_dev_q513_idx513): 'Show the ids of high schoolers who have friends and are also liked by someone else.' (True DB: network_1)

  DBs for Q:spider_dev_q513_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 515/1034 (ID: spider_dev_q514_idx514): 'How many flights do we have?' (True DB: flight_2)

  DBs for Q:spider_dev_q514_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 516/1034 (ID: spider_dev_q515_idx515): 'Find the weight of the youngest dog.' (True DB: pets_1)

  DBs for Q:spider_dev_q515_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 517/1034 (ID: spider_dev_q516_idx516): 'Which airline has abbreviation 'UAL'?' (True DB: flight_2)

  DBs for Q:spider_dev_q516_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 518/1034 (ID: spider_dev_q517_idx517): 'Find the total amount of bonus given in all the evaluations.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q517_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 519/1034 (ID: spider_dev_q518_idx518): 'What is minimum and maximum share of TV series?' (True DB: tvshow)

  DBs for Q:spider_dev_q518_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 520/1034 (ID: spider_dev_q519_idx519): 'Give the total surface area covered by countries in Asia or Europe.' (True DB: world_1)

  DBs for Q:spider_dev_q519_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 521/1034 (ID: spider_dev_q520_idx520): 'What are the arriving date and the departing date of all the dogs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q520_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 522/1034 (ID: spider_dev_q521_idx521): 'Give the name, year of independence, and surface area of the country that has the lowest population.' (True DB: world_1)

  DBs for Q:spider_dev_q521_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 523/1034 (ID: spider_dev_q522_idx522): 'Which countries have greater area than that of any country in Europe?' (True DB: world_1)

  DBs for Q:spider_dev_q522_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 524/1034 (ID: spider_dev_q523_idx523): 'Count the number of templates of the type CV.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q523_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 525/1034 (ID: spider_dev_q524_idx524): 'What is the model for the car with a weight smaller than the average?' (True DB: car_1)

  DBs for Q:spider_dev_q524_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 526/1034 (ID: spider_dev_q525_idx525): 'List the names of teachers who have not been arranged to teach courses.' (True DB: course_teach)

  DBs for Q:spider_dev_q525_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 527/1034 (ID: spider_dev_q526_idx526): 'What is the description for the section named h?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q526_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 528/1034 (ID: spider_dev_q527_idx527): 'Count the number of United Airlines flights arriving in ASY Airport.' (True DB: flight_2)

  DBs for Q:spider_dev_q527_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 529/1034 (ID: spider_dev_q528_idx528): 'What is the average expected life expectancy for countries in the region of Central Africa?' (True DB: world_1)

  DBs for Q:spider_dev_q528_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 530/1034 (ID: spider_dev_q529_idx529): 'List the most common hometown of teachers.' (True DB: course_teach)

  DBs for Q:spider_dev_q529_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 531/1034 (ID: spider_dev_q530_idx530): 'Count the number of documents that use the PPT template type.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q530_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 532/1034 (ID: spider_dev_q531_idx531): 'What is the airport code of the airport with the most flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q531_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 533/1034 (ID: spider_dev_q532_idx532): 'What are the maximum and minimum values of area codes?' (True DB: voter_1)

  DBs for Q:spider_dev_q532_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 534/1034 (ID: spider_dev_q533_idx533): 'What are the names of the people who teach math courses?' (True DB: course_teach)

  DBs for Q:spider_dev_q533_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 535/1034 (ID: spider_dev_q534_idx534): 'How many car models were produced by the maker with full name American Motor Company?' (True DB: car_1)

  DBs for Q:spider_dev_q534_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 536/1034 (ID: spider_dev_q535_idx535): 'Find the number of shops in each location.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q535_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 537/1034 (ID: spider_dev_q536_idx536): 'Give the names of countries that are in Europe and have a population equal to 80000.' (True DB: world_1)

  DBs for Q:spider_dev_q536_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 538/1034 (ID: spider_dev_q537_idx537): 'Return the different document ids along with the number of paragraphs corresponding to each, ordered by id.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q537_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 539/1034 (ID: spider_dev_q538_idx538): 'Give the number of Jetblue Airways flights.' (True DB: flight_2)

  DBs for Q:spider_dev_q538_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 540/1034 (ID: spider_dev_q539_idx539): 'What are the cities whose population is between 160000 and 900000?' (True DB: world_1)

  DBs for Q:spider_dev_q539_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 541/1034 (ID: spider_dev_q540_idx540): 'What are the names of conductors whose nationalities are not "USA"?' (True DB: orchestra)

  DBs for Q:spider_dev_q540_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 542/1034 (ID: spider_dev_q541_idx541): 'Return the number of United Airlines flights leaving from AHD Airport.' (True DB: flight_2)

  DBs for Q:spider_dev_q541_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 543/1034 (ID: spider_dev_q542_idx542): 'Which language is spoken by the largest number of countries?' (True DB: world_1)

  DBs for Q:spider_dev_q542_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 544/1034 (ID: spider_dev_q543_idx543): 'How many countries has more than 2 car makers ?' (True DB: car_1)

  DBs for Q:spider_dev_q543_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 545/1034 (ID: spider_dev_q544_idx544): 'find the package option of the tv channel that do not have any cartoon directed by Ben Jones.' (True DB: tvshow)

  DBs for Q:spider_dev_q544_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 546/1034 (ID: spider_dev_q545_idx545): 'What are flight numbers of Airline "United Airlines"?' (True DB: flight_2)

  DBs for Q:spider_dev_q545_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 547/1034 (ID: spider_dev_q546_idx546): 'What are airlines that have some flight departing from airport 'AHD'?' (True DB: flight_2)

  DBs for Q:spider_dev_q546_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 548/1034 (ID: spider_dev_q547_idx547): 'List the name of singers that do not have any song.' (True DB: singer)

  DBs for Q:spider_dev_q547_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 549/1034 (ID: spider_dev_q548_idx548): 'Which owner has paid for the most treatments on his or her dogs? List the owner id and last name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q548_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 550/1034 (ID: spider_dev_q549_idx549): 'What is the first and second line for all addresses?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q549_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 551/1034 (ID: spider_dev_q550_idx550): 'What is the id, line 1, and line 2 of the address with the most students?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q550_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 552/1034 (ID: spider_dev_q551_idx551): 'For all of the 4 cylinder cars, which model has the most horsepower?' (True DB: car_1)

  DBs for Q:spider_dev_q551_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 553/1034 (ID: spider_dev_q552_idx552): 'What are the locations and names of all stations with capacity between 5000 and 10000?' (True DB: concert_singer)

  DBs for Q:spider_dev_q552_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 554/1034 (ID: spider_dev_q553_idx553): 'How many different forms of governments are there in Africa?' (True DB: world_1)

  DBs for Q:spider_dev_q553_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 555/1034 (ID: spider_dev_q554_idx554): 'What is the pixel aspect ratio and country of origin for all TV channels that do not use English?' (True DB: tvshow)

  DBs for Q:spider_dev_q554_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 556/1034 (ID: spider_dev_q555_idx555): 'How many flights land in Aberdeen or Abilene?' (True DB: flight_2)

  DBs for Q:spider_dev_q555_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 557/1034 (ID: spider_dev_q556_idx556): 'Return the average attendance across all shows.' (True DB: orchestra)

  DBs for Q:spider_dev_q556_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 558/1034 (ID: spider_dev_q557_idx557): 'What are the names of all stadiums that did not have a concert in 2014?' (True DB: concert_singer)

  DBs for Q:spider_dev_q557_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 559/1034 (ID: spider_dev_q558_idx558): 'Find the number of cartoons directed by each of the listed directors.' (True DB: tvshow)

  DBs for Q:spider_dev_q558_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 560/1034 (ID: spider_dev_q559_idx559): 'Find the model of the car whose weight is below the average weight.' (True DB: car_1)

  DBs for Q:spider_dev_q559_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 561/1034 (ID: spider_dev_q560_idx560): 'What is the date and id of the transcript with the least number of results?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q560_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 562/1034 (ID: spider_dev_q561_idx561): 'Which city has the most frequent destination airport?' (True DB: flight_2)

  DBs for Q:spider_dev_q561_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 563/1034 (ID: spider_dev_q562_idx562): 'How many high schoolers are there in grade 9 or 10?' (True DB: network_1)

  DBs for Q:spider_dev_q562_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 564/1034 (ID: spider_dev_q563_idx563): 'What are the names of all the countries that became independent after 1950?' (True DB: world_1)

  DBs for Q:spider_dev_q563_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 565/1034 (ID: spider_dev_q564_idx564): 'What is Kyle's id?' (True DB: network_1)

  DBs for Q:spider_dev_q564_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 566/1034 (ID: spider_dev_q565_idx565): 'What are the different template type codes, and how many documents use each type?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q565_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 567/1034 (ID: spider_dev_q566_idx566): 'What are the names of the employees who never received any evaluation?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q566_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 568/1034 (ID: spider_dev_q567_idx567): 'Find the number of concerts happened in the stadium with the highest capacity .' (True DB: concert_singer)

  DBs for Q:spider_dev_q567_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 569/1034 (ID: spider_dev_q568_idx568): 'List the names of all winners who played in both 2013 and 2016.' (True DB: wta_1)

  DBs for Q:spider_dev_q568_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 570/1034 (ID: spider_dev_q569_idx569): 'What is maximum and minimum death toll caused each time?' (True DB: battle_death)

  DBs for Q:spider_dev_q569_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 571/1034 (ID: spider_dev_q570_idx570): 'How many players are there?' (True DB: wta_1)

  DBs for Q:spider_dev_q570_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 572/1034 (ID: spider_dev_q571_idx571): 'What are the different template type codes, and how many templates correspond to each?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q571_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 573/1034 (ID: spider_dev_q572_idx572): 'Which unique cities are in Asian countries where Chinese is the official language ?' (True DB: world_1)

  DBs for Q:spider_dev_q572_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 574/1034 (ID: spider_dev_q573_idx573): 'What are the id and names of the countries which have more than 3 car makers or produce the 'fiat' model?' (True DB: car_1)

  DBs for Q:spider_dev_q573_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 575/1034 (ID: spider_dev_q574_idx574): 'What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?' (True DB: concert_singer)

  DBs for Q:spider_dev_q574_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 576/1034 (ID: spider_dev_q575_idx575): 'Show name, country, age for all singers ordered by age from the oldest to the youngest.' (True DB: concert_singer)

  DBs for Q:spider_dev_q575_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 577/1034 (ID: spider_dev_q576_idx576): 'Return the names of all the poker players.' (True DB: poker_player)

  DBs for Q:spider_dev_q576_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 578/1034 (ID: spider_dev_q577_idx577): 'How many people live in Gelderland district?' (True DB: world_1)

  DBs for Q:spider_dev_q577_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 579/1034 (ID: spider_dev_q578_idx578): 'What is the total surface area of the countries in the Caribbean region?' (True DB: world_1)

  DBs for Q:spider_dev_q578_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 580/1034 (ID: spider_dev_q579_idx579): 'Return the names of the 3 most populated countries.' (True DB: world_1)

  DBs for Q:spider_dev_q579_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 581/1034 (ID: spider_dev_q580_idx580): 'Find the first name of students who have both cat and dog pets .' (True DB: pets_1)

  DBs for Q:spider_dev_q580_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 582/1034 (ID: spider_dev_q581_idx581): 'What is the language that is used by the largest number of Asian nations?' (True DB: world_1)

  DBs for Q:spider_dev_q581_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 583/1034 (ID: spider_dev_q582_idx582): 'What are all distinct countries where singers above age 20 are from?' (True DB: concert_singer)

  DBs for Q:spider_dev_q582_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 584/1034 (ID: spider_dev_q583_idx583): 'Which airlines have a flight with source airport AHD?' (True DB: flight_2)

  DBs for Q:spider_dev_q583_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 585/1034 (ID: spider_dev_q584_idx584): 'Find the names of employees who never won any award in the evaluation.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q584_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 586/1034 (ID: spider_dev_q585_idx585): 'Return the country codes for countries that do not speak English.' (True DB: world_1)

  DBs for Q:spider_dev_q585_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 587/1034 (ID: spider_dev_q586_idx586): 'Find the number of distinct name of losers.' (True DB: wta_1)

  DBs for Q:spider_dev_q586_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 588/1034 (ID: spider_dev_q587_idx587): 'Find the number of cities in each district whose population is greater than the average population of cities?' (True DB: world_1)

  DBs for Q:spider_dev_q587_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 589/1034 (ID: spider_dev_q588_idx588): 'How many friends does the high school student Kyle have?' (True DB: network_1)

  DBs for Q:spider_dev_q588_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 590/1034 (ID: spider_dev_q589_idx589): 'What are the manager name and district of the shop that sells the largest number of products?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q589_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 591/1034 (ID: spider_dev_q590_idx590): 'List all airline names and their abbreviations in "USA".' (True DB: flight_2)

  DBs for Q:spider_dev_q590_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 592/1034 (ID: spider_dev_q591_idx591): 'Sort all the shops by number products in descending order, and return the name, location and district of each shop.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q591_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 593/1034 (ID: spider_dev_q592_idx592): 'How many templates do we have?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q592_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 594/1034 (ID: spider_dev_q593_idx593): 'List the name and date the battle that has lost the ship named 'Lettice' and the ship named 'HMS Atalanta'' (True DB: battle_death)

  DBs for Q:spider_dev_q593_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 595/1034 (ID: spider_dev_q594_idx594): 'What are the different models wthat are lighter than 3500 but were not built by the Ford Motor Company?' (True DB: car_1)

  DBs for Q:spider_dev_q594_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 596/1034 (ID: spider_dev_q595_idx595): 'How many people are there of each nationality?' (True DB: poker_player)

  DBs for Q:spider_dev_q595_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 597/1034 (ID: spider_dev_q596_idx596): 'What is the average age of the dogs who have gone through any treatments?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q596_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 598/1034 (ID: spider_dev_q597_idx597): 'What is the zip code for Port Chelsea?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q597_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 599/1034 (ID: spider_dev_q598_idx598): 'Which region is the city Kabul located in?' (True DB: world_1)

  DBs for Q:spider_dev_q598_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 600/1034 (ID: spider_dev_q599_idx599): 'What is the series name and country of all TV channels that are playing cartoons directed by Ben Jones and cartoons directed by Michael Chang?' (True DB: tvshow)

  DBs for Q:spider_dev_q599_idx5:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 601/1034 (ID: spider_dev_q600_idx600): 'How many different degrees are offered?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q600_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 602/1034 (ID: spider_dev_q601_idx601): 'How many contestants did not get voted?' (True DB: voter_1)

  DBs for Q:spider_dev_q601_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 603/1034 (ID: spider_dev_q602_idx602): 'Show different hometown of teachers and the number of teachers from each hometown.' (True DB: course_teach)

  DBs for Q:spider_dev_q602_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 604/1034 (ID: spider_dev_q603_idx603): 'List the names of orchestras that have no performance.' (True DB: orchestra)

  DBs for Q:spider_dev_q603_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 605/1034 (ID: spider_dev_q604_idx604): 'What are the names of nations where both English and French are official languages?' (True DB: world_1)

  DBs for Q:spider_dev_q604_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 606/1034 (ID: spider_dev_q605_idx605): 'How many 'United Airlines' flights go to Airport 'ASY'?' (True DB: flight_2)

  DBs for Q:spider_dev_q605_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 607/1034 (ID: spider_dev_q606_idx606): 'How many flights depart from City Aberdeen?' (True DB: flight_2)

  DBs for Q:spider_dev_q606_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 608/1034 (ID: spider_dev_q607_idx607): 'How many different types of pet are there?' (True DB: pets_1)

  DBs for Q:spider_dev_q607_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 609/1034 (ID: spider_dev_q608_idx608): 'find the number of players for each country.' (True DB: wta_1)

  DBs for Q:spider_dev_q608_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 610/1034 (ID: spider_dev_q609_idx609): 'Find the codes of countries that have more than 50 players.' (True DB: wta_1)

  DBs for Q:spider_dev_q609_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 611/1034 (ID: spider_dev_q610_idx610): 'What are the names of all high schoolers in grade 10?' (True DB: network_1)

  DBs for Q:spider_dev_q610_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 612/1034 (ID: spider_dev_q611_idx611): 'What is the lowest grade of students who do not have any friends?' (True DB: network_1)

  DBs for Q:spider_dev_q611_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 613/1034 (ID: spider_dev_q612_idx612): 'Return the names and surface areas of the 5 largest countries.' (True DB: world_1)

  DBs for Q:spider_dev_q612_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 614/1034 (ID: spider_dev_q613_idx613): 'How many cities in each district have a population that is above the average population across all cities?' (True DB: world_1)

  DBs for Q:spider_dev_q613_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 615/1034 (ID: spider_dev_q614_idx614): 'Show distinct names of singers that have songs with sales more than 300000.' (True DB: singer)

  DBs for Q:spider_dev_q614_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 616/1034 (ID: spider_dev_q615_idx615): 'What are the ids of all tv channels that have more than 2 TV channels?' (True DB: tvshow)

  DBs for Q:spider_dev_q615_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 617/1034 (ID: spider_dev_q616_idx616): 'What are all the course names of the courses which ever have students enrolled in?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q616_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 618/1034 (ID: spider_dev_q617_idx617): 'What are the names of students who have 2 or more likes?' (True DB: network_1)

  DBs for Q:spider_dev_q617_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 619/1034 (ID: spider_dev_q618_idx618): 'For each continent, list its id, name, and how many countries it has?' (True DB: car_1)

  DBs for Q:spider_dev_q618_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 620/1034 (ID: spider_dev_q619_idx619): 'What is the total population and maximum GNP in Asia?' (True DB: world_1)

  DBs for Q:spider_dev_q619_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 621/1034 (ID: spider_dev_q620_idx620): 'How many professionals have performed any treatment to dogs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q620_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 622/1034 (ID: spider_dev_q621_idx621): 'Find the total number of matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q621_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 623/1034 (ID: spider_dev_q622_idx622): 'Find the name and rank points of the winner who won the most times.' (True DB: wta_1)

  DBs for Q:spider_dev_q622_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 624/1034 (ID: spider_dev_q623_idx623): 'What are the names of the dogs for which the owner has not spend more than 1000 for treatment ?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q623_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 625/1034 (ID: spider_dev_q624_idx624): 'What is the count of the car models produced in the United States?' (True DB: car_1)

  DBs for Q:spider_dev_q624_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 626/1034 (ID: spider_dev_q625_idx625): 'How many TV Channels use the English language?' (True DB: tvshow)

  DBs for Q:spider_dev_q625_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 627/1034 (ID: spider_dev_q626_idx626): 'What is the official language used in the country the name of whose head of state is Beatrix.' (True DB: world_1)

  DBs for Q:spider_dev_q626_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 628/1034 (ID: spider_dev_q627_idx627): 'Return the template type code of the template that is used by a document named Data base.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q627_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 629/1034 (ID: spider_dev_q628_idx628): 'What are the package options of all tv channels that are not playing any cartoons directed by Ben Jones?' (True DB: tvshow)

  DBs for Q:spider_dev_q628_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 630/1034 (ID: spider_dev_q629_idx629): 'How many people live in Asia, and what is the largest GNP among them?' (True DB: world_1)

  DBs for Q:spider_dev_q629_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 631/1034 (ID: spider_dev_q630_idx630): 'What are the number of votes from state 'NY' or 'CA'?' (True DB: voter_1)

  DBs for Q:spider_dev_q630_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 632/1034 (ID: spider_dev_q631_idx631): 'Who owns the youngest dog? Give me his or her last name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q631_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 633/1034 (ID: spider_dev_q632_idx632): 'Show all template type codes that are not used by any document.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q632_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 634/1034 (ID: spider_dev_q633_idx633): 'What is the average miles per gallon(mpg) of the cars with 4 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q633_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 635/1034 (ID: spider_dev_q634_idx634): 'What are  the different countries with singers above age 20?' (True DB: concert_singer)

  DBs for Q:spider_dev_q634_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 636/1034 (ID: spider_dev_q635_idx635): 'How many different winners both participated in the WTA Championships and were left handed?' (True DB: wta_1)

  DBs for Q:spider_dev_q635_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 637/1034 (ID: spider_dev_q636_idx636): 'What is the title of all the cartools that are on the TV Channel with the series name "Sky Radio"?' (True DB: tvshow)

  DBs for Q:spider_dev_q636_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 638/1034 (ID: spider_dev_q637_idx637): 'Which shops run with no employees? Find the shop names' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q637_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 639/1034 (ID: spider_dev_q638_idx638): 'What is the number of makers of care in France?' (True DB: car_1)

  DBs for Q:spider_dev_q638_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 640/1034 (ID: spider_dev_q639_idx639): 'What is the name of the breed with the most dogs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q639_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 641/1034 (ID: spider_dev_q640_idx640): 'What are the dog name, age and weight of the dogs that were abandoned? Note that 1 stands for yes, and 0 stands for no in the tables.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q640_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 642/1034 (ID: spider_dev_q641_idx641): 'What are the names and ids of all makers with more than 3 models?' (True DB: car_1)

  DBs for Q:spider_dev_q641_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 643/1034 (ID: spider_dev_q642_idx642): 'How many countries have a republic as their form of government?' (True DB: world_1)

  DBs for Q:spider_dev_q642_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 644/1034 (ID: spider_dev_q643_idx643): 'How many flights depart from City 'Aberdeen' and have destination City 'Ashley'?' (True DB: flight_2)

  DBs for Q:spider_dev_q643_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 645/1034 (ID: spider_dev_q644_idx644): 'What are the names of students who have no friends?' (True DB: network_1)

  DBs for Q:spider_dev_q644_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 646/1034 (ID: spider_dev_q645_idx645): 'What is last date created of votes from the state 'CA'?' (True DB: voter_1)

  DBs for Q:spider_dev_q645_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 647/1034 (ID: spider_dev_q646_idx646): 'Find the first name and country code of the player who did the most number of tours.' (True DB: wta_1)

  DBs for Q:spider_dev_q646_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 648/1034 (ID: spider_dev_q647_idx647): 'What are each owner's first name and their dogs's name?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q647_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 649/1034 (ID: spider_dev_q648_idx648): 'What is the produdction code and channel of the most recent cartoon ?' (True DB: tvshow)

  DBs for Q:spider_dev_q648_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 650/1034 (ID: spider_dev_q649_idx649): 'Count the number of documents.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q649_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 651/1034 (ID: spider_dev_q650_idx650): 'Show the name and the release year of the song by the youngest singer.' (True DB: concert_singer)

  DBs for Q:spider_dev_q650_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 652/1034 (ID: spider_dev_q651_idx651): 'Find the id and weight of all pets whose age is older than 1.' (True DB: pets_1)

  DBs for Q:spider_dev_q651_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 653/1034 (ID: spider_dev_q652_idx652): 'Show name of all students who have some friends and also are liked by someone else.' (True DB: network_1)

  DBs for Q:spider_dev_q652_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 654/1034 (ID: spider_dev_q653_idx653): 'What is the number of countries with more than 2 car makers ?' (True DB: car_1)

  DBs for Q:spider_dev_q653_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 655/1034 (ID: spider_dev_q654_idx654): 'Which employee received the biggest bonus? Give me the employee name.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q654_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 656/1034 (ID: spider_dev_q655_idx655): 'Find the series name and country of the tv channel that is playing some cartoons directed by Ben Jones and Michael Chang?' (True DB: tvshow)

  DBs for Q:spider_dev_q655_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 657/1034 (ID: spider_dev_q656_idx656): 'Count the number of United Airlines flights that arrive in Aberdeen.' (True DB: flight_2)

  DBs for Q:spider_dev_q656_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 658/1034 (ID: spider_dev_q657_idx657): 'What are the song titles and singer names?' (True DB: singer)

  DBs for Q:spider_dev_q657_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 659/1034 (ID: spider_dev_q658_idx658): 'Which airlines have departures from CVO but not from APG airports?' (True DB: flight_2)

  DBs for Q:spider_dev_q658_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 660/1034 (ID: spider_dev_q659_idx659): 'What are the country code and first name of the players who won in both tourney WTA Championships and Australian Open?' (True DB: wta_1)

  DBs for Q:spider_dev_q659_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 661/1034 (ID: spider_dev_q660_idx660): 'What are the orchestras that do not have any performances?' (True DB: orchestra)

  DBs for Q:spider_dev_q660_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 662/1034 (ID: spider_dev_q661_idx661): 'What are the codes of template types that have fewer than 3 templates?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q661_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 663/1034 (ID: spider_dev_q662_idx662): 'What are the names of the singers that have more than one songs?' (True DB: singer)

  DBs for Q:spider_dev_q662_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 664/1034 (ID: spider_dev_q663_idx663): 'Please show the record formats of orchestras in ascending order of count.' (True DB: orchestra)

  DBs for Q:spider_dev_q663_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 665/1034 (ID: spider_dev_q664_idx664): 'What are the names of high schoolers who have likes, and how many likes does each have?' (True DB: network_1)

  DBs for Q:spider_dev_q664_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 666/1034 (ID: spider_dev_q665_idx665): 'What is the average horsepower of the cars before 1980?' (True DB: car_1)

  DBs for Q:spider_dev_q665_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 667/1034 (ID: spider_dev_q666_idx666): 'What is the number of distinct languages used around the world?' (True DB: world_1)

  DBs for Q:spider_dev_q666_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 668/1034 (ID: spider_dev_q667_idx667): 'What airline serves the most flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q667_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 669/1034 (ID: spider_dev_q668_idx668): 'What are the maximum and minimum share of performances whose type is not "Live final".' (True DB: orchestra)

  DBs for Q:spider_dev_q668_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 670/1034 (ID: spider_dev_q669_idx669): 'List the name of the conductor with the most years of work.' (True DB: orchestra)

  DBs for Q:spider_dev_q669_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 671/1034 (ID: spider_dev_q670_idx670): 'Which district has both stores with less than 3000 products and stores with more than 10000 products?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q670_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 672/1034 (ID: spider_dev_q671_idx671): 'What is the money rank of the poker player with the highest earnings?' (True DB: poker_player)

  DBs for Q:spider_dev_q671_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 673/1034 (ID: spider_dev_q672_idx672): 'What are the distinct template type descriptions for the templates ever used by any document?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q672_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 674/1034 (ID: spider_dev_q673_idx673): 'Who are enrolled in 2 degree programs in one semester? List the first name, middle name and last name and the id.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q673_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 675/1034 (ID: spider_dev_q674_idx674): 'Give the country codes for countries in which people speak langauges that are not English.' (True DB: world_1)

  DBs for Q:spider_dev_q674_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 676/1034 (ID: spider_dev_q675_idx675): 'Find the average rank of winners in all matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q675_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 677/1034 (ID: spider_dev_q676_idx676): 'How many professionals did not operate any treatment on dogs?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q676_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 678/1034 (ID: spider_dev_q677_idx677): 'What is the template type descriptions for template type code "AD".' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q677_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 679/1034 (ID: spider_dev_q678_idx678): 'What is the weekly rank for the episode "A Love of a Lifetime"?' (True DB: tvshow)

  DBs for Q:spider_dev_q678_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 680/1034 (ID: spider_dev_q679_idx679): 'What are the ids of students who both have friends and are liked?' (True DB: network_1)

  DBs for Q:spider_dev_q679_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 681/1034 (ID: spider_dev_q680_idx680): 'Return the record companies of orchestras, sorted descending by the years in which they were founded.' (True DB: orchestra)

  DBs for Q:spider_dev_q680_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 682/1034 (ID: spider_dev_q681_idx681): 'For each language, list the number of TV Channels that use it.' (True DB: tvshow)

  DBs for Q:spider_dev_q681_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 683/1034 (ID: spider_dev_q682_idx682): 'Find the first name of the students who permanently live in the country Haiti or have the cell phone number 09700166582 .' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q682_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 684/1034 (ID: spider_dev_q683_idx683): 'Find the distinct breed type and size type combinations for dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q683_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 685/1034 (ID: spider_dev_q684_idx684): 'Which language is the most popular on the Asian continent?' (True DB: world_1)

  DBs for Q:spider_dev_q684_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 686/1034 (ID: spider_dev_q685_idx685): 'Count the number of flights into ATO.' (True DB: flight_2)

  DBs for Q:spider_dev_q685_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 687/1034 (ID: spider_dev_q686_idx686): 'How many official languages does Afghanistan have?' (True DB: world_1)

  DBs for Q:spider_dev_q686_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 688/1034 (ID: spider_dev_q687_idx687): 'How many flights fly from Aberdeen to Ashley?' (True DB: flight_2)

  DBs for Q:spider_dev_q687_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 689/1034 (ID: spider_dev_q688_idx688): 'Which city has most number of arriving flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q688_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 690/1034 (ID: spider_dev_q689_idx689): 'Among the cars that do not have the minimum horsepower , what are the make ids and names of all those with less than 4 cylinders ?' (True DB: car_1)

  DBs for Q:spider_dev_q689_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 691/1034 (ID: spider_dev_q690_idx690): 'What is the first name and country code of the player with the most tours?' (True DB: wta_1)

  DBs for Q:spider_dev_q690_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 692/1034 (ID: spider_dev_q691_idx691): 'Show different citizenships and the maximum net worth of singers of each citizenship.' (True DB: singer)

  DBs for Q:spider_dev_q691_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 693/1034 (ID: spider_dev_q692_idx692): 'What is the template type code for template type description "Book".' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q692_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 694/1034 (ID: spider_dev_q693_idx693): 'What are the paragraph texts for the document with the name 'Customer reviews'?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q693_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 695/1034 (ID: spider_dev_q694_idx694): 'Show the names of high schoolers who have likes, and numbers of likes for each.' (True DB: network_1)

  DBs for Q:spider_dev_q694_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 696/1034 (ID: spider_dev_q695_idx695): 'What grade is Kyle in?' (True DB: network_1)

  DBs for Q:spider_dev_q695_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 697/1034 (ID: spider_dev_q696_idx696): 'Show the names of high schoolers who have at least 3 friends.' (True DB: network_1)

  DBs for Q:spider_dev_q696_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 698/1034 (ID: spider_dev_q697_idx697): 'What is the name and capacity of the stadium with the most concerts after 2013 ?' (True DB: concert_singer)

  DBs for Q:spider_dev_q697_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 699/1034 (ID: spider_dev_q698_idx698): 'Return the number of airlines in the USA.' (True DB: flight_2)

  DBs for Q:spider_dev_q698_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 700/1034 (ID: spider_dev_q699_idx699): 'Find all airlines that have flights from airport 'CVO' but not from 'APG'.' (True DB: flight_2)

  DBs for Q:spider_dev_q699_idx6:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 701/1034 (ID: spider_dev_q700_idx700): 'Return the name, location and district of all shops in descending order of number of products.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q700_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 702/1034 (ID: spider_dev_q701_idx701): 'What other details can you tell me about students in reverse alphabetical order?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q701_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 703/1034 (ID: spider_dev_q702_idx702): 'Where is the youngest teacher from?' (True DB: course_teach)

  DBs for Q:spider_dev_q702_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 704/1034 (ID: spider_dev_q703_idx703): 'Which airline has most number of flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q703_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 705/1034 (ID: spider_dev_q704_idx704): 'Find the average age of the dogs who went through treatments.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q704_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 706/1034 (ID: spider_dev_q705_idx705): 'What is the average age of the visitors whose membership level is not higher than 4?' (True DB: museum_visit)

  DBs for Q:spider_dev_q705_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 707/1034 (ID: spider_dev_q706_idx706): 'Return the maximum and minimum shares for performances that do not have the type "Live final".' (True DB: orchestra)

  DBs for Q:spider_dev_q706_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 708/1034 (ID: spider_dev_q707_idx707): 'Give me the description of the treatment type whose total cost is the lowest.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q707_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 709/1034 (ID: spider_dev_q708_idx708): 'How many likes does Kyle have?' (True DB: network_1)

  DBs for Q:spider_dev_q708_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 710/1034 (ID: spider_dev_q709_idx709): 'Show me all grades that have at least 4 students.' (True DB: network_1)

  DBs for Q:spider_dev_q709_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 711/1034 (ID: spider_dev_q710_idx710): 'Give me Brazil’s population and life expectancies.' (True DB: world_1)

  DBs for Q:spider_dev_q710_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 712/1034 (ID: spider_dev_q711_idx711): 'What is the average GNP and total population in all nations whose government is US territory?' (True DB: world_1)

  DBs for Q:spider_dev_q711_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 713/1034 (ID: spider_dev_q712_idx712): 'Show all paragraph ids and texts for the document with name 'Welcome to NY'.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q712_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 714/1034 (ID: spider_dev_q713_idx713): 'What are the names of conductors as well as the corresonding orchestras that they have conducted?' (True DB: orchestra)

  DBs for Q:spider_dev_q713_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 715/1034 (ID: spider_dev_q714_idx714): 'What is the country with the most number of TV Channels and how many does it have?' (True DB: tvshow)

  DBs for Q:spider_dev_q714_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 716/1034 (ID: spider_dev_q715_idx715): 'What are the age and hometown of teachers?' (True DB: course_teach)

  DBs for Q:spider_dev_q715_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 717/1034 (ID: spider_dev_q716_idx716): 'Find the name of the shops that do not hire any employee.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q716_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 718/1034 (ID: spider_dev_q717_idx717): 'Which first names are used for professionals or owners but are not used as dog names?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q717_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 719/1034 (ID: spider_dev_q718_idx718): 'Count the number of dogs of an age below the average.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q718_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 720/1034 (ID: spider_dev_q719_idx719): 'What are the id, role, and first name of the professionals who have performed two or more treatments?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q719_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 721/1034 (ID: spider_dev_q720_idx720): 'How many times at most can a course enrollment result show in different transcripts? Also show the course enrollment id.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q720_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 722/1034 (ID: spider_dev_q721_idx721): 'Count the number of different nationalities of conductors.' (True DB: orchestra)

  DBs for Q:spider_dev_q721_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 723/1034 (ID: spider_dev_q722_idx722): 'How many flights arriving in Aberdeen city?' (True DB: flight_2)

  DBs for Q:spider_dev_q722_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 724/1034 (ID: spider_dev_q723_idx723): 'List the dog name, age and weight of the dogs who have been abandoned? 1 stands for yes, and 0 stands for no.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q723_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 725/1034 (ID: spider_dev_q724_idx724): 'What is the abbreviation of Airline "JetBlue Airways"?' (True DB: flight_2)

  DBs for Q:spider_dev_q724_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 726/1034 (ID: spider_dev_q725_idx725): 'What are the final tables made and best finishes for all poker players?' (True DB: poker_player)

  DBs for Q:spider_dev_q725_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 727/1034 (ID: spider_dev_q726_idx726): 'What are the names of cities in Europe for which English is not the official language?' (True DB: world_1)

  DBs for Q:spider_dev_q726_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 728/1034 (ID: spider_dev_q727_idx727): 'List the first and last name of all players who are left / L hand in the order of birth date.' (True DB: wta_1)

  DBs for Q:spider_dev_q727_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 729/1034 (ID: spider_dev_q728_idx728): 'How many likes correspond to each student id?' (True DB: network_1)

  DBs for Q:spider_dev_q728_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 730/1034 (ID: spider_dev_q729_idx729): 'How many templates have template type code CV?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q729_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 731/1034 (ID: spider_dev_q730_idx730): 'What the smallest version number and its template type code?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q730_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 732/1034 (ID: spider_dev_q731_idx731): 'What is the maximum number of final tables made among poker players with earnings less than 200000?' (True DB: poker_player)

  DBs for Q:spider_dev_q731_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 733/1034 (ID: spider_dev_q732_idx732): 'What is the name of the museum that had no visitor yet?' (True DB: museum_visit)

  DBs for Q:spider_dev_q732_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 734/1034 (ID: spider_dev_q733_idx733): 'Show names of teachers and the courses they are arranged to teach.' (True DB: course_teach)

  DBs for Q:spider_dev_q733_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 735/1034 (ID: spider_dev_q734_idx734): 'Which airports do not have departing or arriving flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q734_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 736/1034 (ID: spider_dev_q735_idx735): 'What are the names of the teachers ordered by ascending age?' (True DB: course_teach)

  DBs for Q:spider_dev_q735_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 737/1034 (ID: spider_dev_q736_idx736): 'What is the number of cars with more than 4 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q736_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 738/1034 (ID: spider_dev_q737_idx737): 'list all cartoon titles and their directors ordered by their air date' (True DB: tvshow)

  DBs for Q:spider_dev_q737_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 739/1034 (ID: spider_dev_q738_idx738): 'Return the id and name of the document with the most paragraphs.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q738_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 740/1034 (ID: spider_dev_q739_idx739): 'What is all the information about hiring?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q739_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 741/1034 (ID: spider_dev_q740_idx740): 'What are the earnings of poker players, ordered descending by value?' (True DB: poker_player)

  DBs for Q:spider_dev_q740_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 742/1034 (ID: spider_dev_q741_idx741): 'Find the number of employees hired in each shop; show the shop name as well.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q741_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 743/1034 (ID: spider_dev_q742_idx742): 'Show the names and grades of each high schooler.' (True DB: network_1)

  DBs for Q:spider_dev_q742_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 744/1034 (ID: spider_dev_q743_idx743): 'Show location and name for all stadiums with a capacity between 5000 and 10000.' (True DB: concert_singer)

  DBs for Q:spider_dev_q743_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 745/1034 (ID: spider_dev_q744_idx744): 'Which Asian countries have a population that is larger than any country in Africa?' (True DB: world_1)

  DBs for Q:spider_dev_q744_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 746/1034 (ID: spider_dev_q745_idx745): 'What is the total number of singers?' (True DB: concert_singer)

  DBs for Q:spider_dev_q745_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 747/1034 (ID: spider_dev_q746_idx746): 'In 1980, how many cars were made?' (True DB: car_1)

  DBs for Q:spider_dev_q746_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 748/1034 (ID: spider_dev_q747_idx747): 'Give the total population and average surface area corresponding to countries in North America that have a surface area greater than 3000 .' (True DB: world_1)

  DBs for Q:spider_dev_q747_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 749/1034 (ID: spider_dev_q748_idx748): 'List each charge type and its amount.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q748_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 750/1034 (ID: spider_dev_q749_idx749): 'Which owner has paid the largest amount of money in total for their dogs? Show the owner id and zip code.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q749_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 751/1034 (ID: spider_dev_q750_idx750): 'What are the ids for templates that are not used in any documents?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q750_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 752/1034 (ID: spider_dev_q751_idx751): 'What is the name of the singer with the largest net worth?' (True DB: singer)

  DBs for Q:spider_dev_q751_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 753/1034 (ID: spider_dev_q752_idx752): 'What is the maximum and minimum share for the TV series?' (True DB: tvshow)

  DBs for Q:spider_dev_q752_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 754/1034 (ID: spider_dev_q753_idx753): 'Which breed do the most dogs have? Give me the breed name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q753_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 755/1034 (ID: spider_dev_q754_idx754): 'What is the average weight and year for each year?' (True DB: car_1)

  DBs for Q:spider_dev_q754_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 756/1034 (ID: spider_dev_q755_idx755): 'What are the names of people who do not play poker?' (True DB: poker_player)

  DBs for Q:spider_dev_q755_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 757/1034 (ID: spider_dev_q756_idx756): 'What is the average and maximum capacities for all stadiums ?' (True DB: concert_singer)

  DBs for Q:spider_dev_q756_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 758/1034 (ID: spider_dev_q757_idx757): 'List the first and last name of all players in the order of birth date.' (True DB: wta_1)

  DBs for Q:spider_dev_q757_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 759/1034 (ID: spider_dev_q758_idx758): 'For each stadium, how many concerts play there?' (True DB: concert_singer)

  DBs for Q:spider_dev_q758_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 760/1034 (ID: spider_dev_q759_idx759): 'Show names of teachers and the courses they are arranged to teach in ascending alphabetical order of the teacher's name.' (True DB: course_teach)

  DBs for Q:spider_dev_q759_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 761/1034 (ID: spider_dev_q760_idx760): 'Show the stadium name and capacity with most number of concerts in year 2014 or after.' (True DB: concert_singer)

  DBs for Q:spider_dev_q760_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 762/1034 (ID: spider_dev_q761_idx761): 'What is the name of the course with the most students enrolled?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q761_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 763/1034 (ID: spider_dev_q762_idx762): 'Return the codes of countries that do not speak English and do not have Republics for governments.' (True DB: world_1)

  DBs for Q:spider_dev_q762_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 764/1034 (ID: spider_dev_q763_idx763): 'Return the name of the airport with code 'AKO'.' (True DB: flight_2)

  DBs for Q:spider_dev_q763_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 765/1034 (ID: spider_dev_q764_idx764): 'What are the notes of the death events which has substring 'East'?' (True DB: battle_death)

  DBs for Q:spider_dev_q764_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 766/1034 (ID: spider_dev_q765_idx765): 'What are the different first names and ages of the students who do have pets?' (True DB: pets_1)

  DBs for Q:spider_dev_q765_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 767/1034 (ID: spider_dev_q766_idx766): 'What is the mobile phone number of the student named Timmothy Ward ?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q766_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 768/1034 (ID: spider_dev_q767_idx767): 'What are the countries where either English or Dutch is the official language ?' (True DB: world_1)

  DBs for Q:spider_dev_q767_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 769/1034 (ID: spider_dev_q768_idx768): 'Which owners live in the state whose name contains the substring 'North'? List his first name, last name and email.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q768_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 770/1034 (ID: spider_dev_q769_idx769): 'What is the name and capacity for the stadium with highest average attendance?' (True DB: concert_singer)

  DBs for Q:spider_dev_q769_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 771/1034 (ID: spider_dev_q770_idx770): 'Find the semester when both Master students and Bachelor students got enrolled in.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q770_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 772/1034 (ID: spider_dev_q771_idx771): 'What are the number of concerts that occurred in the stadium with the largest capacity ?' (True DB: concert_singer)

  DBs for Q:spider_dev_q771_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 773/1034 (ID: spider_dev_q772_idx772): 'How many different addresses do the students currently live?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q772_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 774/1034 (ID: spider_dev_q773_idx773): 'Which department offers the most number of degrees? List department name and id.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q773_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 775/1034 (ID: spider_dev_q774_idx774): 'What are the ids of the TV channels that do not have any cartoons directed by Ben Jones?' (True DB: tvshow)

  DBs for Q:spider_dev_q774_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 776/1034 (ID: spider_dev_q775_idx775): 'What is the name of each continent and how many car makers are there in each one?' (True DB: car_1)

  DBs for Q:spider_dev_q775_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 777/1034 (ID: spider_dev_q776_idx776): 'Show the names of students who have at least 2 likes.' (True DB: network_1)

  DBs for Q:spider_dev_q776_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 778/1034 (ID: spider_dev_q777_idx777): 'Which of the countries has the most car makers? List the country name.' (True DB: car_1)

  DBs for Q:spider_dev_q777_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 779/1034 (ID: spider_dev_q778_idx778): 'What is the first name of every student who has a dog but does not have a cat?' (True DB: pets_1)

  DBs for Q:spider_dev_q778_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 780/1034 (ID: spider_dev_q779_idx779): 'Which models are lighter than 3500 but not built by the 'Ford Motor Company'?' (True DB: car_1)

  DBs for Q:spider_dev_q779_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 781/1034 (ID: spider_dev_q780_idx780): 'Give the code of the airport with the least flights.' (True DB: flight_2)

  DBs for Q:spider_dev_q780_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 782/1034 (ID: spider_dev_q781_idx781): 'Return the names of poker players sorted by their earnings descending.' (True DB: poker_player)

  DBs for Q:spider_dev_q781_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 783/1034 (ID: spider_dev_q782_idx782): 'Return the id of the document with the fewest paragraphs.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q782_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 784/1034 (ID: spider_dev_q783_idx783): 'What are the names of the countries that are in the continent of Europe and have a population of 80000?' (True DB: world_1)

  DBs for Q:spider_dev_q783_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 785/1034 (ID: spider_dev_q784_idx784): 'Which language is the most popular in Aruba?' (True DB: world_1)

  DBs for Q:spider_dev_q784_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 786/1034 (ID: spider_dev_q785_idx785): 'What is the id of the semester that had both Masters and Bachelors students enrolled?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q785_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 787/1034 (ID: spider_dev_q786_idx786): 'How many concerts occurred in 2014 or 2015?' (True DB: concert_singer)

  DBs for Q:spider_dev_q786_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 788/1034 (ID: spider_dev_q787_idx787): 'What country is Jetblue Airways affiliated with?' (True DB: flight_2)

  DBs for Q:spider_dev_q787_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 789/1034 (ID: spider_dev_q788_idx788): 'What is the Package Option of TV Channel with serial name "Sky Radio"?' (True DB: tvshow)

  DBs for Q:spider_dev_q788_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 790/1034 (ID: spider_dev_q789_idx789): 'What are the countries that have cartoons on TV that were written by Todd Casey?' (True DB: tvshow)

  DBs for Q:spider_dev_q789_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 791/1034 (ID: spider_dev_q790_idx790): 'List the language used least number of TV Channel. List language and number of TV Channel.' (True DB: tvshow)

  DBs for Q:spider_dev_q790_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 792/1034 (ID: spider_dev_q791_idx791): 'What are the names of the teachers whose courses have not been arranged?' (True DB: course_teach)

  DBs for Q:spider_dev_q791_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 793/1034 (ID: spider_dev_q792_idx792): 'Return the number of likes that the high schooler named Kyle has.' (True DB: network_1)

  DBs for Q:spider_dev_q792_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 794/1034 (ID: spider_dev_q793_idx793): 'List the airport code and name in the city of Anthony.' (True DB: flight_2)

  DBs for Q:spider_dev_q793_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 795/1034 (ID: spider_dev_q794_idx794): 'Find the name of tourney that has more than 10 matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q794_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 796/1034 (ID: spider_dev_q795_idx795): 'What region does Angola belong to and what is its population?' (True DB: world_1)

  DBs for Q:spider_dev_q795_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 797/1034 (ID: spider_dev_q796_idx796): 'What are the id, name and membership level of visitors who have spent the largest amount of money in total in all museum tickets?' (True DB: museum_visit)

  DBs for Q:spider_dev_q796_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 798/1034 (ID: spider_dev_q797_idx797): 'Find the government form name and total population for each government form whose average life expectancy is longer than 72.' (True DB: world_1)

  DBs for Q:spider_dev_q797_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 799/1034 (ID: spider_dev_q798_idx798): 'Return the names of friends of the high school student Kyle.' (True DB: network_1)

  DBs for Q:spider_dev_q798_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 800/1034 (ID: spider_dev_q799_idx799): 'Which countries in europe have at least 3 car manufacturers?' (True DB: car_1)

  DBs for Q:spider_dev_q799_idx7:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 801/1034 (ID: spider_dev_q800_idx800): 'What are the ids, version numbers, and type codes for each template?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q800_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 802/1034 (ID: spider_dev_q801_idx801): 'What are the names of the contestants whose names are not 'Jessie Alloway'' (True DB: voter_1)

  DBs for Q:spider_dev_q801_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 803/1034 (ID: spider_dev_q802_idx802): 'What are the names of high schoolers who both have friends and are liked?' (True DB: network_1)

  DBs for Q:spider_dev_q802_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 804/1034 (ID: spider_dev_q803_idx803): 'What is the airport name for airport 'AKO'?' (True DB: flight_2)

  DBs for Q:spider_dev_q803_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 805/1034 (ID: spider_dev_q804_idx804): 'Find the name of the winner who has the highest rank points and participated in the Australian Open tourney.' (True DB: wta_1)

  DBs for Q:spider_dev_q804_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 806/1034 (ID: spider_dev_q805_idx805): 'Which countries have either English or Dutch as an official language?' (True DB: world_1)

  DBs for Q:spider_dev_q805_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 807/1034 (ID: spider_dev_q806_idx806): 'How many car models are produced in the usa?' (True DB: car_1)

  DBs for Q:spider_dev_q806_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 808/1034 (ID: spider_dev_q807_idx807): 'What is the average, minimum, and maximum age for all French singers?' (True DB: concert_singer)

  DBs for Q:spider_dev_q807_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 809/1034 (ID: spider_dev_q808_idx808): 'What are the Asian countries which have a population larger than that of any country in Africa?' (True DB: world_1)

  DBs for Q:spider_dev_q808_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 810/1034 (ID: spider_dev_q809_idx809): 'How many countries does each continent have? List the continent id, continent name and the number of countries.' (True DB: car_1)

  DBs for Q:spider_dev_q809_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 811/1034 (ID: spider_dev_q810_idx810): 'What are the codes of countries with more than 50 players?' (True DB: wta_1)

  DBs for Q:spider_dev_q810_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 812/1034 (ID: spider_dev_q811_idx811): 'What are the names of the singers who are not French citizens?' (True DB: singer)

  DBs for Q:spider_dev_q811_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 813/1034 (ID: spider_dev_q812_idx812): 'Which professionals have done at least two treatments? List the professional's id, role, and first name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q812_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 814/1034 (ID: spider_dev_q813_idx813): 'Show the record companies shared by orchestras founded before 2003 and after 2003.' (True DB: orchestra)

  DBs for Q:spider_dev_q813_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 815/1034 (ID: spider_dev_q814_idx814): 'Find the number of distinct type of pets.' (True DB: pets_1)

  DBs for Q:spider_dev_q814_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 816/1034 (ID: spider_dev_q815_idx815): 'Find the cities that have more than one employee under age 30.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q815_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 817/1034 (ID: spider_dev_q816_idx816): 'What is the name of the high schooler who has the greatest number of likes?' (True DB: network_1)

  DBs for Q:spider_dev_q816_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 818/1034 (ID: spider_dev_q817_idx817): 'Show names of all high school students who do not have any friends.' (True DB: network_1)

  DBs for Q:spider_dev_q817_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 819/1034 (ID: spider_dev_q818_idx818): 'What languages are only used by a single country with a republic government?' (True DB: world_1)

  DBs for Q:spider_dev_q818_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 820/1034 (ID: spider_dev_q819_idx819): 'What is the average earnings of poker players with height higher than 200?' (True DB: poker_player)

  DBs for Q:spider_dev_q819_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 821/1034 (ID: spider_dev_q820_idx820): 'How much does the car accelerate that makes amc hornet sportabout (sw)?' (True DB: car_1)

  DBs for Q:spider_dev_q820_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 822/1034 (ID: spider_dev_q821_idx821): 'Show the date of the transcript which shows the least number of results, also list the id.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q821_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 823/1034 (ID: spider_dev_q822_idx822): 'How many documents are using the template with type code 'PPT'?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q822_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 824/1034 (ID: spider_dev_q823_idx823): 'Which model saves the most gasoline? That is to say, have the maximum miles per gallon.' (True DB: car_1)

  DBs for Q:spider_dev_q823_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 825/1034 (ID: spider_dev_q824_idx824): 'Find number of pets owned by students who are older than 20.' (True DB: pets_1)

  DBs for Q:spider_dev_q824_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 826/1034 (ID: spider_dev_q825_idx825): 'What are the students' first names who have both cats and dogs as pets?' (True DB: pets_1)

  DBs for Q:spider_dev_q825_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 827/1034 (ID: spider_dev_q826_idx826): 'Please show the different record companies and the corresponding number of orchestras.' (True DB: orchestra)

  DBs for Q:spider_dev_q826_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 828/1034 (ID: spider_dev_q827_idx827): 'Count the number of paragraphs in the document named 'Summer Show'.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q827_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 829/1034 (ID: spider_dev_q828_idx828): 'What are the distinct battle names which are between bulgarian commander 'Kaloyan' and latin commander 'Baldwin I'?' (True DB: battle_death)

  DBs for Q:spider_dev_q828_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 830/1034 (ID: spider_dev_q829_idx829): 'What is the age and hometown of every teacher?' (True DB: course_teach)

  DBs for Q:spider_dev_q829_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 831/1034 (ID: spider_dev_q830_idx830): 'What is the car model with the highest mpg ?' (True DB: car_1)

  DBs for Q:spider_dev_q830_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 832/1034 (ID: spider_dev_q831_idx831): 'Show all paragraph texts for the document "Customer reviews".' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q831_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 833/1034 (ID: spider_dev_q832_idx832): 'What are airlines that have flights arriving at airport 'AHD'?' (True DB: flight_2)

  DBs for Q:spider_dev_q832_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 834/1034 (ID: spider_dev_q833_idx833): 'What are the ids and names of the battles that led to more than 10 people killed in total.' (True DB: battle_death)

  DBs for Q:spider_dev_q833_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 835/1034 (ID: spider_dev_q834_idx834): 'How many cars have more than 4 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q834_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 836/1034 (ID: spider_dev_q835_idx835): 'What is the feature type name of feature AirCon?' (True DB: real_estate_properties)

  DBs for Q:spider_dev_q835_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 837/1034 (ID: spider_dev_q836_idx836): 'How many type of governments are in Africa?' (True DB: world_1)

  DBs for Q:spider_dev_q836_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 838/1034 (ID: spider_dev_q837_idx837): 'Find the id of the pet owned by student whose last name is ‘Smith’.' (True DB: pets_1)

  DBs for Q:spider_dev_q837_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 839/1034 (ID: spider_dev_q838_idx838): 'Find all airlines that have at least 10 flights.' (True DB: flight_2)

  DBs for Q:spider_dev_q838_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 840/1034 (ID: spider_dev_q839_idx839): 'Which dogs are of the rarest breed? Show their names and treatment dates.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q839_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 841/1034 (ID: spider_dev_q840_idx840): 'How many singers do we have?' (True DB: concert_singer)

  DBs for Q:spider_dev_q840_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 842/1034 (ID: spider_dev_q841_idx841): 'What are the makers and models?' (True DB: car_1)

  DBs for Q:spider_dev_q841_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 843/1034 (ID: spider_dev_q842_idx842): 'Find the total number of tours for each ranking date.' (True DB: wta_1)

  DBs for Q:spider_dev_q842_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 844/1034 (ID: spider_dev_q843_idx843): 'How many degrees does the engineering department have?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q843_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 845/1034 (ID: spider_dev_q844_idx844): 'What are the names of people who are not from Russia?' (True DB: poker_player)

  DBs for Q:spider_dev_q844_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 846/1034 (ID: spider_dev_q845_idx845): 'How many transcripts are listed?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q845_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 847/1034 (ID: spider_dev_q846_idx846): 'Find the first name, country code and birth date of the winner who has the highest rank points in all matches.' (True DB: wta_1)

  DBs for Q:spider_dev_q846_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 848/1034 (ID: spider_dev_q847_idx847): 'find the minimum and maximum number of products of all stores.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q847_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 849/1034 (ID: spider_dev_q848_idx848): 'How many pets have a greater weight than 10?' (True DB: pets_1)

  DBs for Q:spider_dev_q848_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 850/1034 (ID: spider_dev_q849_idx849): 'Show names of teachers that teach at least two courses.' (True DB: course_teach)

  DBs for Q:spider_dev_q849_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 851/1034 (ID: spider_dev_q850_idx850): 'What are the different ids and names of the battles that lost any 'Brig' type shipes?' (True DB: battle_death)

  DBs for Q:spider_dev_q850_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 852/1034 (ID: spider_dev_q851_idx851): 'Give the names of the nations that were founded after 1950.' (True DB: world_1)

  DBs for Q:spider_dev_q851_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 853/1034 (ID: spider_dev_q852_idx852): 'What are the full names of all left handed players, in order of birth date?' (True DB: wta_1)

  DBs for Q:spider_dev_q852_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 854/1034 (ID: spider_dev_q853_idx853): 'What are the region and population of Angola?' (True DB: world_1)

  DBs for Q:spider_dev_q853_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 855/1034 (ID: spider_dev_q854_idx854): 'How many cars has over 6 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q854_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 856/1034 (ID: spider_dev_q855_idx855): 'What is the first, middle, and last name, along with the id and number of enrollments, for the student who enrolled the most in any program?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q855_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 857/1034 (ID: spider_dev_q856_idx856): 'What are the names and grades for each high schooler?' (True DB: network_1)

  DBs for Q:spider_dev_q856_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 858/1034 (ID: spider_dev_q857_idx857): 'What are flight numbers of flights arriving at City "Aberdeen"?' (True DB: flight_2)

  DBs for Q:spider_dev_q857_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 859/1034 (ID: spider_dev_q858_idx858): 'Show countries where a singer above age 40 and a singer below 30 are from.' (True DB: concert_singer)

  DBs for Q:spider_dev_q858_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 860/1034 (ID: spider_dev_q859_idx859): 'What are the names of the nations with the 3 lowest populations?' (True DB: world_1)

  DBs for Q:spider_dev_q859_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 861/1034 (ID: spider_dev_q860_idx860): 'What is the document name and template id for document with description with the letter 'w' in it?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q860_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 862/1034 (ID: spider_dev_q861_idx861): 'How many teachers are there?' (True DB: course_teach)

  DBs for Q:spider_dev_q861_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 863/1034 (ID: spider_dev_q862_idx862): 'How much does the most recent treatment cost?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q862_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 864/1034 (ID: spider_dev_q863_idx863): 'List all cartoon directed by "Ben Jones".' (True DB: tvshow)

  DBs for Q:spider_dev_q863_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 865/1034 (ID: spider_dev_q864_idx864): 'Show the names of all of the high schooler Kyle's friends.' (True DB: network_1)

  DBs for Q:spider_dev_q864_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 866/1034 (ID: spider_dev_q865_idx865): 'What is the maximum capacity and the average of all stadiums ?' (True DB: concert_singer)

  DBs for Q:spider_dev_q865_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 867/1034 (ID: spider_dev_q866_idx866): 'What is the content of the series Sky Radio?' (True DB: tvshow)

  DBs for Q:spider_dev_q866_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 868/1034 (ID: spider_dev_q867_idx867): 'What are the names of the singers who performed in a concert in 2014?' (True DB: concert_singer)

  DBs for Q:spider_dev_q867_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 869/1034 (ID: spider_dev_q868_idx868): 'How many flights have destination ATO?' (True DB: flight_2)

  DBs for Q:spider_dev_q868_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 870/1034 (ID: spider_dev_q869_idx869): 'Which employee received the most awards in evaluations? Give me the employee name.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q869_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 871/1034 (ID: spider_dev_q870_idx870): 'What are the major record formats of orchestras, sorted by their frequency?' (True DB: orchestra)

  DBs for Q:spider_dev_q870_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 872/1034 (ID: spider_dev_q871_idx871): 'What are the ids of documents that contain the paragraph text 'Brazil' and 'Ireland'?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q871_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 873/1034 (ID: spider_dev_q872_idx872): 'Return the type code of the template type that the most templates belong to.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q872_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 874/1034 (ID: spider_dev_q873_idx873): 'Give the name of the nation that uses the greatest amount of languages.' (True DB: world_1)

  DBs for Q:spider_dev_q873_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 875/1034 (ID: spider_dev_q874_idx874): 'How many paragraphs in total?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q874_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 876/1034 (ID: spider_dev_q875_idx875): 'Return the code of the template type that is most commonly used in documents.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q875_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 877/1034 (ID: spider_dev_q876_idx876): 'What is the year that had the most concerts?' (True DB: concert_singer)

  DBs for Q:spider_dev_q876_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 878/1034 (ID: spider_dev_q877_idx877): 'What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?' (True DB: concert_singer)

  DBs for Q:spider_dev_q877_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 879/1034 (ID: spider_dev_q878_idx878): 'What is the area code in which the most voters voted?' (True DB: voter_1)

  DBs for Q:spider_dev_q878_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 880/1034 (ID: spider_dev_q879_idx879): 'Show names, results and bulgarian commanders of the battles with no ships lost in the 'English Channel'.' (True DB: battle_death)

  DBs for Q:spider_dev_q879_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 881/1034 (ID: spider_dev_q880_idx880): 'What is the number of cars with a horsepower greater than 150?' (True DB: car_1)

  DBs for Q:spider_dev_q880_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 882/1034 (ID: spider_dev_q881_idx881): 'What are the cost and treatment type description of each treatment?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q881_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 883/1034 (ID: spider_dev_q882_idx882): 'What are the ids and makers of all car makers that produce at least 2 models and make more than 3 cars?' (True DB: car_1)

  DBs for Q:spider_dev_q882_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 884/1034 (ID: spider_dev_q883_idx883): 'How many different nationalities do conductors have?' (True DB: orchestra)

  DBs for Q:spider_dev_q883_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 885/1034 (ID: spider_dev_q884_idx884): 'Return the codes of countries for which Spanish is the predominantly spoken language.' (True DB: world_1)

  DBs for Q:spider_dev_q884_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 886/1034 (ID: spider_dev_q885_idx885): 'Count the number of different templates used for documents.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q885_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 887/1034 (ID: spider_dev_q886_idx886): 'What are the different continents and the total popuation and average life expectancy corresponding to each, for continents that have an average life expectancy less than 72?' (True DB: world_1)

  DBs for Q:spider_dev_q886_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 888/1034 (ID: spider_dev_q887_idx887): 'Find the total ranking points for each player and their first name.' (True DB: wta_1)

  DBs for Q:spider_dev_q887_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 889/1034 (ID: spider_dev_q888_idx888): 'How long is the people’s average life expectancy in Central Africa?' (True DB: world_1)

  DBs for Q:spider_dev_q888_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 890/1034 (ID: spider_dev_q889_idx889): 'Find the last name of the students who currently live in the state of North Carolina but have not registered in any degree program.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q889_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 891/1034 (ID: spider_dev_q890_idx890): 'List the cost of each treatment and the corresponding treatment type description.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q890_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 892/1034 (ID: spider_dev_q891_idx891): 'How many high schoolers are in each grade?' (True DB: network_1)

  DBs for Q:spider_dev_q891_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 893/1034 (ID: spider_dev_q892_idx892): 'What are the ids and texts of paragraphs in the document titled 'Welcome to NY'?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q892_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 894/1034 (ID: spider_dev_q893_idx893): 'For each citizenship, what is the maximum net worth?' (True DB: singer)

  DBs for Q:spider_dev_q893_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 895/1034 (ID: spider_dev_q894_idx894): 'What is the average edispl of the cars of model volvo?' (True DB: car_1)

  DBs for Q:spider_dev_q894_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 896/1034 (ID: spider_dev_q895_idx895): 'How many different degree names are offered?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q895_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 897/1034 (ID: spider_dev_q896_idx896): 'Show the name of singers whose birth year is either 1948 or 1949?' (True DB: singer)

  DBs for Q:spider_dev_q896_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 898/1034 (ID: spider_dev_q897_idx897): 'Which airlines have less than 200 flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q897_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 899/1034 (ID: spider_dev_q898_idx898): 'How many singers are there?' (True DB: singer)

  DBs for Q:spider_dev_q898_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 900/1034 (ID: spider_dev_q899_idx899): 'What are the names of properties that are either houses or apartments with more than 1 room?' (True DB: real_estate_properties)

  DBs for Q:spider_dev_q899_idx8:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 901/1034 (ID: spider_dev_q900_idx900): 'What are the type codes and descriptions for all template types?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q900_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 902/1034 (ID: spider_dev_q901_idx901): 'What is the total count of teachers?' (True DB: course_teach)

  DBs for Q:spider_dev_q901_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 903/1034 (ID: spider_dev_q902_idx902): 'What are the names of conductors, sorted descending by the number of years they have worked?' (True DB: orchestra)

  DBs for Q:spider_dev_q902_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 904/1034 (ID: spider_dev_q903_idx903): 'Find the number of left handed winners who participated in the WTA Championships.' (True DB: wta_1)

  DBs for Q:spider_dev_q903_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 905/1034 (ID: spider_dev_q904_idx904): 'Return the ids corresponding to templates with the description 'Presentation'.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q904_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 906/1034 (ID: spider_dev_q905_idx905): 'What region is Kabul in?' (True DB: world_1)

  DBs for Q:spider_dev_q905_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 907/1034 (ID: spider_dev_q906_idx906): 'Show all document ids, names and the number of paragraphs in each document.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q906_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 908/1034 (ID: spider_dev_q907_idx907): 'What is the best rank of losers across all matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q907_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 909/1034 (ID: spider_dev_q908_idx908): 'How many airports do we have?' (True DB: flight_2)

  DBs for Q:spider_dev_q908_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 910/1034 (ID: spider_dev_q909_idx909): 'What are the ids of templates with template type code PP or PPT?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q909_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 911/1034 (ID: spider_dev_q910_idx910): 'How many visitors below age 30 are there?' (True DB: museum_visit)

  DBs for Q:spider_dev_q910_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 912/1034 (ID: spider_dev_q911_idx911): 'Show the name and theme for all concerts and the number of singers in each concert.' (True DB: concert_singer)

  DBs for Q:spider_dev_q911_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 913/1034 (ID: spider_dev_q912_idx912): 'List the maximum weight and type for each type of pet.' (True DB: pets_1)

  DBs for Q:spider_dev_q912_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 914/1034 (ID: spider_dev_q913_idx913): 'Return the name of the high school student with the most friends.' (True DB: network_1)

  DBs for Q:spider_dev_q913_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 915/1034 (ID: spider_dev_q914_idx914): 'What is the most populace city that speaks English?' (True DB: world_1)

  DBs for Q:spider_dev_q914_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 916/1034 (ID: spider_dev_q915_idx915): 'Give the city and country for the Alton airport.' (True DB: flight_2)

  DBs for Q:spider_dev_q915_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 917/1034 (ID: spider_dev_q916_idx916): 'List the names of people that are not poker players.' (True DB: poker_player)

  DBs for Q:spider_dev_q916_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 918/1034 (ID: spider_dev_q917_idx917): 'Return the document id, template id, and description for the document with the name Robbin CV.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q917_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 919/1034 (ID: spider_dev_q918_idx918): 'Show names of people whose nationality is not "Russia".' (True DB: poker_player)

  DBs for Q:spider_dev_q918_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 920/1034 (ID: spider_dev_q919_idx919): 'How much does the youngest dog weigh?' (True DB: pets_1)

  DBs for Q:spider_dev_q919_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 921/1034 (ID: spider_dev_q920_idx920): 'What are the template ids with template type description "Presentation".' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q920_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 922/1034 (ID: spider_dev_q921_idx921): 'Find the arriving date and the departing date of the dogs that received a treatment.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q921_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 923/1034 (ID: spider_dev_q922_idx922): 'What is the description of the treatment type that costs the least money in total?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q922_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 924/1034 (ID: spider_dev_q923_idx923): 'What are the id and name of the museum visited most times?' (True DB: museum_visit)

  DBs for Q:spider_dev_q923_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 925/1034 (ID: spider_dev_q924_idx924): 'Return the birth date of the poker player with the lowest earnings.' (True DB: poker_player)

  DBs for Q:spider_dev_q924_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 926/1034 (ID: spider_dev_q925_idx925): 'What are the record companies of orchestras in descending order of years in which they were founded?' (True DB: orchestra)

  DBs for Q:spider_dev_q925_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 927/1034 (ID: spider_dev_q926_idx926): 'What are the record companies that are used by both orchestras founded before 2003 and those founded after 2003?' (True DB: orchestra)

  DBs for Q:spider_dev_q926_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 928/1034 (ID: spider_dev_q927_idx927): 'Which owner owns the most dogs? List the owner id, first name and last name.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q927_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 929/1034 (ID: spider_dev_q928_idx928): 'What are the package options and the name of the series for the TV Channel that supports high definition TV?' (True DB: tvshow)

  DBs for Q:spider_dev_q928_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 930/1034 (ID: spider_dev_q929_idx929): 'How many countries are listed?' (True DB: car_1)

  DBs for Q:spider_dev_q929_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 931/1034 (ID: spider_dev_q930_idx930): 'Find the name, population and expected life length of asian country with the largest area?' (True DB: world_1)

  DBs for Q:spider_dev_q930_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 932/1034 (ID: spider_dev_q931_idx931): 'How many players are there for each hand type?' (True DB: wta_1)

  DBs for Q:spider_dev_q931_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 933/1034 (ID: spider_dev_q932_idx932): 'What is the maximum miles per gallon of the car with 8 cylinders or produced before 1980 ?' (True DB: car_1)

  DBs for Q:spider_dev_q932_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 934/1034 (ID: spider_dev_q933_idx933): 'Show the ID of the high schooler named Kyle.' (True DB: network_1)

  DBs for Q:spider_dev_q933_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 935/1034 (ID: spider_dev_q934_idx934): 'What is the name of the singer who is worth the most?' (True DB: singer)

  DBs for Q:spider_dev_q934_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 936/1034 (ID: spider_dev_q935_idx935): 'What type of pet is the youngest animal, and how much does it weigh?' (True DB: pets_1)

  DBs for Q:spider_dev_q935_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 937/1034 (ID: spider_dev_q936_idx936): 'What are the names of the stadiums without any concerts?' (True DB: concert_singer)

  DBs for Q:spider_dev_q936_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 938/1034 (ID: spider_dev_q937_idx937): 'What is the age of the oldest dog?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q937_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 939/1034 (ID: spider_dev_q938_idx938): 'how many countries are in Asia?' (True DB: world_1)

  DBs for Q:spider_dev_q938_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 940/1034 (ID: spider_dev_q939_idx939): 'What is the total number of countries where Spanish is spoken by the largest percentage of people?' (True DB: world_1)

  DBs for Q:spider_dev_q939_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 941/1034 (ID: spider_dev_q940_idx940): 'Return the nationalities for which there are two or more people.' (True DB: poker_player)

  DBs for Q:spider_dev_q940_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 942/1034 (ID: spider_dev_q941_idx941): 'Show the date and id of the transcript with at least 2 course results.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q941_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 943/1034 (ID: spider_dev_q942_idx942): 'Find the maximum weight for each type of pet. List the maximum weight and pet type.' (True DB: pets_1)

  DBs for Q:spider_dev_q942_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 944/1034 (ID: spider_dev_q943_idx943): 'What is the total number of people living in the nations that do not use English?' (True DB: world_1)

  DBs for Q:spider_dev_q943_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 945/1034 (ID: spider_dev_q944_idx944): 'Count the number of high schoolers in grades 9 or 10.' (True DB: network_1)

  DBs for Q:spider_dev_q944_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 946/1034 (ID: spider_dev_q945_idx945): 'Which African countries have a smaller population than that of any country in Asia?' (True DB: world_1)

  DBs for Q:spider_dev_q945_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 947/1034 (ID: spider_dev_q946_idx946): 'What are the different years in which there were cars produced that weighed less than 4000 and also cars that weighted more than 3000 ?' (True DB: car_1)

  DBs for Q:spider_dev_q946_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 948/1034 (ID: spider_dev_q947_idx947): 'What are the towns from which at least two teachers come from?' (True DB: course_teach)

  DBs for Q:spider_dev_q947_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 949/1034 (ID: spider_dev_q948_idx948): 'Return the grade that has the greatest number of high schoolers.' (True DB: network_1)

  DBs for Q:spider_dev_q948_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 950/1034 (ID: spider_dev_q949_idx949): 'Find the districts in which there are both shops selling less than 3000 products and shops selling more than 10000 products.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q949_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 951/1034 (ID: spider_dev_q950_idx950): 'What are the names of singers ordered by ascending net worth?' (True DB: singer)

  DBs for Q:spider_dev_q950_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 952/1034 (ID: spider_dev_q951_idx951): 'What are the names of tournaments that have more than 10 matches?' (True DB: wta_1)

  DBs for Q:spider_dev_q951_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 953/1034 (ID: spider_dev_q952_idx952): 'How many pets are owned by students that have an age greater than 20?' (True DB: pets_1)

  DBs for Q:spider_dev_q952_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 954/1034 (ID: spider_dev_q953_idx953): 'What are the first, middle, and last names, along with the ids, of all students who enrolled in 2 degree programs in one semester?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q953_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 955/1034 (ID: spider_dev_q954_idx954): 'Find all airlines that have fewer than 200 flights.' (True DB: flight_2)

  DBs for Q:spider_dev_q954_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 956/1034 (ID: spider_dev_q955_idx955): 'What are the different addresses that have students living there?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q955_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 957/1034 (ID: spider_dev_q956_idx956): 'What are the email, cell phone and home phone of each professional?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q956_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 958/1034 (ID: spider_dev_q957_idx957): 'What are the names of the teachers and how many courses do they teach?' (True DB: course_teach)

  DBs for Q:spider_dev_q957_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 959/1034 (ID: spider_dev_q958_idx958): 'What are the languages used by the least number of TV Channels and how many channels use it?' (True DB: tvshow)

  DBs for Q:spider_dev_q958_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 960/1034 (ID: spider_dev_q959_idx959): 'What is the degree summary name that has the most number of students enrolled?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q959_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 961/1034 (ID: spider_dev_q960_idx960): 'What are the population, name and leader of the country with the largest area?' (True DB: world_1)

  DBs for Q:spider_dev_q960_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 962/1034 (ID: spider_dev_q961_idx961): 'Find the owner id and zip code of the owner who spent the most money in total for his or her dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q961_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 963/1034 (ID: spider_dev_q962_idx962): 'Whose permanent address is different from his or her current address? List his or her first name.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q962_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 964/1034 (ID: spider_dev_q963_idx963): 'Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.' (True DB: concert_singer)

  DBs for Q:spider_dev_q963_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 965/1034 (ID: spider_dev_q964_idx964): 'What is the maximum accelerate for different number of cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q964_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 966/1034 (ID: spider_dev_q965_idx965): 'What is the horsepower of the car with the greatest accelerate?' (True DB: car_1)

  DBs for Q:spider_dev_q965_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 967/1034 (ID: spider_dev_q966_idx966): 'Find the number of dog pets that are raised by female students (with sex F).' (True DB: pets_1)

  DBs for Q:spider_dev_q966_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 968/1034 (ID: spider_dev_q967_idx967): 'How many battles did not lose any ship with tonnage '225'?' (True DB: battle_death)

  DBs for Q:spider_dev_q967_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 969/1034 (ID: spider_dev_q968_idx968): 'Find the average grade of all students who have some friends.' (True DB: network_1)

  DBs for Q:spider_dev_q968_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 970/1034 (ID: spider_dev_q969_idx969): 'What are all of the episodes ordered by ratings?' (True DB: tvshow)

  DBs for Q:spider_dev_q969_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 971/1034 (ID: spider_dev_q970_idx970): 'Find the number of professionals who have not treated any dogs.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q970_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 972/1034 (ID: spider_dev_q971_idx971): 'What is the largest amount of horsepower for the models with 3 cylinders and what make is it?' (True DB: car_1)

  DBs for Q:spider_dev_q971_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 973/1034 (ID: spider_dev_q972_idx972): 'What is the grade of each high schooler?' (True DB: network_1)

  DBs for Q:spider_dev_q972_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 974/1034 (ID: spider_dev_q973_idx973): 'How many different results are there for the battles?' (True DB: battle_death)

  DBs for Q:spider_dev_q973_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 975/1034 (ID: spider_dev_q974_idx974): 'Return the number of  airports.' (True DB: flight_2)

  DBs for Q:spider_dev_q974_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 976/1034 (ID: spider_dev_q975_idx975): 'Find the last name of the student who has a cat that is age 3.' (True DB: pets_1)

  DBs for Q:spider_dev_q975_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 977/1034 (ID: spider_dev_q976_idx976): 'List the title of all cartoons in alphabetical order.' (True DB: tvshow)

  DBs for Q:spider_dev_q976_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 978/1034 (ID: spider_dev_q977_idx977): 'What are all the song names by singers who are older than average?' (True DB: concert_singer)

  DBs for Q:spider_dev_q977_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 979/1034 (ID: spider_dev_q978_idx978): 'What is the version number and template type code for the template with version number later than 5?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q978_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 980/1034 (ID: spider_dev_q979_idx979): 'How many car makers are there in each continents? List the continent name and the count.' (True DB: car_1)

  DBs for Q:spider_dev_q979_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 981/1034 (ID: spider_dev_q980_idx980): 'Which professionals have operated a treatment that costs less than the average? Give me theor first names and last names.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q980_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 982/1034 (ID: spider_dev_q981_idx981): 'What are the codes of template types that are not used for any document?' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q981_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 983/1034 (ID: spider_dev_q982_idx982): 'How many flights depart from 'APG'?' (True DB: flight_2)

  DBs for Q:spider_dev_q982_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 984/1034 (ID: spider_dev_q983_idx983): 'Sort employee names by their age in ascending order.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q983_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 985/1034 (ID: spider_dev_q984_idx984): 'Give the mean GNP and total population of nations which are considered US territory.' (True DB: world_1)

  DBs for Q:spider_dev_q984_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 986/1034 (ID: spider_dev_q985_idx985): 'Which continent is Anguilla in?' (True DB: world_1)

  DBs for Q:spider_dev_q985_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 987/1034 (ID: spider_dev_q986_idx986): 'List the earnings of poker players in descending order.' (True DB: poker_player)

  DBs for Q:spider_dev_q986_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 988/1034 (ID: spider_dev_q987_idx987): 'What is the maximum horsepower and the make of the car models with 3 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q987_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 989/1034 (ID: spider_dev_q988_idx988): 'What are the country codes of the different countries, and what are the languages spoken by the greatest percentage of people for each?' (True DB: world_1)

  DBs for Q:spider_dev_q988_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 990/1034 (ID: spider_dev_q989_idx989): 'find the name of employee who was awarded the most times in the evaluation.' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q989_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 991/1034 (ID: spider_dev_q990_idx990): 'How many countries have governments that are republics?' (True DB: world_1)

  DBs for Q:spider_dev_q990_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 992/1034 (ID: spider_dev_q991_idx991): 'When was the last transcript released?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q991_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 993/1034 (ID: spider_dev_q992_idx992): 'Find the role, street, city and state of the professionals living in a city that contains the substring 'West'.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q992_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 994/1034 (ID: spider_dev_q993_idx993): 'Return the version numbers and template type codes of templates with a version number greater than 5.' (True DB: cre_Doc_Template_Mgt)

  DBs for Q:spider_dev_q993_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 995/1034 (ID: spider_dev_q994_idx994): 'Which flight numbers correspond to United Airlines flights?' (True DB: flight_2)

  DBs for Q:spider_dev_q994_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 996/1034 (ID: spider_dev_q995_idx995): 'What are the names of the teachers whose hometown is not `` Little Lever Urban District '' ?' (True DB: course_teach)

  DBs for Q:spider_dev_q995_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 997/1034 (ID: spider_dev_q996_idx996): 'Show titles of songs and names of singers.' (True DB: singer)

  DBs for Q:spider_dev_q996_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 998/1034 (ID: spider_dev_q997_idx997): 'What are the average and maximum number of tickets bought in all visits?' (True DB: museum_visit)

  DBs for Q:spider_dev_q997_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 999/1034 (ID: spider_dev_q998_idx998): 'What is the first name and gender of the all the students who have more than one pet?' (True DB: pets_1)

  DBs for Q:spider_dev_q998_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1000/1034 (ID: spider_dev_q999_idx999): 'Count the number of employees' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q999_idx9:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1001/1034 (ID: spider_dev_q1000_idx1000): 'Which dogs have not cost their owner more than 1000 for treatment ? List the dog names .' (True DB: dog_kennels)

  DBs for Q:spider_dev_q1000_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1002/1034 (ID: spider_dev_q1001_idx1001): 'Return the country name and the numbers of languages spoken for each country that speaks at least 3 languages.' (True DB: world_1)

  DBs for Q:spider_dev_q1001_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1003/1034 (ID: spider_dev_q1002_idx1002): 'Who is enrolled in a Bachelor degree program? List the first name, middle name, last name.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q1002_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1004/1034 (ID: spider_dev_q1003_idx1003): 'What are all the possible breed type and size type combinations?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q1003_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1005/1034 (ID: spider_dev_q1004_idx1004): 'Who is the earliest graduate of the school? List the first name, middle name and last name.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q1004_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1006/1034 (ID: spider_dev_q1005_idx1005): 'What are the titles of all cartoons directed by Ben Jones or Brandon Vietti?' (True DB: tvshow)

  DBs for Q:spider_dev_q1005_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1007/1034 (ID: spider_dev_q1006_idx1006): 'What is the name of the winner who has won the most matches, and how many rank points does this player have?' (True DB: wta_1)

  DBs for Q:spider_dev_q1006_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1008/1034 (ID: spider_dev_q1007_idx1007): 'What are the countries having at least one car maker? List name and id.' (True DB: car_1)

  DBs for Q:spider_dev_q1007_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1009/1034 (ID: spider_dev_q1008_idx1008): 'Find the first names that are used for professionals or owners but are not used as dog names.' (True DB: dog_kennels)

  DBs for Q:spider_dev_q1008_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1010/1034 (ID: spider_dev_q1009_idx1009): 'Which states have both owners and professionals living there?' (True DB: dog_kennels)

  DBs for Q:spider_dev_q1009_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1011/1034 (ID: spider_dev_q1010_idx1010): 'What is the name of the high schooler who has the greatest number of friends?' (True DB: network_1)

  DBs for Q:spider_dev_q1010_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1012/1034 (ID: spider_dev_q1011_idx1011): 'What are the nationalities that are shared by at least two people?' (True DB: poker_player)

  DBs for Q:spider_dev_q1011_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1013/1034 (ID: spider_dev_q1012_idx1012): 'What is the total number of unique official languages spoken in the countries that are founded before 1930?' (True DB: world_1)

  DBs for Q:spider_dev_q1012_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1014/1034 (ID: spider_dev_q1013_idx1013): 'What is the average transcript date?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q1013_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1015/1034 (ID: spider_dev_q1014_idx1014): 'Which cities do more than one employee under age 30 come from?' (True DB: employee_hire_evaluation)

  DBs for Q:spider_dev_q1014_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1016/1034 (ID: spider_dev_q1015_idx1015): 'What are the last name of the students who live in North Carolina but have not registered in any degree programs?' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q1015_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1017/1034 (ID: spider_dev_q1016_idx1016): 'What are the full names of all players, sorted by birth date?' (True DB: wta_1)

  DBs for Q:spider_dev_q1016_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1018/1034 (ID: spider_dev_q1017_idx1017): 'What are the birth year and citizenship of singers?' (True DB: singer)

  DBs for Q:spider_dev_q1017_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1019/1034 (ID: spider_dev_q1018_idx1018): 'Find the number of matches happened in each year.' (True DB: wta_1)

  DBs for Q:spider_dev_q1018_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1020/1034 (ID: spider_dev_q1019_idx1019): 'Which city is the most frequent source airport?' (True DB: flight_2)

  DBs for Q:spider_dev_q1019_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1021/1034 (ID: spider_dev_q1020_idx1020): 'What is the total ticket expense of the visitors whose membership level is 1?' (True DB: museum_visit)

  DBs for Q:spider_dev_q1020_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1022/1034 (ID: spider_dev_q1021_idx1021): 'what is the name and nation of the singer who have a song having 'Hey' in its name?' (True DB: concert_singer)

  DBs for Q:spider_dev_q1021_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1023/1034 (ID: spider_dev_q1022_idx1022): 'Find the average ranking for each player and their first name.' (True DB: wta_1)

  DBs for Q:spider_dev_q1022_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1024/1034 (ID: spider_dev_q1023_idx1023): 'List all the student details in reversed lexicographical order.' (True DB: student_transcripts_tracking)

  DBs for Q:spider_dev_q1023_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1025/1034 (ID: spider_dev_q1024_idx1024): 'What is the average miles per gallon of all the cards with 4 cylinders?' (True DB: car_1)

  DBs for Q:spider_dev_q1024_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1026/1034 (ID: spider_dev_q1025_idx1025): 'Which airlines have a flight with destination airport AHD?' (True DB: flight_2)

  DBs for Q:spider_dev_q1025_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1027/1034 (ID: spider_dev_q1026_idx1026): 'What are the names of the countries with no car makers?' (True DB: car_1)

  DBs for Q:spider_dev_q1026_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1028/1034 (ID: spider_dev_q1027_idx1027): 'Find the total number of players.' (True DB: wta_1)

  DBs for Q:spider_dev_q1027_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1029/1034 (ID: spider_dev_q1028_idx1028): 'What is the average weight for each type of pet?' (True DB: pets_1)

  DBs for Q:spider_dev_q1028_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1030/1034 (ID: spider_dev_q1029_idx1029): 'Give the name of the country in Asia with the lowest life expectancy.' (True DB: world_1)

  DBs for Q:spider_dev_q1029_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1031/1034 (ID: spider_dev_q1030_idx1030): 'Give the average life expectancy for countries in Africa which are republics?' (True DB: world_1)

  DBs for Q:spider_dev_q1030_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1032/1034 (ID: spider_dev_q1031_idx1031): 'Return the money rank of the poker player with the greatest height.' (True DB: poker_player)

  DBs for Q:spider_dev_q1031_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1033/1034 (ID: spider_dev_q1032_idx1032): 'Give the flight numbers of flights leaving from Aberdeen.' (True DB: flight_2)

  DBs for Q:spider_dev_q1032_idx:   0%|          | 0/166 [00:00<?, ?it/s]

Processing Query 1034/1034 (ID: spider_dev_q1033_idx1033): 'Among the cars with more than lowest horsepower, which ones do not have more than 3 cylinders? List the car makeid and make name.' (True DB: car_1)

  DBs for Q:spider_dev_q1033_idx:   0%|          | 0/166 [00:00<?, ?it/s]

--- Experiment Loop Finished ---
Processed 1034 queries in total.
Final results comprehensively saved to /raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1/spider_queries_llama3.1_8B-instruct_CREATE_prompt_no_examples.json

In [23]:
import os
import json

# Path where the evaluation summary (Recall@K results) will be saved
EVAL_RESULTS_SAVE_PATH = "recall_k_results_context_lamma-3.1-8B-instruct_CREATE_prompt_no_examples.json"

# --- 4.1. Define Recall@K Calculation Function ---
def calculate_recall_at_k_metric(all_query_results_list, k_values_list):
    """
    Calculates Recall@K for a list of K values.
    Each item in all_query_results_list should be a dictionary with:
        'true_db_id': The ground truth database ID for the query.
        'ranked_databases_with_scores': A list of {'candidate_db_id': id, 'p_yes_score': score},
                                         sorted by score in descending order.
    """
    recall_counts = {k: 0 for k in k_values_list}  # Stores how many times true_db was in top K
    total_valid_queries = 0  # Queries for which we have a true_db_id

    if not all_query_results_list:
        return {k: 0.0 for k in k_values_list}, 0

    for query_result in all_query_results_list:
        true_db = query_result.get('true_db_id')
        ranked_dbs_info = query_result.get('ranked_databases_with_predictions')

        if true_db is None or ranked_dbs_info is None:
            print(f"Warning: Skipping query result due to missing 'true_db_id' or 'ranked_databases_with_scores': "
                  f"{query_result.get('experiment_query_id', 'Unknown Query')}")
            continue  # Skip if essential information is missing

        total_valid_queries += 1
        # Extract just the DB IDs from the ranked list
        ranked_db_ids_only = [item['candidate_db_id'] for item in ranked_dbs_info]

        for k in k_values_list:
            # Get the top K predicted database IDs
            top_k_predicted_dbs = ranked_db_ids_only[:k]
            if true_db in top_k_predicted_dbs:
                recall_counts[k] += 1

    # Calculate final recall percentages
    recall_percentages = {}
    if total_valid_queries > 0:
        for k in k_values_list:
            recall_percentages[k] = (recall_counts[k] / total_valid_queries) * 100.0  # As percentage
    else:
        recall_percentages = {k: 0.0 for k in k_values_list}

    return recall_percentages, total_valid_queries


# --- 4.2. Perform Evaluation ---
# Load results if this cell is run in a new session and experiment_all_query_results isn't in memory
# (assuming results were saved to EXPERIMENT_RESULTS_FILE)
loaded_results_for_eval = None
if 'experiment_all_query_results' in globals() and experiment_all_query_results:
    print("Using in-memory experiment_all_query_results for evaluation.")
    loaded_results_for_eval = experiment_all_query_results
elif os.path.exists(EXPERIMENT_RESULTS_FILE):
    print(f"Loading results from {EXPERIMENT_RESULTS_FILE} for evaluation...")
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'r') as f_in:
            loaded_results_for_eval = json.load(f_in)
        print(f"Successfully loaded {len(loaded_results_for_eval)} results from file.")
    except Exception as e:
        print(f"Error loading results from file for evaluation: {e}")
else:
    print("No results available in memory or in the specified results file for evaluation.")

if loaded_results_for_eval:
    K_VALUES_TO_EVALUATE = [1, 3, 5, 10]  # Define the K values you care about
    recall_scores_map, num_queries_evaluated = calculate_recall_at_k_metric(
        loaded_results_for_eval, K_VALUES_TO_EVALUATE
    )

    print("\n--- Evaluation: Recall@K ---")
    print(f"Evaluated on {num_queries_evaluated} queries.")
    for k_val, recall_val in recall_scores_map.items():
        print(f"Recall@{k_val}: {recall_val:.2f}%")

    # --- 4.2.1. Save evaluation results to a JSON file ---
    try:
        eval_summary = {
            "num_queries_evaluated": num_queries_evaluated,
            "recall_scores": recall_scores_map
        }
        with open(EVAL_RESULTS_SAVE_PATH, 'w') as fout:
            json.dump(eval_summary, fout, indent=2)
        print(f"Saved evaluation results to '{EVAL_RESULTS_SAVE_PATH}'")
    except Exception as save_err:
        print(f"Error saving evaluation results: {save_err}")

    # --- 4.3. Optional: Print Detailed Results for a Few Queries ---
    print("\n--- Sample Detailed Query Results (Top 5 Queries) ---")
    for i, res in enumerate(loaded_results_for_eval[:5]):  # Show for first 5 queries
        print(f"\nQuery {i+1}: '{res.get('nl_query_text', '<no text>')}' (True DB: {res.get('true_db_id')})")
        print("  Top Ranked Databases (with P(Yes) scores):")
        for rank, db_info in enumerate(res.get('ranked_databases_with_scores', [])[:5]):  # Show top 5 ranked DBs
            is_true_db_char = "*" if db_info['candidate_db_id'] == res['true_db_id'] else " "
            print(f"    {rank+1}. {db_info['candidate_db_id']}{is_true_db_char} "
                  f"(Score: {db_info['p_yes_score']:.4f})")
else:
    print("Cannot perform evaluation as no results were loaded or generated.")

Using in-memory experiment_all_query_results for evaluation.

--- Evaluation: Recall@K ---
Evaluated on 1034 queries.
Recall@1: 75.92%
Recall@3: 90.52%
Recall@5: 96.03%
Recall@10: 98.65%
Saved evaluation results to 'recall_k_results_context_lamma-3.1-8B-instruct_CREATE_prompt_synthetic_data_all_DB.json'

--- Sample Detailed Query Results (Top 5 Queries) ---

Query 1: 'How many 'United Airlines' flights go to Airport 'ASY'?' (True DB: flight_2)
  Top Ranked Databases (with P(Yes) scores):

Query 2: 'What are the name of the countries where there is not a single car maker?' (True DB: car_1)
  Top Ranked Databases (with P(Yes) scores):

Query 3: 'What are the date and the operating professional's first name of each treatment?' (True DB: dog_kennels)
  Top Ranked Databases (with P(Yes) scores):

Query 4: 'List each owner's first name, last name, and the size of his for her dog.' (True DB: dog_kennels)
  Top Ranked Databases (with P(Yes) scores):

Query 5: 'Find the first name and age of students who have a dog but do not have a cat as a pet.' (True DB: pets_1)
  Top Ranked Databases (with P(Yes) scores):