In [1]:
pip install transformers accelerate bitsandbytes sentencepiece pandas datasets huggingface_hub tqdm

Requirement already satisfied: transformers in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (4.52.4)
Requirement already satisfied: accelerate in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.46.0)
Requirement already satisfied: sentencepiece in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.2.0)
Requirement already satisfied: pandas in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: datasets in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (3.6.0)
Requirement already satisfied: huggingface_hub in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.32.3)
Requirement already satisfied: tqdm in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (4.67.1)
Requirement already satisfied: filelock in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (3.17.0)
Requirement already satisfied: numpy>=1.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2.0.1)
Requirement already satisfied: packaging>=20.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (0.5.3)
Requirement already satisfied: fsspec>=2023.5.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (2025.3.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (4.12.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (1.1.2)
Requirement already satisfied: psutil in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from accelerate) (5.9.0)
Requirement already satisfied: torch>=2.0.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from accelerate) (2.2.0)
Requirement already satisfied: sympy in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (1.13.3)
Requirement already satisfied: networkx in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (3.4.2)
Requirement already satisfied: jinja2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (3.1.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: pyarrow>=15.0.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (20.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (0.3.8)
Requirement already satisfied: xxhash in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (0.70.16)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.6)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.3.2)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (5.0.1)
Requirement already satisfied: attrs>=17.3.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.4.4)
Requirement already satisfied: propcache>=0.2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.0)
Requirement already satisfied: idna>=2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.7)
Requirement already satisfied: six>=1.5 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (2025.4.26)
Requirement already satisfied: MarkupSafe>=2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from jinja2->torch>=2.0.0->accelerate) (3.0.2)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from sympy->torch>=2.0.0->accelerate) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# --- Standard Library Imports ---
# --- Third-party Library Imports ---
# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm
import time
from huggingface_hub import login
import transformers # <--- ADD THIS LINE
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm # For progress bars
from huggingface_hub import login # For Hugging Face Hub authentication
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

print("--- Cell 1: Imports and Initial Configuration Complete ---")
print(f"PyTorch Version: {torch.__version__}")
print(f"Transformers Version: {transformers.__version__}")

--- Cell 1: Imports and Initial Configuration Complete ---
PyTorch Version: 2.2.0
Transformers Version: 4.52.4

In [4]:
import torch
print(f"PyTorch version: {torch.__version__}")
print(f"CUDA available: {torch.cuda.is_available()}")
if torch.cuda.is_available():
    print(f"CUDA version PyTorch compiled with: {torch.version.cuda}")
    print(f"Number of GPUs available to PyTorch: {torch.cuda.device_count()}")
    for i in range(torch.cuda.device_count()):
        print(f"  GPU {i}: {torch.cuda.get_device_name(i)}")
else:
    print("ERROR: PyTorch cannot see the GPUs! Check installation and CUDA compatibility.")

PyTorch version: 2.2.0
CUDA available: True
CUDA version PyTorch compiled with: 11.8
Number of GPUs available to PyTorch: 8
  GPU 0: NVIDIA A100-SXM4-80GB
  GPU 1: NVIDIA A100-SXM4-80GB
  GPU 2: NVIDIA A100-SXM4-80GB
  GPU 3: NVIDIA A100-SXM4-80GB
  GPU 4: NVIDIA A100-SXM4-80GB
  GPU 5: NVIDIA A100-SXM4-80GB
  GPU 6: NVIDIA A100-SXM4-80GB
  GPU 7: NVIDIA A100-SXM4-80GB

In [5]:
# --- Standard Library Imports ---
# --- Third-party Library Imports ---
# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm
import time
from huggingface_hub import login
import transformers # <--- ADD THIS LINE
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm # For progress bars
from huggingface_hub import login # For Hugging Face Hub authentication
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

print("--- Cell 1: Imports and Initial Configuration Complete ---")
print(f"PyTorch Version: {torch.__version__}")
print(f"Transformers Version: {transformers.__version__}")

--- Cell 1: Imports and Initial Configuration Complete ---
PyTorch Version: 2.2.0
Transformers Version: 4.52.4

In [6]:
# --- Hugging Face Hub Authentication ---
# You MUST have requested access to Llama 2 models via Meta's form on Hugging Face
# AND have your request approved.

# Option 1: If you've stored your token as an environment variable on the server
# HF_TOKEN = os.environ.get("HF_TOKEN")
# if HF_TOKEN:
#     print("Logging into Hugging Face Hub using token from environment variable...")
#     login(token=HF_TOKEN)
# else:
#     print("HF_TOKEN environment variable not set. Attempting widget login if in interactive environment, or manual CLI login might be needed.")
#     login() # Will prompt if in an environment that supports it

# Option 2: Paste token directly (less secure, use with caution)
# HF_TOKEN = "YOUR_HF_READ_TOKEN_HERE"
# login(token=HF_TOKEN)

# Option 3: Use huggingface-cli login in a server terminal beforehand (Recommended)
# If already logged in via CLI, this cell might not be strictly necessary,
# but running login() can confirm status or refresh credentials.
try:
    login() # Will use cached token or prompt if needed
    print("Hugging Face login successful or already authenticated.")
except Exception as e:
    print(f"Hugging Face login failed: {e}. Ensure you are authenticated to download Llama 2.")

print("\n--- Cell 2: Hugging Face Login Attempt Complete ---")

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.sv…

Hugging Face login successful or already authenticated.

--- Cell 2: Hugging Face Login Attempt Complete ---

In [7]:
# --- Model and Tokenizer Configuration ---
import os

# 3.1. Specify the Llama 2 70B Chat Model
MODEL_NAME = "meta-llama/Llama-2-70b-chat-hf"
print(f"Target Model: {MODEL_NAME}")

# 3.2. Configure 4-bit Quantization (essential for 70B, even on A100s for single/few GPU use)
# A100s support bfloat16, which is excellent for mixed-precision.
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_quant_type="nf4",        # nf4 is a good default
    bnb_4bit_compute_dtype=torch.bfloat16, # Use bfloat16 for computation on A100s
    bnb_4bit_use_double_quant=True,   # Can save a bit more memory
)
print(f"BitsAndBytesConfig: load_in_4bit={bnb_config.load_in_4bit}, compute_dtype={bnb_config.bnb_4bit_compute_dtype}")

# 3.3. Define Prompt Templates
SYSTEM_PROMPT = (
    "You are an expert data analyst. Your task is to determine if a given natural language query "
    "can be answered *solely* based on the provided database schema. "
    "Do not attempt to answer the query itself. Your entire response must be only the word 'Yes' or the word 'No'."
)

USER_PROMPT_TEMPLATE = """Database Schema:
---
{schema_string}
---
Natural Language Query: "{nl_query}"
---
Can the query be answered using *only* the provided schema and its potential contents? Answer with either "Yes" or "No".
"""
print("System and User prompt templates defined.")

# 3.4. Define Cache Directory for Hugging Face downloads (optional, but good for managing large models)
# Create it within your project directory on the A100 server.
HF_MODEL_CACHE_DIR = os.path.join(os.getcwd(), ".hf_model_cache_70b") # Assumes current dir is project root
os.makedirs(HF_MODEL_CACHE_DIR, exist_ok=True)
print(f"Hugging Face model cache directory set to: {HF_MODEL_CACHE_DIR}")

print("\n--- Cell 3: Model and Prompt Configuration Complete ---")

Target Model: meta-llama/Llama-2-70b-chat-hf
BitsAndBytesConfig: load_in_4bit=True, compute_dtype=torch.bfloat16
System and User prompt templates defined.
Hugging Face model cache directory set to: /raid/infolab/gaurav/Llama_Spider_A100_Project/experiments_70b_llama/.hf_model_cache_70b

--- Cell 3: Model and Prompt Configuration Complete ---

In [8]:
# --- Load Tokenizer and Define Yes/No Token Logic ---

# 4.1. Load Tokenizer
print(f"Loading tokenizer for {MODEL_NAME}...")
try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME, cache_dir=HF_MODEL_CACHE_DIR)
    # Set pad token if not already set (Llama tokenizers often don't have one)
    if tokenizer.pad_token is None:
        tokenizer.pad_token = tokenizer.eos_token
        print(f"Set tokenizer.pad_token to tokenizer.eos_token ('{tokenizer.eos_token}')")
    print("Tokenizer loaded successfully.")
except Exception as e:
    raise RuntimeError(f"Failed to load tokenizer for {MODEL_NAME}: {e}")


# 4.2. Define Helper Function to get Yes/No Token IDs
def get_yes_no_token_ids(tokenizer_arg):
    """Determines token IDs for 'Yes'/'No', preferring those with a leading space."""
    # Try with leading space first for chat models
    yes_variants = [" Yes", "Yes"]
    no_variants = [" No", "No"]
    
    final_yes_id = None
    final_no_id = None

    for variant in yes_variants:
        token_ids = tokenizer_arg.encode(variant, add_special_tokens=False)
        if len(token_ids) == 1:
            final_yes_id = token_ids[0]
            print(f"Found single token for '{variant}': ID {final_yes_id}")
            break
            
    for variant in no_variants:
        token_ids = tokenizer_arg.encode(variant, add_special_tokens=False)
        if len(token_ids) == 1:
            final_no_id = token_ids[0]
            print(f"Found single token for '{variant}': ID {final_no_id}")
            break

    if final_yes_id is None or final_no_id is None:
        print(f"ERROR: Could not determine reliable single token IDs for 'Yes'/'No' or variants.")
        # You might want to print detailed tokenization attempts here if this error occurs
        raise ValueError("Unstable tokenization for 'Yes'/'No'. Cannot proceed.")
    
    return final_yes_id, final_no_id

# 4.3. Define Global YES_TOKEN_ID and NO_TOKEN_ID
try:
    YES_TOKEN_ID, NO_TOKEN_ID = get_yes_no_token_ids(tokenizer)
    print(f"GLOBAL YES_TOKEN_ID: {YES_TOKEN_ID} ('{tokenizer.decode([YES_TOKEN_ID]).strip()}')")
    print(f"GLOBAL NO_TOKEN_ID: {NO_TOKEN_ID} ('{tokenizer.decode([NO_TOKEN_ID]).strip()}')")
except ValueError as e:
    raise RuntimeError(f"Failed to set YES/NO token IDs: {e}")

print("\n--- Cell 4: Tokenizer Loading and Yes/No Token ID Setup Complete ---")

Loading tokenizer for meta-llama/Llama-2-70b-chat-hf...
Set tokenizer.pad_token to tokenizer.eos_token ('</s>')
Tokenizer loaded successfully.
Found single token for 'Yes': ID 3869
Found single token for 'No': ID 1939
GLOBAL YES_TOKEN_ID: 3869 ('Yes')
GLOBAL NO_TOKEN_ID: 1939 ('No')

--- Cell 4: Tokenizer Loading and Yes/No Token ID Setup Complete ---

In [9]:
# --- Load the Llama 2 70B Model ---
# This is a memory-intensive step. `device_map="auto"` will attempt to distribute
# the model across available GPUs if one is insufficient.
# Ensure CUDA_VISIBLE_DEVICES is set in your shell if you want to restrict which GPUs are used.
import gc
print(f"Loading model: {MODEL_NAME} with 4-bit quantization. This will take significant time and memory...")
model_load_start_time = time.time()
try:
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_NAME,
        quantization_config=bnb_config,    # Apply 4-bit quantization
        torch_dtype=torch.bfloat16,        # Use bfloat16 on A100s
        device_map="auto",                 # Distribute model across available GPUs automatically
        trust_remote_code=True,            # Often needed for newer models
        cache_dir=HF_MODEL_CACHE_DIR
    )
    model_load_end_time = time.time()
    print("\nModel loaded successfully!")
    print(f"Time taken to load model: {model_load_end_time - model_load_start_time:.2f} seconds.")
    print(f"Model device map: {model.hf_device_map}") # Shows how layers are distributed
    # For a 70B model, this should show parts on different GPUs if more than one is used.
    
    # Perform a quick memory cleanup after loading large model
    torch.cuda.empty_cache()
    gc.collect()
    print("Performed memory cleanup (torch.cuda.empty_cache(), gc.collect())")

except Exception as e:
    import traceback
    traceback.print_exc()
    raise RuntimeError(f"Failed to load model {MODEL_NAME}: {e}. Check VRAM, CUDA setup, and Hugging Face authentication.")

print("\n--- Cell 5: Llama 2 70B Model Loading Complete ---")

Loading model: meta-llama/Llama-2-70b-chat-hf with 4-bit quantization. This will take significant time and memory...

Loading checkpoint shards:   0%|          | 0/15 [00:00<?, ?it/s]

Model loaded successfully!
Time taken to load model: 47.15 seconds.
Model device map: {'model.embed_tokens': 0, 'model.layers.0': 0, 'model.layers.1': 0, 'model.layers.2': 0, 'model.layers.3': 0, 'model.layers.4': 0, 'model.layers.5': 0, 'model.layers.6': 0, 'model.layers.7': 0, 'model.layers.8': 1, 'model.layers.9': 1, 'model.layers.10': 1, 'model.layers.11': 1, 'model.layers.12': 1, 'model.layers.13': 1, 'model.layers.14': 1, 'model.layers.15': 1, 'model.layers.16': 1, 'model.layers.17': 1, 'model.layers.18': 2, 'model.layers.19': 2, 'model.layers.20': 2, 'model.layers.21': 2, 'model.layers.22': 2, 'model.layers.23': 2, 'model.layers.24': 2, 'model.layers.25': 2, 'model.layers.26': 2, 'model.layers.27': 2, 'model.layers.28': 3, 'model.layers.29': 3, 'model.layers.30': 3, 'model.layers.31': 3, 'model.layers.32': 3, 'model.layers.33': 3, 'model.layers.34': 3, 'model.layers.35': 3, 'model.layers.36': 3, 'model.layers.37': 3, 'model.layers.38': 4, 'model.layers.39': 4, 'model.layers.40': 4, 'model.layers.41': 4, 'model.layers.42': 4, 'model.layers.43': 4, 'model.layers.44': 4, 'model.layers.45': 4, 'model.layers.46': 4, 'model.layers.47': 4, 'model.layers.48': 5, 'model.layers.49': 5, 'model.layers.50': 5, 'model.layers.51': 5, 'model.layers.52': 5, 'model.layers.53': 5, 'model.layers.54': 5, 'model.layers.55': 5, 'model.layers.56': 5, 'model.layers.57': 5, 'model.layers.58': 6, 'model.layers.59': 6, 'model.layers.60': 6, 'model.layers.61': 6, 'model.layers.62': 6, 'model.layers.63': 6, 'model.layers.64': 6, 'model.layers.65': 6, 'model.layers.66': 6, 'model.layers.67': 6, 'model.layers.68': 7, 'model.layers.69': 7, 'model.layers.70': 7, 'model.layers.71': 7, 'model.layers.72': 7, 'model.layers.73': 7, 'model.layers.74': 7, 'model.layers.75': 7, 'model.layers.76': 7, 'model.layers.77': 7, 'model.layers.78': 7, 'model.layers.79': 7, 'model.norm': 7, 'model.rotary_emb': 7, 'lm_head': 7}
Performed memory cleanup (torch.cuda.empty_cache(), gc.collect())

--- Cell 5: Llama 2 70B Model Loading Complete ---

In [17]:

# --- MODIFIED PART ---
# Increase max_new_tokens to allow for longer output
# You can adjust this value. The model will also stop if it generates an EOS token.
new_max_tokens = 256  # Let's try allowing up to 256 new tokens

with torch.no_grad():
    outputs = model.generate(
        **inputs,
        max_new_tokens=new_max_tokens, # MODIFIED
        do_sample=True,
        temperature=0.7,
        top_p=0.9,
        pad_token_id=tokenizer.eos_token_id # Important for some models when batching or using attention_mask
    )

response_text = tokenizer.decode(outputs[0], skip_special_tokens=True)

assistant_response_start = -1
# Try to find the common end-of-instruction marker for chat models
# For Llama-2 style:
if " [/INST] " in response_text:
    assistant_response_start = response_text.rfind(" [/INST] ") + len(" [/INST] ")
# For other potential chatML-like structures:
elif "<|assistant|>\n" in response_text: # Anthropic/Claude style or similar
    assistant_response_start = response_text.rfind("<|assistant|>\n") + len("<|assistant|>\n")
elif "<|im_start|>assistant\n" in response_text: # Newer ChatML
    assistant_response_start = response_text.rfind("<|im_start|>assistant\n") + len("<|im_start|>assistant\n")


if assistant_response_start != -1:
    clean_response = response_text[assistant_response_start:].strip()
else:
    # Fallback: if the prompt was simple and no clear marker,
    # try to remove the original prompt from the start of the response text.
    # This is less robust.
    formatted_prompt_without_generation_cue = tokenizer.apply_chat_template(messages, tokenize=False, add_generation_prompt=False)
    if response_text.startswith(formatted_prompt_without_generation_cue):
        clean_response = response_text[len(formatted_prompt_without_generation_cue):].strip()
    else:
        # Last resort: very basic split if we can't find a good marker.
        # This assumes the model *only* added new text.
        prompt_tokens_count = inputs.input_ids.shape[1]
        generated_tokens = outputs[0][prompt_tokens_count:]
        clean_response = tokenizer.decode(generated_tokens, skip_special_tokens=True).strip()
        if not clean_response: # If the above still fails, show the raw output
             clean_response = "Could not reliably clean the prompt. Raw output (minus special tokens):\n" + response_text


print(f"\nModel Response (cleaned, potentially longer): {clean_response}")

Model Response (cleaned, potentially longer): Sure, I'd be happy to help! The latest film directed by Christopher Nolan is "Tenet," which was released in July 2020. It's a science fiction action film that explores the intersection of physics and consciousness. The film features a talented cast, including John David Washington, Robert Pattinson, and Elizabeth Debicki.

If you're a fan of Christopher Nolan's work, you might also be interested in some of his other films, such as "Inception," "Interstellar," "The Dark Knight," and "Dunkirk."

In [19]:
import zipfile
import os

SERVER_ZIP_FILE_PATH = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip'
EXTRACTION_DESTINATION_DIR_ON_SERVER = '/raid/infolab/gaurav/Llama_Spider_A100_Project/'

DEV_JSON_PATH = None
TABLES_JSON_PATH = None

def unzip_data(zip_filepath, dest_dir):
    """
    Unzips a zip file to a specified destination directory.
    """
    print(f"Attempting to unzip {zip_filepath} to {dest_dir}...")
    try:
        
        with zipfile.ZipFile(zip_filepath, 'r') as zip_ref:
            zip_ref.extractall(dest_dir)
        print(f"Successfully unzipped files to {dest_dir}")

        print(f"Contents of {dest_dir}:")
        for item in os.listdir(dest_dir):
            print(f"  - {item}")
        return True
    except zipfile.BadZipFile:
        print(f"Error: {zip_filepath} is not a valid zip file or is corrupted.")
        return False
    except FileNotFoundError:
        print(f"Error: Zip file not found at {zip_filepath}. Please ensure the path is correct.")
        return False
    except PermissionError:
        print(f"Error: Permission denied to write to {dest_dir} or read {zip_filepath}.")
        return False
    except Exception as e:
        print(f"An unexpected error occurred during unzipping: {e}")
        return False

print(f"Script started. Looking for zip file at: {SERVER_ZIP_FILE_PATH}")

if os.path.exists(SERVER_ZIP_FILE_PATH):
    print(f"Zip file found at {SERVER_ZIP_FILE_PATH}.")
    if unzip_data(SERVER_ZIP_FILE_PATH, EXTRACTION_DESTINATION_DIR_ON_SERVER):
        
        EXPECTED_EXTRACTED_FOLDER_NAME = 'spider_subset_data' # This is the folder INSIDE the zip

        DEV_JSON_PATH = os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME, 'dev.json')
        TABLES_JSON_PATH = os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME, 'tables.json')

        print("\nVerifying extracted file paths...")
        if os.path.exists(DEV_JSON_PATH):
            print(f"SUCCESS: dev.json path is valid: {DEV_JSON_PATH}")
        else:
            print(f"ERROR: dev.json NOT FOUND at expected path: {DEV_JSON_PATH}")
            print(f"Please check the contents of {os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME)}")


        if os.path.exists(TABLES_JSON_PATH):
            print(f"SUCCESS: tables.json path is valid: {TABLES_JSON_PATH}")
        else:
            print(f"ERROR: tables.json NOT FOUND at expected path: {TABLES_JSON_PATH}")
            print(f"Please check the contents of {os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME)}")

    else:
        print("Unzipping failed on the server. Cannot define data paths.")
else:
    print(f"ERROR: Zip file NOT FOUND at {SERVER_ZIP_FILE_PATH} on the server.")
    print("Please ensure the 'scp' command was successful and the path is correct.")


if DEV_JSON_PATH and TABLES_JSON_PATH and os.path.exists(DEV_JSON_PATH) and os.path.exists(TABLES_JSON_PATH):
    print("\n--- Ready to load data ---")
    print(f"Path to dev.json: {DEV_JSON_PATH}")
    print(f"Path to tables.json: {TABLES_JSON_PATH}")
    
else:
    print("\n--- Data paths are not correctly set up. Cannot proceed with data loading. ---")

Script started. Looking for zip file at: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip
Zip file found at /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip.
Attempting to unzip /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip to /raid/infolab/gaurav/Llama_Spider_A100_Project/...
Successfully unzipped files to /raid/infolab/gaurav/Llama_Spider_A100_Project/
Contents of /raid/infolab/gaurav/Llama_Spider_A100_Project/:
  - experiments_70b_llama
  - .gitignore
  - backup_to_github.sh
  - Miniconda3-latest-Linux-x86_64.sh
  - spider_subset_data.zip
  - .ipynb_checkpoints
  - .git
  - miniconda3
  - spider_subset_data
  - __MACOSX

Verifying extracted file paths...
SUCCESS: dev.json path is valid: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/dev.json
SUCCESS: tables.json path is valid: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json

--- Ready to load data ---
Path to dev.json: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/dev.json
Path to tables.json: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json

In [23]:
import json

def load_json_data(file_path):
    if os.path.exists(file_path):
        with open(file_path, 'r') as f:
            return json.load(f)
    else:
        print(f"ERROR: File not found at {file_path}")
        return None

dev_data = load_json_data(DEV_JSON_PATH)
tables_data = load_json_data(TABLES_JSON_PATH)

if dev_data and tables_data:
    print(f"Loaded {len(dev_data)} queries from dev.json")
    print(f"Loaded {len(tables_data)} database schemas from tables.json")
else:
    print("Failed to load Spider data. Please check paths and upload.")

Loaded 1034 queries from dev.json
Loaded 166 database schemas from tables.json

In [39]:
import json

def load_schemas(tables_json_path):
    """Loads schemas from tables.json into a dictionary keyed by db_id."""
    with open(tables_json_path, 'r') as f:
        schemas_list = json.load(f)
    schemas_dict = {db_info['db_id']: db_info for db_info in schemas_list}
    return schemas_dict

def map_spider_type_to_sql_type(spider_type, is_pk_or_fk=False):
    """Maps Spider's generic types to SQLite data types."""
    spider_type = spider_type.lower()
    if spider_type == "text":
        return "TEXT"
    elif spider_type == "number":
        return "INTEGER" if is_pk_or_fk else "REAL" # Prefer INTEGER for IDs
    elif spider_type == "time":
        return "DATETIME"
    elif spider_type == "boolean":
        return "BOOLEAN" # INTEGER 0 or 1 in SQLite
    elif spider_type == "others": # Less common, BLOB or TEXT is a guess
        return "BLOB"
    else:
        return "TEXT" # Default fallback

def escape_sql_identifier(name):
    """Escapes SQL identifiers (table/column names) if they contain spaces or are keywords."""
    # SQLite uses double quotes, backticks, or square brackets. Double quotes are standard.
    if " " in name or name.lower() in {"select", "from", "where", "table", "primary", "key", "foreign", "index", "order", "group"}: # Added more keywords
        return f'"{name}"'
    return name

def generate_create_table_sql_for_db(db_id, all_schemas):
    """
    Generates SQL CREATE TABLE statements for a given db_id from the Spider schema.
    """
    if db_id not in all_schemas:
        return f"-- Database ID '{db_id}' not found in schemas."

    db_schema = all_schemas[db_id]
    sql_statements = []

    # For quick lookup of column original name and table original name by column index
    column_info_by_index = {}
    for i, (table_idx, col_name_original) in enumerate(db_schema['column_names_original']):
        if col_name_original == "*": # Skip the wildcard column
            continue
        column_info_by_index[i] = {
            "original_name": col_name_original,
            "table_index": table_idx,
            "original_table_name": db_schema['table_names_original'][table_idx],
            "type": db_schema['column_types'][i]
        }

    # Iterate through tables in their original order
    for table_idx, table_name_original in enumerate(db_schema['table_names_original']):
        escaped_table_name = escape_sql_identifier(table_name_original)
        column_definitions = []
        table_constraints = [] # For multi-column PKs and FKs

        current_table_columns = []
        for col_global_idx, (tbl_idx_for_col, col_name_orig) in enumerate(db_schema['column_names_original']):
            if col_name_orig == "*":
                continue
            if tbl_idx_for_col == table_idx:
                current_table_columns.append({
                    "global_idx": col_global_idx,
                    "name": col_name_orig,
                    "type": db_schema['column_types'][col_global_idx]
                })

        pk_column_indices_for_table = [
            pk_idx for pk_idx in db_schema['primary_keys']
            if column_info_by_index.get(pk_idx) and column_info_by_index[pk_idx]['table_index'] == table_idx
        ]
        pk_column_names_for_table = [column_info_by_index[idx]['original_name'] for idx in pk_column_indices_for_table]

        for col_data in current_table_columns:
            col_name_original = col_data['name']
            spider_type = col_data['type']
            col_global_idx = col_data['global_idx']

            is_pk_col = col_global_idx in pk_column_indices_for_table
            is_fk_col = any(fk_pair[0] == col_global_idx for fk_pair in db_schema['foreign_keys'])

            sql_type = map_spider_type_to_sql_type(spider_type, is_pk_or_fk=(is_pk_col or is_fk_col))
            escaped_col_name = escape_sql_identifier(col_name_original)
            col_def_str = f"{escaped_col_name} {sql_type}"

            if is_pk_col and len(pk_column_names_for_table) == 1:
                col_def_str += " PRIMARY KEY"
            column_definitions.append(col_def_str)

        if len(pk_column_names_for_table) > 1:
            escaped_pk_cols = [escape_sql_identifier(name) for name in pk_column_names_for_table]
            table_constraints.append(f"PRIMARY KEY ({', '.join(escaped_pk_cols)})")

        for fk_col_idx, referenced_col_idx in db_schema['foreign_keys']:
            # Ensure both ends of the FK are valid and the source is in the current table
            if column_info_by_index.get(fk_col_idx) and \
               column_info_by_index.get(referenced_col_idx) and \
               column_info_by_index[fk_col_idx]['table_index'] == table_idx:

                fk_column_name = column_info_by_index[fk_col_idx]['original_name']
                referenced_table_name = column_info_by_index[referenced_col_idx]['original_table_name']
                referenced_column_name = column_info_by_index[referenced_col_idx]['original_name']

                escaped_fk_col = escape_sql_identifier(fk_column_name)
                escaped_ref_table = escape_sql_identifier(referenced_table_name)
                escaped_ref_col = escape_sql_identifier(referenced_column_name)

                table_constraints.append(
                    f"FOREIGN KEY ({escaped_fk_col}) REFERENCES {escaped_ref_table} ({escaped_ref_col})"
                )

        all_parts = column_definitions + table_constraints
        create_table_statement = f"CREATE TABLE {escaped_table_name} (\n  "
        create_table_statement += ",\n  ".join(all_parts)
        create_table_statement += "\n);"
        sql_statements.append(create_table_statement)

    return "\n\n".join(sql_statements)

# --- Main Execution ---
if __name__ == "__main__":
    # Replace with the actual path to your tables.json
    spider_tables_json_path = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json' # e.g., './spider/tables.json'

    try:
        all_db_schemas = load_schemas(spider_tables_json_path)
        all_sql_output = []

        print(f"Found {len(all_db_schemas)} databases in '{spider_tables_json_path}'. Converting all...\n")

        for db_id in all_db_schemas:
            output_for_db = []
            output_for_db.append(f"-- Schema for Database ID: {db_id}")
            output_for_db.append("-- ----------------------------------")
            
            create_sql_statements = generate_create_table_sql_for_db(db_id, all_db_schemas)
            output_for_db.append(create_sql_statements)
            output_for_db.append("\n-- ==================================\n")
            
            all_sql_output.append("\n".join(output_for_db))

        # Print all generated SQL to console
        print("\n".join(all_sql_output))

        # Optionally, write to a single file:
        # output_file_path = "all_spider_schemas.sql"
        # with open(output_file_path, "w", encoding="utf-8") as f_out:
        #     f_out.write("\n".join(all_sql_output))
        # print(f"\nAll SQL CREATE TABLE statements saved to: {output_file_path}")


    except FileNotFoundError:
        print(f"Error: The file '{spider_tables_json_path}' was not found.")
    except json.JSONDecodeError:
        print(f"Error: Could not decode JSON from '{spider_tables_json_path}'. Check if it's a valid JSON file.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        import traceback
        traceback.print_exc()

Found 166 databases in '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json'. Converting all...

-- Schema for Database ID: perpetrator
-- ----------------------------------
CREATE TABLE perpetrator (
  Perpetrator_ID INTEGER PRIMARY KEY,
  People_ID INTEGER,
  Date TEXT,
  Year REAL,
  Location TEXT,
  Country TEXT,
  Killed REAL,
  Injured REAL,
  FOREIGN KEY (People_ID) REFERENCES people (People_ID)
);

CREATE TABLE people (
  People_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Height REAL,
  Weight REAL,
  "Home Town" TEXT
);

-- ==================================

-- Schema for Database ID: college_2
-- ----------------------------------
CREATE TABLE classroom (
  building TEXT PRIMARY KEY,
  room_number TEXT,
  capacity REAL
);

CREATE TABLE department (
  dept_name TEXT PRIMARY KEY,
  building TEXT,
  budget REAL
);

CREATE TABLE course (
  course_id TEXT PRIMARY KEY,
  title TEXT,
  dept_name TEXT,
  credits REAL,
  FOREIGN KEY (dept_name) REFERENCES department (dept_name)
);

CREATE TABLE instructor (
  ID TEXT PRIMARY KEY,
  name TEXT,
  dept_name TEXT,
  salary REAL,
  FOREIGN KEY (dept_name) REFERENCES department (dept_name)
);

CREATE TABLE section (
  course_id TEXT PRIMARY KEY,
  sec_id TEXT,
  semester TEXT,
  year REAL,
  building TEXT,
  room_number TEXT,
  time_slot_id TEXT,
  FOREIGN KEY (building) REFERENCES classroom (building),
  FOREIGN KEY (room_number) REFERENCES classroom (room_number),
  FOREIGN KEY (course_id) REFERENCES course (course_id)
);

CREATE TABLE teaches (
  ID TEXT PRIMARY KEY,
  course_id TEXT,
  sec_id TEXT,
  semester TEXT,
  year INTEGER,
  FOREIGN KEY (ID) REFERENCES instructor (ID),
  FOREIGN KEY (course_id) REFERENCES section (course_id),
  FOREIGN KEY (sec_id) REFERENCES section (sec_id),
  FOREIGN KEY (semester) REFERENCES section (semester),
  FOREIGN KEY (year) REFERENCES section (year)
);

CREATE TABLE student (
  ID TEXT PRIMARY KEY,
  name TEXT,
  dept_name TEXT,
  tot_cred REAL,
  FOREIGN KEY (dept_name) REFERENCES department (dept_name)
);

CREATE TABLE takes (
  ID TEXT PRIMARY KEY,
  course_id TEXT,
  sec_id TEXT,
  semester TEXT,
  year INTEGER,
  grade TEXT,
  FOREIGN KEY (ID) REFERENCES student (ID),
  FOREIGN KEY (course_id) REFERENCES section (course_id),
  FOREIGN KEY (sec_id) REFERENCES section (sec_id),
  FOREIGN KEY (semester) REFERENCES section (semester),
  FOREIGN KEY (year) REFERENCES section (year)
);

CREATE TABLE advisor (
  s_ID TEXT PRIMARY KEY,
  i_ID TEXT,
  FOREIGN KEY (s_ID) REFERENCES student (ID),
  FOREIGN KEY (i_ID) REFERENCES instructor (ID)
);

CREATE TABLE time_slot (
  time_slot_id TEXT PRIMARY KEY,
  day TEXT,
  start_hr REAL,
  start_min REAL,
  end_hr REAL,
  end_min REAL
);

CREATE TABLE prereq (
  course_id TEXT PRIMARY KEY,
  prereq_id TEXT,
  FOREIGN KEY (prereq_id) REFERENCES course (course_id),
  FOREIGN KEY (course_id) REFERENCES course (course_id)
);

-- ==================================

-- Schema for Database ID: flight_company
-- ----------------------------------
CREATE TABLE airport (
  id INTEGER PRIMARY KEY,
  City TEXT,
  Country TEXT,
  IATA TEXT,
  ICAO TEXT,
  name TEXT
);

CREATE TABLE operate_company (
  id INTEGER PRIMARY KEY,
  name TEXT,
  Type TEXT,
  Principal_activities TEXT,
  Incorporated_in TEXT,
  Group_Equity_Shareholding REAL
);

CREATE TABLE flight (
  id INTEGER PRIMARY KEY,
  Vehicle_Flight_number TEXT,
  Date TEXT,
  Pilot TEXT,
  Velocity REAL,
  Altitude REAL,
  airport_id INTEGER,
  company_id INTEGER,
  FOREIGN KEY (company_id) REFERENCES operate_company (id),
  FOREIGN KEY (airport_id) REFERENCES airport (id)
);

-- ==================================

-- Schema for Database ID: icfp_1
-- ----------------------------------
CREATE TABLE Inst (
  instID INTEGER PRIMARY KEY,
  name TEXT,
  country TEXT
);

CREATE TABLE Authors (
  authID INTEGER PRIMARY KEY,
  lname TEXT,
  fname TEXT
);

CREATE TABLE Papers (
  paperID INTEGER PRIMARY KEY,
  title TEXT
);

CREATE TABLE Authorship (
  authID INTEGER PRIMARY KEY,
  instID INTEGER,
  paperID INTEGER,
  authOrder REAL,
  FOREIGN KEY (paperID) REFERENCES Papers (paperID),
  FOREIGN KEY (instID) REFERENCES Inst (instID),
  FOREIGN KEY (authID) REFERENCES Authors (authID)
);

-- ==================================

-- Schema for Database ID: body_builder
-- ----------------------------------
CREATE TABLE body_builder (
  Body_Builder_ID INTEGER PRIMARY KEY,
  People_ID INTEGER,
  Snatch REAL,
  Clean_Jerk REAL,
  Total REAL,
  FOREIGN KEY (People_ID) REFERENCES people (People_ID)
);

CREATE TABLE people (
  People_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Height REAL,
  Weight REAL,
  Birth_Date TEXT,
  Birth_Place TEXT
);

-- ==================================

-- Schema for Database ID: storm_record
-- ----------------------------------
CREATE TABLE storm (
  Storm_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Dates_active TEXT,
  Max_speed REAL,
  Damage_millions_USD REAL,
  Number_Deaths REAL
);

CREATE TABLE region (
  Region_id INTEGER PRIMARY KEY,
  Region_code TEXT,
  Region_name TEXT
);

CREATE TABLE affected_region (
  Region_id INTEGER PRIMARY KEY,
  Storm_ID INTEGER,
  Number_city_affected REAL,
  FOREIGN KEY (Storm_ID) REFERENCES storm (Storm_ID),
  FOREIGN KEY (Region_id) REFERENCES region (Region_id)
);

-- ==================================

-- Schema for Database ID: pilot_record
-- ----------------------------------
CREATE TABLE aircraft (
  Aircraft_ID INTEGER PRIMARY KEY,
  Order_Year REAL,
  Manufacturer TEXT,
  Model TEXT,
  Fleet_Series TEXT,
  Powertrain TEXT,
  Fuel_Propulsion TEXT
);

CREATE TABLE pilot (
  Pilot_ID INTEGER PRIMARY KEY,
  Pilot_name TEXT,
  Rank REAL,
  Age REAL,
  Nationality TEXT,
  Position TEXT,
  Join_Year REAL,
  Team TEXT
);

CREATE TABLE pilot_record (
  Record_ID REAL,
  Pilot_ID INTEGER PRIMARY KEY,
  Aircraft_ID INTEGER,
  Date TEXT,
  FOREIGN KEY (Aircraft_ID) REFERENCES aircraft (Aircraft_ID),
  FOREIGN KEY (Pilot_ID) REFERENCES pilot (Pilot_ID)
);

-- ==================================

-- Schema for Database ID: race_track
-- ----------------------------------
CREATE TABLE race (
  Race_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Class TEXT,
  Date TEXT,
  Track_ID TEXT,
  FOREIGN KEY (Track_ID) REFERENCES track (Track_ID)
);

CREATE TABLE track (
  Track_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Location TEXT,
  Seating REAL,
  Year_Opened REAL
);

-- ==================================

-- Schema for Database ID: academic
-- ----------------------------------
CREATE TABLE author (
  aid INTEGER PRIMARY KEY,
  homepage TEXT,
  name TEXT,
  oid REAL
);

CREATE TABLE conference (
  cid INTEGER PRIMARY KEY,
  homepage TEXT,
  name TEXT
);

CREATE TABLE domain (
  did INTEGER PRIMARY KEY,
  name TEXT
);

CREATE TABLE domain_author (
  aid INTEGER,
  did INTEGER PRIMARY KEY,
  FOREIGN KEY (did) REFERENCES domain (did),
  FOREIGN KEY (aid) REFERENCES author (aid)
);

CREATE TABLE domain_conference (
  cid INTEGER,
  did INTEGER PRIMARY KEY,
  FOREIGN KEY (did) REFERENCES domain (did),
  FOREIGN KEY (cid) REFERENCES conference (cid)
);

CREATE TABLE journal (
  homepage TEXT,
  jid INTEGER PRIMARY KEY,
  name TEXT
);

CREATE TABLE domain_journal (
  did INTEGER PRIMARY KEY,
  jid INTEGER,
  FOREIGN KEY (did) REFERENCES domain (did),
  FOREIGN KEY (jid) REFERENCES journal (jid)
);

CREATE TABLE keyword (
  keyword TEXT,
  kid INTEGER PRIMARY KEY
);

CREATE TABLE domain_keyword (
  did INTEGER PRIMARY KEY,
  kid INTEGER,
  FOREIGN KEY (did) REFERENCES domain (did),
  FOREIGN KEY (kid) REFERENCES keyword (kid)
);

CREATE TABLE publication (
  abstract TEXT,
  cid TEXT,
  citation_num REAL,
  jid INTEGER,
  pid INTEGER PRIMARY KEY,
  reference_num REAL,
  title TEXT,
  year REAL,
  FOREIGN KEY (cid) REFERENCES conference (cid),
  FOREIGN KEY (jid) REFERENCES journal (jid)
);

CREATE TABLE domain_publication (
  did INTEGER PRIMARY KEY,
  pid INTEGER,
  FOREIGN KEY (did) REFERENCES domain (did),
  FOREIGN KEY (pid) REFERENCES publication (pid)
);

CREATE TABLE organization (
  continent TEXT,
  homepage TEXT,
  name TEXT,
  oid INTEGER PRIMARY KEY
);

CREATE TABLE publication_keyword (
  pid INTEGER,
  kid INTEGER PRIMARY KEY,
  FOREIGN KEY (kid) REFERENCES keyword (kid),
  FOREIGN KEY (pid) REFERENCES publication (pid)
);

CREATE TABLE writes (
  aid INTEGER PRIMARY KEY,
  pid INTEGER,
  FOREIGN KEY (aid) REFERENCES author (aid),
  FOREIGN KEY (pid) REFERENCES publication (pid)
);

CREATE TABLE cite (
  cited INTEGER,
  citing INTEGER,
  FOREIGN KEY (citing) REFERENCES publication (pid),
  FOREIGN KEY (cited) REFERENCES publication (pid)
);

-- ==================================

-- Schema for Database ID: department_store
-- ----------------------------------
CREATE TABLE Addresses (
  address_id INTEGER PRIMARY KEY,
  address_details TEXT
);

CREATE TABLE Staff (
  staff_id INTEGER PRIMARY KEY,
  staff_gender TEXT,
  staff_name TEXT
);

CREATE TABLE Suppliers (
  supplier_id INTEGER PRIMARY KEY,
  supplier_name TEXT,
  supplier_phone TEXT
);

CREATE TABLE Department_Store_Chain (
  dept_store_chain_id INTEGER PRIMARY KEY,
  dept_store_chain_name TEXT
);

CREATE TABLE Customers (
  customer_id INTEGER PRIMARY KEY,
  payment_method_code TEXT,
  customer_code TEXT,
  customer_name TEXT,
  customer_address TEXT,
  customer_phone TEXT,
  customer_email TEXT
);

CREATE TABLE Products (
  product_id INTEGER PRIMARY KEY,
  product_type_code TEXT,
  product_name TEXT,
  product_price REAL
);

CREATE TABLE Supplier_Addresses (
  supplier_id INTEGER PRIMARY KEY,
  address_id INTEGER,
  date_from DATETIME,
  date_to DATETIME,
  FOREIGN KEY (supplier_id) REFERENCES Suppliers (supplier_id),
  FOREIGN KEY (address_id) REFERENCES Addresses (address_id)
);

CREATE TABLE Customer_Addresses (
  customer_id INTEGER PRIMARY KEY,
  address_id INTEGER,
  date_from DATETIME,
  date_to DATETIME,
  FOREIGN KEY (customer_id) REFERENCES Customers (customer_id),
  FOREIGN KEY (address_id) REFERENCES Addresses (address_id)
);

CREATE TABLE Customer_Orders (
  order_id INTEGER PRIMARY KEY,
  customer_id INTEGER,
  order_status_code TEXT,
  order_date DATETIME,
  FOREIGN KEY (customer_id) REFERENCES Customers (customer_id)
);

CREATE TABLE Department_Stores (
  dept_store_id INTEGER PRIMARY KEY,
  dept_store_chain_id INTEGER,
  store_name TEXT,
  store_address TEXT,
  store_phone TEXT,
  store_email TEXT,
  FOREIGN KEY (dept_store_chain_id) REFERENCES Department_Store_Chain (dept_store_chain_id)
);

CREATE TABLE Departments (
  department_id INTEGER PRIMARY KEY,
  dept_store_id INTEGER,
  department_name TEXT,
  FOREIGN KEY (dept_store_id) REFERENCES Department_Stores (dept_store_id)
);

CREATE TABLE Order_Items (
  order_item_id INTEGER PRIMARY KEY,
  order_id INTEGER,
  product_id INTEGER,
  FOREIGN KEY (product_id) REFERENCES Products (product_id),
  FOREIGN KEY (order_id) REFERENCES Customer_Orders (order_id)
);

CREATE TABLE Product_Suppliers (
  product_id INTEGER PRIMARY KEY,
  supplier_id INTEGER,
  date_supplied_from DATETIME,
  date_supplied_to DATETIME,
  total_amount_purchased TEXT,
  total_value_purchased REAL,
  FOREIGN KEY (product_id) REFERENCES Products (product_id),
  FOREIGN KEY (supplier_id) REFERENCES Suppliers (supplier_id)
);

CREATE TABLE Staff_Department_Assignments (
  staff_id INTEGER PRIMARY KEY,
  department_id INTEGER,
  date_assigned_from DATETIME,
  job_title_code TEXT,
  date_assigned_to DATETIME,
  FOREIGN KEY (staff_id) REFERENCES Staff (staff_id),
  FOREIGN KEY (department_id) REFERENCES Departments (department_id)
);

-- ==================================

-- Schema for Database ID: music_4
-- ----------------------------------
CREATE TABLE artist (
  Artist_ID INTEGER PRIMARY KEY,
  Artist TEXT,
  Age REAL,
  Famous_Title TEXT,
  Famous_Release_date TEXT
);

CREATE TABLE volume (
  Volume_ID INTEGER PRIMARY KEY,
  Volume_Issue TEXT,
  Issue_Date TEXT,
  Weeks_on_Top REAL,
  Song TEXT,
  Artist_ID INTEGER,
  FOREIGN KEY (Artist_ID) REFERENCES artist (Artist_ID)
);

CREATE TABLE music_festival (
  ID INTEGER PRIMARY KEY,
  Music_Festival TEXT,
  Date_of_ceremony TEXT,
  Category TEXT,
  Volume INTEGER,
  Result TEXT,
  FOREIGN KEY (Volume) REFERENCES volume (Volume_ID)
);

-- ==================================

-- Schema for Database ID: insurance_fnol
-- ----------------------------------
CREATE TABLE Customers (
  Customer_ID INTEGER PRIMARY KEY,
  Customer_name TEXT
);

CREATE TABLE Services (
  Service_ID INTEGER PRIMARY KEY,
  Service_name TEXT
);

CREATE TABLE Available_Policies (
  Policy_ID INTEGER PRIMARY KEY,
  policy_type_code TEXT,
  Customer_Phone TEXT
);

CREATE TABLE Customers_Policies (
  Customer_ID INTEGER PRIMARY KEY,
  Policy_ID INTEGER,
  Date_Opened DATETIME,
  Date_Closed DATETIME,
  FOREIGN KEY (Policy_ID) REFERENCES Available_Policies (Policy_ID),
  FOREIGN KEY (Customer_ID) REFERENCES Customers (Customer_ID)
);

CREATE TABLE First_Notification_of_Loss (
  FNOL_ID INTEGER PRIMARY KEY,
  Customer_ID INTEGER,
  Policy_ID INTEGER,
  Service_ID INTEGER,
  FOREIGN KEY (Customer_ID) REFERENCES Customers_Policies (Customer_ID),
  FOREIGN KEY (Policy_ID) REFERENCES Customers_Policies (Policy_ID),
  FOREIGN KEY (Service_ID) REFERENCES Services (Service_ID)
);

CREATE TABLE Claims (
  Claim_ID INTEGER PRIMARY KEY,
  FNOL_ID INTEGER,
  Effective_Date DATETIME,
  FOREIGN KEY (FNOL_ID) REFERENCES First_Notification_of_Loss (FNOL_ID)
);

CREATE TABLE Settlements (
  Settlement_ID INTEGER PRIMARY KEY,
  Claim_ID INTEGER,
  Effective_Date DATETIME,
  Settlement_Amount REAL,
  FOREIGN KEY (Claim_ID) REFERENCES Claims (Claim_ID)
);

-- ==================================

-- Schema for Database ID: cinema
-- ----------------------------------
CREATE TABLE film (
  Film_ID INTEGER PRIMARY KEY,
  Rank_in_series REAL,
  Number_in_season REAL,
  Title TEXT,
  Directed_by TEXT,
  Original_air_date TEXT,
  Production_code TEXT
);

CREATE TABLE cinema (
  Cinema_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Openning_year REAL,
  Capacity REAL,
  Location TEXT
);

CREATE TABLE schedule (
  Cinema_ID INTEGER PRIMARY KEY,
  Film_ID INTEGER,
  Date TEXT,
  Show_times_per_day REAL,
  Price REAL,
  FOREIGN KEY (Cinema_ID) REFERENCES cinema (Cinema_ID),
  FOREIGN KEY (Film_ID) REFERENCES film (Film_ID)
);

-- ==================================

-- Schema for Database ID: decoration_competition
-- ----------------------------------
CREATE TABLE college (
  College_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Leader_Name TEXT,
  College_Location TEXT
);

CREATE TABLE member (
  Member_ID INTEGER PRIMARY KEY,
  Name TEXT,
  Country TEXT,
  College_ID INTEGER,
  FOREIGN KEY (College_ID) REFERENCES college (College_ID)
);

CREATE TABLE round (
  Round_ID REAL,
  Member_ID INTEGER PRIMARY KEY,
  Decoration_Theme TEXT,
  Rank_in_Round REAL,
  FOREIGN KEY (Member_ID) REFERENCES member (Member_ID)
);

-- ==================================

-- Schema for Database ID: phone_market
-- ----------------------------------
CREATE TABLE phone (
  Name TEXT,
  Phone_ID INTEGER PRIMARY KEY,
  Memory_in_G REAL,
  Carrier TEXT,
  Price REAL
);

CREATE TABLE market (
  Market_ID INTEGER PRIMARY KEY,
  District TEXT,
  Num_of_employees REAL,
  Num_of_shops REAL,
  Ranking REAL
);

CREATE TABLE phone_market (
  Market_ID INTEGER PRIMARY KEY,
  Phone_ID TEXT,
  Num_of_stock REAL,
  FOREIGN KEY (Phone_ID) REFERENCES phone (Phone_ID),
  FOREIGN KEY (Market_ID) REFERENCES market (Market_ID)
);

-- ==================================

-- Schema for Database ID: store_product
-- ----------------------------------
CREATE TABLE product (
  product_id INTEGER PRIMARY KEY,
  product TEXT,
  dimensions TEXT,
  dpi REAL,
  pages_per_minute_color REAL,
  max_page_size TEXT,
  interface TEXT
);

CREATE TABLE store (
  Store_ID INTEGER PRIMARY KEY,
  Store_Name TEXT,
  Type TEXT,
  Area_size REAL,
  Number_of_product_category REAL,
  Ranking REAL
);

CREATE TABLE district (
  District_ID INTEGER PRIMARY KEY,
  District_name TEXT,
  Headquartered_City TEXT,
  City_Population REAL,
  City_Area REAL
);

CREATE TABLE store_product (
  Store_ID INTEGER PRIMARY KEY,
  Product_ID REAL,
  FOREIGN KEY (Store_ID) REFERENCES store (Store_ID)
);

CREATE TABLE store_district (
  Store_ID INTEGER PRIMARY KEY,
  District_ID INTEGER,
  FOREIGN KEY (District_ID) REFERENCES district (District_ID),
  FOREIGN KEY (Store_ID) REFERENCES store (Store_ID)
);

-- ==================================

-- Schema for Database ID: assets_maintenance
-- ----------------------------------
CREATE TABLE Third_Party_Companies (
  company_id INTEGER PRIMARY KEY,
  company_type TEXT,
  company_name TEXT,
  company_address TEXT,
  other_company_details TEXT
);

CREATE TABLE Maintenance_Contracts (
  maintenance_contract_id INTEGER PRIMARY KEY,
  maintenance_contract_company_id INTEGER,
  contract_start_date DATETIME,
  contract_end_date DATETIME,
  other_contract_details TEXT,
  FOREIGN KEY (maintenance_contract_company_id) REFERENCES Third_Party_Companies (company_id)
);

CREATE TABLE Parts (
  part_id INTEGER PRIMARY KEY,
  part_name TEXT,
  chargeable_yn TEXT,
  chargeable_amount TEXT,
  other_part_details TEXT
);

CREATE TABLE Skills (
  skill_id INTEGER PRIMARY KEY,
  skill_code TEXT,
  skill_description TEXT
);

CREATE TABLE Staff (
  staff_id INTEGER PRIMARY KEY,
  staff_name TEXT,
  gender TEXT,
  other_staff_details TEXT
);

CREATE TABLE Assets (
  asset_id INTEGER PRIMARY KEY,
  maintenance_contract_id INTEGER,
  supplier_company_id INTEGER,
  asset_details TEXT,
  asset_make TEXT,
  asset_model TEXT,
  asset_acquired_date DATETIME,
  asset_disposed_date DATETIME,
  other_asset_details TEXT,
  FOREIGN KEY (supplier_company_id) REFERENCES Third_Party_Companies (company_id),
  FOREIGN KEY (maintenance_contract_id) REFERENCES Maintenance_Contracts (maintenance_contract_id)
);

CREATE TABLE Asset_Parts (
  asset_id INTEGER,
  part_id INTEGER,
  FOREIGN KEY (asset_id) REFERENCES Assets (asset_id),
  FOREIGN KEY (part_id) REFERENCES Parts (part_id)
);

CREATE TABLE Maintenance_Engineers (
  engineer_id INTEGER PRIMARY KEY,
  company_id INTEGER,
  first_name TEXT,
  last_name TEXT,
  other_details TEXT,
  FOREIGN KEY (company_id) REFERENCES Third_Party_Companies (company_id)
);

CREATE TABLE Engineer_Skills (
  engineer_id INTEGER,
  skill_id INTEGER,
  FOREIGN KEY (skill_id) REFERENCES Skills (skill_id),
  FOREIGN KEY (engineer_id) REFERENCES Maintenance_Engineers (engineer_id)
);

CREATE TABLE Fault_Log (
  fault_log_entry_id INTEGER PRIMARY KEY,
  asset_id INTEGER,
  recorded_by_staff_id INTEGER,
  fault_log_entry_datetime DATETIME,
  fault_description TEXT,
  other_fault_details TEXT,
  FOREIGN KEY (recorded_by_staff_id) REFERENCES Staff (staff_id),
  FOREIGN KEY (asset_id) REFERENCES Assets (asset_id)
);

CREATE TABLE Engineer_Visits (
  engineer_visit_id INTEGER PRIMARY KEY,
  contact_staff_id INTEGER,
  engineer_id INTEGER,
  fault_log_entry_id INTEGER,
  fault_status TEXT,
  visit_start_datetime DATETIME,
  visit_end_datetime DATETIME,
  other_visit_details TEXT,
  FOREIGN KEY (contact_staff_id) REFERENCES Staff (staff_id),
  FOREIGN KEY (engineer_id) REFERENCES Maintenance_Engineers (engineer_id),
  FOREIGN KEY (fault_log_entry_id) REFERENCES Fault_Log (fault_log_entry_id)
);

CREATE TABLE Part_Faults (
  part_fault_id INTEGER PRIMARY KEY,
  part_id INTEGER,
  fault_short_name TEXT,
  fault_description TEXT,
  other_fault_details TEXT,
  FOREIGN KEY (part_id) REFERENCES Parts (part_id)
);

CREATE TABLE Fault_Log_Parts (
  fault_log_entry_id INTEGER,
  part_fault_id INTEGER,
  fault_status TEXT,
  FOREIGN KEY (fault_log_entry_id) REFERENCES Fault_Log (fault_log_entry_id),
  FOREIGN KEY (part_fault_id) REFERENCES Part_Faults (part_fault_id)
);

CREATE TABLE Skills_Required_To_Fix (
  part_fault_id INTEGER,
  skill_id INTEGER,
  FOREIGN KEY (skill_id) REFERENCES Skills (skill_id),
  FOREIGN KEY (part_fault_id) REFERENCES Part_Faults (part_fault_id)
);


In [54]:
# This cell defines parameters for running the experiment.
# It will now randomly select queries and always use ALL database schemas as candidates.

import random # Ensure random is imported at the top of your notebook or this cell
# import os # Ensure os is imported (likely already done for path joining)
# import json # Ensure json is imported (likely already done for loading)

# --- 2.1. Experiment Parameters ---
# Number of NL queries to RANDOMLY select from dev.json to process.
# For initial testing in Colab, use a small subset. For a more thorough run, increase this.
NUM_RANDOM_QUERIES_TO_TEST = 100 # For example, test 5 random queries

# This will now effectively always be True based on your requirement.
# The logic will be set up to use all schemas from all_db_schemas_sql_strings.
# We can keep the variable for clarity or remove it if it's always all DBs.
# For this implementation, let's explicitly aim for all DBs.
print("INFO: This experiment configuration will test each randomly selected query against ALL available Spider database schemas.")


# --- 2.2. Randomly Select NL Queries for the Experiment ---
# We will randomly sample NUM_RANDOM_QUERIES_TO_TEST queries from the loaded dev_data.
if not dev_data: # dev_data should have been loaded in Cell 1
    raise ValueError("dev_data is not loaded (from dev.json). Cannot select queries. Please run Cell 1 first.")

if len(dev_data) == 0:
    raise ValueError("dev_data is empty. No queries to select.")

actual_num_queries_to_select = min(NUM_RANDOM_QUERIES_TO_TEST, len(dev_data))
# Using min ensures we don't try to sample more queries than available.

if actual_num_queries_to_select < NUM_RANDOM_QUERIES_TO_TEST:
    print(f"Warning: Requested {NUM_RANDOM_QUERIES_TO_TEST} random queries, but only {len(dev_data)} are available. Using all {len(dev_data)} queries.")

# Randomly sample without replacement
selected_nl_queries = random.sample(dev_data, actual_num_queries_to_select)

print(f"\nRandomly selected {len(selected_nl_queries)} NL queries for the experiment:")
for i, q_info in enumerate(selected_nl_queries):
    print(f"  Test Query {i+1}: '{q_info['question']}' (True DB: {q_info['db_id']})")


# --- 2.3. Determine Candidate Database Schemas for Each Query ---
# For this experiment design, we ALWAYS use ALL available database schemas.
# all_db_schemas_sql_strings should have been populated in Cell 1.
if not all_sql_output: # Populated in Cell 1
    raise ValueError("all_sql_output is empty. Schemas were not converted in Cell 1. Cannot proceed.")

candidate_schemas_for_evaluation = all_sql_output # Use all converted schemas
print(f"\nEach of the {len(selected_nl_queries)} selected queries will be evaluated against all {len(candidate_schemas_for_evaluation)} available Spider database schemas.")

if not candidate_schemas_for_evaluation: # Should not happen if all_db_schemas_sql_strings was populated
    raise ValueError("No candidate schemas available for evaluation. This indicates an issue with schema loading or conversion in Cell 1.")

INFO: This experiment configuration will test each randomly selected query against ALL available Spider database schemas.

Randomly selected 100 NL queries for the experiment:
  Test Query 1: 'Give the language that is spoken in the most countries.' (True DB: world_1)
  Test Query 2: 'Find the number of professionals who have ever treated dogs.' (True DB: dog_kennels)
  Test Query 3: 'How many different departments offer degrees?' (True DB: student_transcripts_tracking)
  Test Query 4: 'What is the average weight for each type of pet?' (True DB: pets_1)
  Test Query 5: 'What is the hometown of the youngest teacher?' (True DB: course_teach)
  Test Query 6: 'List the title of all cartoons in alphabetical order.' (True DB: tvshow)
  Test Query 7: 'Give the mean GNP and total population of nations which are considered US territory.' (True DB: world_1)
  Test Query 8: 'Find the model of the car whose weight is below the average weight.' (True DB: car_1)
  Test Query 9: 'List the names and birth dates of people in ascending alphabetical order of name.' (True DB: poker_player)
  Test Query 10: 'Whose permanent address is different from his or her current address? List his or her first name.' (True DB: student_transcripts_tracking)
  Test Query 11: 'Give the flight numbers of flights arriving in Aberdeen.' (True DB: flight_2)
  Test Query 12: 'What is the total number of countries where Spanish is spoken by the largest percentage of people?' (True DB: world_1)
  Test Query 13: 'Return the id of the document with the fewest paragraphs.' (True DB: cre_Doc_Template_Mgt)
  Test Query 14: 'List the names of all winners who played in both 2013 and 2016.' (True DB: wta_1)
  Test Query 15: 'Show the names of students who have a grade higher than 5 and have at least 2 friends.' (True DB: network_1)
  Test Query 16: 'List the names of teachers who have not been arranged to teach courses.' (True DB: course_teach)
  Test Query 17: 'What is the most populace city that speaks English?' (True DB: world_1)
  Test Query 18: 'How many matches were played in 2013 or 2016?' (True DB: wta_1)
  Test Query 19: 'Find the minimum grade of students who have no friends.' (True DB: network_1)
  Test Query 20: 'Tell me the number of dogs that have not received any treatment .' (True DB: dog_kennels)
  Test Query 21: 'List the most common hometown of teachers.' (True DB: course_teach)
  Test Query 22: 'Show all template type codes and descriptions.' (True DB: cre_Doc_Template_Mgt)
  Test Query 23: 'Find the distinct breed type and size type combinations for dogs.' (True DB: dog_kennels)
  Test Query 24: 'How many flights do we have?' (True DB: flight_2)
  Test Query 25: 'What is the first and second line for all addresses?' (True DB: student_transcripts_tracking)
  Test Query 26: 'Which continent is Anguilla in?' (True DB: world_1)
  Test Query 27: 'How many courses in total are listed?' (True DB: student_transcripts_tracking)
  Test Query 28: 'what are the different names of the singers that have sales more than 300000?' (True DB: singer)
  Test Query 29: 'List the date of each treatment, together with the first name of the professional who operated it.' (True DB: dog_kennels)
  Test Query 30: 'What is the language spoken by the largest percentage of people in each country?' (True DB: world_1)
  Test Query 31: 'What is the description of the department whose name has the substring the computer?' (True DB: student_transcripts_tracking)
  Test Query 32: 'Return the name, location and district of all shops in descending order of number of products.' (True DB: employee_hire_evaluation)
  Test Query 33: 'What are the codes of countries where Spanish is spoken by the largest percentage of people?' (True DB: world_1)
  Test Query 34: 'What is the last name of the student who has a cat that is 3 years old?' (True DB: pets_1)
  Test Query 35: 'How many countries speak both English and Dutch?' (True DB: world_1)
  Test Query 36: 'What are the first names and birth dates of players from the USA?' (True DB: wta_1)
  Test Query 37: 'For students who have pets , how many pets does each student have ? list their ids instead of names .' (True DB: pets_1)
  Test Query 38: 'What is the best rank of losers across all matches?' (True DB: wta_1)
  Test Query 39: 'What are 3 most highly rated episodes in the TV series table and what were those ratings?' (True DB: tvshow)
  Test Query 40: 'Show the names of conductors that have conducted more than one orchestras.' (True DB: orchestra)
  Test Query 41: 'What are the airline names and abbreviations for airlines in the USA?' (True DB: flight_2)
  Test Query 42: 'What is the first, middle, and last name of the earliest school graduate?' (True DB: student_transcripts_tracking)
  Test Query 43: 'What are the ids, names, and descriptions for all documents?' (True DB: cre_Doc_Template_Mgt)
  Test Query 44: 'Return the version numbers and template type codes of templates with a version number greater than 5.' (True DB: cre_Doc_Template_Mgt)
  Test Query 45: 'How many car makers are there in each continents? List the continent name and the count.' (True DB: car_1)
  Test Query 46: 'Find the first name and gender of student who have more than one pet.' (True DB: pets_1)
  Test Query 47: 'What the smallest version number and its template type code?' (True DB: cre_Doc_Template_Mgt)
  Test Query 48: 'Give the nationality that is most common across all people.' (True DB: poker_player)
  Test Query 49: 'Return the names and template ids for documents that contain the letter w in their description.' (True DB: cre_Doc_Template_Mgt)
  Test Query 50: 'Show ids for all templates that are used by more than one document.' (True DB: cre_Doc_Template_Mgt)
  Test Query 51: 'What are the full names of all players, sorted by birth date?' (True DB: wta_1)
  Test Query 52: 'What is minimum and maximum share of TV series?' (True DB: tvshow)
  Test Query 53: 'How many type of governments are in Africa?' (True DB: world_1)
  Test Query 54: 'What are the average ages of losers and winners across matches?' (True DB: wta_1)
  Test Query 55: 'What is the maximum mpg of the cars that had 8 cylinders or that were produced before 1980 ?' (True DB: car_1)
  Test Query 56: 'What is the total surface area of the countries in the Caribbean region?' (True DB: world_1)
  Test Query 57: 'What is the first name and country code of the oldest player?' (True DB: wta_1)
  Test Query 58: 'How many paragraphs for the document with name 'Summer Show'?' (True DB: cre_Doc_Template_Mgt)
  Test Query 59: 'List the first and last name of all players who are left / L hand in the order of birth date.' (True DB: wta_1)
  Test Query 60: 'Find the number of concerts happened in the stadium with the highest capacity .' (True DB: concert_singer)
  Test Query 61: 'What are each professional's first name and description of the treatment they have performed?' (True DB: dog_kennels)
  Test Query 62: 'Show the names of all of the high schooler Kyle's friends.' (True DB: network_1)
  Test Query 63: 'What are the id, role, and first name of the professionals who have performed two or more treatments?' (True DB: dog_kennels)
  Test Query 64: 'Show paragraph details for paragraph with text 'Korea ' .' (True DB: cre_Doc_Template_Mgt)
  Test Query 65: 'Find the production code and channel of the most recently aired cartoon .' (True DB: tvshow)
  Test Query 66: 'Find the name of tourney that has more than 10 matches.' (True DB: wta_1)
  Test Query 67: 'Find the names of employees who never won any award in the evaluation.' (True DB: employee_hire_evaluation)
  Test Query 68: 'Return the average earnings across all poker players.' (True DB: poker_player)
  Test Query 69: 'What is the total population and average area of countries in the continent of North America whose area is bigger than 3000 ?' (True DB: world_1)
  Test Query 70: 'What are the first names of every student who has a cat or dog as a pet?' (True DB: pets_1)
  Test Query 71: 'What are the different first names and ages of the students who do have pets?' (True DB: pets_1)
  Test Query 72: 'How many states are there?' (True DB: voter_1)
  Test Query 73: 'What are the final tables made and best finishes for all poker players?' (True DB: poker_player)
  Test Query 74: 'Find the id and name of the museum that has the most staff members?' (True DB: museum_visit)
  Test Query 75: 'What are the ids of documents that have 2 or more paragraphs?' (True DB: cre_Doc_Template_Mgt)
  Test Query 76: 'What are the names and id of courses having at most 2 sections?' (True DB: student_transcripts_tracking)
  Test Query 77: 'What is the count of singers?' (True DB: singer)
  Test Query 78: 'How many people live in countries that do not speak English?' (True DB: world_1)
  Test Query 79: 'Of all the contestants who got voted, what is the contestant number and name of the contestant who got least votes?' (True DB: voter_1)
  Test Query 80: 'How many cars has over 6 cylinders?' (True DB: car_1)
  Test Query 81: 'Show names for all stadiums except for stadiums having a concert in year 2014.' (True DB: concert_singer)
  Test Query 82: 'In 1980, how many cars were made?' (True DB: car_1)
  Test Query 83: 'Return the grade for the high schooler named Kyle.' (True DB: network_1)
  Test Query 84: 'What is the weekly rank for the episode "A Love of a Lifetime"?' (True DB: tvshow)
  Test Query 85: 'What are the contestant numbers and names of the contestants who had at least two votes?' (True DB: voter_1)
  Test Query 86: 'What are the names and areas of countries with the top 5 largest area?' (True DB: world_1)
  Test Query 87: 'What are the names of players who won in both 2013 and 2016?' (True DB: wta_1)
  Test Query 88: 'List singer names and number of concerts for each singer.' (True DB: concert_singer)
  Test Query 89: 'Which countries in europe have at least 3 car manufacturers?' (True DB: car_1)
  Test Query 90: 'What type of pet is the youngest animal, and how much does it weigh?' (True DB: pets_1)
  Test Query 91: 'Find all airlines that have at least 10 flights.' (True DB: flight_2)
  Test Query 92: 'What are the different government forms and what is the total population of each for government forms that have an average life expectancy greater than 72?' (True DB: world_1)
  Test Query 93: 'Return the names of all the poker players.' (True DB: poker_player)
  Test Query 94: 'What is the document id with least number of paragraphs?' (True DB: cre_Doc_Template_Mgt)
  Test Query 95: 'What are the ids and names of each document, as well as the number of paragraphs in each?' (True DB: cre_Doc_Template_Mgt)
  Test Query 96: 'Where is the youngest teacher from?' (True DB: course_teach)
  Test Query 97: 'What other details can you tell me about students in reverse alphabetical order?' (True DB: student_transcripts_tracking)
  Test Query 98: 'Show the name and theme for all concerts and the number of singers in each concert.' (True DB: concert_singer)
  Test Query 99: 'What is the air date of TV series with Episode "A Love of a Lifetime"?' (True DB: tvshow)
  Test Query 100: 'For model volvo, how many cylinders does the car with the least accelerate have?' (True DB: car_1)

Each of the 100 selected queries will be evaluated against all 166 available Spider database schemas.

In [56]:
import os
import json 
LOCAL_EXPERIMENT_BASE_DIR = "/raid/infolab/gaurav/Llama_Spider_A100_Project/"


EXPERIMENT_RUN_NAME = "randomQ_allDBs_run1" 
EXPERIMENT_PROJECT_DIR = os.path.join(LOCAL_EXPERIMENT_BASE_DIR, EXPERIMENT_RUN_NAME)

try:
    os.makedirs(EXPERIMENT_PROJECT_DIR, exist_ok=True)
    print(f"Ensured experiment project directory exists: '{EXPERIMENT_PROJECT_DIR}'")
except OSError as e:
    print(f"Error creating directory {EXPERIMENT_PROJECT_DIR}: {e}")
    EXPERIMENT_PROJECT_DIR = "." 


RESULTS_FILENAME = "spider_random_query_all_db_scores.json"
EXPERIMENT_RESULTS_FILE = os.path.join(EXPERIMENT_PROJECT_DIR, RESULTS_FILENAME)

print(f"Experiment results will be saved to: {EXPERIMENT_RESULTS_FILE}")

Ensured experiment project directory exists: '/raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1'
Experiment results will be saved to: /raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1/spider_random_query_all_db_scores.json

In [57]:
# Cell defining get_yes_no_token_ids (CORRECTED)
def get_yes_no_token_ids(tokenizer_arg):
    """
    Determines the token IDs for 'Yes' and 'No', accounting for potential leading spaces.
    Llama-2-chat tends to produce " Yes" or " No" as single tokens after the prompt.
    """
    # Try with leading space first, as it's common for chat models
    yes_token_id_with_space = tokenizer_arg.encode(" Yes", add_special_tokens=False)
    no_token_id_with_space = tokenizer_arg.encode(" No", add_special_tokens=False)

    if len(yes_token_id_with_space) == 1 and len(no_token_id_with_space) == 1:
        print("Using ' Yes' and ' No' (with leading space) for Yes/No token IDs.")
        return yes_token_id_with_space[0], no_token_id_with_space[0] # Explicit return
    else:
        # Fallback to "Yes" and "No" without leading space
        yes_token_id_no_space = tokenizer_arg.encode("Yes", add_special_tokens=False)
        no_token_id_no_space = tokenizer_arg.encode("No", add_special_tokens=False)
        if len(yes_token_id_no_space) == 1 and len(no_token_id_no_space) == 1:
            print("Warning: Using 'Yes' and 'No' (no leading space) for Yes/No token IDs. This might be suboptimal for chat models.")
            return yes_token_id_no_space[0], no_token_id_no_space[0] # Explicit return
        else:
            # This case is problematic.
            print(f"ERROR: Could not determine reliable single token IDs for 'Yes'/'No' or ' Yes'/' No'.")
            print(f"Tokenization of ' Yes': {yes_token_id_with_space} (decoded: {[tokenizer_arg.decode(t) for t in yes_token_id_with_space]})")
            print(f"Tokenization of ' No': {no_token_id_with_space} (decoded: {[tokenizer_arg.decode(t) for t in no_token_id_with_space]})")
            print(f"Tokenization of 'Yes': {yes_token_id_no_space} (decoded: {[tokenizer_arg.decode(t) for t in yes_token_id_no_space]})")
            print(f"Tokenization of 'No': {no_token_id_no_space} (decoded: {[tokenizer_arg.decode(t) for t in no_token_id_no_space]})")
            # It's better to raise an error here so the problem is immediately obvious
            # rather than returning None and causing a TypeError later.
            raise ValueError("Unstable tokenization for 'Yes'/'No'. Review tokenization outputs above. Cannot proceed without reliable Yes/No token IDs.")

print("Helper function 'get_yes_no_token_ids' defined (with actual logic).")

Helper function 'get_yes_no_token_ids' defined (with actual logic).

In [58]:
if 'tokenizer' in globals() and tokenizer is not None:
    try:
        YES_TOKEN_ID, NO_TOKEN_ID = get_yes_no_token_ids(tokenizer)
        print(f"YES_TOKEN_ID: {YES_TOKEN_ID} ('{tokenizer.decode([YES_TOKEN_ID])}')")
        print(f"NO_TOKEN_ID: {NO_TOKEN_ID} ('{tokenizer.decode([NO_TOKEN_ID])}')")
    except ValueError as e:
        print(f"Error defining YES/NO token IDs: {e}")
else:
    print("ERROR: 'tokenizer' is not defined. Cannot define YES_TOKEN_ID and NO_TOKEN_ID.")

Warning: Using 'Yes' and 'No' (no leading space) for Yes/No token IDs. This might be suboptimal for chat models.
YES_TOKEN_ID: 3869 ('Yes')
NO_TOKEN_ID: 1939 ('No')

In [83]:
import torch # Ensure torch is imported
# After loading your tokenizer:
# tokenizer = AutoTokenizer.from_pretrained("meta-llama/Llama-2-7b-chat-hf", ...) # Or your specific model

# Llama 2 Chat Template (common structure)
# Make sure this matches the exact format expected by YOUR specific Llama 2 variant.
# Check the model card on Hugging Face for the precise template.
chat_template_llama2 = (
    "{% if messages[0]['role'] == 'system' %}"
    "<s>[INST] <<SYS>>\n{{ messages[0]['content'] }}\n<</SYS>>\n\n"
    "{% else %}"
    "<s>[INST] "
    "{% endif %}"
    "{% for message in messages %}"
    "{% if message['role'] == 'user' %}"
    "{{ message['content'] }} [/INST]"
    "{% elif message['role'] == 'assistant' %}"
    " {{ message['content'] }} </s><s>[INST]"
    "{% elif message['role'] == 'system' and loop.index0 > 0 %}" # Handle system message if not first
    " <<SYS>>\n{{ message['content'] }}\n<</SYS>>\n\n"
    "{% endif %}"
    "{% endfor %}"
    "{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}" # Add generation prompt if last message is not assistant
    " " # This space is important before the assistant starts generating
    "{% endif %}"
)
# A simpler version if you always have system then user:
# chat_template_llama2_simple = "<s>[INST] <<SYS>>\n{{ messages[0]['content'] }}\n<</SYS>>\n\n{{ messages[1]['content'] }} [/INST] "


# --- CHOOSE THE CORRECT TEMPLATE FOR YOUR MODEL ---
# For many Llama-2-chat models, the tokenizer might already have a default template
# if loaded correctly, but if not, you can set it.
# A common one if your `messages` list is always [system_message, user_message]:
if tokenizer.chat_template is None:
    if "llama-2" in tokenizer.name_or_path.lower() and "chat" in tokenizer.name_or_path.lower() : # Be more specific if needed
        # This is a common structure for Llama-2-chat for a system prompt followed by a user prompt.
        # The assistant's response will follow " [/INST] "
        tokenizer.chat_template = (
            "{% if messages[0]['role'] == 'system' %}"
            "<s>[INST] <<SYS>>\n{{ messages[0]['content'] }}\n<</SYS>>\n\n"
            "{% endif %}"
            "{{ messages[1]['content'] }} [/INST]" # Assumes second message is user
            # Add a space for the model to start generation if add_generation_prompt=True
            "{% if add_generation_prompt %} {% endif %}"
        )
        print("Manually set Llama 2 chat template on tokenizer.")
    else:
        print("Warning: tokenizer.chat_template is None and no specific template was set for the model type.")
        # You might need to define a different template or handle formatting manually.

# --- Core function to get P(Yes) ---
def get_yes_probability(model_arg, tokenizer_arg, system_prompt_arg, user_prompt_content_arg, yes_token_id_arg, no_token_id_arg, max_length=2048):
    """
    Gets the probability of the model answering "Yes" to the given query and schema.
    """
    messages = [
        {"role": "system", "content": system_prompt_arg},
        {"role": "user", "content": user_prompt_content_arg}
    ]

    prompt_for_model = tokenizer_arg.apply_chat_template(messages, tokenize=False, add_generation_prompt=True)

    inputs = tokenizer_arg(
        prompt_for_model,
        return_tensors="pt",
        truncation=True,
        max_length=max_length - 10
    )
    inputs = {k: v.to(model_arg.device) for k, v in inputs.items()}

    if inputs['input_ids'].shape[1] >= max_length - 10:
         print(f"Warning: Prompt for query was truncated. Length: {inputs['input_ids'].shape[1]}")

    with torch.no_grad():
        outputs = model_arg(**inputs)
        logits = outputs.logits
        next_token_logits = logits[:, -1, :]
        logit_yes = next_token_logits[:, yes_token_id_arg].item()
        logit_no = next_token_logits[:, no_token_id_arg].item()

    max_logit = max(logit_yes, logit_no)
    exp_yes = torch.exp(torch.tensor(logit_yes - max_logit, device=model_arg.device))
    exp_no = torch.exp(torch.tensor(logit_no - max_logit, device=model_arg.device))

    prob_yes = exp_yes / (exp_yes + exp_no)
    return prob_yes.item()

print("Core function 'get_yes_probability' defined.") # Add a print statement to confirm execution

Core function 'get_yes_probability' defined.

In [84]:
# --- Prompt Configuration ---
# This SYSTEM_PROMPT will be passed to your get_yes_probability function,
# which then should use it when constructing the messages for the chat model.
SYSTEM_PROMPT = (
    "You are an expert data analyst. Your task is to determine if a given natural language query "
    "can be answered *solely* based on the provided database schema. "
    "Do not attempt to answer the query itself. Your entire response must be only the word 'Yes' or the word 'No'."
)

# This USER_PROMPT_TEMPLATE is used directly in your experiment loop
# to format the schema and query for the user message.
USER_PROMPT_TEMPLATE = """Database Schema:
---
{schema_string}
---
Natural Language Query: "{nl_query}"
---
Can the query be answered using *only* the provided schema and its potential contents? Answer with either "Yes" or "No".
"""

print("SYSTEM_PROMPT and USER_PROMPT_TEMPLATE defined.")

SYSTEM_PROMPT and USER_PROMPT_TEMPLATE defined.

In [90]:
pip show ipywidgets tqdm

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Name: ipywidgets
Version: 8.1.5
Summary: Jupyter interactive widgets
Home-page: http://jupyter.org
Author: Jupyter Development Team
Author-email: jupyter@googlegroups.com
License: BSD 3-Clause License
Location: /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages
Requires: comm, ipython, jupyterlab-widgets, traitlets, widgetsnbextension
Required-by: jupyter
---
Name: tqdm
Version: 4.67.1
Summary: Fast, Extensible Progress Meter
Home-page: https://tqdm.github.io
Author:
Author-email:
License: MPL-2.0 AND MIT
Location: /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages
Requires:
Required-by: datasets, huggingface-hub, transformers
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from tqdm.auto import tqdm
import time

print("tqdm imported successfully from .auto")
my_list = list(range(3))
for i in tqdm(my_list, desc="Minimal Auto Test"):
    time.sleep(0.2) # A bit longer sleep to see updates
print("Simple tqdm .auto loop completed")

# If the above fails, try explicitly with .notebook
# from tqdm.notebook import tqdm
# print("\ntqdm imported successfully from .notebook")
# for i in tqdm(my_list, desc="Minimal Notebook Test"):
# time.sleep(0.2)
# print("Simple tqdm .notebook loop completed")

tqdm imported successfully from .auto

In [85]:
print("Testing get_yes_probability directly...")
try:
    # Construct a very simple schema and query for testing
    test_schema = "CREATE TABLE TestTable (id INT, name TEXT);"
    test_nl_query = "What is the name for id 1?"
    sample_user_prompt_content = USER_PROMPT_TEMPLATE.format(
        schema_string=test_schema,
        nl_query=test_nl_query
    )
    print(f"Test User Prompt: {sample_user_prompt_content}")

    # Make sure all these variables are defined and loaded:
    # model, tokenizer, SYSTEM_PROMPT, YES_TOKEN_ID, NO_TOKEN_ID
    prob = get_yes_probability(
        model,
        tokenizer,
        SYSTEM_PROMPT,
        sample_user_prompt_content,
        YES_TOKEN_ID,
        NO_TOKEN_ID
    )
    print(f"get_yes_probability returned: {prob}")
except Exception as e:
    import traceback
    print("Error during direct call to get_yes_probability:")
    traceback.print_exc()

Testing get_yes_probability directly...
Test User Prompt: Database Schema:
---
CREATE TABLE TestTable (id INT, name TEXT);
---
Natural Language Query: "What is the name for id 1?"
---
Can the query be answered using *only* the provided schema and its potential contents? Answer with either "Yes" or "No".

get_yes_probability returned: 0.9998089671134949

In [67]:
# --- Ensure these imports are at the top of your script/notebook ---
import json
import os
import traceback
from tqdm.auto import tqdm # Use .auto or .notebook for Jupyter

# --- Prerequisites (must be defined and populated from Cell 1 and Cell 2): ---
# model, tokenizer, SYSTEM_PROMPT, USER_PROMPT_TEMPLATE,
# YES_TOKEN_ID, NO_TOKEN_ID, get_yes_probability,
# selected_nl_queries, candidate_schemas_for_evaluation, EXPERIMENT_RESULTS_FILE
# --- (Assume these are correctly defined above this cell) ---

# --- 3.1. Initialize Results Storage ---
experiment_all_query_results = []

# --- 3.2. Start the Loop ---
# This initial print is fine as it's before any tqdm loops start for this cell's main logic
print(f"\n--- Starting Experiment: {len(selected_nl_queries)} Random Queries vs. {len(candidate_schemas_for_evaluation)} Total DB Schemas ---")

# Outer loop: Iterate through each randomly selected NL query
for query_idx, nl_query_info in enumerate(tqdm(selected_nl_queries, desc="Processing NL Queries")):
    current_nl_query_text = nl_query_info['question']
    true_db_id_for_query = nl_query_info['db_id']
    experiment_query_id = f"spider_dev_q{query_idx}_{nl_query_info.get('query_id', 'idx'+str(query_idx))}"

    # Use tqdm.write for status updates related to the outer loop's progress
    # The '\n' at the beginning helps separate entries for each query visually.
    tqdm.write(f"\nProcessing Query {query_idx + 1}/{len(selected_nl_queries)} (ID: {experiment_query_id}): '{current_nl_query_text}' (True DB: {true_db_id_for_query})")

    scores_for_current_query = []

    # --- Optional: For debugging, print scores for the VERY FIRST query only ---
    # print_debug_scores_for_first_query_only = True
    # if print_debug_scores_for_first_query_only and query_idx == 0:
    #     tqdm.write(f"  --- Incremental Scores for First Query: '{current_nl_query_text}' ---")
    # --- End Optional Debug Print Setup ---

    # Inner loop: Iterate through each candidate database schema
    for candidate_db_id, candidate_schema_sql in tqdm(
        candidate_schemas_for_evaluation.items(),
        desc=f"  DBs for Q:{experiment_query_id[:20]}", # Description for the inner bar
        leave=False  # Inner bar will be removed upon completion of its loop
    ):
        user_prompt_content = USER_PROMPT_TEMPLATE.format(
            schema_string=candidate_schema_sql,
            nl_query=current_nl_query_text
        )
        p_yes_score = -1.0

        try:
            p_yes_score = get_yes_probability(
                model, tokenizer, SYSTEM_PROMPT, user_prompt_content, YES_TOKEN_ID, NO_TOKEN_ID
            )
        except Exception as e:
            # Use tqdm.write for error messages occurring inside the inner loop
            tqdm.write(f"    ERROR: Exception in get_yes_probability for Query ID '{experiment_query_id}' with DB '{candidate_db_id}'.")
            tqdm.write(f"    Exception type: {type(e).__name__}, Message: {e}")
            # if you need full traceback for debugging, tqdm.write(traceback.format_exc()) might work,
            # but it can be very verbose. Printing to a log file is better for extensive tracebacks.
            # traceback.print_exc() # This will print to stderr and might still mess with tqdm display

        scores_for_current_query.append({
            'candidate_db_id': candidate_db_id,
            'p_yes_score': p_yes_score
        })

        # --- Optional: For debugging, print scores for the VERY FIRST query only ---
        # if print_debug_scores_for_first_query_only and query_idx == 0:
        #     tqdm.write(f"    DB: {candidate_db_id}, Score: {p_yes_score:.4f}") # Incremental print with tqdm.write
        # --- End Optional Debug Print ---

    ranked_databases_for_query = sorted(scores_for_current_query, key=lambda x: x['p_yes_score'], reverse=True)

    # --- Optional: For debugging, print sorted scores for the VERY FIRST query only ---
    # if print_debug_scores_for_first_query_only and query_idx == 0:
    #     tqdm.write(f"  --- Sorted Ranked Databases for First Query: '{current_nl_query_text}' (Top 10) ---")
    #     for rank_info in ranked_databases_for_query[:10]:
    #         tqdm.write(f"    Ranked DB: {rank_info['candidate_db_id']}, Score: {rank_info['p_yes_score']:.4f}")
    # --- End Optional Debug Print ---

    experiment_all_query_results.append({
        'experiment_query_id': experiment_query_id,
        'nl_query_text': current_nl_query_text,
        'true_db_id': true_db_id_for_query,
        'ranked_databases_with_scores': ranked_databases_for_query
    })

    # --- 3.3. Periodic Saving of Results ---
    if (query_idx + 1) % 1 == 0 or (query_idx + 1) == len(selected_nl_queries):
        try:
            with open(EXPERIMENT_RESULTS_FILE, 'w') as f_out:
                json.dump(experiment_all_query_results, f_out, indent=2)
            # Use tqdm.write for save messages that occur between outer loop iterations
            tqdm.write(f"  Successfully saved intermediate results for {len(experiment_all_query_results)} queries to {EXPERIMENT_RESULTS_FILE}")
        except Exception as e:
            tqdm.write(f"  ERROR: Could not save intermediate results: {e}")

# --- 3.4. Experiment Loop Completion ---
# These final prints are after all tqdm loops are done, so standard print is fine.
print("\n--- Experiment Loop Finished ---")
if experiment_all_query_results:
    print(f"Processed {len(experiment_all_query_results)} queries in total.")
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'w') as f_out:
            json.dump(experiment_all_query_results, f_out, indent=2)
        print(f"Final results comprehensively saved to {EXPERIMENT_RESULTS_FILE}")
    except Exception as e:
        print(f"ERROR: Could not save final results: {e}")
else:
    print("No results were generated from the experiment. Check logs for errors.")

--- Starting Experiment: 100 Random Queries vs. 166 Total DB Schemas ---

KeyboardInterrupt:

In [ ]:
# This cell defines the Recall@K metric and calculates it based on the experiment results.

# --- 4.1. Define Recall@K Calculation Function ---
def calculate_recall_at_k_metric(all_query_results_list, k_values_list):
    """
    Calculates Recall@K for a list of K values.
    Each item in all_query_results_list should be a dictionary with:
        'true_db_id': The ground truth database ID for the query.
        'ranked_databases_with_scores': A list of {'candidate_db_id': id, 'p_yes_score': score},
                                         sorted by score in descending order.
    """
    recall_counts = {k: 0 for k in k_values_list} # Stores how many times true_db was in top K
    total_valid_queries = 0 # Queries for which we have a true_db_id

    if not all_query_results_list:
        return {k: 0.0 for k in k_values_list}

    for query_result in all_query_results_list:
        true_db = query_result.get('true_db_id')
        ranked_dbs_info = query_result.get('ranked_databases_with_scores')

        if true_db is None or ranked_dbs_info is None:
            print(f"Warning: Skipping query result due to missing 'true_db_id' or 'ranked_databases_with_scores': {query_result.get('experiment_query_id', 'Unknown Query')}")
            continue # Skip if essential information is missing

        total_valid_queries += 1
        # Extract just the DB IDs from the ranked list
        ranked_db_ids_only = [item['candidate_db_id'] for item in ranked_dbs_info]

        for k in k_values_list:
            # Get the top K predicted database IDs
            top_k_predicted_dbs = ranked_db_ids_only[:k]
            if true_db in top_k_predicted_dbs:
                recall_counts[k] += 1

    # Calculate final recall percentages
    recall_percentages = {}
    if total_valid_queries > 0:
        for k in k_values_list:
            recall_percentages[k] = (recall_counts[k] / total_valid_queries) * 100.0 # As percentage
    else:
        recall_percentages = {k: 0.0 for k in k_values_list}

    return recall_percentages, total_valid_queries


# --- 4.2. Perform Evaluation ---
# Load results if this cell is run in a new session and experiment_all_query_results isn't in memory
# (assuming results were saved to EXPERIMENT_RESULTS_FILE)
loaded_results_for_eval = None
if 'experiment_all_query_results' in globals() and experiment_all_query_results:
    print("Using in-memory experiment_all_query_results for evaluation.")
    loaded_results_for_eval = experiment_all_query_results
elif os.path.exists(EXPERIMENT_RESULTS_FILE):
    print(f"Loading results from {EXPERIMENT_RESULTS_FILE} for evaluation...")
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'r') as f_in:
            loaded_results_for_eval = json.load(f_in)
        print(f"Successfully loaded {len(loaded_results_for_eval)} results from file.")
    except Exception as e:
        print(f"Error loading results from file for evaluation: {e}")
else:
    print("No results available in memory or in the specified results file for evaluation.")


if loaded_results_for_eval:
    K_VALUES_TO_EVALUATE = [1, 3, 5, 10] # Define the K values you care about
    recall_scores_map, num_queries_evaluated = calculate_recall_at_k_metric(loaded_results_for_eval, K_VALUES_TO_EVALUATE)

    print("\n--- Evaluation: Recall@K ---")
    print(f"Evaluated on {num_queries_evaluated} queries.")
    for k_val, recall_val in recall_scores_map.items():
        print(f"Recall@{k_val}: {recall_val:.2f}%")

    # --- 4.3. Optional: Print Detailed Results for a Few Queries ---
    print("\n--- Sample Detailed Query Results (Top 5 Queries) ---")
    for i, res in enumerate(loaded_results_for_eval[:5]): # Show for first 3 queries
        print(f"\nQuery {i+1}: '{res['nl_query_text']}' (True DB: {res['true_db_id']})")
        print("  Top Ranked Databases (with P(Yes) scores):")
        for rank, db_info in enumerate(res['ranked_databases_with_scores'][:5]): # Show top 5 ranked DBs
            is_true_db_char = "*" if db_info['candidate_db_id'] == res['true_db_id'] else " "
            print(f"    {rank+1}. {db_info['candidate_db_id']}{is_true_db_char} (Score: {db_info['p_yes_score']:.4f})")
else:
    print("Cannot perform evaluation as no results were loaded or generated.")