In [1]:
pip install transformers accelerate bitsandbytes sentencepiece pandas datasets huggingface_hub tqdm

Requirement already satisfied: transformers in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (4.52.4)
Requirement already satisfied: accelerate in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (1.7.0)
Requirement already satisfied: bitsandbytes in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.46.0)
Requirement already satisfied: sentencepiece in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.2.0)
Requirement already satisfied: pandas in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: datasets in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (3.6.0)
Requirement already satisfied: huggingface_hub in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (0.32.3)
Requirement already satisfied: tqdm in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (4.67.1)
Requirement already satisfied: filelock in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (3.17.0)
Requirement already satisfied: numpy>=1.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2.0.1)
Requirement already satisfied: packaging>=20.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from transformers) (0.5.3)
Requirement already satisfied: fsspec>=2023.5.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (2025.3.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (4.12.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from huggingface_hub) (1.1.2)
Requirement already satisfied: psutil in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from accelerate) (5.9.0)
Requirement already satisfied: torch>=2.0.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from accelerate) (2.2.0)
Requirement already satisfied: sympy in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (1.13.3)
Requirement already satisfied: networkx in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (3.4.2)
Requirement already satisfied: jinja2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from torch>=2.0.0->accelerate) (3.1.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: pyarrow>=15.0.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (20.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (0.3.8)
Requirement already satisfied: xxhash in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess<0.70.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from datasets) (0.70.16)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.12.6)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.3.2)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (5.0.1)
Requirement already satisfied: attrs>=17.3.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (6.4.4)
Requirement already satisfied: propcache>=0.2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (1.20.0)
Requirement already satisfied: idna>=2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.3.0,>=2023.1.0->datasets) (3.7)
Requirement already satisfied: six>=1.5 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from requests->transformers) (2025.4.26)
Requirement already satisfied: MarkupSafe>=2.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from jinja2->torch>=2.0.0->accelerate) (3.0.2)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages (from sympy->torch>=2.0.0->accelerate) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
  import ipywidgets
  print(f"ipywidgets version: {ipywidgets.__version__}")
  print(f"ipywidgets location: {ipywidgets.__file__}")

  import tqdm
  print(f"tqdm version: {tqdm.__version__}")
  print(f"tqdm location: {tqdm.__file__}")

ipywidgets version: 8.1.5
ipywidgets location: /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages/ipywidgets/__init__.py
tqdm version: 4.67.1
tqdm location: /raid/infolab/gaurav/Llama_Spider_A100_Project/miniconda3/envs/llama_spider_env/lib/python3.10/site-packages/tqdm/__init__.py

In [3]:
from tqdm.auto import tqdm
import time

print("tqdm imported successfully from .auto")
my_list = list(range(3))
for i in tqdm(my_list, desc="Minimal Auto Test"):
    time.sleep(0.2)
print("Simple tqdm .auto loop completed")

tqdm imported successfully from .auto

Minimal Auto Test:   0%|          | 0/3 [00:00<?, ?it/s]

Simple tqdm .auto loop completed

In [5]:
# --- Standard Library Imports ---
# --- Third-party Library Imports ---
# --- Third-party Library Imports ---
import torch

from tqdm.auto import tqdm
import time
from huggingface_hub import login
import transformers # <--- ADD THIS LINE
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm # For progress bars
from huggingface_hub import login # For Hugging Face Hub authentication
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

print("--- Cell 1: Imports and Initial Configuration Complete ---")
print(f"PyTorch Version: {torch.__version__}")
print(f"Transformers Version: {transformers.__version__}")

--- Cell 1: Imports and Initial Configuration Complete ---
PyTorch Version: 2.2.0
Transformers Version: 4.52.4

In [6]:
import torch
print(f"PyTorch version: {torch.__version__}")
print(f"CUDA available: {torch.cuda.is_available()}")
if torch.cuda.is_available():
    print(f"CUDA version PyTorch compiled with: {torch.version.cuda}")
    print(f"Number of GPUs available to PyTorch: {torch.cuda.device_count()}")
    for i in range(torch.cuda.device_count()):
        print(f"  GPU {i}: {torch.cuda.get_device_name(i)}")
else:
    print("ERROR: PyTorch cannot see the GPUs! Check installation and CUDA compatibility.")

PyTorch version: 2.2.0
CUDA available: True
CUDA version PyTorch compiled with: 11.8
Number of GPUs available to PyTorch: 8
  GPU 0: NVIDIA A100-SXM4-80GB
  GPU 1: NVIDIA A100-SXM4-80GB
  GPU 2: NVIDIA A100-SXM4-80GB
  GPU 3: NVIDIA A100-SXM4-80GB
  GPU 4: NVIDIA A100-SXM4-80GB
  GPU 5: NVIDIA A100-SXM4-80GB
  GPU 6: NVIDIA A100-SXM4-80GB
  GPU 7: NVIDIA A100-SXM4-80GB

In [7]:
# --- Standard Library Imports ---
# --- Third-party Library Imports ---
# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm
import time
from huggingface_hub import login
import transformers # <--- ADD THIS LINE
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

# --- Third-party Library Imports ---
import torch
from tqdm.auto import tqdm # For progress bars
from huggingface_hub import login # For Hugging Face Hub authentication
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig

print("--- Cell 1: Imports and Initial Configuration Complete ---")
print(f"PyTorch Version: {torch.__version__}")
print(f"Transformers Version: {transformers.__version__}")

--- Cell 1: Imports and Initial Configuration Complete ---
PyTorch Version: 2.2.0
Transformers Version: 4.52.4

In [10]:
try:
    login() # Will use cached token or prompt if needed
    print("Hugging Face login successful or already authenticated.")
except Exception as e:
    print(f"Hugging Face login failed: {e}. Ensure you are authenticated to download Llama 2.")

print("\n--- Cell 2: Hugging Face Login Attempt Complete ---")

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.sv…

Hugging Face login successful or already authenticated.

--- Cell 2: Hugging Face Login Attempt Complete ---

In [8]:
# --- Model and Tokenizer Configuration ---
import os

# 3.1. Specify the Llama 2 70B Chat Model
MODEL_NAME = "meta-llama/Llama-3.2-1B-Instruct"
print(f"Target Model: {MODEL_NAME}")

# 3.2. Configure 4-bit Quantization (essential for 70B, even on A100s for single/few GPU use)
# A100s support bfloat16, which is excellent for mixed-precision.
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_quant_type="nf4",        # nf4 is a good default
    bnb_4bit_compute_dtype=torch.bfloat16, # Use bfloat16 for computation on A100s
    bnb_4bit_use_double_quant=True,   # Can save a bit more memory
)
print(f"BitsAndBytesConfig: load_in_4bit={bnb_config.load_in_4bit}, compute_dtype={bnb_config.bnb_4bit_compute_dtype}")

# 3.4. Define Cache Directory for Hugging Face downloads (optional, but good for managing large models)
# Create it within your project directory on the A100 server.
HF_MODEL_CACHE_DIR = os.path.join(os.getcwd(), ".hf_model_cache_70b") # Assumes current dir is project root
os.makedirs(HF_MODEL_CACHE_DIR, exist_ok=True)
print(f"Hugging Face model cache directory set to: {HF_MODEL_CACHE_DIR}")

print("\n--- Cell 3: Model and Prompt Configuration Complete ---")

Target Model: meta-llama/Llama-3.2-1B-Instruct
BitsAndBytesConfig: load_in_4bit=True, compute_dtype=torch.bfloat16
Hugging Face model cache directory set to: /raid/infolab/gaurav/Llama_Spider_A100_Project/experiments_70b_llama/.hf_model_cache_70b

--- Cell 3: Model and Prompt Configuration Complete ---

In [9]:
print({MODEL_NAME})

{'meta-llama/Llama-3.1-8B-Instruct'}

In [9]:
# --- Load the Tokenizer ---
# The tokenizer converts text into numerical IDs that the model understands, and vice-versa.
# It's crucial that the tokenizer matches the model it was trained with.
print(f"Loading tokenizer for {MODEL_NAME}...")
tokenizer = AutoTokenizer.from_pretrained(
    MODEL_NAME,
    # token=HF_TOKEN # For recent versions of transformers, login() handles global auth.
                     # You might need this for older versions or specific configurations.
    trust_remote_code=True # Some models require this if they have custom code. Llama 2 generally doesn't, but good to be aware of.
)

# Llama models often don't have a pad token defined by default.
# We set it to the EOS (End Of Sentence) token if it's not present.
# This is important for batching inputs of different lengths, though for our P(Yes)
# extraction (one prompt at a time), it's less critical but good practice.
if tokenizer.pad_token is None:
    tokenizer.pad_token = tokenizer.eos_token
    print(f"Tokenizer pad_token was None, set to eos_token: {tokenizer.eos_token} (ID: {tokenizer.eos_token_id})")

print("Tokenizer loaded successfully.")
print(f"Tokenizer pad token ID: {tokenizer.pad_token_id}")
print(f"Tokenizer EOS token ID: {tokenizer.eos_token_id}")
print(f"Tokenizer BOS token ID: {tokenizer.bos_token_id}")

Loading tokenizer for meta-llama/Llama-3.2-1B-Instruct...
Tokenizer pad_token was None, set to eos_token: <|eot_id|> (ID: 128009)
Tokenizer loaded successfully.
Tokenizer pad token ID: 128009
Tokenizer EOS token ID: 128009
Tokenizer BOS token ID: 128000

In [10]:
# --- Load the Llama 2 70B Model ---
# This is a memory-intensive step. `device_map="auto"` will attempt to distribute
# the model across available GPUs if one is insufficient.
# Ensure CUDA_VISIBLE_DEVICES is set in your shell if you want to restrict which GPUs are used.
import gc
print(f"Loading model: {MODEL_NAME} with 4-bit quantization. This will take significant time and memory...")
model_load_start_time = time.time()
try:
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_NAME,
        quantization_config=bnb_config,    # Apply 4-bit quantization
        torch_dtype=torch.bfloat16,        # Use bfloat16 on A100s
        device_map="auto",                 # Distribute model across available GPUs automatically
        trust_remote_code=True,            # Often needed for newer models
        cache_dir=HF_MODEL_CACHE_DIR
    )
    model_load_end_time = time.time()
    print("\nModel loaded successfully!")
    print(f"Time taken to load model: {model_load_end_time - model_load_start_time:.2f} seconds.")
    print(f"Model device map: {model.hf_device_map}") # Shows how layers are distributed
    # For a 70B model, this should show parts on different GPUs if more than one is used.
    
    # Perform a quick memory cleanup after loading large model
    torch.cuda.empty_cache()
    gc.collect()
    print("Performed memory cleanup (torch.cuda.empty_cache(), gc.collect())")

except Exception as e:
    import traceback
    traceback.print_exc()
    raise RuntimeError(f"Failed to load model {MODEL_NAME}: {e}. Check VRAM, CUDA setup, and Hugging Face authentication.")

print("\n--- Cell 5: Llama 3.1 8B Instruct Model Loading Complete ---")

print("Model max_position_embeddings:", model.config.max_position_embeddings)
print("Tokenizer model_max_length:", tokenizer.model_max_length)

Loading model: meta-llama/Llama-3.2-1B-Instruct with 4-bit quantization. This will take significant time and memory...

Model loaded successfully!
Time taken to load model: 12.91 seconds.
Model device map: {'': 7}
Performed memory cleanup (torch.cuda.empty_cache(), gc.collect())

--- Cell 5: Llama 3.1 8B Instruct Model Loading Complete ---
Model max_position_embeddings: 131072
Tokenizer model_max_length: 131072

In [12]:
import zipfile
import os

SERVER_ZIP_FILE_PATH = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip'
EXTRACTION_DESTINATION_DIR_ON_SERVER = '/raid/infolab/gaurav/Llama_Spider_A100_Project/'

DEV_JSON_PATH = None
TABLES_JSON_PATH = None

def unzip_data(zip_filepath, dest_dir):
    """
    Unzips a zip file to a specified destination directory.
    """
    print(f"Attempting to unzip {zip_filepath} to {dest_dir}...")
    try:
        
        with zipfile.ZipFile(zip_filepath, 'r') as zip_ref:
            zip_ref.extractall(dest_dir)
        print(f"Successfully unzipped files to {dest_dir}")

        print(f"Contents of {dest_dir}:")
        for item in os.listdir(dest_dir):
            print(f"  - {item}")
        return True
    except zipfile.BadZipFile:
        print(f"Error: {zip_filepath} is not a valid zip file or is corrupted.")
        return False
    except FileNotFoundError:
        print(f"Error: Zip file not found at {zip_filepath}. Please ensure the path is correct.")
        return False
    except PermissionError:
        print(f"Error: Permission denied to write to {dest_dir} or read {zip_filepath}.")
        return False
    except Exception as e:
        print(f"An unexpected error occurred during unzipping: {e}")
        return False

print(f"Script started. Looking for zip file at: {SERVER_ZIP_FILE_PATH}")

if os.path.exists(SERVER_ZIP_FILE_PATH):
    print(f"Zip file found at {SERVER_ZIP_FILE_PATH}.")
    if unzip_data(SERVER_ZIP_FILE_PATH, EXTRACTION_DESTINATION_DIR_ON_SERVER):
        
        EXPECTED_EXTRACTED_FOLDER_NAME = 'spider_subset_data' # This is the folder INSIDE the zip

        DEV_JSON_PATH = os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME, 'dev.json')
        TABLES_JSON_PATH = os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME, 'tables.json')

        print("\nVerifying extracted file paths...")
        if os.path.exists(DEV_JSON_PATH):
            print(f"SUCCESS: dev.json path is valid: {DEV_JSON_PATH}")
        else:
            print(f"ERROR: dev.json NOT FOUND at expected path: {DEV_JSON_PATH}")
            print(f"Please check the contents of {os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME)}")


        if os.path.exists(TABLES_JSON_PATH):
            print(f"SUCCESS: tables.json path is valid: {TABLES_JSON_PATH}")
        else:
            print(f"ERROR: tables.json NOT FOUND at expected path: {TABLES_JSON_PATH}")
            print(f"Please check the contents of {os.path.join(EXTRACTION_DESTINATION_DIR_ON_SERVER, EXPECTED_EXTRACTED_FOLDER_NAME)}")

    else:
        print("Unzipping failed on the server. Cannot define data paths.")
else:
    print(f"ERROR: Zip file NOT FOUND at {SERVER_ZIP_FILE_PATH} on the server.")
    print("Please ensure the 'scp' command was successful and the path is correct.")


if DEV_JSON_PATH and TABLES_JSON_PATH and os.path.exists(DEV_JSON_PATH) and os.path.exists(TABLES_JSON_PATH):
    print("\n--- Ready to load data ---")
    print(f"Path to dev.json: {DEV_JSON_PATH}")
    print(f"Path to tables.json: {TABLES_JSON_PATH}")
    
else:
    print("\n--- Data paths are not correctly set up. Cannot proceed with data loading. ---")

Script started. Looking for zip file at: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip
Zip file found at /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip.
Attempting to unzip /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data.zip to /raid/infolab/gaurav/Llama_Spider_A100_Project/...
Successfully unzipped files to /raid/infolab/gaurav/Llama_Spider_A100_Project/
Contents of /raid/infolab/gaurav/Llama_Spider_A100_Project/:
  - experiments_70b_llama
  - .gitignore
  - backup_to_github.sh
  - Miniconda3-latest-Linux-x86_64.sh
  - spider_subset_data.zip
  - generated_codes_style_prompts.json
  - llm_generated_schema_examples.json
  - randomQ_allDBs_run1
  - .ipynb_checkpoints
  - all_queries.txt
  - .git
  - miniconda3
  - 100_queries.txt
  - generated_codes_style_prompts_with_examples.json
  - spider_subset_data
  - __MACOSX

Verifying extracted file paths...
SUCCESS: dev.json path is valid: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/dev.json
SUCCESS: tables.json path is valid: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json

--- Ready to load data ---
Path to dev.json: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/dev.json
Path to tables.json: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/tables.json

In [13]:
import json

def load_json_data(file_path):
    if os.path.exists(file_path):
        with open(file_path, 'r') as f:
            return json.load(f)
    else:
        print(f"ERROR: File not found at {file_path}")
        return None

dev_data = load_json_data(DEV_JSON_PATH)
tables_data = load_json_data(TABLES_JSON_PATH)

if dev_data and tables_data:
    print(f"Loaded {len(dev_data)} queries from dev.json")
    print(f"Loaded {len(tables_data)} database schemas from tables.json")
else:
    print("Failed to load Spider data. Please check paths and upload.")

Loaded 1034 queries from dev.json
Loaded 166 database schemas from tables.json

In [19]:
import json
import os

# Define data directory and file paths
SPIDER_DATA_DIR = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data'
spider_tables_json_path = os.path.join(SPIDER_DATA_DIR, 'tables.json')
llm_examples_path = os.path.join(SPIDER_DATA_DIR, 'llm_generated_schema_examples.json')

# Load the LLM-generated examples map
with open(llm_examples_path, 'r') as f:
    db_id_to_questions_map = json.load(f)

# Load the base schema structures
with open(spider_tables_json_path, 'r') as f:
    raw_schemas = json.load(f)
# Map by database ID for easy lookup
all_db_schemas_data_loaded = {db_info['db_id']: db_info for db_info in raw_schemas}

# Initialize the container for enriched SQL strings
all_db_schemas_sql_strings = {}

In [35]:
# --- Integration of CODES Prompt Construction (Section 6 of the Paper) ---

from tqdm.auto import tqdm # Ensure tqdm is imported for the progress bar
import json
import os
import sqlite3 # <-- Import the sqlite3 library

print("--- Building CODES-style Prompts (Paper-Exact Column Format) ---")

# --- Helper Functions for Prompt Construction ---

def map_spider_type_to_sql_type(spider_type, is_pk_or_fk=False):
    """
    Converts Spider's abstract data types to more standard SQL types.
    """
    spider_type = spider_type.lower()
    if spider_type == "text": return "text"
    if spider_type == "number": return "integer" if is_pk_or_fk else "real"
    if spider_type == "time": return "datetime"
    if spider_type == "boolean": return "boolean"
    return "text" # Default case

def get_representative_values(cursor, table_name, column_name):
    """Executes a query to get up to 2 representative values for a column."""
    try:
        query = f'SELECT DISTINCT "{column_name}" FROM "{table_name}" WHERE "{column_name}" IS NOT NULL LIMIT 2'
        cursor.execute(query)
        rows = cursor.fetchall()
        values = [str(row[0]) for row in rows]
        return ", ".join(values) if values else "N/A"
    except sqlite3.OperationalError:
        return "N/A"

def schema_filter_placeholder(db_schema):
    """
    Placeholder for the schema filter.
    """
    return db_schema['table_names_original']

def value_retriever_placeholder(nl_query, db_id):
    """
    Placeholder for the value retriever.
    """
    return {}

def construct_codes_style_prompt(db_id, all_schemas_data, db_id_to_questions_map, db_dir):
    """
    Constructs a database prompt string with the paper-exact column format.
    """
    if db_id not in all_schemas_data:
        return f"-- Database ID '{db_id}' not found."

    db_path = os.path.join(db_dir, db_id, f"{db_id}.sqlite")
    if not os.path.exists(db_path):
        return f"-- Database file not found at: {db_path}"

    db_schema = all_schemas_data[db_id]
    prompt_parts = []

    conn = None
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()

        column_info_map = {
            i: {"name": c_name, "table_index": t_idx, "type": db_schema['column_types'][i]}
            for i, (t_idx, c_name) in enumerate(db_schema['column_names_original']) if c_name != "*"
        }
        
        relevant_tables = schema_filter_placeholder(db_schema)

        for table_idx, table_name in enumerate(db_schema['table_names_original']):
            if table_name not in relevant_tables:
                continue

            column_defs = []
            for col_idx, col_info in column_info_map.items():
                if col_info['table_index'] == table_idx:
                    
                    ### MODIFICATION START: Reformatting the column definition string ###
                    
                    # 1. Create the prefixed column name (e.g., "movie.title")
                    prefixed_col_name = f"{table_name}.{col_info['name']}"
                    
                    # 2. Build the list of parts that go INSIDE the parentheses
                    col_parts_inside_parentheses = []
                    
                    # Add data type
                    is_pk_or_fk = col_idx in db_schema['primary_keys'] or any(fk[0] == col_idx for fk in db_schema['foreign_keys'])
                    col_parts_inside_parentheses.append(map_spider_type_to_sql_type(col_info['type'], is_pk_or_fk))
                    
                    # Add primary key info
                    if col_idx in db_schema['primary_keys']:
                        col_parts_inside_parentheses.append("primary key")
                    
                    # Add comment placeholder to match paper's format
                    # col_parts_inside_parentheses.append("comment: N/A")
                    
                    # Fetch and add representative values
                    rep_values = get_representative_values(cursor, table_name, col_info['name'])
                    col_parts_inside_parentheses.append(f"values: {rep_values}")
                    
                    # 3. Assemble the final string in the new, correct format
                    final_column_string = f"{prefixed_col_name} ( { ' | '.join(col_parts_inside_parentheses)} )"
                    column_defs.append(final_column_string)

                    ### MODIFICATION END ###
            
            prompt_parts.append(f"table {table_name}, columns = [ {', '.join(column_defs)} ]")

        # --- Foreign Key Information (no change needed here) ---
        if db_schema['foreign_keys']:
            prompt_parts.append("foreign keys:")
            table_info_map = {i: name for i, name in enumerate(db_schema['table_names_original'])}
            for fk_col_idx, ref_col_idx in db_schema['foreign_keys']:
                fk_table_name = table_info_map[column_info_map[fk_col_idx]['table_index']]
                fk_col_name = column_info_map[fk_col_idx]['name']
                ref_table_name = table_info_map[column_info_map[ref_col_idx]['table_index']]
                ref_col_name = column_info_map[ref_col_idx]['name']
                prompt_parts.append(f"{fk_table_name}.{fk_col_name} = {ref_table_name}.{ref_col_name}")

        # --- Matched Values (no change needed here) ---
        matched_values = value_retriever_placeholder("some query", db_id)
        if matched_values:
            prompt_parts.append("matched values:")
            for table_col, value in matched_values.items():
                prompt_parts.append(f"{table_col} ({value})")

        # --- Append LLM-generated examples (no change needed here) ---
        example_questions = db_id_to_questions_map.get(db_id, [])
        if example_questions:
            examples_string = "\n".join([f"-- {q}" for q in example_questions])
            final_comment = f"\n/*\nExample questions for this schema:\n{examples_string}\n*/"
            prompt_parts.append(final_comment)

    except Exception as e:
        print(f"ERROR processing db '{db_id}': {e}")
        return f"-- Error generating prompt for db {db_id}."
    finally:
        if conn:
            conn.close()

    return "\n".join(prompt_parts)

# --- Generate the new prompts for all databases ---

# Define the path to your database directory. UPDATE THIS IF NEEDED.
SPIDER_DATA_DIR = '/raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data' # Assuming you unzipped spider.zip here
DATABASE_DIR = os.path.join(SPIDER_DATA_DIR, 'database')

all_db_schemas_codes_style_prompts = {}
# Make sure the prerequisite data from your notebook is loaded
if 'all_db_schemas_data_loaded' in globals() and all_db_schemas_data_loaded and \
   'db_id_to_questions_map' in globals() and db_id_to_questions_map:
    
    print(f"Found prerequisites. Generating prompts using databases from: {DATABASE_DIR}")
    for db_id in tqdm(all_db_schemas_data_loaded.keys(), desc="Generating CODES-style prompts"):
        # Pass the DATABASE_DIR to the function
        all_db_schemas_codes_style_prompts[db_id] = construct_codes_style_prompt(
            db_id, all_db_schemas_data_loaded, db_id_to_questions_map, DATABASE_DIR
        )
    print(f"\nSuccessfully generated {len(all_db_schemas_codes_style_prompts)} CODES-style prompts.")
    
    # --- Verification Step ---
    print("\n--- Verification of a CODES-style Prompt (Paper-Exact Format) ---")
    db_to_verify = 'flight_company'
    if db_to_verify in all_db_schemas_codes_style_prompts:
        print(f"Generated prompt for '{db_to_verify}':")
        print(all_db_schemas_codes_style_prompts[db_to_verify])
    else:
        print(f"Could not find schema for '{db_to_verify}' to verify.")

else:
    print("ERROR: Prerequisite data ('all_db_schemas_data_loaded' or 'db_id_to_questions_map') not found. Please run the previous cells.")

--- Building CODES-style Prompts (Paper-Exact Column Format) ---
Found prerequisites. Generating prompts using databases from: /raid/infolab/gaurav/Llama_Spider_A100_Project/spider_subset_data/database

Generating CODES-style prompts:   0%|          | 0/166 [00:00<?, ?it/s]

Successfully generated 166 CODES-style prompts.

--- Verification of a CODES-style Prompt (Paper-Exact Format) ---
Generated prompt for 'flight_company':
table airport, columns = [ airport.id ( integer | primary key | values: 1, 2 ), airport.City ( text | values: Akureyri, Amsterdam ), airport.Country ( text | values: Iceland, Netherlands ), airport.IATA ( text | values: AEY, AMS ), airport.ICAO ( text | values: BIAR, EHAM ), airport.name ( text | values: Akureyri Airport, Schiphol Airport ) ]
table operate_company, columns = [ operate_company.id ( integer | primary key | values: 1, 2 ), operate_company.name ( text | values: Air China, Air China Cargo ), operate_company.Type ( text | values: Corporate, Joint Venture ), operate_company.Principal_activities ( text | values: Airline, Cargo airline ), operate_company.Incorporated_in ( text | values: China, Hong Kong ), operate_company.Group_Equity_Shareholding ( real | values: 18.77, 49.0 ) ]
table flight, columns = [ flight.id ( integer | primary key | values: 1, 2 ), flight.Vehicle_Flight_number ( text | values: M2-F1 #0, M2-F1 #1 ), flight.Date ( text | values: March 1, 1963, August 16, 1963 ), flight.Pilot ( text | values: Thompson, Peterson ), flight.Velocity ( real | values: 135.0, 240.0 ), flight.Altitude ( real | values: 0.0, 3650.0 ), flight.airport_id ( integer | values: 1, 2 ), flight.company_id ( integer | values: 2, 3 ) ]
foreign keys:
flight.company_id = operate_company.id
flight.airport_id = airport.id

/*
Example questions for this schema:
-- What is the average altitude of flights that departed from airports in the United States?
-- What are the names of the pilots who flew flights operated by companies whose name starts with 'A', on Sundays?
-- Which airport has the highest number of flights that departed on a Monday?
-- What is the velocity of flights that departed from the airport with the IATA code 'LHR', on a day when the temperature was above 0 degrees Celsius?
-- How many flights operated by companies with a Group Equity Shareholding greater than 50% have been operated by pilots who are also the principal of the company they work for?
*/

In [36]:
import re
import os

TEXT_QUERIES_FILE = "/raid/infolab/gaurav/Llama_Spider_A100_Project/all_queries.txt"

if not os.path.exists(TEXT_QUERIES_FILE):
    raise FileNotFoundError(f"Cannot find '{TEXT_QUERIES_FILE}' – make sure it’s in your working directory or update the path.")

selected_nl_queries = []
pattern = re.compile(r"Test Query\s+\d+:\s+'(.+)'\s+\(True DB:\s*([^)]+)\)")

with open(TEXT_QUERIES_FILE, "r") as f_in:
    for line in f_in:
        line = line.strip()
        if not line.startswith("Test Query"):
            continue

        m = pattern.match(line)
        if not m:
            print(f"Warning: could not parse line:\n  {line}")
            continue

        question_text = m.group(1)
        true_db_id    = m.group(2)

        selected_nl_queries.append({
            "question": question_text,
            "db_id":    true_db_id
        })

if len(selected_nl_queries) == 0:
    raise ValueError(f"No queries were parsed from '{TEXT_QUERIES_FILE}'. Check your file’s format.")

print(f"Loaded {len(selected_nl_queries)} queries from '{TEXT_QUERIES_FILE}':")
for i, q in enumerate(selected_nl_queries, 1):
    print(f"  Query {i}: '{q['question']}' (True DB: {q['db_id']})")


candidate_schemas_for_evaluation = all_db_schemas_sql_strings
print(f"\nEach of the {len(selected_nl_queries)} selected queries will be evaluated against all {len(candidate_schemas_for_evaluation)} available Spider database schemas.")

if not candidate_schemas_for_evaluation:
    raise ValueError("No candidate schemas available for evaluation. This indicates an issue with schema loading or conversion in Cell 1.")

Loaded 1034 queries from '/raid/infolab/gaurav/Llama_Spider_A100_Project/all_queries.txt':
  Query 1: 'How many 'United Airlines' flights go to Airport 'ASY'?' (True DB: flight_2)
  Query 2: 'What are the name of the countries where there is not a single car maker?' (True DB: car_1)
  Query 3: 'What are the date and the operating professional's first name of each treatment?' (True DB: dog_kennels)
  Query 4: 'List each owner's first name, last name, and the size of his for her dog.' (True DB: dog_kennels)
  Query 5: 'Find the first name and age of students who have a dog but do not have a cat as a pet.' (True DB: pets_1)
  Query 6: 'What is the number of cars with a greater accelerate than the one with the most horsepower?' (True DB: car_1)
  Query 7: 'What are the names of the teachers who are aged either 32 or 33?' (True DB: course_teach)
  Query 8: 'Return the maximum final tables made across all poker players who have earnings below 200000.' (True DB: poker_player)
  Query 9: 'Show template ids, version numbers, and template type codes for all templates.' (True DB: cre_Doc_Template_Mgt)
  Query 10: 'What is the most common nationality of people?' (True DB: poker_player)
  Query 11: 'find the pixel aspect ratio and nation of the tv channels that do not use English.' (True DB: tvshow)
  Query 12: 'What is the template type code of the template used by document with the name "Data base"?' (True DB: cre_Doc_Template_Mgt)
  Query 13: 'What is the maker of the carr produced in the earliest year and what year was it?' (True DB: car_1)
  Query 14: 'Count the number of high schoolers.' (True DB: network_1)
  Query 15: 'Find the average life expectancy and total population for each continent where the average life expectancy is shorter than 72?' (True DB: world_1)
  Query 16: 'List the date of each treatment, together with the first name of the professional who operated it.' (True DB: dog_kennels)
  Query 17: 'Show all template ids and number of documents using each template.' (True DB: cre_Doc_Template_Mgt)
  Query 18: 'Who is the first student to register? List the first name, middle name and last name.' (True DB: student_transcripts_tracking)
  Query 19: 'Show the name of the teacher for the math course.' (True DB: course_teach)
  Query 20: 'Find the id and name of the museum that has the most staff members?' (True DB: museum_visit)
  Query 21: 'What are flight numbers of flights departing from Airport "APG"?' (True DB: flight_2)
  Query 22: 'What are the names of poker players in descending order of earnings?' (True DB: poker_player)
  Query 23: 'What is the average earnings of poker players?' (True DB: poker_player)
  Query 24: 'Which year had the most matches?' (True DB: wta_1)
  Query 25: 'Find the names of stores whose number products is more than the average number of products.' (True DB: employee_hire_evaluation)
  Query 26: 'What is the money rank of the tallest poker player?' (True DB: poker_player)
  Query 27: 'What is the document id with least number of paragraphs?' (True DB: cre_Doc_Template_Mgt)
  Query 28: 'How many cars have a larger accelerate than the car with the largest horsepower?' (True DB: car_1)
  Query 29: 'What is the program id and the summary of the degree that has the most students enrolled?' (True DB: student_transcripts_tracking)
  Query 30: 'What is the number of nations that use English and Dutch?' (True DB: world_1)
  Query 31: 'What is the document id, template id and description for document named "Robbin CV"?' (True DB: cre_Doc_Template_Mgt)
  Query 32: 'What are the codes of countries where Spanish is spoken by the largest percentage of people?' (True DB: world_1)
  Query 33: 'What is the last name of the student who has a cat that is 3 years old?' (True DB: pets_1)
  Query 34: 'What are the first name and last name of the professionals who have done treatment with cost below average?' (True DB: dog_kennels)
  Query 35: 'What is average life expectancy in the countries where English is not the official language?' (True DB: world_1)
  Query 36: 'What is the average weight of cars each year?' (True DB: car_1)
  Query 37: 'Find the first name and age of students who have a pet.' (True DB: pets_1)
  Query 38: 'List all singer names in concerts in year 2014.' (True DB: concert_singer)
  Query 39: 'Return the names of cities that have a population between 160000 and 900000 .' (True DB: world_1)
  Query 40: 'Which city and country is the Alton airport at?' (True DB: flight_2)
  Query 41: 'find the names of museums which have more staff than the minimum staff number of all museums opened after 2010.' (True DB: museum_visit)
  Query 42: 'Tell me the age of the oldest dog.' (True DB: dog_kennels)
  Query 43: 'How many orchestras does each record company manage?' (True DB: orchestra)
  Query 44: 'Which distinctive models are produced by maker with the full name General Motors or weighing more than 3500?' (True DB: car_1)
  Query 45: 'What are the names of players who won in both 2013 and 2016?' (True DB: wta_1)
  Query 46: 'Give the flight numbers of flights leaving from APG.' (True DB: flight_2)
  Query 47: 'What is the average edispl for all volvos?' (True DB: car_1)
  Query 48: 'Show the names of conductors and the orchestras they have conducted.' (True DB: orchestra)
  Query 49: 'What is the average and maximum age for each pet type?' (True DB: pets_1)
  Query 50: 'What are the death and injury situations caused by the ship with tonnage 't'?' (True DB: battle_death)
  Query 51: 'List the arrival date and the departure date for all the dogs.' (True DB: dog_kennels)
  Query 52: 'What is the average age of all the dogs?' (True DB: dog_kennels)
  Query 53: 'What are years of founding for orchestras that have had more than a single performance?' (True DB: orchestra)
  Query 54: 'Find the number of pets whose weight is heavier than 10.' (True DB: pets_1)
  Query 55: 'List the email, cell phone and home phone of all the professionals.' (True DB: dog_kennels)
  Query 56: 'What are all different template ids used for documents, and how many times were each of them used?' (True DB: cre_Doc_Template_Mgt)
  Query 57: 'What are the regions that use English or Dutch?' (True DB: world_1)
  Query 58: 'Return the different descriptions for templates that have been used in a document.' (True DB: cre_Doc_Template_Mgt)
  Query 59: 'List pairs of the owner's first name and the dogs's name.' (True DB: dog_kennels)
  Query 60: 'What is the number of cartoones written by Joseph Kuhr?' (True DB: tvshow)
  Query 61: 'List the names of conductors in ascending order of age.' (True DB: orchestra)
  Query 62: 'Find the first name and gender of student who have more than one pet.' (True DB: pets_1)
  Query 63: 'Show the names of students who have a grade higher than 5 and have at least 2 friends.' (True DB: network_1)
  Query 64: 'Count the number of distinct store locations.' (True DB: employee_hire_evaluation)
  Query 65: 'What is the code of airport that has the highest number of flights?' (True DB: flight_2)
  Query 66: 'What is the name of the series that has the episode "A Love of a Lifetime"?' (True DB: tvshow)
  Query 67: 'Show the names of singers and the total sales of their songs.' (True DB: singer)
  Query 68: 'Find the number of orchestras whose record format is "CD" or "DVD".' (True DB: orchestra)
  Query 69: 'How many poker players are there?' (True DB: poker_player)
  Query 70: 'How many matches were played in each year?' (True DB: wta_1)
  Query 71: 'Find the first names of owners living in Virginia and the names of dogs they own.' (True DB: dog_kennels)
  Query 72: 'Show paragraph details for paragraph with text 'Korea ' .' (True DB: cre_Doc_Template_Mgt)
  Query 73: 'Count the number of friends Kyle has.' (True DB: network_1)
  Query 74: 'What are the ids and names of all countries that either have more than 3 car makers or produce fiat model ?' (True DB: car_1)
  Query 75: 'Return the names of the 3 countries with the fewest people.' (True DB: world_1)
  Query 76: 'What are the name, population, and life expectancy of the largest Asian country by land?' (True DB: world_1)
  Query 77: 'Which country has the most of TV Channels? List the country and number of TV Channels it has.' (True DB: tvshow)
  Query 78: 'Find the type and weight of the youngest pet.' (True DB: pets_1)
  Query 79: 'What are the country codes for countries that do not speak English?' (True DB: world_1)
  Query 80: 'What are the airline names and abbreviations for airlines in the USA?' (True DB: flight_2)
  Query 81: 'Which are the car makers which produce at least 2 models and more than 3 car makers ? List the id and the maker .' (True DB: car_1)
  Query 82: 'How many matches were played in 2013 or 2016?' (True DB: wta_1)
  Query 83: 'Show all template type codes and the number of documents using each type.' (True DB: cre_Doc_Template_Mgt)
  Query 84: 'Find the make and production time of the cars that were produced in the earliest year?' (True DB: car_1)
  Query 85: 'How many cartoons were written by "Joseph Kuhr"?' (True DB: tvshow)
  Query 86: 'What are the names of countries that speak more than 2 languages, as well as how many languages they speak?' (True DB: world_1)
  Query 87: 'Give me all the information about hiring.' (True DB: employee_hire_evaluation)
  Query 88: 'Find the average age of students who do not have any pet .' (True DB: pets_1)
  Query 89: 'What are the names of conductors who have conducted orchestras founded after the year 2008?' (True DB: orchestra)
  Query 90: 'How many car models are produced by each maker ? Only list the count and the maker full name .' (True DB: car_1)
  Query 91: 'Find the year that has the most number of matches.' (True DB: wta_1)
  Query 92: 'What are the different models created by either the car maker General Motors or weighed more than 3500?' (True DB: car_1)
  Query 93: 'What are the names and release years for all the songs of the youngest singer?' (True DB: concert_singer)
  Query 94: 'Find the id of students who do not have a cat pet.' (True DB: pets_1)
  Query 95: 'List the title of all  Cartoons showed on TV Channel with series name "Sky Radio".' (True DB: tvshow)
  Query 96: 'Return the id and type code of the template that is used for the greatest number of documents.' (True DB: cre_Doc_Template_Mgt)
  Query 97: 'Return the different names of cities that are in Asia and for which Chinese is the official language.' (True DB: world_1)
  Query 98: 'List all document ids with at least two paragraphs.' (True DB: cre_Doc_Template_Mgt)
  Query 99: 'Which address holds the most number of students currently? List the address id and all lines.' (True DB: student_transcripts_tracking)
  Query 100: 'Show ids for all templates not used by any document.' (True DB: cre_Doc_Template_Mgt)
  Query 101: 'List the vote ids, phone numbers and states of all votes.' (True DB: voter_1)
  Query 102: 'Show the stadium names without any concert.' (True DB: concert_singer)
  Query 103: 'find the id, name and age for visitors who visited some museums more than once.' (True DB: museum_visit)
  Query 104: 'Show the document id with paragraph text 'Brazil' and 'Ireland'.' (True DB: cre_Doc_Template_Mgt)
  Query 105: 'Which shops' number products is above the average? Give me the shop names.' (True DB: employee_hire_evaluation)
  Query 106: 'What is the zip code of the address in the city Port Chelsea?' (True DB: student_transcripts_tracking)
  Query 107: 'List the title of all cartoon directed by "Ben Jones" or "Brandon Vietti".' (True DB: tvshow)
  Query 108: 'What are the template ids of any templates used in more than a single document?' (True DB: cre_Doc_Template_Mgt)
  Query 109: 'What are the names and ranks of the three youngest winners across all matches?' (True DB: wta_1)
  Query 110: 'Give the nationality that is most common across all people.' (True DB: poker_player)
  Query 111: 'What is the name and capacity for the stadium with the highest average attendance?' (True DB: concert_singer)
  Query 112: 'What is the total surface area of the continents Asia and Europe?' (True DB: world_1)
  Query 113: 'What are the first names and country codes for players who won both the WTA Championships and the Australian Open?' (True DB: wta_1)
  Query 114: 'Give me the id, role and email of the professionals who did not perform any treatment on dogs.' (True DB: dog_kennels)
  Query 115: 'What is the average life expectancy in African countries that are republics?' (True DB: world_1)
  Query 116: 'What is the name of country that has the shortest life expectancy in Asia?' (True DB: world_1)
  Query 117: 'What are the ids of the students who do not own cats as pets?' (True DB: pets_1)
  Query 118: 'What is the semester which most student registered in? Show both the name and the id.' (True DB: student_transcripts_tracking)
  Query 119: 'What is the name of the conductor who has worked the greatest number of years?' (True DB: orchestra)
  Query 120: 'List each language and the number of TV Channels using it.' (True DB: tvshow)
  Query 121: 'Return the type code of the template type with the description "Book".' (True DB: cre_Doc_Template_Mgt)
  Query 122: 'How many singers are from each country?' (True DB: concert_singer)
  Query 123: 'What are the birth years and citizenships of the singers?' (True DB: singer)
  Query 124: 'List the Episode of all  TV series showed on TV Channel with series name "Sky Radio".' (True DB: tvshow)
  Query 125: 'What is the code of the country with the most players?' (True DB: wta_1)
  Query 126: 'Which year has most number of concerts?' (True DB: concert_singer)
  Query 127: 'Return the lowest version number, along with its corresponding template type code.' (True DB: cre_Doc_Template_Mgt)
  Query 128: 'What is the number of continents?' (True DB: car_1)
  Query 129: 'What is the charge amount of the most expensive charge type?' (True DB: dog_kennels)
  Query 130: 'What are the different models for the cards produced after 1980?' (True DB: car_1)
  Query 131: 'List top 3 highest Rating  TV series. List the TV series's Episode and Rating.' (True DB: tvshow)
  Query 132: 'What are the names and areas of countries with the top 5 largest area?' (True DB: world_1)
  Query 133: 'How many owners temporarily do not have any dogs?' (True DB: dog_kennels)
  Query 134: 'Compute the average age of all the dogs.' (True DB: dog_kennels)
  Query 135: 'Show names for all stadiums except for stadiums having a concert in year 2014.' (True DB: concert_singer)
  Query 136: 'What is the TV Channel of TV series with Episode "A Love of a Lifetime"? List the TV Channel's series name.' (True DB: tvshow)
  Query 137: 'What are the minimum and maximum number of products across all the shops?' (True DB: employee_hire_evaluation)
  Query 138: 'what are all the addresses including line 1 and line 2?' (True DB: student_transcripts_tracking)
  Query 139: 'What are the names and ids of all countries with at least one car maker?' (True DB: car_1)
  Query 140: 'Find the average and maximum age for each type of pet.' (True DB: pets_1)
  Query 141: 'What is the sname of every sing that does not have any song?' (True DB: singer)
  Query 142: 'What are the names of all courses that have some students enrolled?' (True DB: student_transcripts_tracking)
  Query 143: 'Please show the most common citizenship of singers.' (True DB: singer)
  Query 144: 'List the name of teachers whose hometown is not `` Little Lever Urban District '' .' (True DB: course_teach)
  Query 145: 'How many courses in total are listed?' (True DB: student_transcripts_tracking)
  Query 146: 'Find the production code and channel of the most recently aired cartoon .' (True DB: tvshow)
  Query 147: 'Which country does Airline "JetBlue Airways" belong to?' (True DB: flight_2)
  Query 148: 'What is the number of the cars with horsepower more than 150?' (True DB: car_1)
  Query 149: 'Show all distinct template type codes for all templates.' (True DB: cre_Doc_Template_Mgt)
  Query 150: 'List the number of different series names and contents in the TV Channel table.' (True DB: tvshow)
  Query 151: 'How many museums were opened after 2013 or before 2008?' (True DB: museum_visit)
  Query 152: 'Return the template type description of the template type with the code AD.' (True DB: cre_Doc_Template_Mgt)
  Query 153: 'On average, when were the transcripts printed?' (True DB: student_transcripts_tracking)
  Query 154: 'List the record company shared by the most number of orchestras.' (True DB: orchestra)
  Query 155: 'List the names of employees and sort in ascending order of age.' (True DB: employee_hire_evaluation)
  Query 156: 'How many dog pets are raised by female students?' (True DB: pets_1)
  Query 157: 'What is the number of car models created by the car maker American Motor Company?' (True DB: car_1)
  Query 158: 'Return the names and template ids for documents that contain the letter w in their description.' (True DB: cre_Doc_Template_Mgt)
  Query 159: 'Which template type code is used by most number of documents?' (True DB: cre_Doc_Template_Mgt)
  Query 160: 'For model volvo, how many cylinders does the car with the least accelerate have?' (True DB: car_1)
  Query 161: 'For students who have pets , how many pets does each student have ? list their ids instead of names .' (True DB: pets_1)
  Query 162: 'Which student has enrolled for the most times in any program? List the id, first name, middle name, last name, the number of enrollments and student id.' (True DB: student_transcripts_tracking)
  Query 163: 'List the area codes in which voters voted both for the contestant 'Tabatha Gehling' and the contestant 'Kelly Clauss'.' (True DB: voter_1)
  Query 164: 'Give the airline with abbreviation 'UAL'.' (True DB: flight_2)
  Query 165: 'Describe the section h.' (True DB: student_transcripts_tracking)
  Query 166: 'Find the number of professionals who have ever treated dogs.' (True DB: dog_kennels)
  Query 167: 'How many available features are there in total?' (True DB: real_estate_properties)
  Query 168: 'What is the number of carsw ith over 6 cylinders?' (True DB: car_1)
  Query 169: 'List the name and tonnage ordered by in descending alphaetical order for the names.' (True DB: battle_death)
  Query 170: 'List the names of the dogs of the rarest breed and the treatment dates of them.' (True DB: dog_kennels)
  Query 171: 'How many high schoolers are there?' (True DB: network_1)
  Query 172: 'What is the average grade of students who have friends?' (True DB: network_1)
  Query 173: 'How much does each charge type costs? List both charge type and amount.' (True DB: dog_kennels)
  Query 174: 'What is the average age for all students who do not own any pets ?' (True DB: pets_1)
  Query 175: 'How many conductors are there?' (True DB: orchestra)
  Query 176: 'Find the highest rank of losers in all matches.' (True DB: wta_1)
  Query 177: 'Show the student IDs and numbers of friends corresponding to each.' (True DB: network_1)
  Query 178: 'What is the model of the car with the smallest amount of horsepower?' (True DB: car_1)
  Query 179: 'Which regions speak Dutch or English?' (True DB: world_1)
  Query 180: 'What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?' (True DB: singer)
  Query 181: 'Return the number of flights departing from Aberdeen.' (True DB: flight_2)
  Query 182: 'How many concerts are there in year 2014 or 2015?' (True DB: concert_singer)
  Query 183: 'Return the number of flights.' (True DB: flight_2)
  Query 184: 'What are each owner's first name, last name, and the size of their dog?' (True DB: dog_kennels)
  Query 185: 'What is the id and weight of every pet who is older than 1?' (True DB: pets_1)
  Query 186: 'Show the names of high school students and their corresponding number of friends.' (True DB: network_1)

ValueError: No candidate schemas available for evaluation. This indicates an issue with schema loading or conversion in Cell 1.

In [42]:
import os
import json 
LOCAL_EXPERIMENT_BASE_DIR = "/raid/infolab/gaurav/Llama_Spider_A100_Project/"

EXPERIMENT_RUN_NAME = "randomQ_allDBs_run1" 
EXPERIMENT_PROJECT_DIR = os.path.join(LOCAL_EXPERIMENT_BASE_DIR, EXPERIMENT_RUN_NAME)

try:
    os.makedirs(EXPERIMENT_PROJECT_DIR, exist_ok=True)
    print(f"Ensured experiment project directory exists: '{EXPERIMENT_PROJECT_DIR}'")
except OSError as e:
    print(f"Error creating directory {EXPERIMENT_PROJECT_DIR}: {e}")
    EXPERIMENT_PROJECT_DIR = "." 


RESULTS_FILENAME = "spider_queries_llama3.2_1B-instruct-prompt_codeS.json"
EXPERIMENT_RESULTS_FILE = os.path.join(EXPERIMENT_PROJECT_DIR, RESULTS_FILENAME)

print(f"Experiment results will be saved to: {EXPERIMENT_RESULTS_FILE}")

Ensured experiment project directory exists: '/raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1'
Experiment results will be saved to: /raid/infolab/gaurav/Llama_Spider_A100_Project/randomQ_allDBs_run1/spider_queries_llama3.2_1B-instruct-prompt_codeS.json

In [45]:
# Cell defining get_one_zero_token_ids

def get_one_zero_token_ids(tokenizer_arg):
    """
    Determines the single token IDs for the characters '1' and '0'.
    It's crucial these are single tokens for the logit logic to work.
    """
    # Llama 3 tokenizer handles single digits with leading spaces well.
    one_token_id = tokenizer_arg.encode(" 1", add_special_tokens=False)
    zero_token_id = tokenizer_arg.encode(" 0", add_special_tokens=False)

    if len(one_token_id) == 1 and len(zero_token_id) == 1:
        print("Using ' 1' and ' 0' (with leading space) for token IDs.")
        return one_token_id[0], zero_token_id[0]
    
    # Fallback in case the model prefers no space (less common for instruction models)
    one_token_id_no_space = tokenizer_arg.encode("1", add_special_tokens=False)
    zero_token_id_no_space = tokenizer_arg.encode("0", add_special_tokens=False)

    if len(one_token_id_no_space) == 1 and len(zero_token_id_no_space) == 1:
        print("Using '1' and '0' (no leading space) for token IDs.")
        return one_token_id_no_space[0], zero_token_id_no_space[0]
        
    else:
        # If neither works, there's a problem with the tokenizer for this task.
        print(f"ERROR: Could not determine reliable single token IDs for '1' or '0'.")
        print(f"Tokenization of ' 1': {one_token_id}")
        print(f"Tokenization of ' 0': {zero_token_id}")
        print(f"Tokenization of '1': {one_token_id_no_space}")
        print(f"Tokenization of '0': {zero_token_id_no_space}")
        raise ValueError("Unstable tokenization for '1'/'0'. Cannot proceed.")

print("Helper function 'get_one_zero_token_ids' defined.")

Helper function 'get_one_zero_token_ids' defined.

In [46]:
# This cell defines the global token IDs for '1' and '0'
if 'tokenizer' in globals() and tokenizer is not None:
    try:
        ONE_TOKEN_ID, ZERO_TOKEN_ID = get_one_zero_token_ids(tokenizer)
        print(f"ONE_TOKEN_ID: {ONE_TOKEN_ID} ('{tokenizer.decode([ONE_TOKEN_ID])}')")
        print(f"ZERO_TOKEN_ID: {ZERO_TOKEN_ID} ('{tokenizer.decode([ZERO_TOKEN_ID])}')")
    except ValueError as e:
        print(f"Error defining 1/0 token IDs: {e}")
else:
    print("ERROR: 'tokenizer' is not defined. Cannot define token IDs.")

Using '1' and '0' (no leading space) for token IDs.
ONE_TOKEN_ID: 16 ('1')
ZERO_TOKEN_ID: 15 ('0')

In [47]:
import torch # Ensure torch is imported

# --- Core function to get P(1) and the binary decision ---
def get_schema_match_prediction(model_arg, tokenizer_arg, system_prompt_arg, user_prompt_content_arg, one_token_id_arg, zero_token_id_arg, max_length=model.config.max_position_embeddings):
    """
    Gets the model's prediction (1 or 0) and the probability score for that decision.
    Returns a tuple: (binary_decision, probability_of_one)
    """
    messages = [
        {"role": "system", "content": system_prompt_arg},
        {"role": "user", "content": user_prompt_content_arg}
    ]

    prompt_for_model = tokenizer_arg.apply_chat_template(messages, tokenize=False, add_generation_prompt=True)

    print(prompt_for_model)

    inputs = tokenizer_arg(
        prompt_for_model,
        return_tensors="pt",
        truncation=True,
        max_length=max_length - 10
    )
    inputs = {k: v.to(model_arg.device) for k, v in inputs.items()}

    if inputs['input_ids'].shape[1] >= max_length - 10:
         print(f"Warning: Prompt for query was truncated. Length: {inputs['input_ids'].shape[1]}")

    with torch.no_grad():
        outputs = model_arg(**inputs)
        logits = outputs.logits
        # Get the logits for the very next token to be generated
        next_token_logits = logits[:, -1, :]
        
        # Get the specific logits for the '1' and '0' tokens
        logit_one = next_token_logits[:, one_token_id_arg].item()
        logit_zero = next_token_logits[:, zero_token_id_arg].item()

    # --- Make the decision based on which logit is higher ---
    binary_decision = 1 if logit_one > logit_zero else 0

    # --- Calculate the probability using the softmax function on the two logits ---
    # This correctly converts the logits into a probability score for '1'
    max_logit = max(logit_one, logit_zero)
    exp_one = torch.exp(torch.tensor(logit_one - max_logit))
    exp_zero = torch.exp(torch.tensor(logit_zero - max_logit))
    
    prob_one = exp_one / (exp_one + exp_zero)
    
    return (binary_decision, prob_one.item())

print("Core function 'get_schema_match_prediction' defined.")

Core function 'get_schema_match_prediction' defined.

In [48]:
# --- Prompt Configuration for Binary (1/0) Output (Corrected & Customized for Value HINTS) ---

SYSTEM_PROMPT = """
You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.
"""

# This template's examples teach the model how to correctly interpret the 'values' field as a hint.
USER_PROMPT_TEMPLATE = """
# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
{schema_string}
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: {nl_query}
A:
"""

print("SYSTEM_PROMPT and USER_PROMPT_TEMPLATE have been customized for schemas with representative values.")

SYSTEM_PROMPT and USER_PROMPT_TEMPLATE have been customized for schemas with representative values.

In [ ]:
import json
import os
from tqdm.auto import tqdm

# This dictionary will hold all results.
experiment_all_query_results = []

# --- 1. Resume from Previous Run (if applicable) ---
if os.path.exists(EXPERIMENT_RESULTS_FILE):
    print(f"INFO: Found existing results file. Loading progress from '{EXPERIMENT_RESULTS_FILE}'")
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'r') as f:
            experiment_all_query_results = json.load(f)
        print(f"Loaded results for {len(experiment_all_query_results)} queries. Resuming...")
    except json.JSONDecodeError:
        print(f"WARNING: Results file '{EXPERIMENT_RESULTS_FILE}' is corrupted. Starting from scratch.")
        experiment_all_query_results = []

# Create a set of already completed query IDs for quick checking
completed_query_ids = {res['experiment_query_id'] for res in experiment_all_query_results}

# --- 2. Define the Schemas to be Used in the Experiment ---
# This is the key change: ensure we are using the new CODES-style prompts.
# We also add a check to make sure the prompts were actually generated.
if 'all_db_schemas_codes_style_prompts' in globals() and all_db_schemas_codes_style_prompts:
    candidate_schemas_for_evaluation = all_db_schemas_codes_style_prompts
else:
    raise NameError("The 'all_db_schemas_codes_style_prompts' variable is not defined. Please run the prompt generation cell first.")


# --- 3. Start the Main Experiment Loop ---
print(f"\n--- Starting Experiment: {len(selected_nl_queries)} Queries vs. {len(candidate_schemas_for_evaluation)} Schemas ---")

# Outer loop: Iterate through each NL query
for query_idx, nl_query_info in enumerate(tqdm(selected_nl_queries, desc="Processing NL Queries")):
    current_nl_query_text = nl_query_info['question']
    true_db_id_for_query = nl_query_info['db_id']
    
    # Create a unique ID for this query instance to handle resuming runs
    # Using 'query_idx' ensures a stable ID across runs
    experiment_query_id = f"spider_dev_q{query_idx}_idx{query_idx}"

    # Skip if this query has already been processed in a previous run
    if experiment_query_id in completed_query_ids:
        continue

    print(f"\nProcessing Query {query_idx + 1}/{len(selected_nl_queries)} (ID: {experiment_query_id}): '{current_nl_query_text}' (True DB: {true_db_id_for_query})")

    # This list will store the results for the current query against all schemas
    predictions_for_current_query = []

    # Inner loop: Iterate through each candidate database schema
    for candidate_db_id, candidate_schema_prompt in tqdm(candidate_schemas_for_evaluation.items(), desc=f"  DBs for Q:{experiment_query_id[:20]}", leave=False):
        user_prompt_content = USER_PROMPT_TEMPLATE.format(
            schema_string=candidate_schema_prompt, # Use the new prompt
            nl_query=current_nl_query_text
        )
        
        # Default values in case of an error during model inference
        binary_decision = -1 
        p_one_score = -1.0

        try:
            # Call the model to get the prediction (1 or 0) and the probability
            binary_decision, p_one_score = get_schema_match_prediction(
                model,
                tokenizer,
                SYSTEM_PROMPT,
                user_prompt_content,
                ONE_TOKEN_ID,
                ZERO_TOKEN_ID
            )
        except Exception as e:
            import traceback
            print(f"    ERROR: Exception during model inference for Query ID '{experiment_query_id}' with DB '{candidate_db_id}'.")
            print(f"    Exception type: {type(e).__name__}, Message: {e}")

        # Store the results for this specific query-schema pair
        predictions_for_current_query.append({
            'candidate_db_id': candidate_db_id,
            'decision': binary_decision,
            'p_one_score': p_one_score
        })

    # After scoring all candidates, sort them by the probability of being answerable (p_one_score)
    ranked_databases_for_query = sorted(predictions_for_current_query, key=lambda x: x['p_one_score'], reverse=True)

    # Store the comprehensive result for this single NL query
    experiment_all_query_results.append({
        'experiment_query_id': experiment_query_id,
        'nl_query_text': current_nl_query_text,
        'true_db_id': true_db_id_for_query,
        'ranked_databases_with_predictions': ranked_databases_for_query 
    })

    # --- 4. Periodic Saving of Results ---
    # Save intermediate results to the JSON file to avoid data loss on long runs
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'w') as f_out:
            json.dump(experiment_all_query_results, f_out, indent=2)
    except Exception as e:
        print(f"  ERROR: Could not save intermediate results: {e}")

# --- 5. Final Save After Loop Completion ---
print("\n--- Experiment Loop Finished ---\n")
if experiment_all_query_results:
    print(f"Processed a total of {len(experiment_all_query_results)} unique queries.")
    # Final save to ensure the very last entry is written correctly
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'w') as f_out:
            json.dump(experiment_all_query_results, f_out, indent=2)
        print(f"Final results successfully saved to {EXPERIMENT_RESULTS_FILE}")
    except Exception as e:
        print(f"ERROR: Could not save the final results: {e}")
else:
    print("No results were generated. Check logs for errors.")

--- Starting Experiment: 1034 Queries vs. 166 Schemas ---

Processing NL Queries:   0%|          | 0/1034 [00:00<?, ?it/s]

Processing Query 1/1034 (ID: spider_dev_q0_idx0): 'How many 'United Airlines' flights go to Airport 'ASY'?' (True DB: flight_2)

  DBs for Q:spider_dev_q0_idx0:   0%|          | 0/166 [00:00<?, ?it/s]

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table perpetrator, columns = [ perpetrator.Perpetrator_ID ( integer | primary key | values: 1, 2 ), perpetrator.People_ID ( integer | values: 1, 3 ), perpetrator.Date ( text | values: 04.26 April 26/27, 11.18 Nov. 18 ), perpetrator.Year ( real | values: 1982.0, 1995.0 ), perpetrator.Location ( text | values: Uiryeong, Zhaodong ), perpetrator.Country ( text | values: South Korea, China ), perpetrator.Killed ( real | values: 56, 32 ), perpetrator.Injured ( real | values: 37, 16 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Ron Baxter, Brent Boyd ), people.Height ( real | values: 6.4, 6.3 ), people.Weight ( real | values: 205.0, 185.0 ), people.Home Town ( text | values: Los Angeles, CA, Baton Rouge, LA ) ]
foreign keys:
perpetrator.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many people are recorded in the database?
-- What is the average height of people who have a weight greater than 70kg?
-- Which location has the highest number of perpetrators who killed more than 5 people?
-- What is the name of the person with People_ID = 2?
-- What is the year with the most perpetrators?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: How many 'United Airlines' flights go to Airport 'ASY'?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table classroom, columns = [ classroom.building ( text | primary key | values: Alumni, Bronfman ), classroom.room_number ( text | values: 143, 547 ), classroom.capacity ( real | values: 10, 27 ) ]
table department, columns = [ department.dept_name ( text | primary key | values: Accounting, Astronomy ), department.building ( text | values: Chandler, Candlestick ), department.budget ( real | values: 255041.46, 647610.55 ) ]
table course, columns = [ course.course_id ( text | primary key | values: 101, 105 ), course.title ( text | values: C  Programming, The Music of Donovan ), course.dept_name ( text | values: Mech. Eng., Comp. Sci. ), course.credits ( real | values: 4, 3 ) ]
table instructor, columns = [ instructor.ID ( text | primary key | values: 14365, 15347 ), instructor.name ( text | values: McKinnon, Pingr ), instructor.dept_name ( text | values: Cybernetics, Statistics ), instructor.salary ( real | values: 94333.99, 59303.62 ) ]
table section, columns = [ section.course_id ( text | primary key | values: 105, 137 ), section.sec_id ( text | values: 1, 2 ), section.semester ( text | values: Fall, Spring ), section.year ( real | values: 2009, 2002 ), section.building ( text | values: Chandler, Gates ), section.room_number ( text | values: 804, 314 ), section.time_slot_id ( text | values: N, K ) ]
table teaches, columns = [ teaches.ID ( text | primary key | values: 14365, 15347 ), teaches.course_id ( text | values: 747, 169 ), teaches.sec_id ( text | values: 1, 2 ), teaches.semester ( text | values: Spring, Fall ), teaches.year ( integer | values: 2004, 2007 ) ]
table student, columns = [ student.ID ( text | primary key | values: 1000, 10033 ), student.name ( text | values: Schrefl, Rumat ), student.dept_name ( text | values: History, Finance ), student.tot_cred ( real | values: 4, 100 ) ]
table takes, columns = [ takes.ID ( text | primary key | values: 1000, 10033 ), takes.course_id ( text | values: 239, 319 ), takes.sec_id ( text | values: 1, 2 ), takes.semester ( text | values: Fall, Spring ), takes.year ( integer | values: 2006, 2003 ), takes.grade ( text | values: C-, B- ) ]
table advisor, columns = [ advisor.s_ID ( text | primary key | values: 1000, 10033 ), advisor.i_ID ( text | values: 19368, 95030 ) ]
table time_slot, columns = [ time_slot.time_slot_id ( text | primary key | values: A, B ), time_slot.day ( text | values: F, M ), time_slot.start_hr ( real | values: 8, 9 ), time_slot.start_min ( real | values: 0, 30 ), time_slot.end_hr ( real | values: 8, 9 ), time_slot.end_min ( real | values: 50, 45 ) ]
table prereq, columns = [ prereq.course_id ( text | primary key | values: 133, 158 ), prereq.prereq_id ( text | values: 130, 169 ) ]
foreign keys:
course.dept_name = department.dept_name
instructor.dept_name = department.dept_name
section.building = classroom.building
section.room_number = classroom.room_number
section.course_id = course.course_id
teaches.ID = instructor.ID
teaches.course_id = section.course_id
teaches.sec_id = section.sec_id
teaches.semester = section.semester
teaches.year = section.year
student.dept_name = department.dept_name
takes.ID = student.ID
takes.course_id = section.course_id
takes.sec_id = section.sec_id
takes.semester = section.semester
takes.year = section.year
advisor.s_ID = student.ID
advisor.i_ID = instructor.ID
prereq.prereq_id = course.course_id
prereq.course_id = course.course_id

/*
Example questions for this schema:
-- What are the names and budgets of all departments?
-- Which courses have prerequisites, and what are their prerequisite course IDs?
-- List the names of instructors and the course IDs of the sections they teach in the Fall semester.
-- How many sections of the course 'Math 300' are scheduled in the Fall semester?
-- What is the name of the instructor who teaches the 'Math 300' course in the Spring semester of the year 2020?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: How many 'United Airlines' flights go to Airport 'ASY'?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table airport, columns = [ airport.id ( integer | primary key | values: 1, 2 ), airport.City ( text | values: Akureyri, Amsterdam ), airport.Country ( text | values: Iceland, Netherlands ), airport.IATA ( text | values: AEY, AMS ), airport.ICAO ( text | values: BIAR, EHAM ), airport.name ( text | values: Akureyri Airport, Schiphol Airport ) ]
table operate_company, columns = [ operate_company.id ( integer | primary key | values: 1, 2 ), operate_company.name ( text | values: Air China, Air China Cargo ), operate_company.Type ( text | values: Corporate, Joint Venture ), operate_company.Principal_activities ( text | values: Airline, Cargo airline ), operate_company.Incorporated_in ( text | values: China, Hong Kong ), operate_company.Group_Equity_Shareholding ( real | values: 18.77, 49.0 ) ]
table flight, columns = [ flight.id ( integer | primary key | values: 1, 2 ), flight.Vehicle_Flight_number ( text | values: M2-F1 #0, M2-F1 #1 ), flight.Date ( text | values: March 1, 1963, August 16, 1963 ), flight.Pilot ( text | values: Thompson, Peterson ), flight.Velocity ( real | values: 135.0, 240.0 ), flight.Altitude ( real | values: 0.0, 3650.0 ), flight.airport_id ( integer | values: 1, 2 ), flight.company_id ( integer | values: 2, 3 ) ]
foreign keys:
flight.company_id = operate_company.id
flight.airport_id = airport.id

/*
Example questions for this schema:
-- What is the average altitude of flights that departed from airports in the United States?
-- What are the names of the pilots who flew flights operated by companies whose name starts with 'A', on Sundays?
-- Which airport has the highest number of flights that departed on a Monday?
-- What is the velocity of flights that departed from the airport with the IATA code 'LHR', on a day when the temperature was above 0 degrees Celsius?
-- How many flights operated by companies with a Group Equity Shareholding greater than 50% have been operated by pilots who are also the principal of the company they work for?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: How many 'United Airlines' flights go to Airport 'ASY'?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table Inst, columns = [ Inst.instID ( integer | primary key | values: 1000, 1010 ), Inst.name ( text | values: University of Oxford, Northeastern University ), Inst.country ( text | values: UK, USA ) ]
table Authors, columns = [ Authors.authID ( integer | primary key | values: 50, 51 ), Authors.lname ( text | values: Gibbons, Hinze ), Authors.fname ( text | values: Jeremy, Ralf ) ]
table Papers, columns = [ Papers.paperID ( integer | primary key | values: 200, 201 ), Papers.title ( text | values: Just do it: Simple Monadic Equational Reasoning, Proving the Unique Fixed-Point Principle Correct: An Adventure with Category Theory ) ]
table Authorship, columns = [ Authorship.authID ( integer | primary key | values: 50, 51 ), Authorship.instID ( integer | values: 1000, 1010 ), Authorship.paperID ( integer | values: 200, 201 ), Authorship.authOrder ( real | values: 1, 2 ) ]
foreign keys:
Authorship.paperID = Papers.paperID
Authorship.instID = Inst.instID
Authorship.authID = Authors.authID

/*
Example questions for this schema:
-- How many papers were written by authors from the USA?
-- What is the average number of authors per paper for papers written by authors from Germany?
-- List all authors who have written more than 5 papers.
-- What is the title of the paper with the highest number of authors?
-- How many papers were written by authors from institutions in the UK?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: How many 'United Airlines' flights go to Airport 'ASY'?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table body_builder, columns = [ body_builder.Body_Builder_ID ( integer | primary key | values: 1, 2 ), body_builder.People_ID ( integer | values: 1, 2 ), body_builder.Snatch ( real | values: 142.5, 137.5 ), body_builder.Clean_Jerk ( real | values: 175.0, 177.5 ), body_builder.Total ( real | values: 317.5, 315.0 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Jack Campbell, Ty Conklin ), people.Height ( real | values: 182.0, 192.0 ), people.Weight ( real | values: 80.0, 90.0 ), people.Birth_Date ( text | values: January 1, 1992, March 30, 1976 ), people.Birth_Place ( text | values: Port Huron, Michigan, Anchorage, Alaska ) ]
foreign keys:
body_builder.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many body builders have a total score above 300?
-- What is the average snatch weight for body builders born in 1980?
-- List the names of people who have a body builder with a snatch weight of 100 or more.
-- What is the average weight of people who have a body builder with a total score above 350?
-- How many body builders have a snatch weight below 70?  How many of these body builders are from the city of Tokyo?  What is the average weight of these body builders?  How many of these body builders have a total score above 300?  How many of these body builders have a birth date in 1990?  How many of these body builders are from the city of New York?  What is the average height of these body builders?  How many of these body builders have a birth date in 1985?  What is the average snatch weight of these body builders?  How many of these body builders have a weight below 60?  How many of these body builders are from the city of London?  How many of these body builders have a birth date in 1995?  What is the average
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: How many 'United Airlines' flights go to Airport 'ASY'?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table storm, columns = [ storm.Storm_ID ( integer | primary key | values: 1, 2 ), storm.Name ( text | values: One, Two ), storm.Dates_active ( text | values: May19–May25, August3–August10 ), storm.Max_speed ( real | values: 995, 972 ), storm.Damage_millions_USD ( real | values: 13.0, 10.75 ), storm.Number_Deaths ( real | values: 0, 7 ) ]
table region, columns = [ region.Region_id ( integer | primary key | values: 1, 2 ), region.Region_code ( text | values: AF, AL ), region.Region_name ( text | values: Afghanistan, Albania ) ]
table affected_region, columns = [ affected_region.Region_id ( integer | primary key | values: 1, 2 ), affected_region.Storm_ID ( integer | values: 1, 4 ), affected_region.Number_city_affected ( real | values: 10.0, 15.0 ) ]
foreign keys:
affected_region.Storm_ID = storm.Storm_ID
affected_region.Region_id = region.Region_id

/*
Example questions for this schema:
-- What is the average number of deaths in all storms?
-- Which region has the highest number of cities affected by all storms?
-- What is the number of storms that occurred between 2010-01-01 and 2020-01-01?
-- What is the storm with the highest damage in the region with code 'US-01'?
-- What is the total number of deaths in storms where the storm's max speed was above 120 miles per hour?  in the storm that caused the most deaths?  in the region 'US-01'?  in the storm that caused the most deaths in the region 'US-01'?  in the storm with the highest damage in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the region with the highest number of cities affected by all storms?  in the storm with the highest damage in the region with code 'US-01'?  in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the storm that caused the
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: How many 'United Airlines' flights go to Airport 'ASY'?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table aircraft, columns = [ aircraft.Aircraft_ID ( integer | primary key | values: 1, 2 ), aircraft.Order_Year ( real | values: 1992, 1996 ), aircraft.Manufacturer ( text | values: Gillig, NFI ), aircraft.Model ( text | values: Phantom (High Floor), Advantage (Low Floor) ), aircraft.Fleet_Series ( text | values: 444-464 (21), 465-467 (3) ), aircraft.Powertrain ( text | values: DD S50EGR Allison WB-400R, DD S50 Allison WB-400R ), aircraft.Fuel_Propulsion ( text | values: Diesel, Hybrid ) ]
table pilot, columns = [ pilot.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot.Pilot_name ( text | values: Patrick O'Bryant, Jermaine O'Neal ), pilot.Rank ( real | values: 13, 6 ), pilot.Age ( real | values: 33, 40 ), pilot.Nationality ( text | values: United States, United Kindom ), pilot.Position ( text | values: Center Team, Forward-Center Team ), pilot.Join_Year ( real | values: 2009, 2008 ), pilot.Team ( text | values: Bradley, Eau Claire High School ) ]
table pilot_record, columns = [ pilot_record.Record_ID ( real | values: 1, 2 ), pilot_record.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot_record.Aircraft_ID ( integer | values: 1, 4 ), pilot_record.Date ( text | values: 2003/01/04, 2005/01/04 ) ]
foreign keys:
pilot_record.Aircraft_ID = aircraft.Aircraft_ID
pilot_record.Pilot_ID = pilot.Pilot_ID

/*
Example questions for this schema:

  DBs for Q:spider_dev_q1_idx1:   0%|          | 0/166 [00:00<?, ?it/s]

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table perpetrator, columns = [ perpetrator.Perpetrator_ID ( integer | primary key | values: 1, 2 ), perpetrator.People_ID ( integer | values: 1, 3 ), perpetrator.Date ( text | values: 04.26 April 26/27, 11.18 Nov. 18 ), perpetrator.Year ( real | values: 1982.0, 1995.0 ), perpetrator.Location ( text | values: Uiryeong, Zhaodong ), perpetrator.Country ( text | values: South Korea, China ), perpetrator.Killed ( real | values: 56, 32 ), perpetrator.Injured ( real | values: 37, 16 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Ron Baxter, Brent Boyd ), people.Height ( real | values: 6.4, 6.3 ), people.Weight ( real | values: 205.0, 185.0 ), people.Home Town ( text | values: Los Angeles, CA, Baton Rouge, LA ) ]
foreign keys:
perpetrator.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many people are recorded in the database?
-- What is the average height of people who have a weight greater than 70kg?
-- Which location has the highest number of perpetrators who killed more than 5 people?
-- What is the name of the person with People_ID = 2?
-- What is the year with the most perpetrators?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the name of the countries where there is not a single car maker?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table classroom, columns = [ classroom.building ( text | primary key | values: Alumni, Bronfman ), classroom.room_number ( text | values: 143, 547 ), classroom.capacity ( real | values: 10, 27 ) ]
table department, columns = [ department.dept_name ( text | primary key | values: Accounting, Astronomy ), department.building ( text | values: Chandler, Candlestick ), department.budget ( real | values: 255041.46, 647610.55 ) ]
table course, columns = [ course.course_id ( text | primary key | values: 101, 105 ), course.title ( text | values: C  Programming, The Music of Donovan ), course.dept_name ( text | values: Mech. Eng., Comp. Sci. ), course.credits ( real | values: 4, 3 ) ]
table instructor, columns = [ instructor.ID ( text | primary key | values: 14365, 15347 ), instructor.name ( text | values: McKinnon, Pingr ), instructor.dept_name ( text | values: Cybernetics, Statistics ), instructor.salary ( real | values: 94333.99, 59303.62 ) ]
table section, columns = [ section.course_id ( text | primary key | values: 105, 137 ), section.sec_id ( text | values: 1, 2 ), section.semester ( text | values: Fall, Spring ), section.year ( real | values: 2009, 2002 ), section.building ( text | values: Chandler, Gates ), section.room_number ( text | values: 804, 314 ), section.time_slot_id ( text | values: N, K ) ]
table teaches, columns = [ teaches.ID ( text | primary key | values: 14365, 15347 ), teaches.course_id ( text | values: 747, 169 ), teaches.sec_id ( text | values: 1, 2 ), teaches.semester ( text | values: Spring, Fall ), teaches.year ( integer | values: 2004, 2007 ) ]
table student, columns = [ student.ID ( text | primary key | values: 1000, 10033 ), student.name ( text | values: Schrefl, Rumat ), student.dept_name ( text | values: History, Finance ), student.tot_cred ( real | values: 4, 100 ) ]
table takes, columns = [ takes.ID ( text | primary key | values: 1000, 10033 ), takes.course_id ( text | values: 239, 319 ), takes.sec_id ( text | values: 1, 2 ), takes.semester ( text | values: Fall, Spring ), takes.year ( integer | values: 2006, 2003 ), takes.grade ( text | values: C-, B- ) ]
table advisor, columns = [ advisor.s_ID ( text | primary key | values: 1000, 10033 ), advisor.i_ID ( text | values: 19368, 95030 ) ]
table time_slot, columns = [ time_slot.time_slot_id ( text | primary key | values: A, B ), time_slot.day ( text | values: F, M ), time_slot.start_hr ( real | values: 8, 9 ), time_slot.start_min ( real | values: 0, 30 ), time_slot.end_hr ( real | values: 8, 9 ), time_slot.end_min ( real | values: 50, 45 ) ]
table prereq, columns = [ prereq.course_id ( text | primary key | values: 133, 158 ), prereq.prereq_id ( text | values: 130, 169 ) ]
foreign keys:
course.dept_name = department.dept_name
instructor.dept_name = department.dept_name
section.building = classroom.building
section.room_number = classroom.room_number
section.course_id = course.course_id
teaches.ID = instructor.ID
teaches.course_id = section.course_id
teaches.sec_id = section.sec_id
teaches.semester = section.semester
teaches.year = section.year
student.dept_name = department.dept_name
takes.ID = student.ID
takes.course_id = section.course_id
takes.sec_id = section.sec_id
takes.semester = section.semester
takes.year = section.year
advisor.s_ID = student.ID
advisor.i_ID = instructor.ID
prereq.prereq_id = course.course_id
prereq.course_id = course.course_id

/*
Example questions for this schema:
-- What are the names and budgets of all departments?
-- Which courses have prerequisites, and what are their prerequisite course IDs?
-- List the names of instructors and the course IDs of the sections they teach in the Fall semester.
-- How many sections of the course 'Math 300' are scheduled in the Fall semester?
-- What is the name of the instructor who teaches the 'Math 300' course in the Spring semester of the year 2020?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the name of the countries where there is not a single car maker?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table airport, columns = [ airport.id ( integer | primary key | values: 1, 2 ), airport.City ( text | values: Akureyri, Amsterdam ), airport.Country ( text | values: Iceland, Netherlands ), airport.IATA ( text | values: AEY, AMS ), airport.ICAO ( text | values: BIAR, EHAM ), airport.name ( text | values: Akureyri Airport, Schiphol Airport ) ]
table operate_company, columns = [ operate_company.id ( integer | primary key | values: 1, 2 ), operate_company.name ( text | values: Air China, Air China Cargo ), operate_company.Type ( text | values: Corporate, Joint Venture ), operate_company.Principal_activities ( text | values: Airline, Cargo airline ), operate_company.Incorporated_in ( text | values: China, Hong Kong ), operate_company.Group_Equity_Shareholding ( real | values: 18.77, 49.0 ) ]
table flight, columns = [ flight.id ( integer | primary key | values: 1, 2 ), flight.Vehicle_Flight_number ( text | values: M2-F1 #0, M2-F1 #1 ), flight.Date ( text | values: March 1, 1963, August 16, 1963 ), flight.Pilot ( text | values: Thompson, Peterson ), flight.Velocity ( real | values: 135.0, 240.0 ), flight.Altitude ( real | values: 0.0, 3650.0 ), flight.airport_id ( integer | values: 1, 2 ), flight.company_id ( integer | values: 2, 3 ) ]
foreign keys:
flight.company_id = operate_company.id
flight.airport_id = airport.id

/*
Example questions for this schema:
-- What is the average altitude of flights that departed from airports in the United States?
-- What are the names of the pilots who flew flights operated by companies whose name starts with 'A', on Sundays?
-- Which airport has the highest number of flights that departed on a Monday?
-- What is the velocity of flights that departed from the airport with the IATA code 'LHR', on a day when the temperature was above 0 degrees Celsius?
-- How many flights operated by companies with a Group Equity Shareholding greater than 50% have been operated by pilots who are also the principal of the company they work for?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the name of the countries where there is not a single car maker?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table Inst, columns = [ Inst.instID ( integer | primary key | values: 1000, 1010 ), Inst.name ( text | values: University of Oxford, Northeastern University ), Inst.country ( text | values: UK, USA ) ]
table Authors, columns = [ Authors.authID ( integer | primary key | values: 50, 51 ), Authors.lname ( text | values: Gibbons, Hinze ), Authors.fname ( text | values: Jeremy, Ralf ) ]
table Papers, columns = [ Papers.paperID ( integer | primary key | values: 200, 201 ), Papers.title ( text | values: Just do it: Simple Monadic Equational Reasoning, Proving the Unique Fixed-Point Principle Correct: An Adventure with Category Theory ) ]
table Authorship, columns = [ Authorship.authID ( integer | primary key | values: 50, 51 ), Authorship.instID ( integer | values: 1000, 1010 ), Authorship.paperID ( integer | values: 200, 201 ), Authorship.authOrder ( real | values: 1, 2 ) ]
foreign keys:
Authorship.paperID = Papers.paperID
Authorship.instID = Inst.instID
Authorship.authID = Authors.authID

/*
Example questions for this schema:
-- How many papers were written by authors from the USA?
-- What is the average number of authors per paper for papers written by authors from Germany?
-- List all authors who have written more than 5 papers.
-- What is the title of the paper with the highest number of authors?
-- How many papers were written by authors from institutions in the UK?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the name of the countries where there is not a single car maker?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table body_builder, columns = [ body_builder.Body_Builder_ID ( integer | primary key | values: 1, 2 ), body_builder.People_ID ( integer | values: 1, 2 ), body_builder.Snatch ( real | values: 142.5, 137.5 ), body_builder.Clean_Jerk ( real | values: 175.0, 177.5 ), body_builder.Total ( real | values: 317.5, 315.0 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Jack Campbell, Ty Conklin ), people.Height ( real | values: 182.0, 192.0 ), people.Weight ( real | values: 80.0, 90.0 ), people.Birth_Date ( text | values: January 1, 1992, March 30, 1976 ), people.Birth_Place ( text | values: Port Huron, Michigan, Anchorage, Alaska ) ]
foreign keys:
body_builder.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many body builders have a total score above 300?
-- What is the average snatch weight for body builders born in 1980?
-- List the names of people who have a body builder with a snatch weight of 100 or more.
-- What is the average weight of people who have a body builder with a total score above 350?
-- How many body builders have a snatch weight below 70?  How many of these body builders are from the city of Tokyo?  What is the average weight of these body builders?  How many of these body builders have a total score above 300?  How many of these body builders have a birth date in 1990?  How many of these body builders are from the city of New York?  What is the average height of these body builders?  How many of these body builders have a birth date in 1985?  What is the average snatch weight of these body builders?  How many of these body builders have a weight below 60?  How many of these body builders are from the city of London?  How many of these body builders have a birth date in 1995?  What is the average
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the name of the countries where there is not a single car maker?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table storm, columns = [ storm.Storm_ID ( integer | primary key | values: 1, 2 ), storm.Name ( text | values: One, Two ), storm.Dates_active ( text | values: May19–May25, August3–August10 ), storm.Max_speed ( real | values: 995, 972 ), storm.Damage_millions_USD ( real | values: 13.0, 10.75 ), storm.Number_Deaths ( real | values: 0, 7 ) ]
table region, columns = [ region.Region_id ( integer | primary key | values: 1, 2 ), region.Region_code ( text | values: AF, AL ), region.Region_name ( text | values: Afghanistan, Albania ) ]
table affected_region, columns = [ affected_region.Region_id ( integer | primary key | values: 1, 2 ), affected_region.Storm_ID ( integer | values: 1, 4 ), affected_region.Number_city_affected ( real | values: 10.0, 15.0 ) ]
foreign keys:
affected_region.Storm_ID = storm.Storm_ID
affected_region.Region_id = region.Region_id

/*
Example questions for this schema:
-- What is the average number of deaths in all storms?
-- Which region has the highest number of cities affected by all storms?
-- What is the number of storms that occurred between 2010-01-01 and 2020-01-01?
-- What is the storm with the highest damage in the region with code 'US-01'?
-- What is the total number of deaths in storms where the storm's max speed was above 120 miles per hour?  in the storm that caused the most deaths?  in the region 'US-01'?  in the storm that caused the most deaths in the region 'US-01'?  in the storm with the highest damage in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the region with the highest number of cities affected by all storms?  in the storm with the highest damage in the region with code 'US-01'?  in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the storm that caused the
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the name of the countries where there is not a single car maker?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table aircraft, columns = [ aircraft.Aircraft_ID ( integer | primary key | values: 1, 2 ), aircraft.Order_Year ( real | values: 1992, 1996 ), aircraft.Manufacturer ( text | values: Gillig, NFI ), aircraft.Model ( text | values: Phantom (High Floor), Advantage (Low Floor) ), aircraft.Fleet_Series ( text | values: 444-464 (21), 465-467 (3) ), aircraft.Powertrain ( text | values: DD S50EGR Allison WB-400R, DD S50 Allison WB-400R ), aircraft.Fuel_Propulsion ( text | values: Diesel, Hybrid ) ]
table pilot, columns = [ pilot.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot.Pilot_name ( text | values: Patrick O'Bryant, Jermaine O'Neal ), pilot.Rank ( real | values: 13, 6 ), pilot.Age ( real | values: 33, 40 ), pilot.Nationality ( text | values: United States, United Kindom ), pilot.Position ( text | values: Center Team, Forward-Center Team ), pilot.Join_Year ( real | values: 2009, 2008 ), pilot.Team ( text | values: Bradley, Eau Claire High School ) ]
table pilot_record, columns = [ pilot_record.Record_ID ( real | values: 1, 2 ), pilot_record.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot_record.Aircraft_ID ( integer | values: 1, 4 ), pilot_record.Date ( text | values: 2003/01/04, 2005/01/04 ) ]
foreign keys:
pilot_record.Aircraft_ID = aircraft.Aircraft_ID

  DBs for Q:spider_dev_q2_idx2:   0%|          | 0/166 [00:00<?, ?it/s]

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table perpetrator, columns = [ perpetrator.Perpetrator_ID ( integer | primary key | values: 1, 2 ), perpetrator.People_ID ( integer | values: 1, 3 ), perpetrator.Date ( text | values: 04.26 April 26/27, 11.18 Nov. 18 ), perpetrator.Year ( real | values: 1982.0, 1995.0 ), perpetrator.Location ( text | values: Uiryeong, Zhaodong ), perpetrator.Country ( text | values: South Korea, China ), perpetrator.Killed ( real | values: 56, 32 ), perpetrator.Injured ( real | values: 37, 16 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Ron Baxter, Brent Boyd ), people.Height ( real | values: 6.4, 6.3 ), people.Weight ( real | values: 205.0, 185.0 ), people.Home Town ( text | values: Los Angeles, CA, Baton Rouge, LA ) ]
foreign keys:
perpetrator.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many people are recorded in the database?
-- What is the average height of people who have a weight greater than 70kg?
-- Which location has the highest number of perpetrators who killed more than 5 people?
-- What is the name of the person with People_ID = 2?
-- What is the year with the most perpetrators?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the date and the operating professional's first name of each treatment?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table classroom, columns = [ classroom.building ( text | primary key | values: Alumni, Bronfman ), classroom.room_number ( text | values: 143, 547 ), classroom.capacity ( real | values: 10, 27 ) ]
table department, columns = [ department.dept_name ( text | primary key | values: Accounting, Astronomy ), department.building ( text | values: Chandler, Candlestick ), department.budget ( real | values: 255041.46, 647610.55 ) ]
table course, columns = [ course.course_id ( text | primary key | values: 101, 105 ), course.title ( text | values: C  Programming, The Music of Donovan ), course.dept_name ( text | values: Mech. Eng., Comp. Sci. ), course.credits ( real | values: 4, 3 ) ]
table instructor, columns = [ instructor.ID ( text | primary key | values: 14365, 15347 ), instructor.name ( text | values: McKinnon, Pingr ), instructor.dept_name ( text | values: Cybernetics, Statistics ), instructor.salary ( real | values: 94333.99, 59303.62 ) ]
table section, columns = [ section.course_id ( text | primary key | values: 105, 137 ), section.sec_id ( text | values: 1, 2 ), section.semester ( text | values: Fall, Spring ), section.year ( real | values: 2009, 2002 ), section.building ( text | values: Chandler, Gates ), section.room_number ( text | values: 804, 314 ), section.time_slot_id ( text | values: N, K ) ]
table teaches, columns = [ teaches.ID ( text | primary key | values: 14365, 15347 ), teaches.course_id ( text | values: 747, 169 ), teaches.sec_id ( text | values: 1, 2 ), teaches.semester ( text | values: Spring, Fall ), teaches.year ( integer | values: 2004, 2007 ) ]
table student, columns = [ student.ID ( text | primary key | values: 1000, 10033 ), student.name ( text | values: Schrefl, Rumat ), student.dept_name ( text | values: History, Finance ), student.tot_cred ( real | values: 4, 100 ) ]
table takes, columns = [ takes.ID ( text | primary key | values: 1000, 10033 ), takes.course_id ( text | values: 239, 319 ), takes.sec_id ( text | values: 1, 2 ), takes.semester ( text | values: Fall, Spring ), takes.year ( integer | values: 2006, 2003 ), takes.grade ( text | values: C-, B- ) ]
table advisor, columns = [ advisor.s_ID ( text | primary key | values: 1000, 10033 ), advisor.i_ID ( text | values: 19368, 95030 ) ]
table time_slot, columns = [ time_slot.time_slot_id ( text | primary key | values: A, B ), time_slot.day ( text | values: F, M ), time_slot.start_hr ( real | values: 8, 9 ), time_slot.start_min ( real | values: 0, 30 ), time_slot.end_hr ( real | values: 8, 9 ), time_slot.end_min ( real | values: 50, 45 ) ]
table prereq, columns = [ prereq.course_id ( text | primary key | values: 133, 158 ), prereq.prereq_id ( text | values: 130, 169 ) ]
foreign keys:
course.dept_name = department.dept_name
instructor.dept_name = department.dept_name
section.building = classroom.building
section.room_number = classroom.room_number
section.course_id = course.course_id
teaches.ID = instructor.ID
teaches.course_id = section.course_id
teaches.sec_id = section.sec_id
teaches.semester = section.semester
teaches.year = section.year
student.dept_name = department.dept_name
takes.ID = student.ID
takes.course_id = section.course_id
takes.sec_id = section.sec_id
takes.semester = section.semester
takes.year = section.year
advisor.s_ID = student.ID
advisor.i_ID = instructor.ID
prereq.prereq_id = course.course_id
prereq.course_id = course.course_id

/*
Example questions for this schema:
-- What are the names and budgets of all departments?
-- Which courses have prerequisites, and what are their prerequisite course IDs?
-- List the names of instructors and the course IDs of the sections they teach in the Fall semester.
-- How many sections of the course 'Math 300' are scheduled in the Fall semester?
-- What is the name of the instructor who teaches the 'Math 300' course in the Spring semester of the year 2020?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the date and the operating professional's first name of each treatment?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table airport, columns = [ airport.id ( integer | primary key | values: 1, 2 ), airport.City ( text | values: Akureyri, Amsterdam ), airport.Country ( text | values: Iceland, Netherlands ), airport.IATA ( text | values: AEY, AMS ), airport.ICAO ( text | values: BIAR, EHAM ), airport.name ( text | values: Akureyri Airport, Schiphol Airport ) ]
table operate_company, columns = [ operate_company.id ( integer | primary key | values: 1, 2 ), operate_company.name ( text | values: Air China, Air China Cargo ), operate_company.Type ( text | values: Corporate, Joint Venture ), operate_company.Principal_activities ( text | values: Airline, Cargo airline ), operate_company.Incorporated_in ( text | values: China, Hong Kong ), operate_company.Group_Equity_Shareholding ( real | values: 18.77, 49.0 ) ]
table flight, columns = [ flight.id ( integer | primary key | values: 1, 2 ), flight.Vehicle_Flight_number ( text | values: M2-F1 #0, M2-F1 #1 ), flight.Date ( text | values: March 1, 1963, August 16, 1963 ), flight.Pilot ( text | values: Thompson, Peterson ), flight.Velocity ( real | values: 135.0, 240.0 ), flight.Altitude ( real | values: 0.0, 3650.0 ), flight.airport_id ( integer | values: 1, 2 ), flight.company_id ( integer | values: 2, 3 ) ]
foreign keys:
flight.company_id = operate_company.id
flight.airport_id = airport.id

/*
Example questions for this schema:
-- What is the average altitude of flights that departed from airports in the United States?
-- What are the names of the pilots who flew flights operated by companies whose name starts with 'A', on Sundays?
-- Which airport has the highest number of flights that departed on a Monday?
-- What is the velocity of flights that departed from the airport with the IATA code 'LHR', on a day when the temperature was above 0 degrees Celsius?
-- How many flights operated by companies with a Group Equity Shareholding greater than 50% have been operated by pilots who are also the principal of the company they work for?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the date and the operating professional's first name of each treatment?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table Inst, columns = [ Inst.instID ( integer | primary key | values: 1000, 1010 ), Inst.name ( text | values: University of Oxford, Northeastern University ), Inst.country ( text | values: UK, USA ) ]
table Authors, columns = [ Authors.authID ( integer | primary key | values: 50, 51 ), Authors.lname ( text | values: Gibbons, Hinze ), Authors.fname ( text | values: Jeremy, Ralf ) ]
table Papers, columns = [ Papers.paperID ( integer | primary key | values: 200, 201 ), Papers.title ( text | values: Just do it: Simple Monadic Equational Reasoning, Proving the Unique Fixed-Point Principle Correct: An Adventure with Category Theory ) ]
table Authorship, columns = [ Authorship.authID ( integer | primary key | values: 50, 51 ), Authorship.instID ( integer | values: 1000, 1010 ), Authorship.paperID ( integer | values: 200, 201 ), Authorship.authOrder ( real | values: 1, 2 ) ]
foreign keys:
Authorship.paperID = Papers.paperID
Authorship.instID = Inst.instID
Authorship.authID = Authors.authID

/*
Example questions for this schema:
-- How many papers were written by authors from the USA?
-- What is the average number of authors per paper for papers written by authors from Germany?
-- List all authors who have written more than 5 papers.
-- What is the title of the paper with the highest number of authors?
-- How many papers were written by authors from institutions in the UK?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the date and the operating professional's first name of each treatment?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table body_builder, columns = [ body_builder.Body_Builder_ID ( integer | primary key | values: 1, 2 ), body_builder.People_ID ( integer | values: 1, 2 ), body_builder.Snatch ( real | values: 142.5, 137.5 ), body_builder.Clean_Jerk ( real | values: 175.0, 177.5 ), body_builder.Total ( real | values: 317.5, 315.0 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Jack Campbell, Ty Conklin ), people.Height ( real | values: 182.0, 192.0 ), people.Weight ( real | values: 80.0, 90.0 ), people.Birth_Date ( text | values: January 1, 1992, March 30, 1976 ), people.Birth_Place ( text | values: Port Huron, Michigan, Anchorage, Alaska ) ]
foreign keys:
body_builder.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many body builders have a total score above 300?
-- What is the average snatch weight for body builders born in 1980?
-- List the names of people who have a body builder with a snatch weight of 100 or more.
-- What is the average weight of people who have a body builder with a total score above 350?
-- How many body builders have a snatch weight below 70?  How many of these body builders are from the city of Tokyo?  What is the average weight of these body builders?  How many of these body builders have a total score above 300?  How many of these body builders have a birth date in 1990?  How many of these body builders are from the city of New York?  What is the average height of these body builders?  How many of these body builders have a birth date in 1985?  What is the average snatch weight of these body builders?  How many of these body builders have a weight below 60?  How many of these body builders are from the city of London?  How many of these body builders have a birth date in 1995?  What is the average
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the date and the operating professional's first name of each treatment?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table storm, columns = [ storm.Storm_ID ( integer | primary key | values: 1, 2 ), storm.Name ( text | values: One, Two ), storm.Dates_active ( text | values: May19–May25, August3–August10 ), storm.Max_speed ( real | values: 995, 972 ), storm.Damage_millions_USD ( real | values: 13.0, 10.75 ), storm.Number_Deaths ( real | values: 0, 7 ) ]
table region, columns = [ region.Region_id ( integer | primary key | values: 1, 2 ), region.Region_code ( text | values: AF, AL ), region.Region_name ( text | values: Afghanistan, Albania ) ]
table affected_region, columns = [ affected_region.Region_id ( integer | primary key | values: 1, 2 ), affected_region.Storm_ID ( integer | values: 1, 4 ), affected_region.Number_city_affected ( real | values: 10.0, 15.0 ) ]
foreign keys:
affected_region.Storm_ID = storm.Storm_ID
affected_region.Region_id = region.Region_id

/*
Example questions for this schema:
-- What is the average number of deaths in all storms?
-- Which region has the highest number of cities affected by all storms?
-- What is the number of storms that occurred between 2010-01-01 and 2020-01-01?
-- What is the storm with the highest damage in the region with code 'US-01'?
-- What is the total number of deaths in storms where the storm's max speed was above 120 miles per hour?  in the storm that caused the most deaths?  in the region 'US-01'?  in the storm that caused the most deaths in the region 'US-01'?  in the storm with the highest damage in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the region with the highest number of cities affected by all storms?  in the storm with the highest damage in the region with code 'US-01'?  in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the storm that caused the
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: What are the date and the operating professional's first name of each treatment?
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table aircraft, columns = [ aircraft.Aircraft_ID ( integer | primary key | values: 1, 2 ), aircraft.Order_Year ( real | values: 1992, 1996 ), aircraft.Manufacturer ( text | values: Gillig, NFI ), aircraft.Model ( text | values: Phantom (High Floor), Advantage (Low Floor) ), aircraft.Fleet_Series ( text | values: 444-464 (21), 465-467 (3) ), aircraft.Powertrain ( text | values: DD S50EGR Allison WB-400R, DD S50 Allison WB-400R ), aircraft.Fuel_Propulsion ( text | values: Diesel, Hybrid ) ]
table pilot, columns = [ pilot.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot.Pilot_name ( text | values: Patrick O'Bryant, Jermaine O'Neal ), pilot.Rank ( real | values: 13, 6 ), pilot.Age ( real | values: 33, 40 ), pilot.Nationality ( text | values: United States, United Kindom ), pilot.Position ( text | values: Center Team, Forward-Center Team ), pilot.Join_Year ( real | values: 2009, 2008 ), pilot.Team ( text | values: Bradley, Eau Claire High School ) ]
table pilot_record, columns = [ pilot_record.Record_ID ( real | values: 1, 2 ), pilot_record.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot_record.Aircraft_ID ( integer | values: 1, 4 ), pilot_record.Date ( text | values: 2003/01/04, 2005/01/04 ) ]
foreign keys:

  DBs for Q:spider_dev_q3_idx3:   0%|          | 0/166 [00:00<?, ?it/s]

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table perpetrator, columns = [ perpetrator.Perpetrator_ID ( integer | primary key | values: 1, 2 ), perpetrator.People_ID ( integer | values: 1, 3 ), perpetrator.Date ( text | values: 04.26 April 26/27, 11.18 Nov. 18 ), perpetrator.Year ( real | values: 1982.0, 1995.0 ), perpetrator.Location ( text | values: Uiryeong, Zhaodong ), perpetrator.Country ( text | values: South Korea, China ), perpetrator.Killed ( real | values: 56, 32 ), perpetrator.Injured ( real | values: 37, 16 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Ron Baxter, Brent Boyd ), people.Height ( real | values: 6.4, 6.3 ), people.Weight ( real | values: 205.0, 185.0 ), people.Home Town ( text | values: Los Angeles, CA, Baton Rouge, LA ) ]
foreign keys:
perpetrator.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many people are recorded in the database?
-- What is the average height of people who have a weight greater than 70kg?
-- Which location has the highest number of perpetrators who killed more than 5 people?
-- What is the name of the person with People_ID = 2?
-- What is the year with the most perpetrators?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: List each owner's first name, last name, and the size of his for her dog.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table classroom, columns = [ classroom.building ( text | primary key | values: Alumni, Bronfman ), classroom.room_number ( text | values: 143, 547 ), classroom.capacity ( real | values: 10, 27 ) ]
table department, columns = [ department.dept_name ( text | primary key | values: Accounting, Astronomy ), department.building ( text | values: Chandler, Candlestick ), department.budget ( real | values: 255041.46, 647610.55 ) ]
table course, columns = [ course.course_id ( text | primary key | values: 101, 105 ), course.title ( text | values: C  Programming, The Music of Donovan ), course.dept_name ( text | values: Mech. Eng., Comp. Sci. ), course.credits ( real | values: 4, 3 ) ]
table instructor, columns = [ instructor.ID ( text | primary key | values: 14365, 15347 ), instructor.name ( text | values: McKinnon, Pingr ), instructor.dept_name ( text | values: Cybernetics, Statistics ), instructor.salary ( real | values: 94333.99, 59303.62 ) ]
table section, columns = [ section.course_id ( text | primary key | values: 105, 137 ), section.sec_id ( text | values: 1, 2 ), section.semester ( text | values: Fall, Spring ), section.year ( real | values: 2009, 2002 ), section.building ( text | values: Chandler, Gates ), section.room_number ( text | values: 804, 314 ), section.time_slot_id ( text | values: N, K ) ]
table teaches, columns = [ teaches.ID ( text | primary key | values: 14365, 15347 ), teaches.course_id ( text | values: 747, 169 ), teaches.sec_id ( text | values: 1, 2 ), teaches.semester ( text | values: Spring, Fall ), teaches.year ( integer | values: 2004, 2007 ) ]
table student, columns = [ student.ID ( text | primary key | values: 1000, 10033 ), student.name ( text | values: Schrefl, Rumat ), student.dept_name ( text | values: History, Finance ), student.tot_cred ( real | values: 4, 100 ) ]
table takes, columns = [ takes.ID ( text | primary key | values: 1000, 10033 ), takes.course_id ( text | values: 239, 319 ), takes.sec_id ( text | values: 1, 2 ), takes.semester ( text | values: Fall, Spring ), takes.year ( integer | values: 2006, 2003 ), takes.grade ( text | values: C-, B- ) ]
table advisor, columns = [ advisor.s_ID ( text | primary key | values: 1000, 10033 ), advisor.i_ID ( text | values: 19368, 95030 ) ]
table time_slot, columns = [ time_slot.time_slot_id ( text | primary key | values: A, B ), time_slot.day ( text | values: F, M ), time_slot.start_hr ( real | values: 8, 9 ), time_slot.start_min ( real | values: 0, 30 ), time_slot.end_hr ( real | values: 8, 9 ), time_slot.end_min ( real | values: 50, 45 ) ]
table prereq, columns = [ prereq.course_id ( text | primary key | values: 133, 158 ), prereq.prereq_id ( text | values: 130, 169 ) ]
foreign keys:
course.dept_name = department.dept_name
instructor.dept_name = department.dept_name
section.building = classroom.building
section.room_number = classroom.room_number
section.course_id = course.course_id
teaches.ID = instructor.ID
teaches.course_id = section.course_id
teaches.sec_id = section.sec_id
teaches.semester = section.semester
teaches.year = section.year
student.dept_name = department.dept_name
takes.ID = student.ID
takes.course_id = section.course_id
takes.sec_id = section.sec_id
takes.semester = section.semester
takes.year = section.year
advisor.s_ID = student.ID
advisor.i_ID = instructor.ID
prereq.prereq_id = course.course_id
prereq.course_id = course.course_id

/*
Example questions for this schema:
-- What are the names and budgets of all departments?
-- Which courses have prerequisites, and what are their prerequisite course IDs?
-- List the names of instructors and the course IDs of the sections they teach in the Fall semester.
-- How many sections of the course 'Math 300' are scheduled in the Fall semester?
-- What is the name of the instructor who teaches the 'Math 300' course in the Spring semester of the year 2020?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: List each owner's first name, last name, and the size of his for her dog.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table airport, columns = [ airport.id ( integer | primary key | values: 1, 2 ), airport.City ( text | values: Akureyri, Amsterdam ), airport.Country ( text | values: Iceland, Netherlands ), airport.IATA ( text | values: AEY, AMS ), airport.ICAO ( text | values: BIAR, EHAM ), airport.name ( text | values: Akureyri Airport, Schiphol Airport ) ]
table operate_company, columns = [ operate_company.id ( integer | primary key | values: 1, 2 ), operate_company.name ( text | values: Air China, Air China Cargo ), operate_company.Type ( text | values: Corporate, Joint Venture ), operate_company.Principal_activities ( text | values: Airline, Cargo airline ), operate_company.Incorporated_in ( text | values: China, Hong Kong ), operate_company.Group_Equity_Shareholding ( real | values: 18.77, 49.0 ) ]
table flight, columns = [ flight.id ( integer | primary key | values: 1, 2 ), flight.Vehicle_Flight_number ( text | values: M2-F1 #0, M2-F1 #1 ), flight.Date ( text | values: March 1, 1963, August 16, 1963 ), flight.Pilot ( text | values: Thompson, Peterson ), flight.Velocity ( real | values: 135.0, 240.0 ), flight.Altitude ( real | values: 0.0, 3650.0 ), flight.airport_id ( integer | values: 1, 2 ), flight.company_id ( integer | values: 2, 3 ) ]
foreign keys:
flight.company_id = operate_company.id
flight.airport_id = airport.id

/*
Example questions for this schema:
-- What is the average altitude of flights that departed from airports in the United States?
-- What are the names of the pilots who flew flights operated by companies whose name starts with 'A', on Sundays?
-- Which airport has the highest number of flights that departed on a Monday?
-- What is the velocity of flights that departed from the airport with the IATA code 'LHR', on a day when the temperature was above 0 degrees Celsius?
-- How many flights operated by companies with a Group Equity Shareholding greater than 50% have been operated by pilots who are also the principal of the company they work for?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: List each owner's first name, last name, and the size of his for her dog.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table Inst, columns = [ Inst.instID ( integer | primary key | values: 1000, 1010 ), Inst.name ( text | values: University of Oxford, Northeastern University ), Inst.country ( text | values: UK, USA ) ]
table Authors, columns = [ Authors.authID ( integer | primary key | values: 50, 51 ), Authors.lname ( text | values: Gibbons, Hinze ), Authors.fname ( text | values: Jeremy, Ralf ) ]
table Papers, columns = [ Papers.paperID ( integer | primary key | values: 200, 201 ), Papers.title ( text | values: Just do it: Simple Monadic Equational Reasoning, Proving the Unique Fixed-Point Principle Correct: An Adventure with Category Theory ) ]
table Authorship, columns = [ Authorship.authID ( integer | primary key | values: 50, 51 ), Authorship.instID ( integer | values: 1000, 1010 ), Authorship.paperID ( integer | values: 200, 201 ), Authorship.authOrder ( real | values: 1, 2 ) ]
foreign keys:
Authorship.paperID = Papers.paperID
Authorship.instID = Inst.instID
Authorship.authID = Authors.authID

/*
Example questions for this schema:
-- How many papers were written by authors from the USA?
-- What is the average number of authors per paper for papers written by authors from Germany?
-- List all authors who have written more than 5 papers.
-- What is the title of the paper with the highest number of authors?
-- How many papers were written by authors from institutions in the UK?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: List each owner's first name, last name, and the size of his for her dog.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table body_builder, columns = [ body_builder.Body_Builder_ID ( integer | primary key | values: 1, 2 ), body_builder.People_ID ( integer | values: 1, 2 ), body_builder.Snatch ( real | values: 142.5, 137.5 ), body_builder.Clean_Jerk ( real | values: 175.0, 177.5 ), body_builder.Total ( real | values: 317.5, 315.0 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Jack Campbell, Ty Conklin ), people.Height ( real | values: 182.0, 192.0 ), people.Weight ( real | values: 80.0, 90.0 ), people.Birth_Date ( text | values: January 1, 1992, March 30, 1976 ), people.Birth_Place ( text | values: Port Huron, Michigan, Anchorage, Alaska ) ]
foreign keys:
body_builder.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many body builders have a total score above 300?
-- What is the average snatch weight for body builders born in 1980?
-- List the names of people who have a body builder with a snatch weight of 100 or more.
-- What is the average weight of people who have a body builder with a total score above 350?
-- How many body builders have a snatch weight below 70?  How many of these body builders are from the city of Tokyo?  What is the average weight of these body builders?  How many of these body builders have a total score above 300?  How many of these body builders have a birth date in 1990?  How many of these body builders are from the city of New York?  What is the average height of these body builders?  How many of these body builders have a birth date in 1985?  What is the average snatch weight of these body builders?  How many of these body builders have a weight below 60?  How many of these body builders are from the city of London?  How many of these body builders have a birth date in 1995?  What is the average
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: List each owner's first name, last name, and the size of his for her dog.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table storm, columns = [ storm.Storm_ID ( integer | primary key | values: 1, 2 ), storm.Name ( text | values: One, Two ), storm.Dates_active ( text | values: May19–May25, August3–August10 ), storm.Max_speed ( real | values: 995, 972 ), storm.Damage_millions_USD ( real | values: 13.0, 10.75 ), storm.Number_Deaths ( real | values: 0, 7 ) ]
table region, columns = [ region.Region_id ( integer | primary key | values: 1, 2 ), region.Region_code ( text | values: AF, AL ), region.Region_name ( text | values: Afghanistan, Albania ) ]
table affected_region, columns = [ affected_region.Region_id ( integer | primary key | values: 1, 2 ), affected_region.Storm_ID ( integer | values: 1, 4 ), affected_region.Number_city_affected ( real | values: 10.0, 15.0 ) ]
foreign keys:
affected_region.Storm_ID = storm.Storm_ID
affected_region.Region_id = region.Region_id

/*
Example questions for this schema:
-- What is the average number of deaths in all storms?
-- Which region has the highest number of cities affected by all storms?
-- What is the number of storms that occurred between 2010-01-01 and 2020-01-01?
-- What is the storm with the highest damage in the region with code 'US-01'?
-- What is the total number of deaths in storms where the storm's max speed was above 120 miles per hour?  in the storm that caused the most deaths?  in the region 'US-01'?  in the storm that caused the most deaths in the region 'US-01'?  in the storm with the highest damage in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the region with the highest number of cities affected by all storms?  in the storm with the highest damage in the region with code 'US-01'?  in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the storm that caused the
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: List each owner's first name, last name, and the size of his for her dog.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table aircraft, columns = [ aircraft.Aircraft_ID ( integer | primary key | values: 1, 2 ), aircraft.Order_Year ( real | values: 1992, 1996 ), aircraft.Manufacturer ( text | values: Gillig, NFI ), aircraft.Model ( text | values: Phantom (High Floor), Advantage (Low Floor) ), aircraft.Fleet_Series ( text | values: 444-464 (21), 465-467 (3) ), aircraft.Powertrain ( text | values: DD S50EGR Allison WB-400R, DD S50 Allison WB-400R ), aircraft.Fuel_Propulsion ( text | values: Diesel, Hybrid ) ]
table pilot, columns = [ pilot.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot.Pilot_name ( text | values: Patrick O'Bryant, Jermaine O'Neal ), pilot.Rank ( real | values: 13, 6 ), pilot.Age ( real | values: 33, 40 ), pilot.Nationality ( text | values: United States, United Kindom ), pilot.Position ( text | values: Center Team, Forward-Center Team ), pilot.Join_Year ( real | values: 2009, 2008 ), pilot.Team ( text | values: Bradley, Eau Claire High School ) ]
table pilot_record, columns = [ pilot_record.Record_ID ( real | values: 1, 2 ), pilot_record.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot_record.Aircraft_ID ( integer | values: 1, 4 ), pilot_record.Date ( text | values: 2003/01/04, 2005/01/04 ) ]
foreign keys:
pilot_record.Aircraft_ID = aircraft.Aircraft_ID

  DBs for Q:spider_dev_q4_idx4:   0%|          | 0/166 [00:00<?, ?it/s]

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table perpetrator, columns = [ perpetrator.Perpetrator_ID ( integer | primary key | values: 1, 2 ), perpetrator.People_ID ( integer | values: 1, 3 ), perpetrator.Date ( text | values: 04.26 April 26/27, 11.18 Nov. 18 ), perpetrator.Year ( real | values: 1982.0, 1995.0 ), perpetrator.Location ( text | values: Uiryeong, Zhaodong ), perpetrator.Country ( text | values: South Korea, China ), perpetrator.Killed ( real | values: 56, 32 ), perpetrator.Injured ( real | values: 37, 16 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Ron Baxter, Brent Boyd ), people.Height ( real | values: 6.4, 6.3 ), people.Weight ( real | values: 205.0, 185.0 ), people.Home Town ( text | values: Los Angeles, CA, Baton Rouge, LA ) ]
foreign keys:
perpetrator.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many people are recorded in the database?
-- What is the average height of people who have a weight greater than 70kg?
-- Which location has the highest number of perpetrators who killed more than 5 people?
-- What is the name of the person with People_ID = 2?
-- What is the year with the most perpetrators?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: Find the first name and age of students who have a dog but do not have a cat as a pet.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table classroom, columns = [ classroom.building ( text | primary key | values: Alumni, Bronfman ), classroom.room_number ( text | values: 143, 547 ), classroom.capacity ( real | values: 10, 27 ) ]
table department, columns = [ department.dept_name ( text | primary key | values: Accounting, Astronomy ), department.building ( text | values: Chandler, Candlestick ), department.budget ( real | values: 255041.46, 647610.55 ) ]
table course, columns = [ course.course_id ( text | primary key | values: 101, 105 ), course.title ( text | values: C  Programming, The Music of Donovan ), course.dept_name ( text | values: Mech. Eng., Comp. Sci. ), course.credits ( real | values: 4, 3 ) ]
table instructor, columns = [ instructor.ID ( text | primary key | values: 14365, 15347 ), instructor.name ( text | values: McKinnon, Pingr ), instructor.dept_name ( text | values: Cybernetics, Statistics ), instructor.salary ( real | values: 94333.99, 59303.62 ) ]
table section, columns = [ section.course_id ( text | primary key | values: 105, 137 ), section.sec_id ( text | values: 1, 2 ), section.semester ( text | values: Fall, Spring ), section.year ( real | values: 2009, 2002 ), section.building ( text | values: Chandler, Gates ), section.room_number ( text | values: 804, 314 ), section.time_slot_id ( text | values: N, K ) ]
table teaches, columns = [ teaches.ID ( text | primary key | values: 14365, 15347 ), teaches.course_id ( text | values: 747, 169 ), teaches.sec_id ( text | values: 1, 2 ), teaches.semester ( text | values: Spring, Fall ), teaches.year ( integer | values: 2004, 2007 ) ]
table student, columns = [ student.ID ( text | primary key | values: 1000, 10033 ), student.name ( text | values: Schrefl, Rumat ), student.dept_name ( text | values: History, Finance ), student.tot_cred ( real | values: 4, 100 ) ]
table takes, columns = [ takes.ID ( text | primary key | values: 1000, 10033 ), takes.course_id ( text | values: 239, 319 ), takes.sec_id ( text | values: 1, 2 ), takes.semester ( text | values: Fall, Spring ), takes.year ( integer | values: 2006, 2003 ), takes.grade ( text | values: C-, B- ) ]
table advisor, columns = [ advisor.s_ID ( text | primary key | values: 1000, 10033 ), advisor.i_ID ( text | values: 19368, 95030 ) ]
table time_slot, columns = [ time_slot.time_slot_id ( text | primary key | values: A, B ), time_slot.day ( text | values: F, M ), time_slot.start_hr ( real | values: 8, 9 ), time_slot.start_min ( real | values: 0, 30 ), time_slot.end_hr ( real | values: 8, 9 ), time_slot.end_min ( real | values: 50, 45 ) ]
table prereq, columns = [ prereq.course_id ( text | primary key | values: 133, 158 ), prereq.prereq_id ( text | values: 130, 169 ) ]
foreign keys:
course.dept_name = department.dept_name
instructor.dept_name = department.dept_name
section.building = classroom.building
section.room_number = classroom.room_number
section.course_id = course.course_id
teaches.ID = instructor.ID
teaches.course_id = section.course_id
teaches.sec_id = section.sec_id
teaches.semester = section.semester
teaches.year = section.year
student.dept_name = department.dept_name
takes.ID = student.ID
takes.course_id = section.course_id
takes.sec_id = section.sec_id
takes.semester = section.semester
takes.year = section.year
advisor.s_ID = student.ID
advisor.i_ID = instructor.ID
prereq.prereq_id = course.course_id
prereq.course_id = course.course_id

/*
Example questions for this schema:
-- What are the names and budgets of all departments?
-- Which courses have prerequisites, and what are their prerequisite course IDs?
-- List the names of instructors and the course IDs of the sections they teach in the Fall semester.
-- How many sections of the course 'Math 300' are scheduled in the Fall semester?
-- What is the name of the instructor who teaches the 'Math 300' course in the Spring semester of the year 2020?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: Find the first name and age of students who have a dog but do not have a cat as a pet.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table airport, columns = [ airport.id ( integer | primary key | values: 1, 2 ), airport.City ( text | values: Akureyri, Amsterdam ), airport.Country ( text | values: Iceland, Netherlands ), airport.IATA ( text | values: AEY, AMS ), airport.ICAO ( text | values: BIAR, EHAM ), airport.name ( text | values: Akureyri Airport, Schiphol Airport ) ]
table operate_company, columns = [ operate_company.id ( integer | primary key | values: 1, 2 ), operate_company.name ( text | values: Air China, Air China Cargo ), operate_company.Type ( text | values: Corporate, Joint Venture ), operate_company.Principal_activities ( text | values: Airline, Cargo airline ), operate_company.Incorporated_in ( text | values: China, Hong Kong ), operate_company.Group_Equity_Shareholding ( real | values: 18.77, 49.0 ) ]
table flight, columns = [ flight.id ( integer | primary key | values: 1, 2 ), flight.Vehicle_Flight_number ( text | values: M2-F1 #0, M2-F1 #1 ), flight.Date ( text | values: March 1, 1963, August 16, 1963 ), flight.Pilot ( text | values: Thompson, Peterson ), flight.Velocity ( real | values: 135.0, 240.0 ), flight.Altitude ( real | values: 0.0, 3650.0 ), flight.airport_id ( integer | values: 1, 2 ), flight.company_id ( integer | values: 2, 3 ) ]
foreign keys:
flight.company_id = operate_company.id
flight.airport_id = airport.id

/*
Example questions for this schema:
-- What is the average altitude of flights that departed from airports in the United States?
-- What are the names of the pilots who flew flights operated by companies whose name starts with 'A', on Sundays?
-- Which airport has the highest number of flights that departed on a Monday?
-- What is the velocity of flights that departed from the airport with the IATA code 'LHR', on a day when the temperature was above 0 degrees Celsius?
-- How many flights operated by companies with a Group Equity Shareholding greater than 50% have been operated by pilots who are also the principal of the company they work for?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: Find the first name and age of students who have a dog but do not have a cat as a pet.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table Inst, columns = [ Inst.instID ( integer | primary key | values: 1000, 1010 ), Inst.name ( text | values: University of Oxford, Northeastern University ), Inst.country ( text | values: UK, USA ) ]
table Authors, columns = [ Authors.authID ( integer | primary key | values: 50, 51 ), Authors.lname ( text | values: Gibbons, Hinze ), Authors.fname ( text | values: Jeremy, Ralf ) ]
table Papers, columns = [ Papers.paperID ( integer | primary key | values: 200, 201 ), Papers.title ( text | values: Just do it: Simple Monadic Equational Reasoning, Proving the Unique Fixed-Point Principle Correct: An Adventure with Category Theory ) ]
table Authorship, columns = [ Authorship.authID ( integer | primary key | values: 50, 51 ), Authorship.instID ( integer | values: 1000, 1010 ), Authorship.paperID ( integer | values: 200, 201 ), Authorship.authOrder ( real | values: 1, 2 ) ]
foreign keys:
Authorship.paperID = Papers.paperID
Authorship.instID = Inst.instID
Authorship.authID = Authors.authID

/*
Example questions for this schema:
-- How many papers were written by authors from the USA?
-- What is the average number of authors per paper for papers written by authors from Germany?
-- List all authors who have written more than 5 papers.
-- What is the title of the paper with the highest number of authors?
-- How many papers were written by authors from institutions in the UK?
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: Find the first name and age of students who have a dog but do not have a cat as a pet.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table body_builder, columns = [ body_builder.Body_Builder_ID ( integer | primary key | values: 1, 2 ), body_builder.People_ID ( integer | values: 1, 2 ), body_builder.Snatch ( real | values: 142.5, 137.5 ), body_builder.Clean_Jerk ( real | values: 175.0, 177.5 ), body_builder.Total ( real | values: 317.5, 315.0 ) ]
table people, columns = [ people.People_ID ( integer | primary key | values: 1, 2 ), people.Name ( text | values: Jack Campbell, Ty Conklin ), people.Height ( real | values: 182.0, 192.0 ), people.Weight ( real | values: 80.0, 90.0 ), people.Birth_Date ( text | values: January 1, 1992, March 30, 1976 ), people.Birth_Place ( text | values: Port Huron, Michigan, Anchorage, Alaska ) ]
foreign keys:
body_builder.People_ID = people.People_ID

/*
Example questions for this schema:
-- How many body builders have a total score above 300?
-- What is the average snatch weight for body builders born in 1980?
-- List the names of people who have a body builder with a snatch weight of 100 or more.
-- What is the average weight of people who have a body builder with a total score above 350?
-- How many body builders have a snatch weight below 70?  How many of these body builders are from the city of Tokyo?  What is the average weight of these body builders?  How many of these body builders have a total score above 300?  How many of these body builders have a birth date in 1990?  How many of these body builders are from the city of New York?  What is the average height of these body builders?  How many of these body builders have a birth date in 1985?  What is the average snatch weight of these body builders?  How many of these body builders have a weight below 60?  How many of these body builders are from the city of London?  How many of these body builders have a birth date in 1995?  What is the average
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: Find the first name and age of students who have a dog but do not have a cat as a pet.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table storm, columns = [ storm.Storm_ID ( integer | primary key | values: 1, 2 ), storm.Name ( text | values: One, Two ), storm.Dates_active ( text | values: May19–May25, August3–August10 ), storm.Max_speed ( real | values: 995, 972 ), storm.Damage_millions_USD ( real | values: 13.0, 10.75 ), storm.Number_Deaths ( real | values: 0, 7 ) ]
table region, columns = [ region.Region_id ( integer | primary key | values: 1, 2 ), region.Region_code ( text | values: AF, AL ), region.Region_name ( text | values: Afghanistan, Albania ) ]
table affected_region, columns = [ affected_region.Region_id ( integer | primary key | values: 1, 2 ), affected_region.Storm_ID ( integer | values: 1, 4 ), affected_region.Number_city_affected ( real | values: 10.0, 15.0 ) ]
foreign keys:
affected_region.Storm_ID = storm.Storm_ID
affected_region.Region_id = region.Region_id

/*
Example questions for this schema:
-- What is the average number of deaths in all storms?
-- Which region has the highest number of cities affected by all storms?
-- What is the number of storms that occurred between 2010-01-01 and 2020-01-01?
-- What is the storm with the highest damage in the region with code 'US-01'?
-- What is the total number of deaths in storms where the storm's max speed was above 120 miles per hour?  in the storm that caused the most deaths?  in the region 'US-01'?  in the storm that caused the most deaths in the region 'US-01'?  in the storm with the highest damage in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the region with the highest number of cities affected by all storms?  in the storm with the highest damage in the region with code 'US-01'?  in the region 'US-01'?  in the storm that caused the most deaths where the storm's max speed was above 120 miles per hour?  in the storm that caused the
*/
]

# Task: Can the following question be answered using the above schema? Respond with 1 (Yes) or 0 (No).
Q: Find the first name and age of students who have a dog but do not have a cat as a pet.
A:<|eot_id|><|start_header_id|>assistant<|end_header_id|>


<|begin_of_text|><|start_header_id|>system<|end_header_id|>

Cutting Knowledge Date: December 2023
Today Date: 16 Jun 2025

You are an expert system that determines if a natural language question can be answered using ONLY the provided database schema.
The schema includes sample values for some columns; treat these as HINTS to understand the column's content, not as a complete list.
Your task is to respond with a single character: '1' if the question is answerable, or '0' if it is not.
Do not provide any explanations or other text. Just '1' or '0'.<|eot_id|><|start_header_id|>user<|end_header_id|>

# Now, you are provided by the schema followed by some questions that can be answered by the following schema:

[Schema:
table aircraft, columns = [ aircraft.Aircraft_ID ( integer | primary key | values: 1, 2 ), aircraft.Order_Year ( real | values: 1992, 1996 ), aircraft.Manufacturer ( text | values: Gillig, NFI ), aircraft.Model ( text | values: Phantom (High Floor), Advantage (Low Floor) ), aircraft.Fleet_Series ( text | values: 444-464 (21), 465-467 (3) ), aircraft.Powertrain ( text | values: DD S50EGR Allison WB-400R, DD S50 Allison WB-400R ), aircraft.Fuel_Propulsion ( text | values: Diesel, Hybrid ) ]
table pilot, columns = [ pilot.Pilot_ID ( integer | primary key | values: 1, 2 ), pilot.Pilot_name ( text | values: Patrick O'Bryant, Jermaine O'Neal ), pilot.Rank ( real | values: 13, 6 ), pilot.Age ( real | values: 33, 40 ), pilot.Nationality ( text | values: United States, United Kindom ), pilot.Position ( text | values: Center Team, Forward-Center Team ), pilot.Join_Year ( real | values: 2009, 2008 ), pilot.Team ( text | values: Bradley, Eau Claire High School ) ]

In [ ]:
import os
import json

# Path where the evaluation summary (Recall@K results) will be saved
EVAL_RESULTS_SAVE_PATH = "recall_k_results_context_lamma-3.2-1B-instruct-prompt-codeS.json"

# --- 4.1. Define Recall@K Calculation Function ---
def calculate_recall_at_k_metric(all_query_results_list, k_values_list):
    """
    Calculates Recall@K for a list of K values.
    Each item in all_query_results_list should be a dictionary with:
        'true_db_id': The ground truth database ID for the query.
        'ranked_databases_with_scores': A list of {'candidate_db_id': id, 'p_yes_score': score},
                                         sorted by score in descending order.
    """
    recall_counts = {k: 0 for k in k_values_list}  # Stores how many times true_db was in top K
    total_valid_queries = 0  # Queries for which we have a true_db_id

    if not all_query_results_list:
        return {k: 0.0 for k in k_values_list}, 0

    for query_result in all_query_results_list:
        true_db = query_result.get('true_db_id')
        ranked_dbs_info = query_result.get('ranked_databases_with_predictions')

        if true_db is None or ranked_dbs_info is None:
            print(f"Warning: Skipping query result due to missing 'true_db_id' or 'ranked_databases_with_scores': "
                  f"{query_result.get('experiment_query_id', 'Unknown Query')}")
            continue  # Skip if essential information is missing

        total_valid_queries += 1
        # Extract just the DB IDs from the ranked list
        ranked_db_ids_only = [item['candidate_db_id'] for item in ranked_dbs_info]

        for k in k_values_list:
            # Get the top K predicted database IDs
            top_k_predicted_dbs = ranked_db_ids_only[:k]
            if true_db in top_k_predicted_dbs:
                recall_counts[k] += 1

    # Calculate final recall percentages
    recall_percentages = {}
    if total_valid_queries > 0:
        for k in k_values_list:
            recall_percentages[k] = (recall_counts[k] / total_valid_queries) * 100.0  # As percentage
    else:
        recall_percentages = {k: 0.0 for k in k_values_list}

    return recall_percentages, total_valid_queries


# --- 4.2. Perform Evaluation ---
# Load results if this cell is run in a new session and experiment_all_query_results isn't in memory
# (assuming results were saved to EXPERIMENT_RESULTS_FILE)
loaded_results_for_eval = None
if 'experiment_all_query_results' in globals() and experiment_all_query_results:
    print("Using in-memory experiment_all_query_results for evaluation.")
    loaded_results_for_eval = experiment_all_query_results
elif os.path.exists(EXPERIMENT_RESULTS_FILE):
    print(f"Loading results from {EXPERIMENT_RESULTS_FILE} for evaluation...")
    try:
        with open(EXPERIMENT_RESULTS_FILE, 'r') as f_in:
            loaded_results_for_eval = json.load(f_in)
        print(f"Successfully loaded {len(loaded_results_for_eval)} results from file.")
    except Exception as e:
        print(f"Error loading results from file for evaluation: {e}")
else:
    print("No results available in memory or in the specified results file for evaluation.")

if loaded_results_for_eval:
    K_VALUES_TO_EVALUATE = [1, 3, 5, 10]  # Define the K values you care about
    recall_scores_map, num_queries_evaluated = calculate_recall_at_k_metric(
        loaded_results_for_eval, K_VALUES_TO_EVALUATE
    )

    print("\n--- Evaluation: Recall@K ---")
    print(f"Evaluated on {num_queries_evaluated} queries.")
    for k_val, recall_val in recall_scores_map.items():
        print(f"Recall@{k_val}: {recall_val:.2f}%")

    # --- 4.2.1. Save evaluation results to a JSON file ---
    try:
        eval_summary = {
            "num_queries_evaluated": num_queries_evaluated,
            "recall_scores": recall_scores_map
        }
        with open(EVAL_RESULTS_SAVE_PATH, 'w') as fout:
            json.dump(eval_summary, fout, indent=2)
        print(f"Saved evaluation results to '{EVAL_RESULTS_SAVE_PATH}'")
    except Exception as save_err:
        print(f"Error saving evaluation results: {save_err}")

    # --- 4.3. Optional: Print Detailed Results for a Few Queries ---
    print("\n--- Sample Detailed Query Results (Top 5 Queries) ---")
    for i, res in enumerate(loaded_results_for_eval[:5]):  # Show for first 5 queries
        print(f"\nQuery {i+1}: '{res.get('nl_query_text', '<no text>')}' (True DB: {res.get('true_db_id')})")
        print("  Top Ranked Databases (with P(Yes) scores):")
        for rank, db_info in enumerate(res.get('ranked_databases_with_scores', [])[:5]):  # Show top 5 ranked DBs
            is_true_db_char = "*" if db_info['candidate_db_id'] == res['true_db_id'] else " "
            print(f"    {rank+1}. {db_info['candidate_db_id']}{is_true_db_char} "
                  f"(Score: {db_info['p_yes_score']:.4f})")
else:
    print("Cannot perform evaluation as no results were loaded or generated.")